<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/slide-from-left-animation.html">

<link rel="import" href="appsco-company-resource-item.html">
<link rel="import" href="../../components/appsco-list-behavior.html">
<link rel="import" href="../../components/appsco-list-styles.html">
<link rel="import" href="../../components/appsco-list-observer-behavior.html">

<!--
`appsco-company-resources`
Contains company resource list and Load More action.
Resources are loaded inside component through iron-ajax.

    <appsco-company-resources list-api=""
                              authorization-token=""
                              size=""
                              load-more=""
                              api-errors="{}">
    </appsco-company-resources>

### Styling

`<appsco-company-resources>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-list` | Mixin for the root element | `{}`
`--appsco-company-resource-item` | Mixin for item style | `{}`
`--list` | Mixin for the resources container | `{}`
`--appsco-list-progress-bar` | Mixin applied to paper-progress for resource list | `{}`
`--load-more-button` | Mixin applied to load more action button | `{}`
`--info-message` | Mixin applied to info message | `{}`
-->

<dom-module id="appsco-company-resources">
    <template>
        <style include="appsco-list-styles"></style>

        <style>
            :host appsco-company-resource-item {
                width: 100%;
                margin: 0 0 10px 0;
                @apply(--appsco-company-resource-item);
            }
            :host .list-container {
                padding-top: 10px;
            }
        </style>

        <iron-ajax id="getListApiRequest"
                   url="[[ _listApi ]]"
                   on-error="_onGetListError"
                   on-response="_onGetListResponse"
                   headers="[[ _headers ]]"
                   debounce-duration="300"></iron-ajax>
        
        <div class="list-container">

            <paper-progress id="paperProgress"
                            class="list-progress-bar"
                            indeterminate></paper-progress>

            <template is="dom-if" if="[[ _message ]]">
                <p class="message">[[ _message ]]</p>
            </template>

            <template is="dom-if" if="[[ !_listEmpty ]]">
                <div class="list">
                    <template is="dom-repeat"
                              items="[[ _listItems ]]"
                              on-dom-change="_onItemsDomChange">

                        <appsco-company-resource-item id="appscoListItem_[[ index ]]"
                                                      item="[[ item ]]"
                                                      type="[[ type ]]"
                                                      selectable="[[ selectable ]]"
                                                      on-item="_onListItemAction"
                                                      on-select-item="_onSelectListItemAction"></appsco-company-resource-item>

                    </template>
                </div>
            </template>
        </div>

        <template is="dom-if" if="[[ !_listEmpty ]]">
            <div class="load-more-box" hidden$="[[ !_loadMore ]]">
                <paper-progress id="loadMoreProgress" 
                                indeterminate></paper-progress>
                <paper-button class="load-more-action" on-tap="_onLoadMoreAction">Load More</paper-button>
            </div>
        </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-company-resources',

            behaviors: [
                Polymer.AppscoListBehavior,
                Polymer.AppscoListObserverBehavior
            ],

            observers: [
                '_observeItems(_listItems)'
            ],

            _observeItems: function(items) {
                this.setObservableType('resources');
                this.populateItems(items);
            }

        });
    </script>
</dom-module>
