<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/scale-up-animation.html">

<link rel="import" href="../../components/appsco-loader.html">
<link rel="import" href="../../components/appsco-form-error.html">
<link rel="import" href="../appsco-account-card.html">
<link rel="import" href="../../components/appsco-search.html">

<!--
`appsco-company-application-share`
Provides functionality of sharing applications to users.

    <appsco-company-application-share applications="[]">
    </appsco-company-application-share>

@demo demo/company/appsco-company-application-share.html
-->

<dom-module id="appsco-company-application-share">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply(--appsco-paper-dialog);
            }
            :host paper-dialog-scrollable > * {
                @apply(--paper-dialog-scrollable-child);
            }
            appsco-search {
                margin-bottom: 10px;
            }
            .dialog-container {
                padding-bottom: 20px;
            }
            .account-list {
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
                padding: 2px;
                margin-right: -8px;
            }
            appsco-account-card {
                margin-right: 6px;
                margin-bottom: 6px;
            }
            .selected-account {
                --account-card: {
                    padding-right: 10px;
                    width: 136px;
                };
            }
            :host .message {
                margin: 0;
                color: var(--secondary-text-color);
                font-style: italic;
                @apply(--paper-font-body2);
                @apply(--info-message);
            }
            :host .buttons paper-button {
                @apply(--paper-dialog-button);
            }
            :host .buttons paper-button[dialog-confirm] {
                @apply(--paper-dialog-confirm-button);
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
        </style>

        <paper-dialog id="dialog"
                      with-backdrop
                      entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation"
                      on-iron-overlay-opened="_onDialogOpened"
                      on-iron-overlay-closed="_onDialogClosed">

            <h2>Share applications</h2>

            <paper-dialog-scrollable>
                <div class="dialog-container">

                    <appsco-loader active="[[ _shareLoader ]]"
                                   loader-alt="Appsco is sharing applications"
                                   multi-color></appsco-loader>

                    <div class="account-list">

                        <appsco-form-error message="[[ _error ]]"></appsco-form-error>

                        <template is="dom-repeat" items="[[ _selectedAccounts ]]">
                            <appsco-account-card class="selected-account"
                                                 account="[[ item ]]"
                                                 remove-action
                                                 on-selected="_onAccountRemove"></appsco-account-card>
                        </template>
                    </div>

                    <appsco-search id="appscoSearch"
                                   label="Share to others"
                                   float-label
                                   on-search="_onSearch"
                                   on-search-clear="_onSearchClear"></appsco-search>

                    <div class="account-list">

                        <appsco-loader active="[[ _searchLoader ]]" loader-alt="Appsco is searching accounts" multi-color></appsco-loader>

                        <template is="dom-repeat" items="[[ _searchList ]]">
                            <appsco-account-card account="[[ item ]]"
                                                 on-selected="_onAccountSelect"></appsco-account-card>
                        </template>

                        <template is="dom-if" if="[[ _message ]]">
                            <p class="message">
                                [[ _message ]]
                            </p>
                        </template>
                    </div>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_onShareApplicationsAction">Share</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({

            is: 'appsco-company-application-share',

            properties: {

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String
                },

                /**
                 * Accounts API link
                 */
                accountsApi: {
                    type: String
                },

                /**
                 * Applications to share.
                 */
                applications: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                /**
                 * Number of accounts to load show in search result.
                 */
                size: {
                    type: Number,
                    value: 8
                },

                _computedHeaders: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                /**
                 * Applications which are shared.
                 * This array is populated from sharing API response.
                 */
                _responseApplications: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                /**
                 * Application list from search.
                 */
                _searchList: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                /**
                 * Message to display if there is no search result.
                 */
                _message: {
                    type: String
                },

                /**
                 * Selected accounts from search list.
                 */
                _selectedAccounts: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                /**
                 * Indicates if search loader should be displayed or not.
                 */
                _searchLoader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates if share applications loader should be displayed or not.
                 */
                _shareLoader: {
                    type: Boolean,
                    value: false
                }

            },

            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            },

            /**
             * Toggles sharing dialog.
             */
            toggle: function() {
                this.$.dialog.toggle();
            },

            /**
             * Called after dialog has been opened.
             *
             * @private
             */
            _onDialogOpened: function() {
                this.$.appscoSearch.setup();
            },

            /**
             * Called after dialog has been closed.
             *
             * @private
             */
            _onDialogClosed: function() {
                this._reset();
                this.set('_selectedAccounts', []);
            },

            /**
             * Gets accounts by term.
             *
             * @param {Object} event
             * @private
             */
            _onSearch: function(event) {
                var searchValue = event.detail.term,
                    searchLength = searchValue.length;

                this._searchLoader = true;
                this._message = '';

                if (searchLength === 0) {
                    this._message = '';
                    this._searchLoader = false;
                    this.set('_searchList', []);
                    return false;
                }

                if (searchLength < 3) {
                    this._message = 'Please type three or more letters.';
                    this._searchLoader = false;
                    this.set('_searchList', []);
                    return false;
                }

                var request = document.createElement('iron-request'),
                    url = this.accountsApi + '?extended=1&limit=' + this.size + '&term=' + searchValue;

                this._message = '';

                var options = {
                    url: url,
                    method: 'GET',
                    handleAs: 'json',
                    headers: this._computedHeaders
                };

                request.send(options).then(function() {
                    var accounts = request.response.accounts;

                    if (accounts && accounts.length > 0) {
                        this.set('_searchList', accounts);
                    }
                    else {
                        this.set('_searchList', []);
                        this._message = 'There are no accounts with asked name.';
                    }

                    this._searchLoader = false;
                }.bind(this));
            },

            _onSearchClear: function() {
                this._reset();
            },

            _reset: function() {
                this.$.appscoSearch.reset();
                this.set('_searchList', []);
                this._searchLoader = false;
                this._shareLoader = false;
                this._error = '';
                this._message = '';
            },

            /**
             * Called after account has been selected from search list.
             *
             * @param {Object} event
             * @private
             */
            _onAccountSelect: function(event) {
                this._error = '';
                this.push('_selectedAccounts', event.model.item);
                this.splice('_searchList', this._searchList.indexOf(event.model.item), 1);
            },

            _onAccountRemove: function(event) {
                this.push('_searchList', event.model.item);
                this.splice('_selectedAccounts', this._selectedAccounts.indexOf(event.model.item), 1);
            },

            _shareAccounts: function(application, more) {
                var accounts = this._selectedAccounts,
                    length = accounts.length - 1,
                    appRequest = document.createElement('iron-request'),
                    options = {
                        url: application.self + '/share',
                        method: 'POST',
                        handleAs: 'json',
                        headers: {
                            'Authorization': 'token ' + this.authorizationToken,
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    },
                    body = '';

                for (var i = 0; i <= length; i++) {
                    var next = (i === length) ? '' : '&';
                    body += 'accounts[]=' + encodeURIComponent(accounts[i].self) + next;
                }

                options.body = body;

                appRequest.send(options).then(function() {

                    this.push('_responseApplications', appRequest.response);

                    if (more) {
                        this.$.dialog.close();

                        /**
                         * Fired when applications have been shared.
                         *
                         * @event applications-shared
                         */
                        this.fire('applications-shared', {
                            applications: this._responseApplications
                        });

                        this.set('_selectedAccounts', []);
                        this.set('_responseApplications', []);
                        this._shareLoader = false;
                    }
                }.bind(this));
            },

            _onShareApplicationsAction: function() {

                if (0 === this._selectedAccounts.length) {
                    this._error = 'Please add at least one user to share applications to.';
                    return false;
                }

                var applications = this.applications,
                    length = applications.length - 1;

                this._shareLoader = true;

                for (var i = 0; i <= length; i++) {

                    if (i === length) {
                        this._shareAccounts(applications[i], true);
                        return false;
                    }

                    this._shareAccounts(applications[i], false);


                }
            }
        });
    </script>
</dom-module>
