<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<link rel="import" href="../../components/appsco-loader.html">
<link rel="import" href="../../components/appsco-form-error.html">

<link rel="import" href="../appsco-application-form-cc.html">
<link rel="import" href="../appsco-application-form-unpw.html">
<link rel="import" href="../appsco-application-form-item.html">
<link rel="import" href="../appsco-application-form-passport.html">
<link rel="import" href="../appsco-application-form-login.html">
<link rel="import" href="../appsco-application-form-securenote.html">
<link rel="import" href="../appsco-application-form-softwarelicence.html">

<!--
`appsco-application-assignee-claims`
Shows dialog screen with form for changing claims for application instance.

    <appsco-application-assignee-claims application="{}"
                                        assignee="{}"
                                        authorization-token="">
    </appsco-application-assignee-claims>

@demo demo/company/appsco-application-assignee-claims.html
-->

<dom-module id="appsco-application-assignee-claims">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply(--appsco-paper-dialog);
            }
            :host paper-dialog-scrollable > * {
                @apply(--paper-dialog-scrollable-child);
            }
            :host .buttons paper-button {
                @apply(--paper-dialog-button);
            }
            :host .buttons paper-button[dialog-confirm] {
                @apply(--paper-dialog-confirm-button);
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
        </style>

        <paper-dialog
                with-backdrop
                id="dialog"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation"
                on-iron-overlay-opened="_onDialogOpened"
                on-iron-overlay-closed="_onDialogClosed">

            <h2>Change claims for [[ assignee.display_name ]]</h2>

            <paper-dialog-scrollable>
                <div class="dialog-container">
                    <appsco-loader active="[[ _loader ]]" loader-alt="AppsCo is revoking access" multi-color></appsco-loader>

                    <appsco-form-error message="[[ _error ]]"></appsco-form-error>

                    <form is="iron-form"
                          id="form"
                          method="POST"
                          action="[[ _computedAction ]]"
                          headers="[[ _computedHeaders ]]"
                          on-iron-form-presubmit="_onFormPresubmit"
                          on-iron-form-error="_onFormError"
                          on-iron-form-response="_onFormResponse"
                          on-keyup="_onFormKeyUp">
                    </form>

                    <template is="dom-if" if="[[ _unPwAuth ]]" restamp>
                        <appsco-application-form-unpw
                                data-claims
                                claims-name-prefix="account_claims[claims]"
                                claims="[[ _applicationIcon.claims ]]"
                        ></appsco-application-form-unpw>
                    </template>
                    <template is="dom-if" if="[[ _itemAuth ]]" restamp>
                        <appsco-application-form-item
                                data-claims
                                claims-name-prefix="account_claims[claims]"
                                claims="[[ _applicationIcon.claims ]]"
                        ></appsco-application-form-item>
                    </template>
                    <template is="dom-if" if="[[ _creditCardAuth ]]" restamp>
                        <appsco-application-form-cc
                                data-claims
                                claims-name-prefix="account_claims[claims]"
                                claims="[[ _applicationIcon.claims ]]"
                        ></appsco-application-form-cc>
                    </template>
                    <template is="dom-if" if="[[ _loginAuth ]]" restamp>
                        <appsco-application-form-login
                                data-claims
                                claims-name-prefix="account_claims[claims]"
                                claims="[[ _applicationIcon.claims ]]"
                        ></appsco-application-form-login>
                    </template>
                    <template is="dom-if" if="[[ _passportAuth ]]" restamp>
                        <appsco-application-form-passport
                                data-claims
                                claims-name-prefix="account_claims[claims]"
                                claims="[[ _applicationIcon.claims ]]"
                        ></appsco-application-form-passport>
                    </template>
                    <template is="dom-if" if="[[ _secureNoteAuth ]]" restamp>
                        <appsco-application-form-securenote
                                data-claims
                                claims-name-prefix="account_claims[claims]"
                                claims="[[ _applicationIcon.claims ]]"
                        ></appsco-application-form-securenote>
                    </template>
                    <template is="dom-if" if="[[ _softwareLicenceAuth ]]" restamp>
                        <appsco-application-form-softwarelicence
                                data-claims
                                claims-name-prefix="account_claims[claims]"
                                claims="[[ _applicationIcon.claims ]]"
                        ></appsco-application-form-softwarelicence>
                    </template>

                    <iron-a11y-keys
                            target="[[ _target ]]"
                            keys="enter"
                            on-keys-pressed="_onEnter">
                    </iron-a11y-keys>

                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button on-tap="_submit">Save</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({

            is: 'appsco-application-assignee-claims',

            properties: {

                /**
                 * Application instance to change claims for.
                 */
                application: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    observer: '_onChange'
                },

                _unPwAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'unpw')"
                },
                _itemAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'item')"
                },
                _creditCardAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'cc')"
                },
                _loginAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'login')"
                },
                _passportAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'passport')"
                },
                _secureNoteAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'securenote')"
                },
                _softwareLicenceAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'softwarelicence')"
                },

                _applicationIcon: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * Assignee to change claims for.
                 */
                assignee: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    observer: '_onChange'
                },

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String,
                    value: ''
                },

                /**
                 * Computed headers.
                 * It contains authorization token.
                 */
                _computedHeaders: {
                    type: Object,
                    computed: "_computeHeaders(authorizationToken)"
                },

                /**
                 * Computed action.
                 */
                _computedAction: {
                    type: Object,
                    computed: "_computeAction(application)"
                },

                _loader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Error message for form.
                 */
                _error: {
                    type: String
                },

                /**
                 * Target for iron-a11y-keys component.
                 * Submit form on enter.
                 */
                _target: {
                    type: Object,
                    value: function() {
                        return this.$.form
                    }
                }
            },

            _computeAuthType: function(application, authType) {
                return application.auth_type === authType;
            },

            toggle: function () {
                this.$.dialog.toggle();
            },

            setApplication: function(application) {
                this.set('application', application);
            },

            setAssignee: function(assignee) {
                this.set('assignee', assignee);
            },

            _getApplicationIcon: function() {
                var request = document.createElement('iron-request'),
                    options = {
                        url: this.application.meta.account_icon,
                        method: 'POST',
                        handleAs: 'json',
                        headers: {
                            'Authorization': 'token ' + this.authorizationToken,
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: 'account=' + encodeURIComponent(this.assignee.self)
                    };

                request.send(options).then(function() {
                    this._applicationIcon = request.response;
                }.bind(this));
            },

            _onChange: function() {

                if (this.application.self && this.assignee.self) {
                    this._getApplicationIcon();
                }

            },

            /**
             * Called after dialog has been opened.
             *
             * @private
             */
            _onDialogOpened: function() {
            },

            /**
             * Called after dialog has been closed.
             *
             * @private
             */
            _onDialogClosed: function() {
                this.set('application', {});
                this.set('_applicationIcon', {});
                this.set('assignee', {});
                this.reset();
            },

            /**
             * Computes authorization headers.
             *
             * @param {Object} authorizationToken
             * @returns {{Authorization: string}}
             * @private
             */
            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            },

            _computeAction: function(application) {
                return application.meta ? application.meta.account_claims : '';
            },

            _showLoader: function() {
                this._loader = true;
            },

            _hideLoader: function() {
                this._loader = false;
            },

            _onFormKeyUp: function() {
                this._error = '';
            },

            /**
             * Submits signup form on ENTER key using iron-a11y-keys component.
             *
             * @private
             */
            _onEnter: function() {
                this._submit();
            },

            _submit: function() {
                var form = Polymer.dom(this.root).querySelector('[data-claims]');

                if(!form.isValid()) {
                    return false;
                }
                if(!form.didFieldsChanged()) {
                    this._showLoader();

                    this.fire('claims-changed', {
                        application: this.application,
                        assignee: this.assignee
                    });

                    this.$.dialog.close();
                    return false;
                }

                this.$.form.submit();
            },

            _onFormPresubmit: function() {
                var form = this.$.form,
                    formSettings = Polymer.dom(this.root).querySelector('[data-claims]');

                this._showLoader();
                form.request.method = 'PUT';
                form.request.body = formSettings.encodedBodyValues();
                form.request.body += '&' + encodeURIComponent('account_claims[account]') +
                    '=' + encodeURIComponent(this.assignee.self);
            },

            /**
             * Called on form error when trying to save settings.
             *
             * @param {Object} event
             * @private
             */
            _onFormError: function(event) {
                this._error = event.detail.error.message;
                this._hideLoader();
            },

            /**
             * Called after settings have been submited.
             *
             * @param {Object} event
             * @private
             */
            _onFormResponse: function(event) {

                /**
                 * Fired after claims are changed.
                 *
                 * @event claims-changed
                 */
                this.fire('claims-changed', {
                    application: event.detail.response,
                    assignee: this.assignee
                });

                this.reset();

                this.$.dialog.close();
            },

            /**
             * Resets component.
             */
            reset: function() {
                this._error = '';
                this._hideLoader();
            }
        });
    </script>
</dom-module>
