<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="appsco-application-assignee.html">


<!--
`appsco-application-assignees`
Contains info about application assignees (accounts to whom app is shared).

    <appsco-application-assignees application="{}">
    </appsco-application-assignees>

@demo demo/company/appsco-application-assignees.html
-->

<dom-module id="appsco-application-assignees">
    <template>
        <style>
            :host {
            @apply(--layout-vertical);
            @apply(--layout-center);
                position: relative;
                color: var(--primary-text-color);
            }
            :host paper-progress {
                width: 100%;
            }
            :host .progress {
                height: 6px;
            }
            :host .info-total {
                margin-bottom: 10px;
            }
            :host .total {
            @apply(--paper-font-caption);
                opacity: 0.6;
            }
            :host .assignees {
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
                width: 100%;
            }
            :host .load-more-box {
                margin-top: 10px;
                padding-top: 4px;
                position: relative;
            }
            :host .load-more-box paper-progress {
                width: 100%;
                position: absolute;
                top: 4px;
                left: 0;
            }
            :host .load-more-button {
                display: block;
                width: 120px;
                margin: 20px auto 0;
                text-align: center;
            @apply(--load-more-button);
            }
            :host .message {
                width: 100%;
                color: var(--secondary-text-color);
                font-style: italic;
            @apply(--paper-font-body2);
            @apply(--info-message);
            }
            :host appsco-application-assignee {
                width: 100%;
                margin: 0 0 10px 0;
            @apply(--appsco-application-assignee);
            }
            :host([preview]) {
            @apply(--layout-flex-none);
                display: block;
            }
            :host([preview]) appsco-application-assignee {
                width: auto;
                margin: 0 2px 0 0;
            @apply(--appsco-application-assignee-preview);
            }
        </style>

        <iron-ajax id="getAssigneesCall"
                   url="[[ _computedAction ]]"
                   headers="[[ _computedHeaders ]]"
                   method="GET"
                   handle-as="json"
                   on-response="_handleResponse"
                   on-error="_handleError">
        </iron-ajax>

        <div class="assignees">
            <div class="progress">
                <paper-progress id="progress" indeterminate></paper-progress>
            </div>

            <template is="dom-if" if="[[ !preview ]]">
                <div class="info-total" hidden$="[[ !_totalAssignees ]]">
                    <span class="total">Total assignees: [[ _totalAssignees ]]</span>
                </div>
            </template>

            <template is="dom-repeat" items="[[ _assignees ]]">
                <appsco-application-assignee
                        application="[[ application ]]"
                        assignee="[[ item ]]"
                        preview="[[ preview ]]"></appsco-application-assignee>
            </template>
        </div>

        <template is="dom-if" if="[[ preview ]]">
            <div hidden$="[[ !_totalAssignees ]]">
                <span class="total">Total assignees: [[ _totalAssignees ]]</span>
            </div>
        </template>

        <template is="dom-if" if="[[ loadMore ]]">
            <div class="load-more-box" hidden$="[[ !_loadMore ]]">
                <paper-progress id="loadMoreProgress" indeterminate></paper-progress>
                <paper-button on-tap="_loadMoreAssignees"
                              id="loadMore"
                              class="load-more-button">Load More</paper-button>
            </div>
        </template>

        <template is="dom-if" if="{{ _message }}">
            <p class="message">
                [[ _message ]]
            </p>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-application-assignees',

            properties: {

                /**
                 * [Application](https://developers.appsco.com/api/dashboard/id/icons/id)
                 */
                application: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    observer: '_onApplicationChanged'
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                /**
                 * Number of assignees to load.
                 */
                size: {
                    type: Number,
                    value: 5
                },

                /**
                 * Indicates if load more action should be available or not.
                 */
                loadMore: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates if assignees should be in preview mode rather then full detailed view.
                 */
                preview: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                /**
                 * Next page of assignees to load.
                 */
                _nextPage: {
                    type: Number,
                    value: 1
                },

                /**
                 * Computed action.
                 */
                _computedAction: {
                    type: String
                },

                /**
                 * Computed headers.
                 */
                _computedHeaders: {
                    type: Object,
                    computed: "_computeHeaders(authorizationToken)"
                },

                _searchAssigneesApi: {
                    type: String,
                    computed: '_computeSearchAssigneesApi(application)'
                },

                /**
                 * [Accounts](https://developers.appsco.com/api/accounts/id) that is to be rendered.
                 */
                _assignees: {
                    type: Array,
                    value: function () {
                        return [];
                    }
                },

                _allAssignees: {
                    type: Array,
                    value: function () {
                        return [];
                    }
                },

                _totalAssignees: {
                    type: Number
                },

                _loadMore: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Message to display instead of subscribers.
                 */
                _message: {
                    type: String
                }
            },

            attached: function() {
                this._computedAction = this.application.meta ? this.application.meta.subscribers + '?page=1' + '&limit=' + this.size + '&extended=1' : '';
                this.load();
            },

            _onApplicationChanged: function(application, applicationOld) {

                if (application && applicationOld && application.self != applicationOld.self) {
                    this._computedAction = application.meta ? application.meta.subscribers + '?page=1' + '&limit=' + this.size + '&extended=1' : '';
                    this.load();
                }
            },

            /**
             * Computes Get Assignees API.
             *
             * @param {Object} application
             * @private
             */
            _computeAction: function() {
                this._computedAction = this.application.meta ? this.application.meta.subscribers + '?page=' + this._nextPage + '&limit=' + this.size + '&extended=1' : '';
            },

            /**
             * Computes authorization headers.
             *
             * @param {Object} authorizationToken
             * @returns {{ Authorization: string }}
             * @private
             */
            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                }
            },

            _computeSearchAssigneesApi: function(application) {
                return application.meta ? application.meta.subscribers + '?page=1&limit=100&extended=1' : '';
            },

            _showLoadMoreAction: function() {
                this._loadMore = true;
            },

            _hideLoadMoreAction: function() {
                this._loadMore = false;
            },

            _showLoadMoreProgressBar: function() {
                this.$$('#loadMoreProgress').hidden = false;
            },

            _hideLoadMoreProgressBar: function() {

                setTimeout(function() {
                    if (this.$$('#loadMoreProgress')) {
                        this.$$('#loadMoreProgress').hidden = true;
                    }
                }.bind(this), 300);

            },

            /**
             * Triggers ajax request in order to get notifications.
             */
            load: function() {
                this.$.progress.hidden = false;
                this.set('_assignees', []);
                this.set('_allAssignees', []);
                this._message = '';
                this._nextPage = 1;
                this._totalAssignees = 0;

                this._abortPreviousRequest();
                this.$.getAssigneesCall.generateRequest();
            },

            reload: function() {
                this.load();
            },

            _loadMoreAssignees: function() {
                this._showLoadMoreProgressBar();
                this._computeAction();

                this._abortPreviousRequest();
                this.$.getAssigneesCall.generateRequest();
            },

            /**
             * Aborts previous request in order to get only one and valid response (from next request)
             * 
             * @private
             */
            _abortPreviousRequest: function() {
                var assigneesCall = this.$.getAssigneesCall;
                if (assigneesCall.lastRequest) {
                    assigneesCall.lastRequest.abort();
                }
            },

            /**
             * Handles error on get assignees API request.
             * @param {Object} event Event from error response.
             *
             * @private
             */
            _handleError: function(event) {
                if (!event.detail.request.aborted) {
                    this._message = 'We couldn\'t load assignees at the moment. Please try again in a minute. If error continues contact us.';
                }
                this._totalAssignees = 0;
                this._handleEmpty();
            },

            /**
             * Handles response on get log API request.
             * @param {Object} event Event from response.
             *
             * @private
             */
            _handleResponse: function(event) {
                var response = event.detail.response;

                if (!response) {
                    this._hideProgressBar();
                    this._hideLoadMoreProgressBar();
                    return false;
                }

                var assignees = response.accounts,
                        currentLength = this._assignees.length,
                        total = response.meta.total;

                if (!this._loadMore) {
                    this.set('_assignees', []);
                    this.set('_allAssignees', []);
                }

                this._hideLoadMoreAction();

                this._totalAssignees = total;

                if (assignees && assignees.length > 0) {

                    this._nextPage += 1;

                    assignees.forEach(function(assignee, index) {

                        setTimeout( function() {

                            this.push('_assignees', assignee);
                            this.push('_allAssignees', assignee);

                            if (index === (assignees.length - 1)) {
                                this._hideProgressBar();
                                this._hideLoadMoreProgressBar();
                                this._setLoadMoreAction();
                                this.fire('assignees-loaded');
                            }

                        }.bind(this), (index + 1) * 30 );

                    }.bind(this));

                }
                else if (assignees && !assignees.length) {

                    if (!currentLength) {
                        this._message = 'You haven\'t shared this application to anyone yet.';
                    }

                    this._hideLoadMoreAction();
                    this._handleEmpty();
                }
                else if (!currentLength) {
                    this._message = 'We couldn\'t load assignees at the moment.';
                    this._hideLoadMoreAction();
                    this._handleEmpty();
                }
            },

            _setLoadMoreAction: function() {
                this._allAssignees.length < this._totalAssignees ? this._showLoadMoreAction() : this._hideLoadMoreAction();
            },

            _searchAssignees: function(term) {

                return new Promise(function(resolve, reject) {
                    var request = document.createElement('iron-request'),
                            options = {
                                url: this._searchAssigneesApi + '&term=' + term,
                                method: 'GET',
                                handleAs: 'json',
                                headers: this._computedHeaders
                            };

                    request.send(options).then(function() {

                        if (request.response) {
                            resolve(request.response.accounts);
                        }

                    }, function() {

                        if (request.response) {
                            reject(request.response.message);
                        }
                        else {
                            reject('There was an error in searching assignees with given term. Please contact AppsCo support.');
                        }
                    });
                }.bind(this));
            },

            search: function(term) {

                if (term.length < 3) {
                    this._message = '';
                    this.set('_assignees', JSON.parse(JSON.stringify(this._allAssignees)));
                    this.fire('filter-done');
                    this._setLoadMoreAction();
                    return false;
                }

                this._searchAssignees(term).then(function(assignees) {
                    this._hideLoadMoreAction();
                    this.set('_assignees', []);

                    if (assignees.length > 0) {
                        this._message = '';

                        assignees.forEach(function(assignee, index) {
                            this.push('_assignees', assignee);

                            if (index === (assignees.length - 1)) {

                                this._hideProgressBar();
                                this.fire('assignees-loaded');
                            }

                        }.bind(this));

                    }
                    else {
                        this._message = 'There are no assignees with asked term.';
                    }

                }.bind(this), function(message) {
                    this.set('_assignees', []);
                    this._hideLoadMoreAction();
                    this._message = message;
                }.bind(this));
            },

            _handleEmpty: function() {
                this._hideProgressBar();
                this._hideLoadMoreProgressBar();
                this.fire('assignees-empty');
            },

            _hideProgressBar: function() {

                setTimeout(function() {
                    this.$.progress.hidden = true;
                }.bind(this), 500);

            }
        });
    </script>
</dom-module>
