<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../../../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/hero-animation.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../../components/appsco-loader.html">
<link rel="import" href="../../components/appsco-search.html">

<link rel="import" href="../appsco-application-card.html">

<dom-module id="appsco-company-application-sso-list">
    <template>
        <style>
            :host {
                display: block;
            }
            appsco-search {
                margin-bottom: 10px;
            }
            .application-list {
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
                padding: 2px;
                margin-right: -8px;
            }
            appsco-application-card {
                margin-right: 6px;
                margin-bottom: 6px;
            }
            :host .message {
                margin: 0;
                color: var(--secondary-text-color);
                font-style: italic;
                @apply(--paper-font-body2);
                @apply(--info-message);
            }
            :host .or-add-container {
                color: var(--secondary-text-color);
                line-height: 24px;
            }
            :host .add-custom-app-container {
                margin-top: 10px;
            }
            :host .link-button {
                padding: 0;
                margin: 0;
                min-width: initial;
                background-color: transparent;
                font-size: inherit;
                text-transform: uppercase;
                @apply(--link-button);
            }
        </style>

        <appsco-search id="appscoSearch"
                       label="Search SSO applications"
                       float-label
                       on-search="_onSearch"
                       on-search-clear="_onSearchClear"></appsco-search>

        <div class="application-list">

            <appsco-loader active="[[ _searchLoader ]]" loader-alt="Appsco is searching applications" multi-color></appsco-loader>

            <template is="dom-repeat" items="[[ _searchList ]]">
                <appsco-application-card id="application_[[ index ]]"
                                         application="[[ item ]]"
                                         on-selected="_onApplicationSelect"></appsco-application-card>
            </template>

            <template is="dom-if" if="[[ _message ]]">
                <p class="message">
                    [[ _message ]]
                </p>
            </template>
        </div>

        <!--<template is="dom-if" if="[[ _customApplicationAction ]]">-->
            <!--<div class="or-add-container add-custom-app-container">-->
                <!--or-->
                <!--<paper-button class="link-button"-->
                              <!--on-tap="_onAddSSOApplication">Add custom SSO application</paper-button>-->
            <!--</div>-->
        <!--</template>-->

    </template>

    <script>
        Polymer({

            is: 'appsco-company-application-sso-list',

            properties: {

                /**
                 * Selected application from search list.
                 */
                selectedApplication: {
                    type: Object,
                    notify: true
                },

                /**
                 * Application list from search.
                 */
                _searchList: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                /**
                 * Message to display if there is no search result.
                 */
                _message: {
                    type: String
                },

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String
                },

                /**
                 * Applications template API link.
                 * API to get applications.
                 */
                applicationsTemplateApi: {
                    type: String
                },

                /**
                 * Number of applications to load and present.
                 */
                size: {
                    type: Number,
                    value: 12
                },

                _computedHeaders: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _searchActive: {
                    type: Boolean,
                    value: false
                },

                _customApplicationAction: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates if appsco loader should be displayed.
                 */
                _searchLoader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Animation config with hero animation.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'scale-up-animation',
                                node: this
                            },
                            'exit': [{
                                name: 'hero-animation',
                                id: 'hero',
                                fromPage: this,
                                timing: {
                                    duration: 300
                                }
                            }, {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }]
                        }
                    }
                },

                /**
                 * Defines shared element of hero animation.
                 */
                sharedElements: {
                    value: function() {
                        return {
                            'hero': {}
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonSharedElementAnimatableBehavior
            ],

            attached: function() {
                this._populateTopTenSSOApps();
            },

            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            },

            _populateTopTenSSOApps: function() {
                var request = document.createElement('iron-request'),
                    url = this.applicationsTemplateApi + '?status=3&extended=1&limit=8';

                this._message = '';

                var options = {
                    url: url,
                    method: 'GET',
                    handleAs: 'json',
                    headers: this._computedHeaders
                };

                request.send(options).then(function() {
                    var applications = request.response.applications;

                    if (applications && applications.length > 0) {
                        this.set('_searchList', applications);
                    }
                    this._searchLoader = false;
                }.bind(this));
            },

            /**
             * Gets applications by term.
             *
             * @param {Object} event
             * @private
             */
            _onSearch: function(event) {
                var searchValue = event.detail.term,
                    searchLength = searchValue.length;

                this._searchLoader = true;
                this._message = '';
                this._searchActive = true;

                if (searchLength < 3) {
                    this._hideCustomApplicationAction();
                    this._message = 'Please type three or more letters.';
                    if (searchLength === 0) {
                        this._searchActive = false;
                        this._message = '';
                    }
                    this._searchLoader = false;
                    this.set('_searchList', []);

                    return false;
                }

                var request = document.createElement('iron-request'),
                    url = this.applicationsTemplateApi + '?status=3&extended=1&limit=' + this.size + '&term=' + searchValue;

                this._message = '';

                var options = {
                    url: url,
                    method: 'GET',
                    handleAs: 'json',
                    headers: this._computedHeaders
                };

                request.send(options).then(function() {
                    var applications = request.response.applications;

                    if (applications && applications.length > 0) {
                        this.set('_searchList', applications);
                        this._hideCustomApplicationAction();
                    }
                    else {
                        this.set('_searchList', []);
                        this._message = 'There are no applications with asked title. Please check your input.';
                        this._showCustomApplicationAction();
                    }

                    this._searchLoader = false;
                }.bind(this));
            },

            _onSearchClear: function() {
                this._onSearch({
                    detail: {
                        term: ''
                    }
                });
            },

            /**
             * Called after application has been selected from search list.
             * Sets selected application.
             * Fires an event.
             *
             * @param {Object} event
             * @private
             */
            _onApplicationSelect: function(event) {
                this.sharedElements.hero = this.$$('#application_' + event.model.index);
                this.selectedApplication = event.detail.application;

                /**
                 * Fired after application has been selected.
                 *
                 * @event application-select
                 */
                this.fire('application-select');
            },

            _onAddSSOApplication: function(event) {
                this.sharedElements.hero = Polymer.dom(event).rootTarget;

                /**
                 * Fired on Add Custom SSO Application action.
                 *
                 * @event add-custom-sso
                 */
                this.fire('add-custom-sso');
            },

            _showCustomApplicationAction: function() {
                this._customApplicationAction = true;
            },

            _hideCustomApplicationAction: function() {
                this._customApplicationAction = false;
            },

            /**
             * Sets focus on search input.
             */
            setup: function() {
                this.$.appscoSearch.setup();
            },

            /**
             * Resets component.
             */
            reset: function() {
                this.$.appscoSearch.reset();
                this._searchList = [];
                this._populateTopTenSSOApps();
                this._searchActive = false;
                this._message = '';
                this._hideCustomApplicationAction();
            }
        });
    </script>
</dom-module>
