<!doctype html>
<html>
<head>
    <title>appsco-page demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../paper-button/paper-button.html">

    <link rel="import" href="../appsco-content.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        appsco-content {
            height: 200px;
        }
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>appsco-content with all 3 sections</h3>
    <paper-button id="button">Toggle info</paper-button>
    <demo-snippet>
        <template>

            <appsco-content id="content">
                <div resource> Resource section </div>
                <div content> Content section </div>
                <div info> Info section </div>
            </appsco-content>
        </template>
    </demo-snippet>
    <h3>appsco-content with content and info</h3>
    <paper-button id="button2">Toggle info</paper-button>
    <demo-snippet>
        <template>
            <appsco-content id="content2">
                <div content> Content section </div>
                <div info> Info section </div>
            </appsco-content>
        </template>
    </demo-snippet>
    <h3>appsco-content with content only</h3>
    <demo-snippet>
        <template>
            <appsco-content>
                <div content> Content section </div>
            </appsco-content>
        </template>
    </demo-snippet>
    <script defer >
        document.querySelector('#button').addEventListener('tap', function () {
            document.querySelector('#content').toggleInfo();
        });
        document.querySelector('#button2').addEventListener('tap', function () {
            document.querySelector('#content2').toggleInfo();
        });
    </script>
</div>

</body>
</html>
