<!doctype html>
<html>
<head>
    <title>appsco-page demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../paper-toast/paper-toast.html">

    <link rel="import" href="../appsco-page-global.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        :root appsco-page-global {
            --appsco-icon-active: {
                color: blueviolet;
            }
        }
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>appsco-page-gloabl demo</h3>
    <demo-snippet>
        <template is="dom-bind">
            <appsco-page-global id="global"
                                info
                                filters></appsco-page-global>

            <paper-toast id="toast"></paper-toast>

            <script>
                global.addEventListener('page-global-info', function() {
                    toast.text = 'Event fired: page-global-info.';
                    toast.open();
                });
                global.addEventListener('page-global-filters', function() {
                    toast.text = 'Event fired: page-global-filters.';
                    toast.open();
                });
            </script>
        </template>
    </demo-snippet>


</div>

</body>
</html>
