<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">

<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../components/appsco-form-error.html">

<dom-module id="appsco-run-integration-rule">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply(--appsco-run-integration-rule);

                --form-error-box: {
                     margin-top: 0;
                 };
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply(--appsco-paper-dialog);
            }
            :host paper-dialog-scrollable > * {
                @apply(--paper-dialog-scrollable-child);
            }
            :host .buttons paper-button {
                @apply(--paper-dialog-button);
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
            :host appsco-loader {
                @apply(--paper-dialog-appsco-loader);
            }
        </style>
        <paper-dialog
                with-backdrop
                id="dialog"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation"
                on-iron-overlay-closed="_onDialogClosed">

            <h2>Apply integration rule</h2>

            <appsco-loader active="[[ _loader ]]"
                           loader-alt="AppsCo is processing request"
                           multi-color></appsco-loader>

            <paper-dialog-scrollable>
                <div>
                    <appsco-form-error message="[[ _error ]]"></appsco-form-error>
                    <p>Please confirm that you want to apply the rule.</p>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_onConfirmAction">Apply</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({

            is: 'appsco-run-integration-rule',

            properties: {

                integration: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                rule: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                apiErrors: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                _runIntegrationRuleApi: {
                    type: String,
                    computed: '_computeRunIntegrationRuleApi(rule)'
                },

                _headers: {
                    type: String,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _loader: {
                    type: Boolean,
                    value: false
                },

                _error: {
                    type: String
                }
            },

            setIntegration: function(integration) {
                this.set('integration', integration);
            },

            setIntegrationRule: function(rule) {
                this.set('rule', rule);
            },

            open: function () {
                this.$.dialog.open();
            },

            close: function () {
                this.$.dialog.close();
            },

            toggle: function () {
                this.$.dialog.toggle();
            },

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                };
            },

            _computeRunIntegrationRuleApi: function(rule) {
                return rule ? (rule.self + '/run') : '';
            },

            _showLoader: function() {
                this._loader = true;
            },

            _hideLoader: function() {
                this._loader = false;
            },

            _showError: function(message) {
                this._error = message;
            },

            _hideError: function() {
                this._error = '';
            },

            _onDialogClosed: function() {
                this._hideError();
                this._hideLoader();
            },

            _onConfirmAction: function() {
                var request = document.createElement('iron-request'),
                    options = {
                        url: this._runIntegrationRuleApi,
                        method: 'POST',
                        handleAs: 'json',
                        headers: this._headers
                    };

                request.send(options);

                /**
                 * Fired when rule is scheduled for execution.
                 *
                 * @event integration-rule-run
                 * @param {Object} integration
                 */
                this.fire('integration-rule-run', {
                    integration: this.integration
                });

                this.close();
            }
        });
    </script>
</dom-module>
