<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">

<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../components/appsco-form-error.html">

<!--
`appsco-remove-integration`
Shows dialog screen with confirmation for integration removal.

    <appsco-remove-integration integration="{}" authorization-token="">
    </appsco-remove-integration>

-->

<dom-module id="appsco-remove-integration">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply(--appsco-integration-remove);

                --form-error-box: {
                     margin-top: 0;
                 };
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply(--appsco-paper-dialog);
            }
            :host paper-dialog-scrollable > * {
                @apply(--paper-dialog-scrollable-child);
            }
            :host .buttons paper-button {
                @apply(--paper-dialog-button);
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
            :host appsco-loader {
                @apply(--paper-dialog-appsco-loader);
            }
        </style>
        <paper-dialog
                with-backdrop
                id="dialog"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation"
                on-iron-overlay-closed="_onDialogClosed">

            <h2>Remove integration</h2>

            <appsco-loader active="[[ _loader ]]" loader-alt="Appsco is processing request" multi-color></appsco-loader>

            <paper-dialog-scrollable>
                <div class="remove-container">
                    <appsco-form-error message="[[ _error ]]"></appsco-form-error>
                    <p>By removing the integration, all connections between the systems will be lost. Are you sure you wish to remove the integration? </p>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_onRemoveAction">Remove</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({

            is: 'appsco-remove-integration',

            properties: {

                /**
                 * Integration to remove.
                 */
                integration: {
                    type: Array,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String,
                    value: ''
                },

                apiErrors: {
                    type: Array,
                    value: function() {
                        return {};
                    }
                },

                _removeIntegrationApi: {
                    type: String,
                    computed: '_computeRemoveIntegrationApi(integration)'
                },

                _headers: {
                    type: String,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _loader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Error message.
                 */
                _error: {
                    type: String
                }
            },

            setIntegration: function(integration) {
                this.integration = integration;
            },

            open: function () {
                this.$.dialog.open();
            },

            close: function () {
                this.$.dialog.close();
            },

            toggle: function () {
                this.$.dialog.toggle();
            },

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                };
            },

            _computeRemoveIntegrationApi: function(integration) {
                return integration ? integration.self : '';
            },

            _showLoader: function() {
                this._loader = true;
            },

            _hideLoader: function() {
                this._loader = false;
            },

            _showError: function(message) {
                this._error = message;
            },

            _hideError: function() {
                this._error = '';
            },

            _onDialogClosed: function() {
                this._hideError();
                this._hideLoader();
            },

            _onRemoveAction: function() {
                var request = document.createElement('iron-request'),
                    options = {
                        url: this._removeIntegrationApi,
                        method: 'DELETE',
                        handleAs: 'json',
                        headers: this._headers
                    };

                this._showLoader();

                request.send(options).then(function() {

                    if (200 === request.status) {

                        /**
                         * Fired when integration is deleted.
                         *
                         * @event integration-removed
                         * @param [Object] integration
                         */
                        this.fire('integration-removed', {
                            integration: request.response
                        });

                        this.close();
                    }

                }.bind(this), function() {
                    this._showError(this.apiErrors.getError(request.response.code));
                    this._hideLoader();
                }.bind(this));
            }
        });
    </script>
</dom-module>
