<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<dom-module id="appsco-integration-settings-card">
    <template>
        <style>
            :host {
                display: none;
                @apply(--appsco-integration-settings-card);
            }
            .info {
                @apply(--info-message);
            }
        </style>

        <div>
            <p class="info">
                Here you can manage all the global rules that are applied across entire integration.
            </p>
            <p class="info">
                Change integration title.
            </p>
            <p class="info">
                Adjust integration sync interval. Activate / deactivate entire integration.
            </p>
        </div>
    </template>
    <script>
        Polymer({

            is: 'appsco-integration-settings-card',

            properties: {

                /**
                 * Animation config.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 500
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            attached: function() {
                this._showIntegrationDetails();
            },

            _showIntegrationDetails: function() {
                this.style.display = 'block';
                this.playAnimation('entry');
            }
        });
    </script>
</dom-module>
