<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<dom-module id="appsco-integration-rules-card">
    <template>
        <style>
            :host {
                display: none;
                @apply(--appsco-integration-rules-card);
            }
            .info {
                @apply(--info-message);
            }
        </style>

        <div>
            <p class="info">
                Rules represent templates according to which AppsCo will interact with the integrated system.
            </p>
            <p class="info">
                Each rule will run on its own. A Rule is divided into two sections.
                <ul>
                    <li>
                        First part of the rule is a reaction to an event, such as "user added" or "user removed", or can
                        execute a query to the integrated system, such as "retrieve all users".
                    </li>
                    <li>
                        Second part of the rule represents an action that should be performed on the underlying system. These
                        actions range from "add user", "user modified" to "group added" (actions are defined by the underlying system).
                    </li>
                </ul>
            </p>
            <p class="info">
                Rules can be tied to webhooks in such way that "First part" of the rule reacts to webhook event,
                thus making a connection between the integrating system and AppsCo.
            </p>
        </div>
    </template>
    <script>
        Polymer({

            is: 'appsco-integration-rules-card',

            properties: {

                /**
                 * Animation config.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 500
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            attached: function() {
                this._showRulesDetails();
            },

            _showRulesDetails: function() {
                this.style.display = 'block';
                this.playAnimation('entry');
            }
        });
    </script>
</dom-module>
