<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">

<link rel="import" href="../components/appsco-form-error.html">
<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../../provisioning/appsco-integration-form.html">

<dom-module id="appsco-integration-settings">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply(--appsco-integration-settings);
            }
            :host .submit-button {
                margin: 20px 0 0 0;
                @apply(--form-action);
            }
        </style>

        <appsco-loader active="[[ _loader ]]" loader-alt="Appsco is processing request" multi-color></appsco-loader>

        <appsco-form-error message="[[ _error ]]"></appsco-form-error>

        <form is="iron-form"
              id="form"
              action="[[ _computedAction ]]"
              method="POST"
              headers="[[ _headers ]]"
              on-iron-form-presubmit="_onFormPresubmit"
              on-iron-form-error="_onFormError"
              on-iron-form-response="_onFormResponse"
              on-keyup="_onKeyUp">

            <appsco-integration-form
                    id="appscoIntegrationForm"
                    name="appsco-integration-form"
                    integration="[[ integration ]]">
            </appsco-integration-form>
        </form>

        <paper-button id="submit"
                      class="submit-button"
                      on-tap="_submitForm">Save</paper-button>

        <iron-a11y-keys target="[[ _target ]]"
                        keys="enter"
                        on-keys-pressed="_onEnter"></iron-a11y-keys>
    </template>

    <script>
        Polymer({

            is: 'appsco-integration-settings',

            properties: {

                integration: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String,
                    value: ''
                },

                /**
                 * Computed action.
                 */
                _computedAction: {
                    type: Object,
                    computed: "_computeAction(integration)"
                },

                /**
                 * Integration api link.
                 */
                integrationApi: {
                    type: String
                },

                apiErrors: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                _isIntegrationActive: {
                    type: String,
                    computed: '_computeIsIntegrationActive(integration)'
                },

                _headers: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _loader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Error message for integration settings form.
                 */
                _error: {
                    type: String
                },

                /**
                 * Target for iron-a11y-keys component.
                 * Submit form on enter.
                 */
                _target: {
                    type: Object,
                    value: function() {
                        return this.$.form
                    }
                }
            },

            /**
             * Computes authorization headers.
             *
             * @param {Object} authorizationToken
             * @returns {{Authorization: string}}
             * @private
             */
            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            },

            _computeIsIntegrationActive: function(integration) {
                return integration && integration.active;
            },

            _computeAction: function(integration) {
                return integration.self ? integration.self : '';
            },

            _showLoader: function() {
                this._loader = true;
            },

            _hideLoader: function() {
                this._loader = false;
            },

            _showError: function(message) {
                this._error = message;
            },

            _hideError: function() {
                this._error = '';
            },

            /**
             * Submits form on ENTER key using iron-a11y-keys component.
             *
             * @private
             */
            _onEnter: function() {
                this._submitForm();
            },

            _submitForm: function() {
                this.$.form.submit();
            },

            _onFormPresubmit: function(event) {
                this._showLoader();
                var form = event.target,
                    integrationKind = this.$.appscoIntegrationForm.getIntegrationKind(),
                    integrationScheduleSync = this.$.appscoIntegrationForm.getIntegrationScheduleSync();

                form.request.method = 'PUT';

                form.request.body['activate_integration[kind]'] =
                    integrationKind ? integrationKind : '';
                form.request.body['activate_integration[scheduleSyncInterval]'] =
                    integrationScheduleSync ? integrationScheduleSync : '';
            },

            _onFormError: function(event) {
                this._showError(this.apiErrors.getError(event.detail.request.response.code));
                this._hideLoader();
            },

            _onFormResponse: function(event) {
                this.set('integration', event.detail.response.integration_active);

                this.fire('integration-settings-changed', {
                    integration: this.integration
                });
                this._hideError();
                this._hideLoader();
            },

            _onKeyUp: function() {
                this._hideError();
            },

            _reloadPage: function() {
                window.location.reload(true);
            },

            reset: function() {

                var integration = JSON.parse(JSON.stringify(this.integration));

                this._hideError();
                this._hideLoader();

                setTimeout(function() {
                    this.set('integration', {});
                    this.set('integration', integration);
                }.bind(this), 10);
            },

        });
    </script>
</dom-module>