<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-request.html">

<!--
`appsco-account-roles`
Provides switcher for account roles within company. Currently account can be set as Admin or not.

    <appsco-account-roles account="{}">
    </appsco-account-roles>

### Styling

`<appsco-account-roles>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-account-roles` | Mixin applied to the root element | `{}`

@demo demo/company/appsco-account-roles.html
-->

<dom-module id="appsco-account-roles">
    <template>
        <style>
            :host {
                display: block;
                @apply(--appsco-account-roles);
            }
            :host paper-toggle-button {
                cursor: pointer;
            }
            .info {
                margin-top: 10px;
            }
            .info p {
                margin-top: 5px;
                margin-bottom: 0;
            }
        </style>

        <paper-toggle-button id="administratorSwitch"
                             checked$="[[ _admin ]]">Company administrator</paper-toggle-button>

        <div class="info">
            <template is="dom-if" if="[[ _admin ]]">
                <p>The account has administrator role within the company.</p>
                <p>He is allowed to manage resources, other accounts and settings of the company.</p>
            </template>

            <template is="dom-if" if="[[ !_admin ]]">
                <p>Give the account administrator role within the company.</p>
                <p>He will be allowed to manage resources, other accounts and settings of the company.</p>
            </template>
        </div>

    </template>
    <script>
        Polymer({

            is: 'appsco-account-roles',

            properties: {

                /**
                 * Role to set / unset as administrator.
                 */
                account: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                authorizationToken: {
                    type: String
                },

                _admin: {
                    type: Boolean,
                    computed: '_computeAdminState(account)'
                }
            },

            listeners: {
                'administratorSwitch.change': '_onAdministratorSwitch'
            },

            _computeAdminState: function(account) {
                return (account.roles && account.roles.indexOf('COMPANY_ROLE_ADMIN') != -1);
            },

            _onAdministratorSwitch: function(account) {
                var request = document.createElement('iron-request'),
                    options = {
                        url: this.account.self + '/admin',
                        method: 'POST',
                        handleAs: 'json',
                        headers: {
                            'Authorization': 'token ' + this.authorizationToken
                        }
                    };

                this.$.administratorSwitch.disabled = true;

                request.send(options).then(function() {
                    var account = request.response;

                    this.set('account', account);
                    this.$.administratorSwitch.disabled = false;

                    this.fire('account-role-changed', {
                        account: account,
                        role: {
                            name: 'Administrator',
                            value: this._computeAdminState(account)
                        }
                    });

                }.bind(this));
            }
        });
    </script>
</dom-module>
