<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/scale-up-animation.html">

<link rel="import" href="../../components/appsco-loader.html">
<link rel="import" href="../../components/appsco-form-error.html">

<!--
`appsco-account-remove`
Shows dialog screen with confirmation for account removal.

    <appsco-account-remove accounts="[]">
    </appsco-account-remove>

@demo demo/company/appsco-account-remove.html
-->

<dom-module id="appsco-account-remove">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply(--appsco-paper-dialog);
            }
            :host paper-dialog-scrollable > * {
                @apply(--paper-dialog-scrollable-child);
            }
            :host appsco-loader {
                margin: 0 !important;
                padding: 0 !important;
            }
            :host .buttons paper-button {
                @apply(--paper-dialog-button);
            }
            :host .buttons paper-button[dialog-confirm] {
                @apply(--paper-dialog-confirm-button);
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
            .link {
                color: var(--app-primary-color-dark);
            }
        </style>
        <paper-dialog
                with-backdrop
                id="dialog"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation"
                on-iron-overlay-closed="_onDialogClosed">

            <div class="header">
                <h2>Account remove</h2>
            </div>

            <appsco-loader active="[[ _loader ]]"
                           loader-alt="Appsco is removing account"
                           multi-color></appsco-loader>

            <paper-dialog-scrollable>
                <div class="remove-container">

                    <appsco-form-error message="[[ _error ]]"></appsco-form-error>

                    <template is="dom-if" if="[[ _supportLink ]]">
                        <a href="http://support.appsco.com/hc/en-gb"
                           target="_blank"
                           class="link">AppsCo support</a>
                    </template>
                    
                    <p>Once account is removed from company all data related to it will be lost.</p>
                    <p>Please confirm account removing.</p>

                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_onRemoveAction">Remove</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({

            is: 'appsco-account-remove',

            properties: {

                /**
                 * Accounts to delete.
                 */
                accounts: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String
                },
                
                apiErrors: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                _account: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * Company API link.
                 * API from which company to remove accounts.
                 */
                companyApi: {
                    type: String
                },

                _loader: {
                    type: Boolean,
                    value: false
                },

                _error: {
                    type: String,
                    value: ''
                },

                _supportLink: {
                    type: Boolean,
                    value: false
                }
            },

            toggle: function () {
                this.$.dialog.open();
            },

            _close: function () {
                this.$.dialog.close();
            },

            _showLoader: function() {
                this._loader = true;
            },

            _hideLoader: function() {
                this._loader = false;
            },

            _showError: function(message) {
                this._error = message;
            },

            _hideError: function() {
                this._error = '';
                this._hideSupportLink();
            },

            _showSupportLink: function() {
                this._supportLink = true;
            },

            _hideSupportLink: function() {
                this._supportLink = false;
            },

            _onDialogClosed: function() {
                this._hideLoader();
                this._hideError();
                this.set('accounts', []);
            },

            _onRemoveAction: function() {
                var roles = this.accounts,
                    length = roles.length - 1,
                    request = document.createElement('iron-request'),
                    options = {
                        url: this.companyApi + '/directory/roles',
                        method: 'DELETE',
                        handleAs: 'json',
                        headers: {
                            'Authorization': 'token ' + this.authorizationToken,
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    },
                    body = '';

                this._showLoader();

                for (var i = 0; i <= length; i++) {
                    var next = (i === length) ? '' : '&';
                    body += 'roles[]=' + encodeURIComponent(roles[i].self) + next;
                }

                options.body = body;

                request.send(options).then(function(request) {

                    if (200 == request.status) {

                        /**
                         * Fired when accounts are removed.
                         *
                         * @event accounts-removed
                         */
                        this.fire('accounts-removed', {
                            accounts: request.response.company_roles
                        });

                        this._close();
                    }

                }.bind(this), function() {
                    var code = request.response.code;

                    1494335470 == code ? this._showSupportLink() : this._hideSupportLink();
                    this._showError(this.apiErrors.getError(code));
                    this._hideLoader();
                }.bind(this));
            }
        });
    </script>
</dom-module>
