<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-styles/typography.html">

<link rel="import" href="appsco-account-orgunit-item.html">


<!--
`appsco-account-orgunits`
Contains info about organization units account belongs to.

    <appsco-account-orgunits account="{}">
    </appsco-account-orgunits>

### Styling

`<appsco-account-orgunits>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-account-orgunits` | Mixin for the root element | `{}`

@demo demo/company/appsco-account-orgunits.html
-->

<dom-module id="appsco-account-orgunits">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply(--appsco-account-orgunits);
            }
            :host .orgunits {
                @apply(--layout-vertical);
                @apply(--appsco-orgunits);
            }
            :host appsco-account-orgunit-item:first-of-type {
                border-top: none;
            }
            :host .message {
                color: var(--secondary-text-color);
                font-style: italic;
                @apply(--paper-font-body2);
                @apply(--info-message);
            }
        </style>

        <div class="orgunits">
            <template is="dom-repeat" items="[[ account.account.org_units ]]" rendered-item-count="{{ renderedCount }}">
                <appsco-account-orgunit-item item="[[ item ]]"
                                             account="[[ account ]]"></appsco-account-orgunit-item>
            </template>
        </div>

        <template is="dom-if" if="{{ !renderedCount }}">
            <p class="message">
                Account doesn't belong to any organization unit.
            </p>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-account-orgunits',

            properties: {

                /**
                 * Account
                 */
                account: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                }
            }
        });
    </script>
</dom-module>
