<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../../bower_components/paper-progress/paper-progress.html">


<link rel="import" href="appsco-account-devices-item.html">

<dom-module id="appsco-account-devices">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply(--appsco-account-devices);
            }
            :host .devices {
                @apply(--layout-vertical);
                @apply(--appsco-devices);
            }
            :host appsco-account-devices-item:first-of-type {
                border-top: none;
            }
            :host .message {
                color: var(--secondary-text-color);
                font-style: italic;
                @apply(--paper-font-body2);
                @apply(--info-message);
            }
            :host paper-progress {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                @apply(--account-devices-paper-progress);
            }
            .info-total {
                margin-top: 10px;
            }
            .total {
                @apply(--paper-font-caption);
                color: var(--secondary-text-color);
            }

        </style>

        <iron-ajax
                id="ironAjaxGetDevices"
                url="[[ devicesApi ]]"
                on-response="_onDeviceResponse"
                on-error="_handleError"
                headers="{{ _computedHeaders }}"></iron-ajax>

        <paper-progress id="progress" indeterminate></paper-progress>

        <template is="dom-if" if="{{ !preview }}">
            <div class="devices">
                <template is="dom-repeat" items="[[ _devices ]]" rendered-item-count="{{ renderedCount }}">
                    <appsco-account-devices-item
                            device="[[ item ]]"
                            account="[[ account ]]">
                    </appsco-account-devices-item>
                </template>
            </div>
        </template>

        <template is="dom-if" if="{{ _message }}">
            <p class="message">
                [[ _message ]]
            </p>
        </template>

        <div class="info-total">
            <div class="total">
                Total registered devices: [[ _totalDevices ]]
            </div>
        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-account-devices',

            properties: {

                /**
                 * Account
                 */
                account: {
                    type: Object,
                    value: function () {
                        return {};
                    }
                },

                /**
                 * Get role devices link.
                 */
                devicesApi: {
                    type: String
                },

                /**
                 * Number of devices to load.
                 */
                size: {
                    type: Number
                },

                /**
                 * Indicates if device should be in preview mode rather then full detailed view.
                 */
                preview: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                /**
                 * Authorization token
                 */
                authorizationToken: {
                    type: String
                },

                _devices: {
                    type: Array,
                    value: function () {
                        return [];
                    }
                },

                /**
                 * Message to display instead of devices list.
                 */
                _message: {
                    type: String
                },

                _totalDevices: {
                    type: Number
                },

                /**
                 * Computed headers.
                 * It contains authorization token.
                 */
                _computedHeaders: {
                    type: Object,
                    computed: "_computeHeaders(authorizationToken)"
                }
            },

            attached: function() {
                this.fire('component-attached');
            },

            /**
             * Triggers ajax request in order to get devices.
             */
            loadDevices: function() {
                this.$.progress.hidden = false;
                this.set('_devices', []);
                this._message = '';
                this._totalDevices = 0;

                this.$.ironAjaxGetDevices.url = this._computeUrl(this.devicesApi);
                this.$.ironAjaxGetDevices.generateRequest();
            },

            approveDevice: function(device) {
                var _devices = JSON.parse(JSON.stringify(this._devices)),
                        _length = _devices.length;

                for (var j = 0; j < _length; j++) {

                    if (device.alias === _devices[j].alias) {
                        this.splice('_devices', j, 1);
                        break;
                    }
                }

                this._totalDevices--;
            },

            _computeUrl: function(devicesApi) {
               return this.size ? devicesApi + '&limit=' + this.size : devicesApi;
            },

            /**
             * Handle response event
             *
             * @private
             */
            _onDeviceResponse: function(event) {
                var response = event.detail.response;
                if (!response) {
                    return false;
                }
                this._devices = response ? response.devices : [];
                this._totalDevices = response.meta.total;

                if (!this._devices.length) {
                    this._message = "Account doesn't have any registered devices.";
                }
                this.$.progress.hidden = true;
            },

            /**
             * Handle response error
             *
             * @private
             */
            _handleError: function(event) {
                this._message = 'We couldn\'t load devices at the moment. Please try again in a minute. If error continues contact us.';
                this.$.progress.hidden = true;
            },

            /**
             * Computes authorization headers.
             *
             * @param {Object} authorizationToken
             * @returns {{ Authorization: string }}
             * @private
             */
            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                }
            }

        });
    </script>
</dom-module>
