<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/scale-up-animation.html">

<link rel="import" href="../../components/appsco-loader.html">
<link rel="import" href="../../components/appsco-form-error.html">


<dom-module id="appsco-account-disapprove-device">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply(--appsco-account-disapprove-device);

                --form-error-box: {
                    margin-top: 0;
                };
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply(--appsco-paper-dialog);
            }
            :host paper-dialog-scrollable > * {
                @apply(--paper-dialog-scrollable-child);
            }
            :host .buttons paper-button {
                @apply(--paper-dialog-button);
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
            :host appsco-loader {
                @apply(--paper-dialog-appsco-loader);
            }
        </style>
        <paper-dialog
                with-backdrop
                id="dialog"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation"
                on-iron-overlay-closed="_onDialogClosed">

            <h2>Disapprove device</h2>

            <appsco-loader active="[[ _loader ]]"
                           loader-alt="AppsCo is processing request"
                           multi-color></appsco-loader>

            <paper-dialog-scrollable>
                <div>
                    <appsco-form-error message="[[ _error ]]"></appsco-form-error>
                    <p>Please confirm that you want to disapprove chosen device.</p>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_onDisapproveAction">Disapprove</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({

            is: 'appsco-account-disapprove-device',

            properties: {

                /**
                 * Device owner.
                 */
                account: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                apiErrors: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * Device to disapprove.
                 */
                device: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                _disapproveDeviceApi: {
                    type: String,
                    computed: '_computeDisapproveApi(device)'
                },

                _headers: {
                    type: String,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _loader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Error message.
                 */
                _error: {
                    type: String
                }
            },

            setDevice: function(device) {
                this.set('device', device);
            },

            setAccount: function(account) {
                this.set('account', account);
            },

            open: function () {
                this.$.dialog.open();
            },

            close: function () {
                this.$.dialog.close();
            },

            _computeDisapproveApi: function(device) {
                return device.meta ? device.meta.disapprove : '';
            },

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                };
            },

            _onDialogClosed: function() {
                this._error = '';
                this._loader = false;
            },

            _showLoader: function() {
                this._loader = true;
            },

            _hideLoader: function() {
                this._loader = false;
            },

            _showError: function(message) {
                this._error = message;
            },

            _hideError: function() {
                this._error = '';
            },

            _onDisapproveAction: function() {
                var request = document.createElement('iron-request'),
                        options = {
                            url: this._disapproveDeviceApi,
                            method: 'POST',
                            handleAs: 'json',
                            headers: this._headers
                        };

                this._showLoader();

                request.send(options).then(function() {

                    if (200 === request.status) {

                        this.fire('device-disapprove-finished', {
                            device: this.device
                        });

                        this.close();
                    }

                }.bind(this), function() {
                    this._showError(this.apiErrors.getError(request.response.code));
                    this._hideLoader();
                }.bind(this));
            }
        });
    </script>
</dom-module>
