<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="appsco-account-groups-item">
    <template>
        <style>
            :host {
                display: none;
                color: var(--primary-text-color);
                font-size: 14px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            .item {
                width: 100%;
                height: 70px;
                padding: 0 10px;
                margin-bottom: 10px;
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                background-color: var(--background-color, #ffffff);
                border-radius: 3px;
                @apply(--shadow-elevation-2dp);
                @apply(--layout-horizontal);
                @apply(--layout-center);
                transition: all 0.1s ease-out;
                @apply(--appsco-account-groups-item);
            }
            .item:hover {
                @apply(--shadow-elevation-4dp);
            }
            .group-title {
                display: block;
                height: 32px;
                line-height: 16px;
                @apply(--paper-font-common-base);
                font-size: 14px;
                font-weight: 400;
                overflow: hidden;
            }
            .actions {
                @apply(--layout-horizontal);
                @apply(--layout-center);
                position: absolute;
                right: 4px;
                bottom: 4px;
            }
            paper-button {
                @apply(--paper-font-common-base);
                @apply(--paper-font-common-nowrap);

                padding: 4px;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.018em;
                line-height: 18px;
                text-transform: uppercase;
            }
            .group-info {
                @apply(--layout-vertical);
                @apply(--layout-start);
                padding: 0 10px;
            }
            .group-basic-info {
                width: 220px;
                @apply(--group-basic-info);
            }
            .group-basic-info .info-group, .group-basic-info {
                width: 220px;
                @apply(--paper-font-common-nowrap);
                @apply(--group-basic-info-values);
            }
            .group-status-info .info-group {
                width: 220px;
                @apply(--paper-font-common-nowrap);
                @apply(--group-status-info-values);
            }
            .info-group {
                font-size: 16px;
                height: auto;
                line-height: normal;
            }
            .info-group.preview {
                font-size: 14px;
                padding-top: 5px;
            }

        </style>

        <template is="dom-if" if="[[ preview ]]">
            <span class="info-group group-title preview">[[ group.name ]]</span>
        </template>

        <template is="dom-if" if="[[ !preview ]]">
            <div class="item">

                <div class="group-info group-basic-info">
                    <span class="info-group group-title">[[ group.name ]]</span>
                </div>

                <div class="actions">
                    <paper-button on-tap="_onRemoveAction">Remove</paper-button>
                </div>
            </div>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-account-groups-item',

            properties: {

                /**
                 * Group that is to be rendered
                 */
                group: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * Account
                 */
                account: {
                    type: Object,
                    value: function () {
                        return {};
                    }
                },

                /**
                 * Indicates if applications should be in preview mode rather then full detailed view.
                 */
                preview: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            attached: function() {
                this.style.display = 'inline-block';
                this.playAnimation('entry');
            },

            _onRemoveAction: function(event) {
                event.stopPropagation();

                /**
                 * Fired when `remove` action is tapped.
                 *
                 * @event remove-from-group
                 * @param {Object} group
                 */
                this.fire('remove-from-group', {
                    group: this.group,
                    account: this.account
                });
            }

        });
    </script>
</dom-module>
