<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<dom-module id="appsco-oauth-applications-actions">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                margin-right: -10px;
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--layout-end-justified);
                @apply(--appsco-provisioning-actions);
            }
            :host .action {
                margin-right: 10px;
                position: relative;
                @apply(--layout-vertical);
                @apply(--layout-center);
                @apply(--provisioning-action);
            }
            :host .flex-none {
                @apply(--layout-flex-none);
            }
            .add-action{
                @apply(--add-item-action);
            }
        </style>

        <div class="action flex-none">
            <paper-button class="add-action"
                          on-tap="_onAddAction">Add</paper-button>
        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-oauth-applications-actions',

            listeners: {
                'neon-animation-finish': '_onNeonAnimationFinish'
            },

            _onAddAction: function() {

                /**
                 * Fired when add action is tapped.
                 *
                 * @event add-oauth-application
                 */
                this.fire('add-oauth-application');
            },

            reset: function() {}
        });
    </script>
</dom-module>
