<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../components/appsco-list-item-behavior.html">
<link rel="import" href="../components/appsco-list-item-styles.html">


<dom-module id="appsco-oauth-application-item">
    <template>
        <style include="appsco-list-item-styles"></style>

        <style>
            :host {
                width: 100%;
            }
            :host .oauth-application-icon-container {
                width: 52px;
                height: 52px;
                margin: 0;
                border-radius: 26px;
                background-color: var(--oauth-application-icon-background-color, --account-initials-background-color);
                position: relative;
            }
            :host .oauth-application-icon {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;

                --iron-icon-fill-color: var(--primary-text-color, #ffffff);
            }
        </style>

        <iron-media-query query="(max-width: 800px)" query-matches="{{ tabletScreen }}"></iron-media-query>

        <div class="item">

            <div class="oauth-application-icon-container">
                <iron-icon class="oauth-application-icon"
                           icon="device:widgets"></iron-icon>
            </div>

            <div class="item-info item-basic-info">
                <span class="info-label group-title">[[ item.title ]]</span>
                <span class="info-value">oAuth Application</span>
            </div>

            <div class="actions">
                <paper-button on-tap="_onEditItemAction">Edit</paper-button>
                <paper-button on-tap="_onRemoveItemAction">Remove</paper-button>

            </div>

        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-oauth-application-item',

            properties: {
                tabletScreen: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                oAuthApplication: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior,
                Polymer.AppscoListItemBehavior
            ],

            listeners: {
                'tap': '_onItemAction'
            },

            ready: function() {
                this.fire('component-ready');
            },

            _onEditItemAction: function(event) {
                event.stopPropagation();
                /**
                 * Fired when edit action is tapped.
                 *
                 * @event edit-oauth-application
                 * @param {Object} oAuthApplication
                 */
                this.fire('edit-oauth-application', {
                    oAuthApplication: this.oAuthApplication
                });
            },

            _onRemoveItemAction: function(event) {
                event.stopPropagation();
                /**
                 * Fired when remove action is tapped.
                 *
                 * @event remove-oauth-application
                 * @param {Object} oAuthApplication
                 */
                this.fire('remove-oauth-application', {
                    oAuthApplication: this.oAuthApplication
                });
            }
        });
    </script>
</dom-module>
