<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="appsco-oauth-application-info">
    <template>
        <style>
            :host div[label] {
                color: var(--secondary-text-color);
                @apply(--paper-font-body1);
                font-size: 12px;
            }

            :host div[content] {
                color: var(--primary-text-color);
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--paper-font-subhead);
                font-size: 14px;
            }

            :host .flex {
                @apply(--layout-flex);
                width: 200px;
                word-wrap: break-word;
            }

            :host > div {
                margin: 6px 0;
            }

        </style>

        <div label>Client ID</div>
        <div content>
            <div class="flex">[[ oAuthApplication.client_id ]]</div>
        </div>

        <div label>Client secret</div>
        <div content>
            <div class="flex">[[ oAuthApplication.client_secret ]]</div>
        </div>

        <template is="dom-if" if="[[ oAuthApplication.website_url ]]">
            <div label>Website URL</div>
            <div content>
                <div class="flex">[[ oAuthApplication.website_url ]]</div>
            </div>
        </template>

        <template is="dom-if" if="[[ oAuthApplication.redirect_url ]]">
            <div label>Redirect URL</div>
            <div content>
                <div class="flex">[[ oAuthApplication.redirect_url ]]</div>
            </div>
        </template>


        <template is="dom-if" if="[[ oAuthApplication.description ]]">
            <div label>Description</div>
            <div content>
                <div class="flex">[[ oAuthApplication.description ]]</div>
            </div>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-oauth-application-info',

            properties: {

                oAuthApplication: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                }
            }
        });
    </script>
</dom-module>
