<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../components/appsco-list-item-behavior.html">
<link rel="import" href="../components/appsco-list-item-styles.html">
<link rel="import" href="../components/appsco-date-format.html">

<dom-module id="appsco-oauth-application-certificate-item">
    <template>
        <style include="appsco-list-item-styles"></style>

        <style>
            :host .item-icon-container {
                width: 52px;
                height: 52px;
                margin: 0;
                border-radius: 26px;
                background-color: var(--certificate-icon-background-color, --account-initials-background-color);
                position: relative;
            }
            :host .item-icon {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;

                --iron-icon-fill-color: var(--primary-text-color, #ffffff);
            }
            :host([preview]) .item-basic-info {
                width: 100%;
                box-sizing: border-box;
            }
            :host([preview]) .info-label {
                font-size: 14px;
                width: 100%;
            }
            :host([mobile-screen]) .item-additional-info {
                display: none;
            }
        </style>

        <iron-media-query query="(max-width: 600px)" query-matches="{{ mobileScreen }}"></iron-media-query>

        <template is="dom-if" if="[[ preview ]]">
            <div class="item-info item-basic-info">
                <span class="info-label group-title">[[ item.fingerprint ]]</span>
            </div>
        </template>

        <template is="dom-if" if="[[ !preview ]]">
            <div class="item">

                <template is="dom-if" if="[[ selectable ]]">
                    <div class="select-action"
                         on-tap="_onSelectItemAction">

                        <div class="item-icon-container">
                            <iron-icon class="item-icon"
                                       icon="icons:fingerprint"></iron-icon>
                        </div>

                        <div class="icon-action">
                            <div class="iron-action-inner">
                                <iron-icon icon="icons:check"></iron-icon>
                            </div>
                        </div>
                    </div>
                </template>

                <template is="dom-if" if="[[ !selectable ]]">
                    <div class="item-icon-container">
                        <iron-icon class="item-icon"
                                   icon="icons:fingerprint"></iron-icon>
                    </div>
                </template>

                <div class="item-info item-basic-info">
                    <span class="info-label group-title">[[ item.fingerprint ]]</span>
                </div>

                <div class="item-info item-additional-info">
                    <div class="info">
                        <span class="info-label">Valid until:&nbsp;</span>
                        <appsco-date-format class="info-value"
                                            date="[[ item.valid_to.date ]]"
                                            options='{"year": "numeric", "month": "long", "day": "numeric", "hour": "2-digit", "minute": "2-digit"}'></appsco-date-format>
                    </div>
                </div>

                <div class="actions">
                    <paper-button on-tap="_onRemoveItemAction">Remove</paper-button>
                </div>
            </div>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-oauth-application-certificate-item',

            properties: {

                preview: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                mobileScreen: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior,
                Polymer.AppscoListItemBehavior
            ],

            _onRemoveItemAction: function(event) {
                event.stopPropagation();

                /**
                 * Fired when `remove` is tapped.
                 *
                 * @event remove-item
                 * @param {Object} item
                 */
                this.fire('remove-item', {
                    item: this.item
                });
            }
        });
    </script>
</dom-module>
