<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<dom-module id="appsco-upload-oauth-application-icon">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                @apply(--appsco-upload-oauth-application-icon);
            }
            .upload-container {
                width: 64px;
                height: 64px;
                margin-left: auto;
                margin-right: auto;
                overflow: hidden;
                position: relative;
                @apply(--upload-container);
            }
            .item-icon, .item-icon-upload, .icon-upload {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            .item-icon {
                width: 64px;
                height: 64px;
                --iron-image-placeholder: {
                    background: #eeeeee;
                };

                @apply(--item-icon);
            }
            .item-icon-upload {
                background-color: rgba(250, 250, 250, 0.8);
                display: block;
                opacity: 0;
                z-index: 5;
                cursor: pointer;
                @apply(--item-icon-upload-field);
            }
            .item-icon-upload.no-image {
                opacity: 1;
            }
            .item-icon-upload:hover {
                opacity: 1;
                transition: opacity .2s ease-in;
            }
            .icon-upload {
                width: 32px;
                height: 32px;
                @apply(--item-icon-upload-icon);
            }
            .upload-file {
                width: 0;
                height: 0;
                opacity: 0;
            }
        </style>

        <div class="upload-container">

            <iron-image class="item-icon"
                        src="[[ item.icon_url ]]"
                        alt="Icon"
                        class="sized"
                        sizing="cover"
                        preload fade></iron-image>
            
            <label for="icon"
                   class$="item-icon-upload [[ _iconClass ]]">
                <iron-icon icon="file-upload" class="icon-upload"></iron-icon>
            </label>

            <input type="file"
                   accept="image/*"
                   id="icon"
                   name="item-icon"
                   class="upload-file"
                   on-change="_onUploadAction">
        </div>

        <content select="[info]"></content>

    </template>
    <script>
        Polymer({

            is: 'appsco-upload-oauth-application-icon',

            properties: {
                
                item: {
                    type: Object,
                    value: function() {
                        return {}
                    }
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                uploadApi: {
                    type: String,
                    value: ''
                },
                
                _headers: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _iconClass: {
                    type: String,
                    computed: '_computeIconClass(item)'
                }
            },

            reset: function() {
                var item = JSON.parse(JSON.stringify(this.item));

                this.set('item', {});
                this.set('item', item);
            },

            _computeHeaders: function(authorizationToken) {
                return 'token ' + authorizationToken;
            },

            _computeIconClass: function(item) {
                return (item && item.icon_url) ? 'has-image' : 'no-image';
            },

            _validateImageFile: function(file) {
                var validFileTypes = ['image/jpg', 'image/jpeg', 'image/png'],
                    fileType = file.type,
                    valid = true;

                if (1048576 < file.size) {
                    this.fire('image-upload-error', 'Image size must be less than 1MB.');
                    valid = false;
                }
                else {

                    for (var i = 0; i < validFileTypes.length; i++) {

                        if (validFileTypes[i] === fileType) {
                            valid = true;
                            break;
                        }
                        else {
                            valid = false;
                        }

                        if (i === (validFileTypes.length - 1) && !valid) {
                            this.fire('image-upload-error', 'Allowed file types are: jpg, jpeg and png.');
                        }
                    }

                }

                return valid;

            },

            _setNewImage: function(file) {
                var reader = new FileReader();

                reader.onload = function(event) {
                    var item = JSON.parse(JSON.stringify(this.item));

                    this.item.icon_url = event.target.result;
                    this.set('item', {});
                    this.set('item', item);
                }.bind(this);

                reader.readAsDataURL(file);

                this.fire('item-icon-changed');
            },

            _onUploadAction: function(event) {
                var input = event.target;

                if (input.files && input.files[0]) {
                    var file = input.files[0],
                        formData = new FormData(),
                        request = new XMLHttpRequest();

                    /** To ensure that on-change event will be triggered even if user tries to upload same image again */
                    this.$$('#icon').value = null;

                    if (!this._validateImageFile(file)) {
                        return false;
                    }

                    formData.append('file', file, file.name);

                    request.onreadystatechange = function()
                    {
                        if (4 === request.readyState && 200 === request.status) {
                            this._setNewImage(file);
                        }
                    }.bind(this);

                    request.open('POST', this.uploadApi, true);
                    request.setRequestHeader('Authorization', this._headers);
                    request.send(formData);
                }
            }
        });
    </script>
</dom-module>
