<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="appsco-oauth-applications-actions.html">


<dom-module id="appsco-oauth-applications-page-actions">
    <template>
        <style>
            :host {
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--layout-end-justified);
            }
            :host > * {
                height: 100%;
            }
            appsco-provisioning-actions {
                @apply(--layout-flex);
            }
        </style>

        <appsco-oauth-applications-actions id="appscoOAuthApplicationsActions"></appsco-oauth-applications-actions>
    </template>

    <script>
        Polymer({

            is: 'appsco-oauth-applications-page-actions',

            properties: {

                /**
                 * Animation config with hero animation.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    delay: 200,
                                    duration: 300
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimatableBehavior
            ],

            resetPage: function() {
                this.$.appscoOAuthApplicationsActions.reset();
            },

            resetPageActions: function() {
                this.resetPage();
            }
        });
    </script>
</dom-module>

