<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../components/appsco-form-error.html">

<dom-module id="appsco-customer-subscription-toggle">
    <template>
        <style>
            :host {
                display: block;
                @apply(--appsco-customer-subscription-toggle);
            }
            :host paper-toggle-button {
                cursor: pointer;
            }
            :host .info {
                margin-top: 10px;
            }
        </style>

        <paper-toggle-button id="switch"
                             checked$="[[ customer.subscription_paid_externally ]]">Subscription paid by partner</paper-toggle-button>
        <appsco-form-error message="[[ _error ]]"></appsco-form-error>

        <div class="info">
            <template is="dom-if" if="[[ _isSubscriptionPaidExternally  ]]">
                <p>Subscription is paid for the customer by partner.</p>
                <p>You have [[ partner.remainingLicences ]] available licences to distribute.</p>
            </template>

            <template is="dom-if" if="[[ !_isSubscriptionPaidExternally  ]]">
                <p>Subscription is paid by customer.</p>
            </template>

            <template is="dom-if" if="[[ _isSubscriptionPaidExternally  ]]">
                <p>Customer has [[ customer.used_licences ]] licences currently.</p>
            </template>
        </div>

    </template>
    <script>
        Polymer({

            is: 'appsco-customer-subscription-toggle',

            properties: {

                customer: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                partner: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                apiErrors: {
                    type: Array,
                    value: function() {
                        return {};
                    }
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                _headers: {
                    type: String,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _isSubscriptionPaidExternally: {
                    type: Boolean,
                    computed: '_computeIsSubscriptionPaidExternally(customer)'
                },

                _subscriptionPaidStateApi: {
                    type: String,
                    computed: '_computeSubscriptionPaidStateApi(customer)'
                },

                _error: {
                    type: String
                }
            },

            listeners: {
                'switch.change': '_onSwitchChanged'
            },

            resetCustomer: function() {
                var customer = JSON.parse(JSON.stringify(this.customer));
                this.set('customer', {});
                this.set('customer', customer);
            },

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                };
            },

            _showError: function(message) {
                this._error = message;
            },

            _hideError: function() {
                this._error = '';
            },

            _turnSubscriptionPaidExternallyOn: function() {
                this.customer.subscription_paid_externally = true;
                this.resetCustomer();
                this._callSubscriptionPaidExternallyApi(1);
            },

            _turnSubscriptionPaidExternallyOff: function() {
                this.customer.subscription_paid_externally = false;
                this.resetCustomer();
                this._callSubscriptionPaidExternallyApi(0);
            },

            _callSubscriptionPaidExternallyApi: function(status) {
                var request = document.createElement('iron-request'),
                        options = {
                            url: this._subscriptionPaidStateApi,
                            method: 'PUT',
                            handleAs: 'json',
                            headers: this._headers,
                            body: 'form[subscription_paid_externally]=' + status
                        };

                if (!this._subscriptionPaidStateApi || !this._headers) {
                    this._showError(this.apiErrors.getError(404));
                    return false;
                }

                request.send(options).then(function() {

                    if (200 === request.status) {

                        /**
                         * Fired when subscription paid externally state for customer has been changed.
                         *
                         * @event customer-subscription-state-changed
                         * @param {Object} customer
                         * @param {Object} partner
                         */
                        this.fire('customer-subscription-state-changed', {
                            customer: request.response.customer,
                            partner: request.response.partner
                        });
                    }

                }.bind(this), function() {
                    this._showError(this.apiErrors.getError(request.response.code));
                }.bind(this));
            },

            _onSwitchChanged: function(event) {
                event.target.checked ? this._turnSubscriptionPaidExternallyOn() : this._turnSubscriptionPaidExternallyOff();
            },

            _computeIsSubscriptionPaidExternally: function(customer) {
                return customer && customer.subscription_paid_externally == true;
            },

            _computeSubscriptionPaidStateApi: function(customer) {
                return customer ? (customer.self + '/paid-externally') : '';
            }

        });
    </script>
</dom-module>
