<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../components/appsco-date-format.html">

<!--
`appsco-customer-details`
Component holds details about appsco customer.

Example:
    <body>
        <appsco-customer-details customer="{}">
        </appsco-customer-details>

### Styling

`<appsco-customer-details>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--details-container` | Mixin for the inner element that holds label and value. | `{}`
`--details-label` | Mixin applied to detail label. | `{}`
`--details-value` | Mixin applied to detail value. | `{}`

@demo demo/appsco-account-details.html
-->

<dom-module id="appsco-customer-details">
    <template>
        <style>
            :host {
                display: none;
                @apply(--layout-vertical);
            }
            :host .details-info {
                margin: 6px 0;
                @apply(--details-container);
            }
            :host .details-label {
                color: var(--secondary-text-color);
                @apply(--paper-font-body1);
                @apply(--details-label);
            }
            :host .details-value {
                color: var(--primary-text-color);
                @apply(--paper-font-subhead);
                @apply(--details-value);
            }
            :host .status-value {
                text-transform: capitalize;
            }
            :host .flex {
                @apply(--layout-flex);
                @apply(--paper-font-common-nowrap);
            }
        </style>

        <div class="details-info"
             hidden$="[[ !customer.createdAt ]]">
            <div class="details-label">Customer since</div>
            <appsco-date-format class="details-value"
                                date="[[ customer.createdAt.date ]]"
                                options='{"year": "numeric", "month": "long", "day": "numeric", "hour": "2-digit", "minute": "2-digit"}'></appsco-date-format>
        </div>

        <div class="details-info">
            <div class="details-label">Status</div>
            <template is="dom-if" if="[[ customer.active ]]">
                <div class="details-value status-value">Active</div>
            </template>

            <template is="dom-if" if="[[ !customer.active ]]">
                <div class="details-value status-value">Trial</div>
            </template>
        </div>

        <div class="details-info"
             hidden$="[[ !customer.contact_email ]]">
            <div class="details-label">Contact</div>
            <div class="details-value">[[ customer.contact_email ]]</div>
        </div>
    </template>

    <script>
        Polymer({

            is: 'appsco-customer-details',

            properties: {

                customer: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    observer: '_onCustomerChanged'
                },

                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 500
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            _onCustomerChanged: function() {
                this._showDetails();
            },

            _showDetails: function() {
                this.style.display = 'block';
                this.playAnimation('entry');
            }
        });
    </script>
</dom-module>
