<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-ripple/paper-ripple.html">

<link rel="import" href="../../components/components/appsco-loader.html">
<link rel="import" href="../../components/components/appsco-form-error.html">
<link rel="import" href="../../components/components/appsco-search.html">

<dom-module id="appsco-add-customer">
    <template>
        <style>
            :host {
                display: block;
                position: relative;

                --iron-icon-fill-color: var(--primary-text-color);

                --appsco-search-label: {
                    font-size: 16px;
                    line-height: 24px;
                };
                --appsco-search-input: {
                    font-size: 16px;
                    line-height: 24px;
                };
                --appsco-search-input-container: {
                    padding: 8px 0;
                    line-height: 20px;
                };
                --appsco-search-input-prefix: {
                    height: 24px;
                };
                --appsco-search-input-prefix-icon: {
                    width: 20px;
                    height: 20px;
                };
                --appsco-search-input-suffix: {
                    width: 20px;
                    height: 20px;
                };

            }
            :host paper-dialog {
                width: 670px;
                top: 10vh;
                @apply(--appsco-paper-dialog);
            }
            :host appsco-loader {
                margin: 0 !important;
                padding: 0 !important;
            }
            :host .buttons paper-button {
                @apply(--paper-dialog-button);
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
            .admin-list-container {
                width: 100%;
                position: relative;
                z-index: 5;
                display: none;
            }
            .dropdown-content {
                @apply(--shadow-elevation-2dp);
                width: 99.8%;
                border-radius: 2px;
                padding: 0;
                max-height: 200px;
                overflow-y: auto;
                position: absolute;
                top: -7px;
                left: 0;
            }
            .paper-item {
                padding: 0 8px;
                height: 36px;
                line-height: 18px;
                font-size: 14px;
                cursor: pointer;
            }
            .paper-item:hover {
                @apply(--paper-item-hover);
            }
            :host .info-box {
                @apply(--info-box);
            }
        </style>

        <iron-ajax id="getRolesApiRequest"
                   url="[[ _rolesApi ]]"
                   headers="[[ _headers ]]"
                   on-error="_onRolesError"
                   on-response="_onRolesResponse"></iron-ajax>

        <paper-dialog id="dialog"
                      with-backdrop
                      entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation"
                      on-iron-overlay-opened="_onDialogOpened"
                      on-iron-overlay-closed="_onDialogClosed">

            <h2>Add new customer</h2>

            <appsco-loader active="[[ _loader ]]"
                           loader-alt="Appsco is processing request"
                           multi-color></appsco-loader>

            <div class="dialog-container">

                <appsco-form-error message="[[ _error ]]"></appsco-form-error>

                <template is="dom-if" if="[[ _infoShown ]]">
                    <div class="info-box">
                        Customer with the same name already exists.
                        If you want to add it anyway please continue.
                    </div>
                </template>

                 <form is="iron-form"
                      id="form"
                      method="POST"
                      action="[[ customersApi ]]"
                      headers="[[ _headers ]]"
                      on-iron-form-presubmit="_onFormPresubmit"
                      on-iron-form-error="_onFormError"
                      on-iron-form-response="_onFormResponse">

                    <div class="input-container">
                        <paper-input id="name"
                                     label="Customer name"
                                     name="company_customer[name]"
                                     value="{{ _customerName }}"
                                     required
                                     auto-validate
                                     error-message="Please enter customer's name."
                                     on-value-changed="_onNameInputValueChanged"></paper-input>
                    </div>

                    <div class="input-container">
                        <gold-email-input label="Contact e-mail"
                                          name="company_customer[contactEmail]"
                                          required
                                          auto-validate
                                          error-message="Please enter valid contact e-mail."></gold-email-input>
                    </div>

                    <div id="searchAdminsContainer" class="input-container">
                        <appsco-search id="appscoSearchAdmins" 
                                       label="Partner administrator"
                                       float-label
                                       on-focus="_onAdminSearchFocusAction"
                                       on-keyup="_onAdminSearchKeyupAction"
                                       on-search="_onAdminSearchAction"
                                       on-search-clear="_onAdminSearchClearAction"></appsco-search>
                        
                        <div id="adminListContainer" class="admin-list-container">

                            <paper-listbox id="adminList"
                                           class="dropdown-content"
                                           selected="[[ _selectedAdministrator.value ]]"
                                           attr-for-selected="value"
                                           on-iron-activate="_onAdminSelected"
                                           on-iron-overlay-closed="_onListboxClosed">

                                <template is="dom-repeat" items="[[ _administratorsToDisplay ]]">
                                    <paper-item class="paper-item"
                                                name="[[ item.account.name ]]"
                                                value="[[ item.self ]]">
                                        [[ item.account.name ]]
                                        <paper-ripple></paper-ripple>
                                    </paper-item>
                                </template>

                            </paper-listbox>

                        </div>
                    </div>
                </form>
            </div>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_onAddAction">Add</paper-button>
            </div>
        </paper-dialog>

        <iron-a11y-keys target="[[ _target ]]"
                        keys="enter"
                        on-keys-pressed="_onEnterAction"></iron-a11y-keys>

    </template>
    <script>
        Polymer({

            is: 'appsco-add-customer',

            properties: {

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String
                },

                customersApi: {
                    type: String,
                    value: ''
                },

                apiErrors: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                rolesApi: {
                    type: String,
                    value: ''
                },

                checkIfCustomerExistsApi: {
                    type: String,
                    value: ''
                },

                _rolesApi: {
                    type: String,
                    computed: '_computeRolesApi(rolesApi)'
                },

                _administrators: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                _administratorsToDisplay: {
                    type: Array,
                    value: function() {
                        return []
                    }
                },

                _selectedAdministrator: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    observer: '_onSelectedAdministratorChanged'
                },

                /**
                 * Computed headers.
                 * It contains authorization token.
                 */
                _headers: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _loader: {
                    type: Boolean,
                    value: false
                },

                _error: {
                    type: String
                },

                _infoShown: {
                    type: Boolean,
                    value: false
                },

                _customerName: {
                    type: String,
                    value: '',
                    observer: '_onCustomerNameChanged'
                },

                /**
                 * Target for iron-a11y-keys component.
                 * Submit form on enter.
                 */
                _target: {
                    type: Object,
                    value: function() {
                        return this.$.form
                    }
                },

                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'scale-up-animation',
                                axis: 'y',
                                transformOrigin: '0 0',
                                node: this.$$('#adminListContainer'),
                                timing: {
                                    delay: 50,
                                    duration: 200
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this.$$('#adminListContainer'),
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            listeners: {
                'neon-animation-finish': '_onNeonAnimationFinish'
            },

            /**
             * Opens add group dialog.
             */
            open: function() {
                this.$.dialog.open();
            },

            /**
             * Closes add group dialog.
             */
            close: function() {
                this.$.dialog.close();
            },

            /**
             * Toggles add group dialog.
             */
            toggle: function() {
                this.$.dialog.toggle();
            },

            _showLoader: function() {
                this._loader = true;
            },

            _hideLoader: function() {
                this._loader = false;
            },

            _showError: function(message) {
                this._error = message;
            },

            _hideError: function() {
                this._error = '';
            },

            _showInfo: function() {
                this._infoShown = true;
            },

            _hideInfo: function() {
                this._infoShown = false;
            },

            _isInPath: function(path, element) {
                path = path || [];

                for (var i = 0; i < path.length; i++) {

                    if (path[i] == element) {
                        return true;
                    }
                }

                return false;
            },

            _handleDocumentClick: function(event) {
                var path = Polymer.dom(event).path;

                if (!this._isInPath(path, this.$$('#searchAdminsContainer'))) {
                    this._hideAdminList();
                }

            },

            /**
             * Computes authorization headers.
             *
             * @param {Object} authorizationToken
             * @returns {{ Authorization: string }}
             * @private
             */
            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            },

            _computeRolesApi: function(rolesApi) {
                return rolesApi ? (rolesApi + '?limit=100&extended=1') : '';
            },

            _loadRoles: function() {
                this.set('_administrators', []);
                this.$.getRolesApiRequest.generateRequest();
            },

            _focusFirstAdmin: function() {
                this.$$('#adminList').items[0].focus();
            },

            _setAppscoSearchValue: function(value) {
                this.$.appscoSearchAdmins.setValue(value);
            },

            /**
             * Called after dialog has been opened.
             *
             * @private
             */
            _onDialogOpened: function() {
                this.$.name.focus();
                this._loadRoles();
                Polymer.Gestures.add(this, 'tap', this._handleDocumentClick.bind(this));
            },

            /**
             * Called after dialog has been closed.
             *
             * @private
             */
            _onDialogClosed: function() {
                this._hideLoader();
                this._hideError();
                this._hideInfo();
                this._target.reset();
                this.set('_administrators', []);
                this.set('_administratorsToDisplay', []);
                this.set('_selectedAdministrator', {});
                this._hideAdminList();
                this.$.appscoSearchAdmins.reset();
                this._customerName = '';
                Polymer.Gestures.remove(this, 'tap', this._handleDocumentClick.bind(this));
            },

            _onCustomerNameChanged: function(name) {

                if (!name) {
                    this._hideInfo();
                }
            },

            _onNameInputValueChanged: function(event) {
                var name = event.detail.value;

                if (name) {
                    this.debounce('checkIfCustomerExists', function() {
                        this._checkIfCustomerExists(name);
                    }.bind(this), 500);
                }
            },

            _onAddAction: function() {
                this._submitForm();
            },

            /**
             * Submits form on ENTER key using iron-a11y-keys component.
             *
             * @private
             */
            _onEnterAction: function() {
                this._onAddAction();
            },

            _checkIfCustomerExists: function(name) {
                var request = document.createElement('iron-request'),
                    options = {
                        url: this.checkIfCustomerExistsApi,
                        method: 'POST',
                        handleAs: 'json',
                        headers: this._headers,
                        body: 'form[name]=' + encodeURIComponent(name)
                    };

                request.send(options).then(function() {

                    if (200 === request.status) {
                        this._showInfo();
                    }

                }.bind(this), function() {

                    if (request.response && (1503648194 == request.response.code)) {
                        this._hideInfo();
                    }
                }.bind(this));
            },

            _submitForm: function() {
                this._hideError();

                if (!this._selectedAdministrator.value) {
                    this._showError('You have not selected partner administrator.');
                    this.$.appscoSearchAdmins.focusAppscoSearchInput();
                    return false;
                }

                if (this._target.validate()) {
                    this._showLoader();
                    this._target.submit();
                }

            },

            _onFormPresubmit: function(event) {
                event.target.request.body['company_customer[partnerAdmin]'] = this._selectedAdministrator.value;
            },

            /**
             * Called on form error.
             *
             * @param {Object} event
             * @private
             */
            _onFormError: function(event) {
                this._showError(this.apiErrors.getError(event.detail.request.response.code));
                this._hideLoader();
            },

            /**
             * Called after group has been added.
             *
             * @param {Object} event
             * @private
             */
            _onFormResponse: function(event) {
                this.close();

                this.fire('customer-added', {
                    customer: event.detail.response
                });

            },

            _onRolesError: function() {
                this.set('_administrators', []);
                this.set('_administratorsToDisplay', []);
            },

            _onRolesResponse: function(event) {
                var response = event.detail.response;

                if (!response || (response && response.meta && 0 === response.meta.total)) {
                    this.set('_administrators', []);
                }
                else if (response && response.company_roles) {
                    this.set('_administrators', response.company_roles);
                }

                this.set('_administratorsToDisplay', this._administrators);
            },

            _onListboxClosed: function(event) {
                event.stopPropagation();
            },

            _onSelectedAdministratorChanged: function(admin) {

                for (key in admin) {
                    this._setAppscoSearchValue(admin.name);
                    return false;
                }
            },

            _onAdminSelected: function(event) {
                var item,
                    adminList = this.$$('#adminList');

                adminList.select(event.detail.selected);
                item = adminList.selectedItem;
                this._hideAdminList();
                this.set('_administratorsToDisplay', JSON.parse(JSON.stringify(this._administrators)));
                this.set('_selectedAdministrator', item);
            },

            _onAdminSearchFocusAction: function() {
                this._showAdminList();
            },

            _onAdminSearchKeyupAction: function(event) {
                var keyCode = event.keyCode;

                if (40 === keyCode) {
                    event.target.blur();
                    this._focusFirstAdmin();
                    return false;
                }
            },
            
            _onAdminSearchAction: function(event) {
                this._filterAdminsByTerm(event.detail.term);
            },
            
            _onAdminSearchClearAction: function() {
                this._filterAdminsByTerm('');
            },

            _filterAdminsByTerm: function(term) {
                var termLength = term.length,
                    admins = JSON.parse(JSON.stringify(this._administrators)),
                    length = admins.length;

                this.set('_administratorsToDisplay', []);

                if (3 > termLength) {
                    this.set('_administratorsToDisplay', admins);
                    return false;
                }

                for (var i = 0; i < length; i++) {
                    var admin = admins[i];

                    if (admin && 0 <= admin.account.name.toLowerCase().indexOf(term.toLowerCase())) {
                        this.push('_administratorsToDisplay', admin);
                    }

                }

                if (0 === this._administratorsToDisplay.length && 3 <= termLength) {
                    this.push('_administratorsToDisplay', {
                        account: {
                            name: 'There is no administrator with asked name.'
                        },
                        self: 'no_result'
                    });
                }
            },

            _showAdminList: function() {
                this.animationConfig.entry.node.style.display = 'block';
                this.playAnimation('entry');
            },

            _hideAdminList: function() {

                this.playAnimation('exit', {
                    hideAdminSwitcher: true
                });
            },

            _onNeonAnimationFinish: function(event) {

                if (event.detail.hideAdminSwitcher) {
                    this.animationConfig.exit.node.style.display = 'none';
                }

            }
        });
    </script>
</dom-module>
