<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/cascaded-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../components/appsco-search.html">

<dom-module id="appsco-customers-actions">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                margin-right: -10px;
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--layout-end-justified);
                @apply(--appsco-customers-actions);
            }
            appsco-search {
                max-width: 200px;
            }
            :host .action {
                margin-right: 10px;
                position: relative;
                @apply(--layout-vertical);
                @apply(--layout-center);
                @apply(--customers-action);
            }
            :host .flex-none {
                @apply(--layout-flex-none);
            }
            :host .add-action {
                @apply(--add-item-action);
            }
        </style>

        <div class="action action-search flex-none">

            <appsco-search id="appscoSearch"
                           label="Search customers"></appsco-search>
        </div>

        <div class="action flex-none">
            <paper-button class="add-action"
                          on-tap="_onAddAction">Add customer</paper-button>
        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-customers-actions',

            properties: {

                /**
                 * Animation config for bulk actions.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'cascaded-animation',
                                animation: 'fade-in-animation',
                                nodes: [],
                                nodeDelay: 50,
                                timing: {
                                    duration: 300
                                }
                            },
                            'exit': {
                                name: 'cascaded-animation',
                                animation: 'fade-out-animation',
                                nodes: [],
                                nodeDelay: 0,
                                timing: {
                                    duration: 200
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            reset: function() {
                this.resetActions();
            },

            resetActions: function() {
                this.$.appscoSearch.reset();
            },

            _onAddAction: function() {

                /**
                 * Fired when add customer action is tapped.
                 *
                 * @event add-customer
                 */
                this.fire('add-customer');
            }
        });
    </script>
</dom-module>
