<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../page/appsco-page-global.html">
<link rel="import" href="../customer/appsco-customers-actions.html">

<dom-module id="appsco-customers-page-actions">
    <template>
        <style>
            :host {
                display: block;
            }
            :host .page-actions {
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--layout-end-justified);
                height: 100%;
            }
            :host .page-actions * {
                height: 100%;
            }
        </style>

        <div class="page-actions">
            <appsco-customers-actions id="appscoCustomersActions"
                                      on-search-icon="_onSearchIcon"
                                      on-close-search="_onCloseSearch"></appsco-customers-actions>

            <appsco-page-global info></appsco-page-global>
        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-customers-page-actions',

            properties: {

                _searchActive: {
                    type: Boolean,
                    value: false
                },

                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    delay: 200,
                                    duration: 300
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimatableBehavior
            ],

            setupPage: function() {},

            resetPage: function() {
                this.$$('#appscoCustomersActions').reset();
            },

            resetPageActions: function() {
                this.$$('#appscoCustomersActions').resetActions();
            },

            showBulkActions: function() {
                this.$$('#appscoCustomersActions').showBulkActions();
            },

            hideBulkActions: function() {
                this.$$('#appscoCustomersActions').hideBulkActions();
            },

            showBulkSelectAll: function() {
                this.$$('#appscoCustomersActions').showBulkSelectAll();
            },

            hideBulkSelectAll: function() {
                this.$$('#appscoCustomersActions').hideBulkSelectAll();
            },

            _showSearch: function() {
                this.customStyle['--input-search-max-width'] = '100%';
                this.customStyle['--paper-input-search-container-tablet'] = 'width: 100%;';
                this.$$('#appscoCustomersActions').focusSearch();

                this.updateStyles();
            },

            _closeSearch: function() {
                this._searchActive = false;

                this.customStyle['--input-search-max-width'] = '22px';

                // Wait for animation to finish.
                setTimeout(function() {
                    this.customStyle['--paper-input-search-container-tablet'] = 'width: auto';
                    this.updateStyles();
                }.bind(this), 200);

                this.updateStyles();
            },

            _onCloseSearch: function() {
                this._searchActive = false;

                this.customStyle['--input-search-max-width'] = '22px';

                // Wait for animation to finish.
                setTimeout(function() {
                    this.customStyle['--paper-input-search-container-tablet'] = 'width: auto';
                    this.updateStyles();
                }.bind(this), 200);

                this.updateStyles();
            },

            _onSearchIcon: function() {
                this._searchActive = !this._searchActive;
                this._searchActive ? this._showSearch() : this._closeSearch();
            }
        });
    </script>
</dom-module>

