<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/transform-animation.html">

<link rel="import" href="appsco-company-partner-admin-item.html">


<!--
`appsco-customer-partner-admins`
Contains group's role list and Load More action.
Roles are loaded inside component through iron-ajax.

    <appsco-customer-partner-admins list-api=""
                           authorization-token=""
                           size=""
                           load-more
                           preview>
    </appsco-customer-partner-admins>

### Styling

`<appsco-customer-partner-admins>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-customer-partner-admins` | Mixin for the root element | `{}`
`--appsco-company-group-role-item` | Mixin for item style | `{}`
`--partner-admins-container` | Mixin for the roles container | `{}`
`--partner-admins-progress-bar` | Mixin applied to paper-progress for role list | `{}`

-->

<dom-module id="appsco-customer-partner-admins">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                @apply(--layout-vertical);
                @apply(--layout-center);
                @apply(--appsco-customer-partner-admins);
            }
            .roles {
                @apply(--layout-vertical);
                @apply(--layout-start);
            }
            appsco-company-partner-admin-item {
                width: 100%;
                margin: 0 0 10px 0;
                @apply(--appsco-company-group-role-item);
            }
            .partner-admins-container {
                width: 100%;
                position: relative;
            }
            appsco-loader {
                background-color: rgba(255, 255, 255, 0.4);
            }
            .load-more-box {
                margin-top: 10px;
                padding-top: 4px;
                position: relative;
            }
            .load-more-box paper-progress {
                width: 100%;
                position: absolute;
                top: 4px;
                left: 0;
            }
            .progress-bar {
                min-width: 100px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                @apply(--partner-admins-progress-bar);
            }
            .roles {
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
                width: 100%;
            }
            .info-total {
                margin-bottom: 10px;
            }
            .total {
                @apply(--paper-font-caption);
                color: var(--secondary-text-color);
            }
            .load-more-box paper-button {
                display: block;
                width: 120px;
                margin: 20px auto 0;
                text-align: center;
                @apply(--load-more-button);
            }
            .message {
                color: var(--secondary-text-color);
                font-style: italic;
                @apply(--paper-font-body2);
                @apply(--info-message);
            }
            :host([preview]) .roles {
                @apply(--layout-horizontal);
            }
            :host([preview]) appsco-company-partner-admin-item {
                width: auto;
                margin: 0 2px 0 0;
                @apply(--appsco-company-partner-admin-item-preview);
            }
            :host .options paper-button {
                @apply(--primary-button);
                display: inline-block;
            }
            :host .options {
                margin-bottom: 10px;
            }
        </style>

        <div class="partner-admins-container">

            <iron-ajax
                    id="getPartnerAdminsApiRequest"
                    url="[[ _listApi ]]"
                    headers="[[ _computedHeaders ]]"
                    debounce-duration="300"
                    on-error="_onError"
                    on-response="_onResponse"></iron-ajax>

            <paper-progress id="paperProgress"
                            class="progress-bar"
                            indeterminate></paper-progress>

            <template is="dom-if" if="[[ _message ]]">
                <p class="message">[[ _message ]]</p>
            </template>

            <template is="dom-if" if="[[ !preview ]]">
                <div class="options">
                    <paper-button on-tap="_onAddPartnerAdmin">Add partner admin</paper-button>
                </div>
            </template>

            <template is="dom-if" if="[[ !_partnerAdminsEmpty ]]">
                <template is="dom-if" if="[[ preview ]]">
                    <div class="info-total">
                        <div class="total">
                            Total partner admins: [[ _totalPartnerAdmins ]]
                        </div>
                    </div>
                </template>

                <div class="roles" preview="[[ preview ]]">
                    <template is="dom-repeat"
                              items="{{ _partnerAdmins }}"
                              on-dom-change="_onItemsDomChange">

                        <appsco-company-partner-admin-item id="appscoPartnerAdminItem_[[ index ]]"
                                                        customer="[[ customer ]]"
                                                        partner-admin="{{ item }}"
                                                        preview="[[ preview ]]"></appsco-company-partner-admin-item>

                    </template>
                </div>
            </template>
        </div>

        <template is="dom-if" if="[[ !_partnerAdminsEmpty ]]">
            <div class="load-more-box" hidden$="[[ !_loadMore ]]">
                <paper-progress id="loadMoreProgress" indeterminate></paper-progress>
                <paper-button on-tap="_loadMorePartnerAdmins" id="loadMore">Load More</paper-button>
            </div>
        </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-customer-partner-admins',

            properties: {

                customer: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String,
                    value: ''
                },

                /**
                 * Route to retrieve list
                 */
                listApi: {
                    type: String,
                    value: '',
                    observer: '_onListApiChanged'
                },

                /**
                 * Number of items to load and present
                 */
                size: {
                    type: Number,
                    value: 10
                },

                /**
                 * Show load more button
                 */
                loadMore: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates if customer should be in preview mode rather then full detailed view.
                 */
                preview: {
                    type: Boolean,
                    value: false
                },

                /**
                 * If true roles will load on listApi change.
                 */
                autoLoadActive: {
                    type: Boolean,
                    value: false
                },

                _listApi: {
                    type: String,
                    value: ''
                },

                _loadMore: {
                    type: Boolean,
                    value: false
                },

                _computedHeaders: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _partnerAdmins: {
                    type: Array,
                    value: function() {
                        return [];
                    },
                    notify: true
                },

                _allPartnerAdmins: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                _partnerAdminsEmpty: {
                    type: Boolean,
                    value: false
                },

                _message: {
                    type: String,
                    value: ''
                },

                _nextPageApiUrl: {
                    type: String
                },

                _totalPartnerAdmins: {
                    type: Number,
                    value: 0
                },

                _renderedIndex: {
                    type: Number,
                    value: -1
                },

                _loaders: {
                    type: Array,
                    value: function() { return []; }
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'cascaded-animation',
                                animation: 'slide-from-left-animation',
                                nodes: [],
                                nodeDelay: 50,
                                timing: {
                                    duration: 300
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                }
            },

            _onListApiChanged: function(url) {

                if (url) {
                    this._listApi = ((url.indexOf('extended') != -1) ? url : (url + '?extended=1')) + '&page=1&limit=' + this.size;

                    if (this.autoLoadActive && url && url.length > 0) {
                        this._loadPartnerAdmins();
                    }
                }
            },

            _setLoadMoreAction: function() {
                this._loadMore = (this.loadMore && this._allPartnerAdmins.length < this._totalPartnerAdmins);
            },

            _hideLoadMoreAction: function() {
                this._loadMore = false;
            },

            _onAddPartnerAdmin: function() {
                this.fire('add-partner-admin', {
                    customer: this.customer
                })
            },

            _loadPartnerAdmins: function() {
                this._showProgressBar();
                this._loadMore = false;
                this._clearPartnerAdmins();
                this.$.getPartnerAdminsApiRequest.generateRequest();
            },

            loadPartnerAdmins: function() {
                this._loadPartnerAdmins();
            },

            reloadPartnerAdmins: function() {
                this._loadPartnerAdmins();
            },

            _loadMorePartnerAdmins: function() {
                this._showLoadMoreProgressBar();
                this.$.getPartnerAdminsApiRequest.url = this._nextPageApiUrl;
                this.$.getPartnerAdminsApiRequest.generateRequest();
            },

            _onError: function(event) {
                this._message = 'We couldn\'t load partner admins at the moment. Please try again in a minute.';
                this._handleEmptyLoad();
            },

            _handleEmptyLoad: function() {
                this._partnerAdminsEmpty = true;
                this._message = 'There are no partner admins for customer.';

                /**
                 * Fired when there are no roles.
                 *
                 * @event empty-load
                 */
                this.fire('empty-load');

                this._hideProgressBar();
                this._hideLoadMoreProgressBar();
            },

            _clearLoaders: function() {
                for (var idx in this._loaders) {
                    clearTimeout(this._loaders[idx]);
                }
                this.set('_loaders', []);
            },

            _clearPartnerAdmins: function() {
                this._clearLoaders();
                this.set('_partnerAdmins', []);
                this.set('_allPartnerAdmins', []);
            },

            _onResponse: function(event) {
                var response = event.detail.response;

                if (response && response.partner_admins) {
                    var partnerAdmins = response.partner_admins,
                            meta = response.meta,
                            partnerAdminsCount = partnerAdmins.length - 1;

                    this._totalPartnerAdmins = meta.total;
                    this._nextPageApiUrl = meta.next + '&limit=' + this.size;

                    if (meta.total === 0) {
                        this._handleEmptyLoad();
                        return false;
                    }

                    this._partnerAdminsEmpty = false;
                    this._message = '';

                    this._clearPartnerAdmins();
                    partnerAdmins.forEach(function(el, index) {

                        this._loaders.push(setTimeout(function() {

                            this.push('_partnerAdmins', el);
                            this.push('_allPartnerAdmins', el);

                            if (index == partnerAdminsCount) {

                                this._loadMore = this.loadMore;

                                if (this._partnerAdmins.length === meta.total) {
                                    this._loadMore = false;
                                }

                                this._hideProgressBar();
                                this._hideLoadMoreProgressBar();
                                this._setLoadMoreAction();

                                /**
                                 * Fired when partnerAdmins are loaded
                                 *
                                 * @event loaded
                                 * @param {Object} companyRoles[]
                                 */
                                this.fire('partner-admins-loaded', {
                                    companyRoles: partnerAdmins
                                });
                            }

                        }.bind(this), (index + 1) * 30));

                    }.bind(this));
                }
            },

            addPartnerAdmins: function(partnerAdmins) {
                var length = partnerAdmins.length,
                        allPartnerAdmins = this._allPartnerAdmins,
                        allLength = allPartnerAdmins.length;

                this._partnerAdminsEmpty = false;
                this._message = '';
                this._renderedIndex = length - 1;

                for (var i = 0; i < length; i++) {

                    if (0 === allLength) {
                        this.push('_partnerAdmins', partnerAdmins[i]);
                        this.push('_allPartnerAdmins', partnerAdmins[i]);

                        this._totalPartnerAdmins++;
                    }
                    else {

                        for (var j = 0; j < allLength; j++) {

                            if (allPartnerAdmins[j].alias === partnerAdmins[i].alias) {
                                break;
                            }
                            else if (j === allLength - 1) {
                                this.unshift('_partnerAdmins', partnerAdmins[i]);
                                this.unshift('_allPartnerAdmins', partnerAdmins[i]);

                                this._totalPartnerAdmins++;
                            }

                        }
                    }
                }
            },

            removePartnerAdmins: function(partnerAdmins) {
                var length = partnerAdmins.length,
                        _partnerAdmins = this._partnerAdmins,
                        _length = _partnerAdmins.length,
                        allPartnerAdmins = this._allPartnerAdmins,
                        allLength = allPartnerAdmins.length;

                for (var i = 0; i < length; i++) {
                    var role = partnerAdmins[i];

                    for (var j = 0; j < _length; j++) {

                        if (role.self === _partnerAdmins[j].self) {
                            this.splice('_partnerAdmins', j, 1);
                            break;
                        }
                    }

                    for (var k = 0; k < allLength; k++) {

                        if (role.self === allPartnerAdmins[k].self) {
                            this.splice('_allPartnerAdmins', k, 1);
                            break;
                        }
                    }

                    this._totalPartnerAdmins--;

                }

                if (0 === this._partnerAdmins.length) {
                    this._handleEmptyLoad();
                }
            },

            _showProgressBar: function() {
                this.$$('#paperProgress').hidden = false;
            },

            _showLoadMoreProgressBar: function() {
                this.$$('#loadMoreProgress').hidden = false;
            },

            _hideProgressBar: function() {

                setTimeout(function() {
                    this.$$('#paperProgress').hidden = true;
                }.bind(this), 300);

            },

            _hideLoadMoreProgressBar: function() {

                setTimeout(function() {
                    this.$$('#loadMoreProgress').hidden = true;
                }.bind(this), 300);

            },

            _onItemsDomChange: function() {
                var index = this._renderedIndex;

                if (-1 != index) {

                    this.animationConfig.entry.nodes = [];

                    for (var i = 0; i <= index; i++) {
                        var addedItem = this.$$('#appscoPartnerAdminItem_' + i);
                        this.animationConfig.entry.nodes.push(addedItem);
                    }

                    this.playAnimation('entry');

                    this._renderedIndex = -1;
                }

            }
        });
    </script>
</dom-module>
