<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">

<dom-module id="appsco-customer-subscription-toggle">
    <template>
        <style>
            :host {
                display: block;
                @apply(--appsco-customer-subscription-toggle);
            }
            :host paper-toggle-button {
                cursor: pointer;
            }
            :host .info {
                margin-top: 10px;
            }
        </style>

        <paper-toggle-button id="switch"
                             checked$="[[ customer.subscription_paid_externally ]]">Subscription paid externally</paper-toggle-button>

        <div class="info">
            <p>Turn on this option if the subscription for this customer has been paid by the partner.</p>
        </div>

    </template>
    <script>
        Polymer({

            is: 'appsco-customer-subscription-toggle',

            properties: {

                customer: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                }
            },

            listeners: {
                'switch.change': '_onSwitchChanged'
            },

            resetCustomer: function() {
                var customer = JSON.parse(JSON.stringify(this.customer));

                this.set('customer', {});
                this.set('customer', customer);
            },

            _turnSubscriptionPaidExternallyOn: function() {
                this.fire('enable-customer-subscription-paid-externally', {
                    customer: this.customer
                });
            },

            _turnSubscriptionPaidExternallyOff: function() {
                this.fire('disable-customer-subscription-paid-externally', {
                    customer: this.customer
                });
            },

            _onSwitchChanged: function(event) {
                event.target.checked ? this._turnSubscriptionPaidExternallyOn() : this._turnSubscriptionPaidExternallyOff();
            }
        });
    </script>
</dom-module>
