<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">

<link rel="import" href="appsco-customer-item.html">
<link rel="import" href="../components/appsco-list-behavior.html">
<link rel="import" href="../components/appsco-list-styles.html">

<dom-module id="appsco-customers">
    <template>
        <style include="appsco-list-styles"></style>

        <style>
            :host appsco-customer-item {
                width: 100%;
                margin: 0 0 10px 0;
                @apply(--appsco-customer-item);
            }
        </style>

        <iron-ajax id="getListApiRequest"
                   url="[[ _listApi ]]"
                   on-error="_onGetListError"
                   on-response="_onGetListResponse"
                   headers="[[ _headers ]]"
                   debounce-duration="300"></iron-ajax>

        <div class="list-container">

            <paper-progress id="paperProgress"
                            class="list-progress-bar"
                            indeterminate></paper-progress>

            <template is="dom-if" if="[[ _message ]]">
                <p class="message">[[ _message ]]</p>
            </template>

            <template is="dom-if" if="[[ !_listEmpty ]]">
                <div class="list">
                    <template is="dom-repeat"
                              items="[[ _listItems ]]"
                              on-dom-change="_onItemsDomChange">

                        <appsco-customer-item id="appscoListItem_[[ index ]]"
                                              item="[[ item ]]"
                                              type="[[ type ]]"
                                              list-api="[[ listApi ]]"
                                              authorization-token="[[ authorizationToken ]]"
                                              selectable="[[ selectable ]]"
                                              no-auto-display
                                              on-item="_onListItemAction"
                                              on-select-item="_onSelectListItemAction"></appsco-customer-item>

                    </template>
                </div>
            </template>
        </div>

        <template is="dom-if" if="[[ !_listEmpty ]]">
            <div class="load-more-box" hidden$="[[ !_loadMore ]]">
                <paper-progress id="loadMoreProgress"
                                indeterminate></paper-progress>
                <paper-button class="load-more-action" on-tap="_onLoadMoreAction">Load More</paper-button>
            </div>
        </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-customers',

            behaviors: [
                Polymer.AppscoListBehavior
            ],

            reloadInfo: function(group) {
                var groups = JSON.parse(JSON.stringify(this._listItems));

                for (var idx in groups) {
                    if (group.self === groups[idx].self) {
                        this.$$('#appscoListItem_' + idx).reloadInfo(group);
                    }
                }
            }
        });
    </script>
</dom-module>
