<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">


<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../components/appsco-form-error.html">
<link rel="import" href="appsco-customer-subscription-toggle.html">

<dom-module id="appsco-manage-customer-subscription">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply(--appsco-manage-customer-subscription);

                --form-error-box: {
                    margin-top: 0;
                };
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply(--appsco-paper-dialog);
            }
            :host paper-dialog-scrollable > * {
                @apply(--paper-dialog-scrollable-child);
            }
            :host .buttons paper-button {
                @apply(--paper-dialog-button);
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
            :host appsco-loader {
                @apply(--paper-dialog-appsco-loader);
            }
        </style>
        <paper-dialog
                with-backdrop
                id="dialog"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation"
                on-iron-overlay-closed="_onDialogClosed">

            <h2>Change customer subscription</h2>

            <appsco-loader active="[[ _loader ]]" loader-alt="Appsco is processing request" multi-color></appsco-loader>

            <appsco-form-error message="[[ _error ]]"></appsco-form-error>

            <appsco-customer-subscription-toggle id="appscoAccountRoles"
                                                     customer="[[ customer ]]"
                                                     partner="[[ partner ]]"
                                                     authorization-token="[[ authorizationToken ]]"
                                                     api-errors="[[ apiErrors ]]"
                                                     on-customer-subscription-state-changed="_onManageCustomerState"

            ></appsco-customer-subscription-toggle>

                <template is="dom-if" if="[[ _isPaidExternally ]]">
                    <paper-input
                            allowed-pattern="\d+"
                            id="numOfLicences"
                            label="Number of licences"
                            error-message="Please enter number of licences."
                            value="[[ customer.max_subscription_size ]]"
                            auto-validate
                    ></paper-input>
                </template>

            <div class="buttons">
                <paper-button dialog-dismiss>Close</paper-button>
                <template is="dom-if" if="[[ _isPaidExternally ]]">
                    <paper-button autofocus on-tap="_assign">Assign</paper-button>
                </template>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({

            is: 'appsco-manage-customer-subscription',

            properties: {

                /**
                 * Customer for manage
                 */
                customer: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                partner: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * Error message.
                 */
                apiErrors: {
                    type: String
                },

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String
                },

                _isPaidExternally: {
                    type: Boolean,
                    computed: "_computeIsPaidExternally(customer)"
                },

                _loader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Error message.
                 */
                _error: {
                    type: String
                },

                _updateNumberOfLicencesApi: {
                    type: String,
                    computed: '_computeUpdateNumberOfLicencesApi(customer)'
                }
            },

            toggle: function () {
                this.$.dialog.open();
            },

            close: function() {
                this.$.dialog.close();
            },

            setCustomer: function(customer) {
                this.customer = customer;
            },

            _setPartner: function(partner) {
                this.set('partner', {});
                this.set('partner', partner);
            },

            _setCustomer: function(customer) {
                this.set('customer', {});
                this.set('customer', customer);
            },

            _onDialogClosed: function() {
                this._loader = false;
                this._error = '';
            },

            _computeUpdateNumberOfLicencesApi: function(customer) {
                return customer ? (customer.self + '/update-number-of-licences') : '';
            },

            _computeIsPaidExternally: function(customer) {
                return customer && customer.subscription_paid_externally == true;
            },

            _onManageCustomerState: function(event) {
                var customer = event.detail.customer,
                        partner = event.detail.partner;

                this._setCustomer(customer);
                this._setPartner(partner);
            },

            _assign: function() {
                var numberOfLicences = this.$$('#numOfLicences');

                if (numberOfLicences.value.length === 0) {
                    numberOfLicences.invalid = true;
                    numberOfLicences.focus();
                    return false;
                }

                var appRequest = document.createElement('iron-request'),
                        options = {
                            url: this._updateNumberOfLicencesApi,
                            method: 'PUT',
                            handleAs: 'json',
                            headers: {
                                'Authorization': 'token ' + this.authorizationToken,
                                'Content-Type': 'application/x-www-form-urlencoded'
                            },
                            body: 'form[number_of_licences]=' + numberOfLicences.value
                        };

                this._loader = true;

                appRequest.send(options).then(function() {
                    this.$.dialog.close();
                    this._setPartner(appRequest.response.partner);

                    /**
                     * Fired when licences has been assigned to customer.
                     *
                     * @event customer-licences-managed
                     * @param {Object} customer
                     */
                    this.fire('customer-licences-managed', {
                        'customer' : appRequest.response.customer
                    });

                }.bind(this), function() {
                    if (appRequest.status != 200) {
                        this._error = this.apiErrors.getError(appRequest.response.code);
                    }
                    this._loader = false;
                }.bind(this));
            }

        });
    </script>
</dom-module>
