<!doctype html>
<html>
<head>
    <title>appsco-application demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-applications.html">
    <link rel="import" href="../../../../bower_components/paper-toast/paper-toast.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        .size {
            max-width: 792px;
        }

        appsco-applications {
            --appsco-applications-item: {
                margin: 0 20px 20px 0;
            }
        }
    </style>
</head>
<body>

<div class="vertical-section-container centered size">
    <h3>appsco-applications Demo</h3>
    <demo-snippet>
        <template>
            <appsco-applications
                    id="applications"
                    size="4"
                    load-more
                    authorization-token="1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44"
                    applications-api="https://my-dev.appsco.com/api/v2/dashboards/483/icons"
            ></appsco-applications>
            <paper-toast id="toast" text=""></paper-toast>
            <script>
                applications.addEventListener('view', function (e) {
                    toast.text = "Application event view for app  " + e.detail.title;
                    toast.open();
                })
                applications.addEventListener('open', function (e) {
                    toast.text = "Application event open for app  " + e.detail.title;
                    toast.open();
                })
            </script>
        </template>
    </demo-snippet>
</div>

</body>
</html>
