<!doctype html>
<html>
<head>
    <title>appsco-application-analytics-security demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">

    <link rel="import" href="../appsco-application-analytics-security.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        appsco-application-security {
        --appsco-application-security: {
             margin: 5px;
         };
        }
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>appsco-application-analytics-security Demo</h3>
    <demo-snippet>
        <template is="dom-bind">
            <iron-ajax id="iconsRequest"
                       auto
                       url="https://my-dev.appsco.com/api/v2/companies/63/applications?extended=1"
                       headers='{"Authorization": "token 1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44"}'>
            </iron-ajax>

            <appsco-application-analytics-security id="appscoApplicationAnalyticsSecurity"
                                                   info></appsco-application-analytics-security>

            <script>
                iconsRequest.addEventListener('response', function(event) {
                    appscoApplicationAnalyticsSecurity.application = event.detail.response.applications[0];
                });
            </script>
        </template>
    </demo-snippet>
</div>

</body>
</html>
