<!doctype html>
<html>
<head>
    <title>appsco-application demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-application-actions.html">
    <link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="../../../../bower_components/paper-toast/paper-toast.html">
    <link rel="import" href="../../../../bower_components/paper-button/paper-button.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        .size {
            max-width: 800px;
        }
    </style>
</head>
<body>

<div class="vertical-section-container centered size">
    <h3>appsco-application-actions Demo</h3>
    <demo-snippet>
        <template is="dom-bind">

            <paper-toast id="toast" text=""></paper-toast>

            <appsco-application-actions
                    id="actions"
                    authorization-token="1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44"
                    filter-api="https://my-dev.appsco.com/api/v2/dashboards?extended=1"></appsco-application-actions>

            <script>
                actions.addEventListener('filtered', function (e) {
                    toast.text = "Application filter fired for " + e.detail.name + " with id[" + e.detail.id + "]";
                    toast.open();
                });
                actions.addEventListener('search', function (e) {
                    toast.text = "Search with term: " + e.detail.term;
                    toast.open();
                });
            </script>
        </template>
    </demo-snippet>
</div>

<div class="vertical-section-container centered size">
    <h3>appsco-application-actions for business Demo</h3>
    <demo-snippet>
        <template is="dom-bind">

            <paper-toast id="businessToast" text=""></paper-toast>

            <appsco-application-actions
                    id="businessActions"
                    authorization-token="1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44"
                    filter-api="https://my-dev.appsco.com/api/v2/dashboards?extended=1"
                    business></appsco-application-actions>

            <paper-button id="toggleBulkActions">Toggle bulk actions</paper-button>

            <script>
                var bulkActions = false;

                businessActions.addEventListener('search', function(event) {
                    businessToast.text = 'Action event fired: search with term = ' + event.detail.term + '.';
                    businessToast.open();
                });

                businessActions.addEventListener('add-application', function() {
                    businessToast.text = 'Action event fired: add-application.';
                    businessToast.open();
                });

                businessActions.addEventListener('orgunits', function() {
                    businessToast.text = 'Bulk action event fired: orgunits.';
                    businessToast.open();
                });

                businessActions.addEventListener('share', function() {
                    businessToast.text = 'Bulk action event fired: share.';
                    businessToast.open();
                });

                businessActions.addEventListener('remove', function() {
                    businessToast.text = 'Bulk action event fired: remove.';
                    businessToast.open();
                });

                toggleBulkActions.addEventListener('tap', function() {
                    bulkActions = !bulkActions;

                    if (bulkActions) {
                        businessActions.showBulkActions();
                    }
                    else {
                        businessActions.hideBulkActions();
                    }
                });
            </script>
        </template>
    </demo-snippet>
</div>

</body>
</html>
