<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="appsco-application-form-behavior.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<dom-module id="appsco-application-form-item">
    <template>
        <paper-input
                id="username"
                data-field
                label="Username"
                value="[[ claims.username ]]"
                name$="[[ claimsNamePrefix ]][username]"
                required
                error-message="Please enter username"
        ></paper-input>
        <paper-input
                id="password"
                data-field
                label="Password"
                type="password"
                value="[[ claims.password ]]"
                name$="[[ claimsNamePrefix ]][password]"
                required
                error-message="Please enter password"
        ></paper-input>
        <paper-textarea
                id="note"
                data-field
                label="Note"
                value="[[ claims.note ]]"
                name$="[[ claimsNamePrefix ]][note]"
        ></paper-textarea>

        <iron-a11y-keys keys="enter"></iron-a11y-keys>

    </template>
    <script>
        Polymer({
            is: 'appsco-application-form-item',
            
            properties: {
                claimsNamePrefix: {
                    type: String,
                    value: "claims_item"
                }
            },

            behaviors: [
                Polymer.AppscoApplicationFormBehavior
            ]
        });
    </script>
</dom-module>
