
<link rel="import" href="../../../bower_components/polymer/polymer.html">

<script>
    Polymer.AppscoApplicationFormBehavior = {

        properties: {
            claims: {
                type: Object,
                value: function () { return {}; }
            }
        },

        isValid: function() {
            var valid = true;
            Polymer.dom(this.root).querySelectorAll('[data-field]').forEach(function(item, key) {
                item.validate();
                valid = valid && !item.invalid;
            }.bind(this));

            return valid;
        },

        encodedBodyValues: function () {
            var body = '';

            Polymer.dom(this.root).querySelectorAll('[data-field]').forEach(function(item, key) {

                if ('choice' === item.getAttribute('data-field') && item.selectedItem) {
                    var value = item.selectedItem.value;
                    body += body === '' ? '' : '&';
                    body += encodeURIComponent(item.getAttribute('name')) + '=' + encodeURIComponent(value)
                }
                else if (item.value) {
                    body += body === '' ? '' : '&';
                    body += encodeURIComponent(item.getAttribute('name')) + '=' + encodeURIComponent(item.value)
                }
            }.bind(this));

            return body;
        },

        didFieldsChanged: function() {
            var fieldChanged = false;

            for (var prop in this.claims) {

                Polymer.dom(this.root).querySelectorAll('[data-field]').forEach(function(item, key) {
                    var value = ('choice' === item.getAttribute('data-field')) ?
                                (item.selectedItem ? item.selectedItem.value : '') : item.value;

                    fieldChanged = fieldChanged || this.claims[item.getAttribute('id')] !== value;
                }.bind(this));

                return fieldChanged;
            }

            Polymer.dom(this.root).querySelectorAll('[data-field]').forEach(function(item, key) {
                var value = ('choice' === item.getAttribute('data-field')) ?
                        (item.selectedItem ? item.selectedItem.value : '') : item.value;

                fieldChanged = fieldChanged || value;
            }.bind(this));

            return fieldChanged;
        },

        reset: function() {

            Polymer.dom(this.root).querySelectorAll('[data-field]').forEach(function(item, key) {
                item.invalid = false;
            }.bind(this));
        }
    }
</script>