<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="appsco-application-form-behavior.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<dom-module id="appsco-application-form-securenote">
    <template>
        <paper-textarea
                id="note"
                data-field
                label="Note"
                required
                error-message="Please enter note."
                value="[[ claims.note ]]"
                name$="[[ claimsNamePrefix ]][note]"
        ></paper-textarea>

        <iron-a11y-keys keys="enter"></iron-a11y-keys>

    </template>
    <script>
        Polymer({
            is: 'appsco-application-form-securenote',

            properties: {
                claimsNamePrefix: {
                    type: String,
                    value: "claims_securenote"
                }
            },

            behaviors: [
                Polymer.AppscoApplicationFormBehavior
            ]
        });
    </script>
</dom-module>
