<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<!--
`appsco-application-analytics-security`
Contains analytics information about security: security score (in percentage) displayed as colored circle with percentage number
    inside it and security info as text.

    <appsco-application-analytics-security info>
    </appsco-application-analytics-security>

### Styling

`<appsco-application-analytics-security>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--strong-color` | Strong color | `#0f9d58`
`--medium-color` | Medium color | `#4285f4`
`--weak-color` | Weak color | `#db4437`
`--appsco-application-analytics-security` | Mixin for the root element | `{}`
`--security-score` | Mixin for inner score element. | `{}`

@demo demo/appsco-application-analytics-security.html
-->

<dom-module id="appsco-application-analytics-security">
    <template>
        <style>
            :host {
                display: block;
            @apply(--appsco-application-analytics-security);
            }
            .security-score {
            @apply(--paper-font-code1);
            @apply(--layout);
            @apply(--layout-center);
            @apply(--layout-center-justified);
                width: 40px;
                height: 40px;
                box-sizing: border-box;
                border-radius: 50%;
                color: #ffffff;
            @apply(--security-score);
            }
            :host([_strong]) .security-score {
                background-color: var(--strong-color, #0f9d58);
            }
            :host([_medium]) .security-score {
                background-color: var(--medium-color, #4285f4);
            }
            :host([_weak]) .security-score {
                background-color: var(--weak-color, #db4437);
            }
            .policies {
                margin-top: 10px;
            }
            .policy {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        </style>

        <template is="dom-if" if="[[ !_message ]]">
            <div class="security-score">
                [[ _score ]]%
            </div>

            <template is="dom-if" if="[[ info ]]">
                <div class="policies">
                    <div class="policy">
                        Configured instances: [[ _security.info.configured ]]
                    </div>
                    <div class="policy">
                        Unconfigured instances: [[ _security.info.not_configured ]]
                    </div>
                    <div class="policy" hidden$="[[ !_security.info.configured ]]">
                        Lowest score: [[ _security.info.lowest_score ]]%
                    </div>
                </div>
            </template>
        </template>

        <template is="dom-if" if="[[ _message ]]">
            <template is="dom-if" if="[[ info ]]">
                <p>[[ _message ]]</p>
            </template>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-application-analytics-security',

            properties: {

                application: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    observer: '_onApplicationChanged'
                },

                /**
                 * Object that contains info about security.
                 */
                _security: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    observer: '_onSecurityChanged'
                },

                _haveAssignees: {
                    type: Boolean,
                    computed: '_computeAssigness(application)'
                },

                /**
                 * Indicates if info should be displayed beside security score.
                 */
                info: {
                    type: Boolean,
                    value: false
                },

                _score: {
                    type: Number,
                    value: 0
                },

                _strong: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                _medium: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                _weak: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                _message: {
                    type: String
                }
            },

            _computeAssigness: function(application) {
                return (application.security && (application.security.info.not_configured + application.security.info.configured) != 0);
            },

            _onApplicationChanged: function(application) {
                this.set('_security', application ? application.security : {});
            },

            _onSecurityChanged: function(security) {

                if (security && !this._haveAssignees) {
                    this._message = 'You haven\'t shared this resource to anyone yet. Go and share it to your employees.';
                    return false;
                }

                this._message = '';

                this._weak = false;
                this._medium = false;
                this._strong = false;

                if (security && security.score != 0) {
                    var score = Math.round(security.score);

                    this._score = score;

                    if (score > 80) {
                        this._strong = true;
                        return false;
                    }

                    if (score > 60) {
                        this._medium = true;
                        return false;
                    }

                    this._weak = true;
                }
                else {
                    this._score = 0;
                    this._weak = true;
                }

            }
        });
    </script>
</dom-module>
