<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">

<!--
`appsco-application-image`
Application image is used to present application in form of an image or initials if image is not present.

    <appsco-application-image application="{}">
    </appsco-application-image>
-->

<dom-module id="appsco-application-image">
    <template>
        <style>
            :host {
                display: block;
            }
            :host .application-image {
                @apply(--layout-vertical);
                @apply(--layout-center-justified);
                width: 52px;
                height: 52px;
                margin: 0;
                border-radius: 50%;
                @apply(--application-image);
            }
            :host .application-initials {
                background-color: var(--application-initials-background-color, #f5f8fa);
                color: var(--primary-text-color);
            }
            :host .application-initials .initials {
                text-align: center;
                text-transform: uppercase;
                font-size: var(--application-initials-font-size, 18px);
                line-height: var(--application-initials-font-size, 18px);
                color: var(--application-initials-font-color);
            }
        </style>

        <template is="dom-if" if="[[ application.application_url ]]">
            <iron-image class="application-image"
                        sizing="cover"
                        preload fade
                        src="[[ application.application_url ]]"></iron-image>
        </template>

        <template is="dom-if" if="[[ !application.application_url ]]">
            <div class="application-image application-initials">
                <span class="initials">[[ _applicationInitials ]]</span>
            </div>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-application-image',

            properties: {

                application: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                _applicationInitials: {
                    type: String,
                    computed: '_computeApplicationInitials(application)'
                }
            },

            _computeApplicationInitials: function(application) {
                var initials = '';

                if (application.title) {
                    initials = application.title.substring(0, 2);
                }

                return initials;
            }
        });
    </script>
</dom-module>
