<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="appsco-application-details-securenote">
    <template>
        <style>
            :host div[label] {
                color: var(--secondary-text-color);
                @apply(--paper-font-body1);
                @apply(--application-details-label);
            }

            :host div[content] {
                color: var(--primary-text-color);
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--paper-font-subhead);
                @apply(--application-details-value);
            }

            :host .flex {
                @apply(--layout-flex);
                white-space: pre-line;
                height: 200px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            :host > div {
                margin: 6px 0;
            }

            .copy {
                padding-bottom: 180px;
            }

        </style>

        <template is="dom-if" if="[[ claims.note ]]">
            <div label>Note</div>
            <div content>
                <div class="flex">[[ claims.note ]]</div>
                <div class="copy">
                    <appsco-copy value="[[ claims.note ]]"></appsco-copy>
                </div>
            </div>
        </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-application-details-securenote',

            properties: {

                claims: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    notify: true
                }
            }
        });
    </script>
</dom-module>
