<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">

<!--
`appsco-application-info`
Contains app image, title.

    <appsco-application-info>
    </appsco-application-info>

### Styling

`<appsco-application-info>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-application-info` | Mixin for the root element | `{}`

@demo demo/appsco-application-info.html
-->

<dom-module id="appsco-application-info">
    <template>
        <style>
            :host {
                display: block;
                @apply(--layout-vertical);
                @apply(--appsco-application-info);
            }

            :host .basic-info {
                @apply(--layout-horizontal);
                @apply(--layout-center);
            }

            :host iron-image {
                width: 32px;
                height: 32px;
                margin-right: 5px;

            }

            :host span[caption] {
                @apply(--paper-font-caption);
            }

            :host .info {
                @apply(--info-message);
            }
        </style>
        <div class="basic-info">
            <iron-image placeholder="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                        sizing="cover"
                        preload fade src="[[ _applicationIcon ]]"></iron-image>
            <div>
                <span caption>[[ application.title ]]</span>
            </div>
        </div>
        <template is="dom-if" if="[[ application.sso_counterpart ]]">
            <p class="info">
                An SSO counterpart of this application is available. SSO applications simplify the login process for
                users.
            </p>
        </template>
    </template>


    <script>
        Polymer({

            is: 'appsco-application-info',

            properties: {

                /**
                 * Indicates if application belongs to company or not.
                 */
                company: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                /**
                 * [Application](https://developers.appsco.com/api/dashboard/id/icons/id) that is to be rendered
                 */
                application: {
                    type: Object,
                    value: {}
                },

                _applicationIcon: {
                    type: String,
                    computed: '_computeApplicationIcon(company, application)'
                }

            },

            _computeApplicationIcon: function (company, application) {
                return company ? application.application_url : application.icon_url;
            }
        });
    </script>
</dom-module>
