<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">

<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../components/appsco-form-error.html">
<link rel="import" href="appsco-account-card.html">
<link rel="import" href="../components/appsco-search.html">

<!--
`appsco-application-share`
Provides share functionality.

    <appsco-application-share>
    </appsco-application-share>

### Styling

`<appsco-application-share>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-application-share` | Mixin for the root element | `{}`

@demo demo/appsco-application-share.html
-->

<dom-module id="appsco-application-share">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply(--appsco-application-share);
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply(--appsco-paper-dialog);
            }
            :host paper-dialog-scrollable > * {
                @apply(--paper-dialog-scrollable-child);
            }
            appsco-search {
                margin-bottom: 10px;
            }
            .share-container {
                padding-bottom: 20px;
            }
            .account-list {
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
                padding: 2px;
                margin-right: -8px;
            }
            appsco-account-card {
                margin-right: 6px;
                margin-bottom: 6px;
            }
            .selected-account {
                --account-card: {
                    padding-right: 10px;
                    width: 136px;
                };
            }
            :host .buttons paper-button {
                @apply(--paper-dialog-button);
            }
            :host .buttons paper-button[dialog-confirm] {
                @apply(--paper-dialog-confirm-button);
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
            :host .message {
                margin: 0;
                color: var(--secondary-text-color);
                font-style: italic;
                @apply(--paper-font-body2);
                @apply(--info-message);
            }
        </style>

        <paper-dialog
                with-backdrop
                id="shareDialog"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation"
                on-iron-overlay-opened="_onDialogOpened"
                on-iron-overlay-closed="_onDialogClosed">

            <h2>Share resource [[ application.title ]]</h2>

            <paper-dialog-scrollable>
                <div class="share-container">

                    <appsco-loader
                            id="shareLoader"
                            active="[[ _shareLoader ]]"
                            loader-alt="Appsco is processing request"
                            multi-color></appsco-loader>

                    <div class="account-list">

                        <appsco-form-error message="[[ _error ]]"></appsco-form-error>

                        <template is="dom-repeat" items="[[ _accounts ]]">
                            <appsco-account-card class="selected-account"
                                                 account="[[ item ]]"
                                                 remove-action
                                                 on-selected="_removeFromAccounts"></appsco-account-card>
                        </template>
                    </div>

                    <appsco-search id="appscoSearch"
                                   label="Share to others"
                                   float-label
                                   on-search="_onSearch"
                                   on-search-clear="_onSearchClear"></appsco-search>

                    <div class="account-list search-list">

                        <appsco-loader
                                id="searchAccountsLoader"
                                active="[[ _loader ]]"
                                loader-alt="Appsco is loading accounts"
                                multi-color></appsco-loader>

                        <template is="dom-repeat" items="[[ _searchList ]]">
                            <appsco-account-card account="[[ item ]]"
                                                 on-selected="_share"></appsco-account-card>
                        </template>

                        <template is="dom-if" if="[[ _message ]]">
                            <p class="message">
                                [[ _message ]]
                            </p>
                        </template>
                    </div>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_shareApplicationAction">Share</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({

            is: 'appsco-application-share',

            properties: {

                animationConfig: {
                    type: Object,
                    value: function () {
                        return {
                            "entry": {
                                name: "fade-in-animation",
                                timing: {
                                    duration: 200
                                }
                            },
                            "exit": {
                                name: "fade-out-animation",
                                timing: {
                                    duration: 200
                                }
                            }
                        }
                    }
                },

                /**
                 * Number of accounts to load and present
                 */
                size: {
                    type: Number,
                    value: 8
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                /**
                 * [Application](https://developers.appsco.com/api/dashboard/id/icons/id) that is to be rendered
                 */
                application: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    notify: true
                },

                _computedHeaders: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _accounts: {
                    type: Array,
                    value: function () { return []; }
                },

                _searchList: {
                    type: Array,
                    value: function () { return []; }
                },

                /**
                 * Message to display if there is no search result.
                 */
                _message: {
                    type: String
                },

                /**
                 * Accounts API link
                 */
                accountsApi: {
                    type: String
                },

                /**
                 * Indicates if appsco loader should be displayed.
                 */
                _loader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates if appsco loader should be displayed.
                 */
                _shareLoader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Error message for share.
                 */
                _error: {
                    type: String
                },

                /**
                 * Number of successfully shared
                 */
                numberOfSuccess: {
                    type: Number,
                    value: 0
                },

                /**
                 * Number of unsuccessfully shared
                 */
                numberOfFailed: {
                    type: Number,
                    value: 0
                }

            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            listeners: {
                'on-request': '_loading'
            },

            _removeFromAccounts: function(event) {
                var account = event.detail.account;

                this.splice('_accounts', this._accounts.indexOf(account), 1);
                this.push('_searchList', account);
            },

            _share: function(event) {
                var account = event.detail.account;

                this._error = '';
                this.push('_accounts', account);
                this.splice('_searchList', this._searchList.indexOf(account), 1);
            },

            /**
             * Shares application to one account
             *
             * @returns Promise
             * @private
             */
            _shareToUser: function(account) {
                var appRequest = document.createElement('iron-request'),
                    me = this;

                return appRequest.send({
                    url: account.self+"/share",
                    method: "POST",
                    handleAs: 'json',
                    body: "icon="+encodeURIComponent(this.application.self),
                    headers: this._computedHeaders
                });
            },

            /**
             * Shares application to all selected accounts
             *
             * @private
             */
            _shareApplication: function() {
                var me = this,
                    length = this._accounts.length;
                this._accounts.forEach(function(item) {
                    me._shareToUser(item).then(function() {
                        length--;
                        this.numberOfSuccess++;
                        if (0 === length) {
                            this._sharingFinished();
                        }
                    }.bind(this), function() {
                        length--;
                        this.numberOfFailed++;
                        if (0 === length) {
                            this._sharingFinished();
                        }
                    }.bind(this));
                }.bind(this));
            },

            /**
             * Called when all share requests (for all selected accounts) has been finished
             *
             * @private
             */
            _sharingFinished: function() {
                this.$.shareDialog.close();
                this.set('_accounts', []);
                this._shareLoader = false;

                /**
                 * Fired when application has been shared.
                 *
                 * @event application-shared
                 */
                this.fire('application-shared', {
                    application: this.application,
                    success: this.numberOfSuccess,
                    failed: this.numberOfFailed
                });
            },

            _shareApplicationAction: function() {

                if (this._accounts.length > 0) {
                    this._shareLoader = true;

                    setTimeout(function() {
                        this.numberOfSuccess = 0;
                        this.numberOfFailed = 0;
                        this._shareApplication();
                    }.bind(this), 500);
                }
                else {
                    this._error = 'Please add at least one user to share resource to.';
                    this.$.search.focus();
                }

            },

            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            },

            _onSearch: function(event) {
                var value = event.detail.term;

                this._loader = true;
                this.set('_message', '');

                setTimeout(function() {
                    this._error = '';
                }.bind(this), 500);

                if (value.length < 3) {
                    this._message = 'Please type three or more letters.';
                    this._loader = false;
                    this.set('_searchList', []);

                    return false;
                }

                var request = document.createElement('iron-request'),
                    url = this.accountsApi + "?extended=1&limit=" + this.size + '&term=' + value;

                this._message = '';

                var options = {
                    url: url,
                    method: 'GET',
                    handleAs: 'json',
                    headers: this._computedHeaders
                };

                request.send(options).then(function() {
                    var accounts = request.response.accounts;

                    if (accounts && accounts.length > 0) {
                        this.set('_searchList', accounts);
                    }
                    else {
                        this.set('_searchList', []);
                        this._message = 'There are no accounts with asked term. Please check your input.';
                    }

                    this._loader = false;
                }.bind(this));
            },

            _onSearchClear: function() {
                this._reset();
            },

            /**
             * Toggles application share dialog.
             */
            toggle: function() {
                this.$.shareDialog.toggle();
            },

            /**
             * Called after dialog has been opened.
             *
             * @private
             */
            _onDialogOpened: function() {
                this.$.appscoSearch.setup();
            },

            /**
             * Called after dialog has been closed.
             *
             * @private
             */
            _onDialogClosed: function() {
                this._reset();
                this.set('_accounts', []);
            },

            /**
             * It resets share component.
             *
             * @private
             */
            _reset: function() {
                this.$.appscoSearch.reset();
                this.set('_searchList', []);
                this._shareLoader = false;
                this._error = '';
                this._message = '';
            }
        });
    </script>
</dom-module>
