<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">

<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">

<link rel="import" href="appsco-application-subscribers.html">
<link rel="import" href="../components/appsco-loader.html">

<!--
`appsco-application-revoke`
Shows dialog screen with confirmation for removal o application instance.

    <appsco-application-revoke>
    </appsco-application-revoke>

### Styling

`<appsco-application-revoke>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-application-revoke` | Mixin for the root element | `{}`

@demo demo/appsco-application-revoke.html
-->

<dom-module id="appsco-application-revoke">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply(--appsco-application-revoke);
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply(--appsco-paper-dialog);
            }
            :host .buttons paper-button {
                @apply(--paper-dialog-button);
            }
            :host .buttons paper-button[dialog-confirm] {
                @apply(--paper-dialog-confirm-button);
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
        </style>
        <paper-dialog
                with-backdrop
                id="removeDialog"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation">

            <h2>Remove application [[ applicationInstance.application.title ]]</h2>

            <div class="remove-container">
                <appsco-loader active="[[ _loader ]]" loader-alt="AppsCo is revoking access" multi-color></appsco-loader>
                <p>Are you sure you want to remove application [[ applicationInstance.application.title ]]?</p>
            </div>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm autofocus on-tap="_revokeAccess">Revoke</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({

            is: 'appsco-application-revoke',

            properties: {
                authorizationToken: {
                    type: String,
                    value: ''
                },
                /**
                 * [Application](https://developers.appsco.com/api/dashboard/id/icons/id) that is to be rendered
                 */
                applicationInstance: {
                    type: Object,
                    value: function() { return {}; },
                    notify: true
                },

                _loader: {
                    type: Boolean,
                    value: false
                }
            },
            open: function () {
                this.$.removeDialog.open();
            },
            _revokeAccess: function () {
                var revokeUri = this.applicationInstance.self;

                var appRequest = document.createElement('iron-request');

                this._loader = true;

                appRequest.send({
                    url: revokeUri,
                    method: "DELETE",
                    handleAs: 'json',
                    headers: {
                        "Authorization": "token " + this.authorizationToken,
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                }).then(function() {

                    this._loader = false;

                    /**
                     * Fired when applicaiton is deleted
                     *
                     * @event on-application-instance-removed
                     * @param {Object} application [Application](https://developers.appsco.com/api/dashboard/id/icons/id)
                     *                              for which event is fired
                     */
                    this.fire("application-instance-removed", {
                        applicationInstance: this.applicationInstance
                    });

                    this.$.removeDialog.close();
                }.bind(this));
            }
        });
    </script>
</dom-module>
