<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<!--
`appsco-application-security`
Contains security information: security score (in percentage) displayed as colored circle with percentage number
    inside it and security info as text.

    <appsco-application-security>
    </appsco-application-security>

### Styling

`<appsco-application-security>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--strong-color` | Strong color | `#0f9d58`
`--medium-color` | Medium color | `#4285f4`
`--weak-color` | Weak color | `#db4437`
`--icon-pass-color` | Security pass icon color  | `#0f9d58`
`--icon-fail-color` | Security fail icon color  | `#db4437`
`--appsco-application-security` | Mixin for the root element | `{}`
`--security-score` | Mixin for inner score element. | `{}`

@demo demo/appsco-application-security.html
-->

<dom-module id="appsco-application-security">
    <template>
        <style>
            :host {
                display: block;
            @apply(--appsco-application-security);

                --iron-icon-height: 20px;
                --iron-icon-width: 20px;
            --iron-icon: {
                 margin-top: -2px;
             };
            }
            .security-score {
            @apply(--paper-font-code1);
            @apply(--layout);
            @apply(--layout-center);
            @apply(--layout-center-justified);
                width: 40px;
                height: 40px;
                box-sizing: border-box;
                border-radius: 50%;
                color: #ffffff;
            @apply(--security-score);
            }
            :host([strong]) .security-score {
                background-color: var(--strong-color, #0f9d58);
            }
            :host([medium]) .security-score {
                background-color: var(--medium-color, #4285f4);
            }
            :host([weak]) .security-score {
                background-color: var(--weak-color, #db4437);
            }
            .security-info {
                margin-top: 10px;
            }
            .info {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .icon-pass {
                --iron-icon-fill-color: var(--icon-pass-color, #0f9d58);
            }
            .icon-fail {
                --iron-icon-fill-color: var(--icon-fail-color, #db4437);
            }
        </style>

        <div class="security-score">
            [[ _score ]]%
        </div>

        <template is="dom-if" if="[[ info ]]">
            <div class="security-info">
                <p class="info">
                    <template is="dom-if" if="[[ application.security.info.lower_case ]]">
                        <iron-icon icon="check" class="icon-pass"></iron-icon>
                    </template>

                    <template is="dom-if" if="[[ !application.security.info.lower_case ]]">
                        <iron-icon icon="clear" class="icon-fail"></iron-icon>
                    </template>

                    At least two lowercase letters</p>
                <p class="info">
                    <template is="dom-if" if="[[ application.security.info.upper_case ]]">
                        <iron-icon icon="check" class="icon-pass"></iron-icon>
                    </template>

                    <template is="dom-if" if="[[ !application.security.info.upper_case ]]">
                        <iron-icon icon="clear" class="icon-fail"></iron-icon>
                    </template>

                    At least two uppercase letters</p>
                <p class="info">
                    <template is="dom-if" if="[[ application.security.info.special_chars ]]">
                        <iron-icon icon="check" class="icon-pass"></iron-icon>
                    </template>

                    <template is="dom-if" if="[[ !application.security.info.special_chars ]]">
                        <iron-icon icon="clear" class="icon-fail"></iron-icon>
                    </template>

                    At least two special characters</p>
                <p class="info">
                    <template is="dom-if" if="[[ application.security.info.digits ]]">
                        <iron-icon icon="check" class="icon-pass"></iron-icon>
                    </template>

                    <template is="dom-if" if="[[ !application.security.info.digits ]]">
                        <iron-icon icon="clear" class="icon-fail"></iron-icon>
                    </template>

                    At least two digits</p>

                <p class="info">
                    <template is="dom-if" if="[[ application.security.info.length8 ]]">
                        <iron-icon icon="check" class="icon-pass"></iron-icon>
                    </template>

                    <template is="dom-if" if="[[ !application.security.info.length8 ]]">
                        <iron-icon icon="clear" class="icon-fail"></iron-icon>
                    </template>

                    8 or more characters</p>
                <p class="info">
                    <template is="dom-if" if="[[ application.security.info.length16 ]]">
                        <iron-icon icon="check" class="icon-pass"></iron-icon>
                    </template>

                    <template is="dom-if" if="[[ !application.security.info.length16 ]]">
                        <iron-icon icon="clear" class="icon-fail"></iron-icon>
                    </template>

                    16 or more characters</p>
            </div>
        </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-application-security',

            properties: {

                application: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    observer: '_applicationChanged'
                },

                info: {
                    type: Boolean,
                    value: false
                },

                _score: {
                    type: Number,
                    value: 0
                },

                strong: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                medium: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                weak: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                }
            },

            _applicationChanged: function () {

                if (this.application && this.application.security) {
                    var score = this.application.security.score;

                    this._score = Math.round(score);
                    this.weak = false;
                    this.medium = false;
                    this.strong = false;

                    if (score > 80) {
                        this.strong = true;
                        return;
                    }

                    if (score > 60) {
                        this.medium = true;
                        return;
                    }

                    this.weak = true;
                }

            }
        });
    </script>
</dom-module>
