<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="appsco-application-form-behavior.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<dom-module id="appsco-application-form-saml">
    <style>
        paper-dropdown-menu {
            display: block;
        }
        paper-toggle-button {
            margin-top: 20px;
        }
        paper-toggle-button[disabled] {
            --paper-toggle-button-label-color: var(--secondary-text-color);
        }
    </style>
    <template>
        <paper-input
                id="samlIssuer"
                data-field
                label="SAML Issuer"
                value="[[ claims.samlIssuer ]]"
                name$="[[ claimsNamePrefix ]][samlIssuer]"
                error-message="Please enter SAML Issuer"
                auto-validate
                required
        ></paper-input>

        <paper-input
                id="domain"
                data-field
                label="Domain registered at SP"
                value="[[ claims.domain ]]"
                name$="[[ claimsNamePrefix ]][domain]"
                error-message="Please enter domain"
                auto-validate
                required
        ></paper-input>

        <paper-dropdown-menu data-field="choice"
                id="nameIdPolicy"
                name$="[[ claimsNamePrefix ]][nameIdPolicy]"
                label="Name ID Policy"
                horizontal-align="left"
                always-float-label
                disabled="true">
            <paper-listbox
                    id="paperListboxNameIdPolicy"
                    class="dropdown-content filter"
                    attr-for-selected="value" selected="[[ claims.nameIdPolicy ]]">
                <template is="dom-repeat" items="[[ _nameIdPolicyList ]]">
                    <paper-item
                        value="[[ item.value ]]">[[ item.name ]]</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>

        <paper-dropdown-menu data-field="choice"
                 id="confirmationMethod"
                 name$="[[ claimsNamePrefix ]][confirmationMethod]"
                 label="Confirmation method"
                 horizontal-align="left"
                 always-float-label
                 disabled="true">
            <paper-listbox
                    id="paperListboxConfirmationMethod"
                    class="dropdown-content filter"
                    attr-for-selected="value" selected="[[ claims.confirmationMethod ]]">
                <template is="dom-repeat" items="[[ _confirmationMethodList ]]">
                    <paper-item
                            value="[[ item.value ]]">[[ item.name ]]</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>

        <paper-dropdown-menu data-field="choice"
                 id="authenticationContext"
                 name$="[[ claimsNamePrefix ]][authenticationContext]"
                 label="Authentication context"
                 horizontal-align="left"
                 always-float-label
                 disabled="true">
            <paper-listbox
                    id="paperListboxAuthenticationContext"
                    class="dropdown-content filter"
                    attr-for-selected="value" selected="[[ claims.authenticationContext ]]">
                <template is="dom-repeat" items="[[ _authenticationContextList ]]">
                    <paper-item
                            value="[[ item.value ]]">[[ item.name ]]</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>

        <paper-input
                id="acsUrl"
                data-field
                label="ACS URL"
                value="[[ claims.acsUrl ]]"
                name$="[[ claimsNamePrefix ]][acsUrl]"
                error-message="Please enter ACS URL"
                auto-validate
                required
        ></paper-input>

        <paper-toggle-button
            id="allowCreate"
            checked$="[[ claims.allowCreate ]]"
            name="[[ claimsNamePrefix ]][allowCreate]"
            disabled="true"
        >Allow create</paper-toggle-button>

        <iron-a11y-keys keys="enter"></iron-a11y-keys>
    </template>
    <script>
        Polymer({
            is: 'appsco-application-form-saml',

            properties: {
                claims: {
                    type: Object,
                    value: function () { return {}; },
                    observer: '_onClaimsChanged'
                },

                claimsNamePrefix: {
                    type: String,
                    value: "claims_saml"
                },

                domain: {
                    type: String
                },

                _nameIdPolicyList: {
                    type: Array,
                    value: function() {
                        return [
                            {
                                name: 'Email',
                                value: 'urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress'
                            },
                            {
                                name: 'Persistent',
                                value: 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent'
                            }
                        ];
                    }
                },

                _confirmationMethodList: {
                    type: Array,
                    value: function() {
                        return [
                            {
                                name: 'Bearer',
                                value: 'urn:oasis:names:tc:SAML:2.0:cm:bearer'
                            }
                        ];
                    }
                },

                _authenticationContextList: {
                    type: Array,
                    value: function() {
                        return [
                            {
                                name: 'Password',
                                value: 'urn:oasis:names:tc:SAML:2.0:ac:classes:Password'
                            },
                            {
                                name: 'Password protected transport',
                                value: 'urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport'
                            }
                        ];
                    }
                }
            },

            behaviors: [
                Polymer.AppscoApplicationFormBehavior
            ],

            _onClaimsChanged: function(claims) {

                for (key in claims) {
                    return false;
                }

                this.set('claims', {
                    samlIssuer : this.domain,
                    nameIdPolicy : 'urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress',
                    confirmationMethod : 'urn:oasis:names:tc:SAML:2.0:cm:bearer',
                    authenticationContext : 'urn:oasis:names:tc:SAML:2.0:ac:classes:Password',
                    allowCreate : false
                });
            }
        });
    </script>
</dom-module>
