<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/gold-cc-input/gold-cc-input.html">
<link rel="import" href="../../../bower_components/gold-cc-cvc-input/gold-cc-cvc-input.html">
<link rel="import" href="../../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<link rel="import" href="../components/appsco-credit-card-types.html">
<link rel="import" href="appsco-application-form-behavior.html">

<dom-module id="appsco-application-form-cc">
    <template>
        <appsco-credit-card-types types="{{ cardTypes }}"></appsco-credit-card-types>

        <div class="input-container">
            <paper-input
                    id="cardHolder"
                    data-field
                    label="Card holder"
                    value="[[ claims.cardHolder ]]"
                    name$="[[ claimsNamePrefix ]][cardHolder]"
            ></paper-input>
        </div>

        <div class="input-container" hidden>
            <paper-dropdown-menu id="dropdownCreditCardType"
                                 label="Credit card type"
                                 horizontal-align="left">
                <paper-listbox id="paperListboxCardType"
                               class="dropdown-content filter"
                               attr-for-selected="name"
                               selected="[[ cardType ]]">

                    <template is="dom-repeat" items="[[ cardTypes ]]">
                        <paper-item name="[[ item.name ]]"
                                    code="[[ item.code ]]">[[ item.title ]]</paper-item>
                    </template>

                </paper-listbox>
            </paper-dropdown-menu>
        </div>

        <div class="input-container">
            <gold-cc-input id="cardNumber"
                           data-field
                           label="Card number"
                           card-type='{{ cardType }}'
                           required
                           auto-validate
                           error-message="Credit card number is not valid."
                           value="[[ _cardNumber ]]"
                           name$="[[ claimsNamePrefix ]][cardNumber]"
            ></gold-cc-input>
        </div>

        <div class="input-container">
            <gold-cc-cvc-input id="verificationNumber"
                               data-field
                               label="Verification number"
                               card-type='[[ cardType ]]'
                               required
                               auto-validate
                               error-message="Verification number is not valid."
                               value="[[ _verificationNumber ]]"
                               name$="[[ claimsNamePrefix ]][verificationNumber]"
            ></gold-cc-cvc-input>
        </div>

        <div class="input-container">
            <paper-input
                    id="expireMonth"
                    auto-validate
                    pattern="^(0?[1-9]|1[012])$"
                    error-message="Value should be between 1 and 12."
                    data-field
                    label="Expire month"
                    value="[[ claims.expireMonth ]]"
                    name$="[[ claimsNamePrefix ]][expireMonth]"
            ></paper-input>
        </div>

        <div class="input-container">
            <paper-input
                    id="expireYear"
                    data-field
                    label="Expire year"
                    value="[[ claims.expireYear ]]"
                    name$="[[ claimsNamePrefix ]][expireYear]"
            ></paper-input>
        </div>

        <paper-textarea
                id="note"
                rows="3"
                data-field
                label="Note"
                value="[[ claims.note ]]"
                name$="[[ claimsNamePrefix ]][note]"
        ></paper-textarea>

    </template>

    <script>
        Polymer({
            is: 'appsco-application-form-cc',

            properties: {
                _cardNumber: {
                    type: String,
                    computed: '_cardNumberComputed(claims)'
                },

                _verificationNumber: {
                    type: String,
                    computed: '_verificationNumberComputed(claims)'
                },

                claimsNamePrefix: {
                    type: String,
                    value: "claims_cc"
                }
            },

            behaviors: [
                Polymer.AppscoApplicationFormBehavior
            ],

            _cardNumberComputed: function(claims) {
                return (claims && claims.cardNumber) ? claims.cardNumber : '';
            },

            _verificationNumberComputed: function(claims) {
                return (claims && claims.verificationNumber) ? claims.verificationNumber : '';
            }
        });
    </script>
</dom-module>
