<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../components/appsco-copy.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="appsco-application-details-unpw.html">
<link rel="import" href="appsco-application-details-cc.html">
<link rel="import" href="appsco-application-details-passport.html">
<link rel="import" href="appsco-application-details-securenote.html">
<link rel="import" href="appsco-application-details-softwarelicence.html">

<!--
`appsco-application-details`
Application details is used to present application details.

    <appsco-application-details>
    </appsco-application-details>

### Styling

`<appsco-application-details>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-application-details` | Mixin for the root element | `{}`

@demo demo/appsco-application-details.html
-->

<dom-module id="appsco-application-details">
    <template>
        <style>
            :host {
                @apply(--appsco-application-details);
                display: none;

                --paper-icon-button: {
                     height: 18px;
                     width: 18px;
                     padding: 0;
                     color: var(--appsco-application-icons-color);
                 @apply(--application-details-icon-button);
             };
            }

            :host div[label] {
                color: var(--secondary-text-color);
            @apply(--paper-font-body1);
            @apply(--application-details-label);
            }

            :host div[content] {
                color: var(--primary-text-color);
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--paper-font-subhead);
            @apply(--application-details-value);
            }

            :host .flex {
            @apply(--layout-flex);
            @apply(--paper-font-common-nowrap);
            }

            :host > div {
                margin: 6px 0;
            }
        </style>
        <div>
            <div label>Title</div>
            <div content>
                <div class="flex">
                    [[ application.title ]]
                </div>
            </div>
        </div>
        <template is="dom-if" if="[[ _shouldShowUrl ]]">
            <div>
                <div label>Url</div>
                <div content>
                    <div class="flex">
                        [[ application.url ]]
                    </div>
                    <div>
                        <a href="[[ application.url ]]" target="_blank">
                            <paper-icon-button icon="icons:open-in-new"></paper-icon-button>
                        </a>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ _unPwAuth ]]" restamp>
            <appsco-application-details-unpw
                    claims="[[ application.claims ]]"
            ></appsco-application-details-unpw>
        </template>
        <template is="dom-if" if="[[ _itemAuth ]]" restamp>
            <appsco-application-details-unpw
                    claims="[[ application.claims ]]"
            ></appsco-application-details-unpw>
        </template>
        <template is="dom-if" if="[[ _creditCardAuth ]]" restamp>
            <appsco-application-details-cc
                    claims="[[ application.claims ]]"
            ></appsco-application-details-cc>
        </template>
        <template is="dom-if" if="[[ _loginAuth ]]" restamp>
            <appsco-application-details-unpw
                    claims="[[ application.claims ]]"
            ></appsco-application-details-unpw>
        </template>
        <template is="dom-if" if="[[ _passportAuth ]]" restamp>
            <appsco-application-details-passport
                    claims="[[ application.claims ]]"
            ></appsco-application-details-passport>
        </template>
        <template is="dom-if" if="[[ _secureNoteAuth ]]" restamp>
            <appsco-application-details-securenote
                    claims="[[ application.claims ]]"
            ></appsco-application-details-securenote>
        </template>
        <template is="dom-if" if="[[ _softwareLicenceAuth ]]" restamp>
            <appsco-application-details-softwarelicence
                    claims="[[ application.claims ]]"
            ></appsco-application-details-softwarelicence>
        </template>
    </template>
    <script>
        Polymer({

            is: 'appsco-application-details',

            properties: {
                /**
                 * [Application](https://developers.appsco.com/api/dashboard/id/icons/id) that is to be rendered
                 */
                application: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    notify: true
                },

                company: {
                    type: Boolean,
                    value: false
                },

                _shouldShowUrl: {
                    type: Boolean,
                    computed: '_computeShouldShowUrl(application)'
                },

                _unPwAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'unpw')"
                },
                _itemAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'item')"
                },
                _creditCardAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'cc')"
                },
                _loginAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'login')"
                },
                _passportAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'passport')"
                },
                _secureNoteAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'securenote')"
                },
                _softwareLicenceAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'softwarelicence')"
                },

                _supportedAuthTypes: {
                    type: Array,
                    value: function () {
                        return [
                            'icon_item', 'icon_unpw', 'icon_saml', 'icon_jwt', 'icon_cc', 'icon_login',
                            'icon_passport', 'icon_securenote', 'icon_softwarelicence', 'icon_none'
                        ]
                    }
                },

                /**
                 * Animation config.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 500
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            listeners: {
                'application-changed': '_onApplicationChanged',
                'copied': '_onCopied'
            },

            attached: function() {
                this._showApplicationDetails();
            },

            _computeShouldShowUrl: function (applicationIcon) {
                return ['unpw', 'item', 'login', 'none'].indexOf(applicationIcon.auth_type) !== -1;
            },

            _computeAuthType: function (applicationIcon, authType) {
                return applicationIcon.auth_type === authType;
            },

            _onApplicationChanged: function() {
                this._showApplicationDetails();
            },

            _showApplicationDetails: function() {
                this.style.display = 'block';
                this.playAnimation('entry');
            },

            _onCopied: function(event) {
                event.stopPropagation();

                if (event.detail.name) {
                    this.fire('copied-application-attribute', {
                        application: this.application,
                        attribute: event.detail.name
                    });
                }
            }
        });
    </script>
</dom-module>
