<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">

<link rel="import" href="../../../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/hero-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../components/appsco-form-error.html">
<link rel="import" href="appsco-application-info.html">


<link rel="import" href="appsco-application-settings.html">

<!--
`appsco-application-add-settings`
Is used to present application settings.

Example:
    <body>
        <appsco-application-add-settings>
        </appsco-application-add-settings>


### Styling

`<appsco-application-add-settings>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-application-add-settings` | Mixin for the root element | `{}`

@demo demo/appsco-application-add.html
-->

<dom-module id="appsco-application-add-settings">
    <template>
        <style>
            :host {
                display: block;
            }
            :host appsco-application-info {
                margin-bottom: 10px;

            --paper-font-caption: {
                 font-size: 14px;
             };
            }
        </style>

        <div id="applicationHeader">
            <template is="dom-if" if="[[ application.self ]]">
                <appsco-application-info application="[[ application ]]"></appsco-application-info>
            </template>
        </div>
        <div id="appscoApplicationSettings">

            <appsco-loader active="[[ _loader ]]" loader-alt="Appsco is saving application" multi-color></appsco-loader>

            <appsco-form-error message="[[ _error ]]"></appsco-form-error>

            <form is="iron-form"
                  hidden
                  id="addApplicationForm"
                  method="POST"
                  action$="[[ _computedAction ]]"
                  headers="[[ _computedHeaders ]]"
                  on-iron-form-response="_onFormResponse">
                <input type="text" name="application[resource]" value$="[[ applicationTemplate.self ]]">
            </form>

            <appsco-application-settings
                    id="applicationSettings"
                    show-save-button="[[ _saveButton ]]"
                    on-application-settings-no-changes="_fireNoChangesInSettings"
                    on-application-settings-saved="_fireSettingsChanged"
                    authorization-token="[[ authorizationToken ]]"
                    application-tpl="[[ applicationTemplate ]]"
                    application="[[ application ]]"
            ></appsco-application-settings>

        </div>
    </template>

    <script>
        Polymer({

            is: 'appsco-application-add-settings',

            properties: {

                _saveButton: {
                    type: Boolean,
                    value: false
                },

                applicationTemplate: {
                    type: Object,
                    value: function () { return {}; }
                },

                /**
                 * Application to add.
                 */
                application: {
                    type: Object,
                    notify: true,
                    value: function () { return {}; }
                },

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String
                },

                /**
                 * Dashboard API link.
                 * API on which dashboard to save new application.
                 */
                dashboardApi: {
                    type: String
                },

                /**
                 * Computed action to call in order to save application as icon.
                 */
                _computedAction: {
                    type: String,
                    computed: "_computeAction(dashboardApi)"
                },

                /**
                 * Computed headers.
                 * It contains authorization token.
                 */
                _computedHeaders: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                /**
                 * Indicates if appsco loader should be displayed.
                 */
                _loader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Error message for settings form.
                 */
                _error: {
                    type: String
                },

                /**
                 * Animation config with hero animation.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': [{
                                name: 'hero-animation',
                                id: 'hero',
                                toPage: this
                            }, {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 600
                                }
                            }],
                            'exit': {
                                name: 'fade-out-animation',
                                node: this
                            }
                        }
                    }
                },

                /**
                 * Defines shared element of hero animation.
                 */
                sharedElements: {
                    value: function() {
                        return {
                            'hero': this.$.appscoApplicationSettings
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonSharedElementAnimatableBehavior
            ],

            _fireNoChangesInSettings: function (e) {
                this.application = e.detail.application;
                this._onApplicationAdded();
            },

            _fireSettingsChanged: function (e) {
                this.application = e.detail.application;
                this._onApplicationAdded();
            },

            /**
             * Computes action for saving application as icon.
             *
             * @param {String} dashboardApi
             * @returns {string}
             * @private
             */
            _computeAction: function (dashboardApi) {
                return dashboardApi + '/icons';
            },

            /**
             * Computes authorization headers.
             *
             * @param {Object} authorizationToken
             * @returns {{Authorization: string}}
             * @private
             */
            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                }
            },

            /**
             * Called on form error when trying to add new application as icon.
             *
             * @param {Object} event
             * @private
             */
            _onFormError: function(event) {
                this._error = event.detail.error.message;
                this._hideLoader();
            },

            /**
             * Called after application is added as icon.
             * It calls application configure method.
             *
             * @param {Object} event
             * @private
             */
            _onFormResponse: function(event) {
//                this.applicationTemplate = event.detail.response.icon;
                this.$.applicationSettings.save(event.detail.response.icon);
            },

            /**
             * Submits form which adds application as item.
             */
            addApplication: function() {
                if (this.$.applicationSettings.isValid()) {
//                    this._showLoader();
                    this.$.addApplicationForm.submit();
                } else {
                    this.fire('form-error')
                }

            },

            /**
             * Called after application has been added.
             * It fires event.
             *
             * @private
             */
            _onApplicationAdded: function() {
                this._hideLoader();

                /**
                 * Fired after application has been added.
                 *
                 * @event application-added
                 */
                this.fire('application-added', {
                    application: this.application
                });
            },

            _showLoader: function() {
                this._loader = true;
            },

            _hideLoader: function() {
                this._loader = false;
            },

            /**
             * Resets component.
             */
            reset: function() {
                this.$.addApplicationForm.reset();
                this.set('application', {});
                this.set('applicationTemplate', {});
                this.$.applicationSettings.reset();
                this._hideLoader();
            }
        });
    </script>
</dom-module>
