<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="appsco-application-details-cc">
    <template>
        <style>
            :host div[label] {
                color: var(--secondary-text-color);
                @apply(--paper-font-body1);
                @apply(--application-details-label);
            }

            :host div[content] {
                color: var(--primary-text-color);
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--paper-font-subhead);
                @apply(--application-details-value);
            }

            :host .flex {
                @apply(--layout-flex);
                @apply(--paper-font-common-nowrap);
            }

            :host > div {
                margin: 6px 0;
            }
        </style>

        <template is="dom-if" if="[[ claims.cardNumber ]]">
            <div label>Card number</div>
            <div content>
                <div class="flex">
                    [[ claims.cardNumber ]]
                </div>
                <div>
                    <appsco-copy value="[[ claims.cardNumber ]]"></appsco-copy>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ claims.verificationNumber ]]">
            <div label>Verification number</div>
            <div content>
                <div class="flex">
                    ********************
                </div>
                <div>
                    <appsco-copy value="[[ claims.verificationNumber ]]"></appsco-copy>
                </div>
            </div>
        </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-application-details-cc',

            properties: {

                claims: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    notify: true
                }
            }
        });
    </script>
</dom-module>
