<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">

<dom-module id="appsco-application-form-softwarelicence">
    <template>
        <div class="input-container">
            <paper-textarea
                    id="licenceKey"
                    data-field
                    label="Licence key"
                    value="[[ claims.licenceKey ]]"
                    name$="[[ claimsNamePrefix ]][licenceKey]"
            ></paper-textarea>
        </div>

        <div class="input-container">
            <paper-input
                    id="publisher"
                    data-field
                    name$="[[ claimsNamePrefix ]][publisher]"
                    label="Publisher"
                    value="[[ claims.publisher ]]"
            ></paper-input>
        </div>

        <div class="input-container">
            <gold-email-input
                    id="supportEmail"
                    data-field
                    name$="[[ claimsNamePrefix ]][supportEmail]"
                    label="Support email"
                    value="[[ claims.supportEmail ]]"
                    auto-validate
                    error-message="Please type in correct email."
            ></gold-email-input>
        </div>

        <div class="input-container">
            <paper-input
                    id="website"
                    data-field
                    name$="[[ claimsNamePrefix ]][website]"
                    pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                    error-message="Invalid Url"
                    auto-validate
                    label="Website"
                    value="[[ claims.website ]]"
            ></paper-input>
        </div>

        <div class="input-container">
            <paper-input
                    id="numberOfLicences"
                    data-field
                    name$="[[ claimsNamePrefix ]][numberOfLicences]"
                    label="Number of licences"
                    value="[[ claims.numberOfLicences ]]"
                    auto-validate
                    pattern="[0-9]*"
                    error-message="Digits only!"
            ></paper-input>
        </div>

        <div class="input-container">
            <paper-input
                    id="productName"
                    data-field
                    label="Product name"
                    name$="[[ claimsNamePrefix ]][productName]"
                    value="[[ claims.productName ]]"
            ></paper-input>
        </div>

        <div class="input-container date-container">
            <vaadin-date-picker
                    id="licenceExpirationDate"
                    data-field
                    label="Licence expiration date"
                    value="[[ claims.licenceExpirationDate ]]"
                    name$="[[ claimsNamePrefix ]][licenceExpirationDate]"
            ></vaadin-date-picker>
        </div>

        <div class="input-container">
            <paper-textarea
                    id="note"
                    data-field
                    label="Note"
                    value="[[ claims.note ]]"
                    name$="[[ claimsNamePrefix ]][note]"
            ></paper-textarea>
        </div>
    </template>
    <script>
        Polymer({
            is: 'appsco-application-form-softwarelicence',

            properties: {
                claims: {
                    type: Object,
                    value: function () { return {}; }
                },
                claimsNamePrefix: {
                    type: String,
                    value: "claims_softwarelicence"
                }
            },

            isValid: function() {
                this.$.numberOfLicences.validate();
                this.$.website.validate();
                return !this.$.numberOfLicences.invalid && !this.$.website.invalid;
            },

            encodedBodyValues: function () {
                var body = '';

                Polymer.dom(this.root).querySelectorAll('[data-field]').forEach(function(item, key) {
                    if(item.value) {
                        body += body === '' ? '' : '&';
                        body += encodeURIComponent(item.getAttribute('name')) + '=' + encodeURIComponent(item.value)
                    }
                }.bind(this));

                return body;
            },

            didFieldsChanged: function() {
                var fieldChanged = false,
                    claimsExist = false;
                for ( var prop in this.claims ) {
                    claimsExist = true;
                }
                if(!claimsExist) {
                    Polymer.dom(this.root).querySelectorAll('[data-field]').forEach(function(item, key) {
                        fieldChanged = fieldChanged || (item.value && '' !== item.value);
                    }.bind(this));

                    return fieldChanged;
                }

                Polymer.dom(this.root).querySelectorAll('[data-field]').forEach(function(item, key) {
                    fieldChanged = fieldChanged || this.claims[item.getAttribute('id')] !== item.value;
                }.bind(this));

                return fieldChanged;
            }
        });
    </script>
</dom-module>
