<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../components/appsco-copy.html">

<dom-module id="appsco-application-details-idp">
    <template>
        <style>
            :host div[label] {
                color: var(--secondary-text-color);
                @apply(--paper-font-body1);
                @apply(--application-details-label);
            }

            :host div[content] {
                color: var(--primary-text-color);
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--paper-font-subhead);
                @apply(--application-details-value);
            }

            :host .flex {
                @apply(--layout-flex);
                @apply(--paper-font-common-nowrap);
            }

            :host > div {
                margin: 6px 0;
            }
            :host .download-action {
                margin: 0px;
            }
        </style>

        <template is="dom-if" if="[[ idpMetadata.signInUrl ]]">
            <div>
                <div label>Sign in URL</div>
                <div content>
                    <div class="flex">
                        [[ idpMetadata.signInUrl ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ idpMetadata.signInUrl ]]" name="signInUrl"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ idpMetadata.signOutUrl ]]">
            <div>
                <div label>Sign out URL</div>
                <div content>
                    <div class="flex">
                        [[ idpMetadata.signOutUrl ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ idpMetadata.signOutUrl ]]" name="signOutUrl"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ idpMetadata.errorUrl ]]">
            <div>
                <div label>Error URL</div>
                <div content>
                    <div class="flex">
                        [[ idpMetadata.errorUrl ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ idpMetadata.errorUrl ]]" name="errorUrl"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ idpMetadata.resetPasswordUrl ]]">
            <div>
                <div label>Reset password URL</div>
                <div content>
                    <div class="flex">
                        [[ idpMetadata.resetPasswordUrl ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ idpMetadata.resetPasswordUrl ]]" name="resetPasswordUrl"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ idpMetadata.entityId ]]">
            <div>
                <div label>Entity ID</div>
                <div content>
                    <div class="flex">
                        [[ idpMetadata.entityId ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ idpMetadata.entityId ]]" name="entityId"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ idpMetadata.cert.fingerprint ]]">
            <div>
                <div label>Certificate fingerprint [sha1]</div>
                <div content>
                    <div class="flex">
                        [[ idpMetadata.cert.fingerprint ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ idpMetadata.cert.fingerprint ]]" name="fingerprint"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ idpMetadata.cert.sha256Fingerprint ]]">
            <div>
                <div label>Certificate fingerprint [sha256]</div>
                <div content>
                    <div class="flex">
                        [[ idpMetadata.cert.sha256Fingerprint ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ idpMetadata.cert.sha256Fingerprint ]]" name="fingerprint"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ idpMetadata.cert ]]">
            <div>
                <div label>Download</div>
                <div content>
                    <div class="flex">
                        Certificate
                    </div>
                    <div>
                        <paper-icon-button class="download-action" icon="icons:file-download" on-tap="_onDownloadCertificate">
                        </paper-icon-button>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ idpMetadata.metadataUrl ]]">
            <div>
                <div label>Download</div>
                <div content>
                    <div class="flex">
                        IdP metadata
                    </div>
                    <div>
                        <paper-icon-button class="download-action" icon="icons:file-download" on-tap="_onDownloadMetadataXml">
                        </paper-icon-button>
                    </div>
                </div>
            </div>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-application-details-idp',

            properties: {

                idpMetadata: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    notify: true
                }
            },

            _onDownloadCertificate: function(event) {
                event.preventDefault();
                window.location.href = this.idpMetadata.certificateUrl;
            },

            _onDownloadMetadataXml: function(event) {
                event.preventDefault();
                window.location.href = this.idpMetadata.metadataUrl + '?download=1';
            }
        });
    </script>
</dom-module>
