<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<dom-module id="appsco-application-form-securenote">
    <template>
        <paper-textarea
                id="note"
                data-field
                label="Note"
                required
                error-message="Please enter note."
                value="[[ claims.note ]]"
                name$="[[ claimsNamePrefix ]][note]"
        ></paper-textarea>

        <iron-a11y-keys keys="enter"></iron-a11y-keys>

    </template>
    <script>
        Polymer({
            is: 'appsco-application-form-securenote',

            properties: {
                claims: {
                    type: Object,
                    value: function () { return {}; }
                },

                claimsNamePrefix: {
                    type: String,
                    value: "claims_securenote"
                }
            },

            isValid: function() {
                this.$.note.validate();
                return !this.$.note.invalid;
            },

            encodedBodyValues: function () {
                var body = '';

                Polymer.dom(this.root).querySelectorAll('[data-field]').forEach(function(item, key) {
                    body += body === '' ? '' : '&';
                    body += encodeURIComponent(item.getAttribute('name')) + '=' + encodeURIComponent(item.value)
                }.bind(this));

                return body;
            },

            didFieldsChanged: function() {
                var fieldChanged = false,
                    claimsExist = false;
                for ( var prop in this.claims ) {
                    claimsExist = true;
                }
                if(!claimsExist) {
                    Polymer.dom(this.root).querySelectorAll('[data-field]').forEach(function(item, key) {
                        fieldChanged = fieldChanged || (item.value && '' !== item.value);
                    }.bind(this));
                    return fieldChanged;
                }

                Polymer.dom(this.root).querySelectorAll('[data-field]').forEach(function(item, key) {
                    fieldChanged = fieldChanged || this.claims[item.getAttribute('id')] !== item.value;
                }.bind(this));
                return fieldChanged;
            },

            reset: function() {

                Polymer.dom(this.root).querySelectorAll('[data-field]').forEach(function(item, key) {
                    item.invalid = false;
                }.bind(this));
            }
        });
    </script>
</dom-module>
