<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-down-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">

<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../components/appsco-form-error.html">

<link rel="import" href="appsco-application-form-cc.html">
<link rel="import" href="appsco-application-form-unpw.html">
<link rel="import" href="appsco-application-form-item.html">
<link rel="import" href="appsco-application-form-passport.html">
<link rel="import" href="appsco-application-form-login.html">
<link rel="import" href="appsco-application-form-securenote.html">
<link rel="import" href="appsco-application-form-softwarelicence.html">
<link rel="import" href="appsco-application-form-saml.html">

<!--
`appsco-application-sharing-settings`
Is used to present application sharing settings.

Example:
    <body>
        <appsco-application-sharing-settings
            application="{}"></appsco-application-sharing-settings>


### Styling

`<appsco-application-sharing-settings>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-application-sharing-settings` | Mixin for the root element | `{}`

@demo demo/appsco-application-sharing-settings.html
-->

<dom-module id="appsco-application-sharing-settings">
    <template>
        <style>
            :host {
                display: block;
                @apply(--appsco-application-sharing-settings);
            }
            :host paper-toggle-button {
                cursor: pointer;
            }
            :host paper-toggle-button[disabled] {
                opacity: 0.6;
            }
            :host .sharing-settings-form {
                display: none;
                margin-top: 10px;
            }
            :host .submit-button {
                margin: 20px 0 0 0;
                @apply(--form-action);
            }
            :host .info {
                margin-top: 10px;
            }
            :host p {
                margin-top: 4px;
                margin-bottom: 4px;
            }
        </style>

        <appsco-loader active="[[ _loader ]]" loader-alt="Appsco is saving settings" multi-color></appsco-loader>

        <appsco-form-error message="[[ _error ]]"></appsco-form-error>

        <template is="dom-if" if="[[ !_hideToggle ]]">
            <paper-toggle-button id="setByUser"
                                 checked$="[[ _setByUser ]]"
                                 disabled$="[[ !_computedAuthTypes ]]"
                                 on-change="_onChangeSetByUser">Set individually
            </paper-toggle-button>
        </template>

        <div class="info">
            <template is="dom-if" if="[[ _setByUser ]]">
                <p>Every employee sets its own configuration.</p>
                <p>Disable it in order to manage resource configuration for all employees.</p>
            </template>

            <template is="dom-if" if="[[ !_computedAuthTypes ]]">
                <p>This resources can't be set by anyone else but company administrator.</p>
                <p>Please set claims for all employees.</p>
            </template>
        </div>

        <form is="iron-form"
              id="saveSharingSettingsForm"
              class="sharing-settings-form"
              method="POST"
              action="[[ _computedAction ]]"
              headers="[[ _computedHeaders ]]"
              on-iron-form-presubmit="_onFormPresubmit"
              on-iron-form-error="_onFormError"
              on-iron-form-response="_onFormResponse"
              on-keyup="_onInputKeyUp">

        </form>
        <template is="dom-if" if="[[ !_setByUser ]]">

            <template is="dom-if" if="[[ _unPwAuth ]]" restamp>
                <appsco-application-form-unpw
                        data-claims
                        claims-name-prefix="application_claims[claims]"
                        claims="[[ application.claims ]]"
                ></appsco-application-form-unpw>
            </template>
            <template is="dom-if" if="[[ _itemAuth ]]" restamp>
                <appsco-application-form-item
                        data-claims
                        claims-name-prefix="application_claims[claims]"
                        claims="[[ application.claims ]]"
                ></appsco-application-form-item>
            </template>
            <template is="dom-if" if="[[ _creditCardAuth ]]" restamp>
                <appsco-application-form-cc
                        data-claims
                        claims-name-prefix="application_claims[claims]"
                        claims="[[ application.claims ]]"
                ></appsco-application-form-cc>
            </template>
            <template is="dom-if" if="[[ _loginAuth ]]" restamp>
                <appsco-application-form-login
                        data-claims
                        claims-name-prefix="application_claims[claims]"
                        claims="[[ application.claims ]]"
                ></appsco-application-form-login>
            </template>
            <template is="dom-if" if="[[ _passportAuth ]]" restamp>
                <appsco-application-form-passport
                        data-claims
                        claims-name-prefix="application_claims[claims]"
                        claims="[[ application.claims ]]"
                ></appsco-application-form-passport>
            </template>
            <template is="dom-if" if="[[ _secureNoteAuth ]]" restamp>
                <appsco-application-form-securenote
                        data-claims
                        claims-name-prefix="application_claims[claims]"
                        claims="[[ application.claims ]]"
                ></appsco-application-form-securenote>
            </template>
            <template is="dom-if" if="[[ _softwareLicenceAuth ]]" restamp>
                <appsco-application-form-softwarelicence
                        data-claims
                        claims-name-prefix="application_claims[claims]"
                        claims="[[ application.claims ]]"
                ></appsco-application-form-softwarelicence>
            </template>
            <template is="dom-if" if="[[ _samlAuth ]]" restamp>
                <appsco-application-form-saml
                        data-claims
                        claims-name-prefix="application_claims[claims]"
                        claims="[[ application.claims ]]"
                ></appsco-application-form-saml>
            </template>

            <paper-button class="submit-button"
                          on-tap="_submit">Save</paper-button>

            <iron-a11y-keys target="[[ _target ]]"
                            keys="enter"
                            on-keys-pressed="_onEnter"></iron-a11y-keys>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-application-sharing-settings',

            properties: {

                /**
                 * Application to add.
                 */
                application: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    observer: '_onApplicationChanged'
                },

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String
                },

                /**
                 * Computed action to call in order to save application as icon.
                 */
                _computedAction: {
                    type: String,
                    computed: "_computeAction(application)"
                },

                /**
                 * Computed headers.
                 * It contains authorization token.
                 */
                _computedHeaders: {
                    type: Object,
                    computed: "_computeHeaders(authorizationToken)"
                },

                _setByUser: {
                    type: Boolean,
                    value: false,
                    observer: '_handleClaimsForm'
                },

                _unPwAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'unpw')"
                },
                _itemAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'item')"
                },
                _creditCardAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'cc')"
                },
                _loginAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'login')"
                },
                _passportAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'passport')"
                },
                _secureNoteAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'securenote')"
                },
                _softwareLicenceAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'softwarelicence')"
                },
                _samlAuth: {
                    type: Boolean,
                    computed: "_computeAuthType(application, 'saml')"
                },

                /**
                 * Computed auth types.
                 * It returns true if application has auth type: item or unpw.
                 */
                _computedAuthTypes: {
                    type: Boolean,
                    computed: "_computeAuthTypes(application)"
                },

                /**
                 * Returns true if app has auth type: cc, login, passport, securenote or softwarelicence
                 */
                _hideToggle: {
                    type: Boolean,
                    computed: "_shouldToggleBeHidden(application)"
                },


                /**
                 * Target for iron-a11y-keys component.
                 * Submit form on enter.
                 */
                _target: {
                    type: Object,
                    value: function() {
                        return this.$.saveSharingSettingsForm
                    }
                },

                /**
                 * Indicates if appsco loader should be displayed.
                 */
                _loader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Error message for settings form.
                 */
                _error: {
                    type: String
                },

                /**
                 * Animation config with hero animation.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'scale-up-animation',
                                node: this.$.saveSharingSettingsForm,
                                transformOrigin: '0 0',
                                axis: 'y',
                                timing: {
                                    duration: 200
                                }
                            },
                            'exit': {
                                name: 'scale-down-animation',
                                node: this.$.saveSharingSettingsForm,
                                transformOrigin: '0 0',
                                axis: 'y',
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            listeners: {
                'neon-animation-finish': '_onNeonAnimationFinish'
            },

            /**
             * Computes action for saving application as icon.
             *
             * @param {Object} application
             * @returns {string}
             * @private
             */
            _computeAction: function(application) {
                return application.self + '/claims';
            },

            /**
             * Computes authorization headers.
             *
             * @param {Object} authorizationToken
             * @returns {{Authorization: string}}
             * @private
             */
            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            },

            /**
             * Computes auth types of application.
             *
             * @param {Object} application
             * @returns Boolean
             * @private
             */
            _computeAuthTypes: function(application) {
                return true; //(application.auth_type === 'item' || application.auth_type === 'unpw');
            },

            _computeAuthType: function(application, authType) {
                return application.auth_type === authType;
            },

            /**
             * Sharing settings toggle should always be hidden for auth types listed in this method.
             *
             * @returns Boolean
             * @private
             */
            _shouldToggleBeHidden: function(application) {
                return (application.auth_type == 'cc' || application.auth_type == 'login' || application.auth_type == 'passport'
                || application.auth_type == 'securenote' || application.auth_type == 'softwarelicence');
            },

            _onApplicationChanged: function(application) {
                this._setByUser = (application.claim_type === 'individual');
            },

            _onChangeSetByUser: function() {
                var request = document.createElement('iron-request'),
                    options = {
                        url: this._computedAction,
                        method: "PATCH",
                        handleAs: 'json',
                        headers: this._computedHeaders,
                        body: 'application_claims[claim_type]=' + !this._setByUser
                    };

                this._loader = true;
                this.$.setByUser.disabled = true;

                request.send(options).then(function(request) {
                    var application = request.response;

                    this._setByUser = !this._setByUser;
                    this.$.setByUser.disabled = false;
                    this._loader = false;

                    this.fire('claim-type-changed', {
                        application: application
                    });

                }.bind(this));
            },

            _handleClaimsForm: function() {

                if (this._setByUser) {
                    this.reset();
                    this._hideClaimsForm();
                }
                else {
                    this._showClaimsForm();
                }

            },

            _showClaimsForm: function() {
                this.$.saveSharingSettingsForm.style.display = 'block';
                this.playAnimation('entry');
            },

            _hideClaimsForm: function() {
                this.playAnimation('exit');
            },

            _onNeonAnimationFinish: function() {

                if (this._setByUser) {
                    this.$.saveSharingSettingsForm.style.display = 'none';
                }

            },

            /**
             * Submits form on ENTER key using iron-a11y-keys component.
             *
             * @private
             */
            _onEnter: function() {
                this._submit();
            },

            /**
             * Saves application configuration and claims.
             *
             * @private
             */
            _submit: function() {
                var form = Polymer.dom(this.root).querySelector('[data-claims]');
                if(!form.isValid()) {
                    return;
                }
                if(!form.didFieldsChanged()) {
                    this.fire('sharing-settings-saved', {
                        application: this.application
                    });

                    this._loader = false;
                    return;
                }

                this.$.saveSharingSettingsForm.submit();
            },

            _onFormPresubmit: function(event) {
                var form = event.target,
                    formSettings = Polymer.dom(this.root).querySelector('[data-claims]');

                this._loader = true;
                form.request.method = 'PATCH';

                form.request.body = formSettings.encodedBodyValues();
            },

            /**
             * Called on form error when trying to save settings.
             *
             * @param {Object} event
             * @private
             */
            _onFormError: function(event) {
                this._error = event.detail.error.message;
                this._loader = false;
            },

            /**
             * Called after settings have been submitted.
             *
             * @param {Object} event
             * @private
             */
            _onFormResponse: function(event) {
                this.set('application', event.detail.response);

                /**
                 * Fired after sharing settings has been saved.
                 *
                 * @event sharing-settings-saved
                 */
                this.fire('sharing-settings-saved', {
                    application: this.application
                });

                this._loader = false;
            },

            _onInputKeyUp: function() {
                this._error = '';
            },

            /**
             * Resets component.
             */
            reset: function() {
                this.$.saveSharingSettingsForm.reset();
            }
        });
    </script>
</dom-module>
