<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="appsco-application-settings-card">
    <template>
        <style>
            :host {
                @apply(--appsco-application-settings-card);
                display: none;
            }

            :host div[label] {
                color: var(--secondary-text-color);
                @apply(--paper-font-body1);
                @apply(--application-details-label);
            }

            :host div[content] {
                color: var(--primary-text-color);
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--paper-font-subhead);
                @apply(--application-details-value);
            }

            :host .flex {
                @apply(--layout-flex);
                @apply(--paper-font-common-nowrap);
            }

            :host > div {
                margin: 6px 0;
            }
        </style>
        <div>
            <div label></div>
            <div content>
                <div class="flex">
                    Place to manage settings specific to the resource type.
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({

            is: 'appsco-application-settings-card',

            properties: {
                /**
                 * [Application](https://developers.appsco.com/api/dashboard/id/icons/id) that is to be rendered
                 */
                application: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    notify: true
                },

                company: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Animation config.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 500
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            attached: function() {
                this._showApplicationDetails();
            },

            _showApplicationDetails: function() {
                this.style.display = 'block';
                this.playAnimation('entry');
            }
        });
    </script>
</dom-module>
