<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/app-localize-behavior/app-localize-behavior.html">

<!--
`appsco-resource-auth-type`
Component is used to display resource auth type in form of text.
It uses translations to get proper auth type display text.

### Example:

      <appsco-resource-auth-type auth-type=""
                                 language=""></appsco-resource-auth-type>

### Styling

Custom property | Description | Default
----------------|-------------|----------
`--appsco-resource-auth-type` | Mixin applied to the root element | `{}`

-->

<dom-module id="appsco-resource-auth-type">
    <template>
        <style>
            :host {
                display: inline-block;
                color: var(--primary-text-color);
                font-size: 14px;
                @apply(--appsco-resource-auth-type);
            }
        </style>

        [[ localize(authType) ]]
    </template>

    <script>
        Polymer({

            is: 'appsco-resource-auth-type',

            properties: {

                authType: {
                    type: String,
                    value: ''
                },

                language: {
                    value: 'en',
                    type: String
                }
            },

            behaviors: [
                Polymer.AppLocalizeBehavior
            ],

            attached: function() {
                this.loadResources(this.resolveUrl('data/appsco-auth-type-translations.json'));
            }
        });
    </script>
</dom-module>
