<!doctype html>
<html>
<head>
    <title>appsco-account-info-account demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-account-info-account.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        :root {
            --primary-text-color: #8398b1;

        --appsco-brand-info: {
             margin-top: 20px;
         };
        }
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>Basic appsco-account-info-account Demo</h3>
    <demo-snippet>
        <template>
            <appsco-account-info-account
                    account='{
                                "id": "1",
                                "email": "john.doe@exampleemail.com",
                                "first_name": "John",
                                "last_name": "Doe",
                                "locale": "Europe/Serbia",
                                "gender": "m",
                                "country": "RS",
                                "phone": "null",
                                "picture_url": "http://app-layout-assets.appspot.com/assets/PharrellWilliams.jpg",
                                "info": "This account is managed by boutsourcing.com."
                            }'>
            </appsco-account-info-account>
        </template>
    </demo-snippet>
</div>

</body>
</html>
