<!doctype html>
<html>
<head>
    <title>appsco-account-notifications-dropdown demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-account-notifications-dropdown.html">
    <link rel="import" href="../../../../bower_components/paper-button/paper-button.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        :root {}
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>Basic appsco-account-notifications-dropdown Demo</h3>
    <demo-snippet>
        <template is="dom-bind">
            <paper-button id="toggleNotifications">Toggle Notifications</paper-button>

            <appsco-account-notifications-dropdown
                    id="appscoAccountNotificationsDropdown"
                    authorization-token="1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44"
                    notifications-api="https://my-dev.appsco.com/api/v2/notifications"
                    size="8">
            </appsco-account-notifications-dropdown>

            <script>
                toggleNotifications.addEventListener('tap', function(event) {
                    appscoAccountNotificationsDropdown.toggleNotifications(event.target);
                });
            </script>
        </template>
    </demo-snippet>
</div>

</body>
</html>
