<!doctype html>
<html>
<head>
    <title>appsco-account-info demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-account-info.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        :root {}
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>Basic appsco-account-info Demo</h3>
    <demo-snippet>
        <template>
            <appsco-account-info
                    account='{
                                "id": "1",
                                "email": "john.doe@exampleemail.com",
                                "first_name": "John",
                                "last_name": "Doe",
                                "locale": "Europe/Serbia",
                                "gender": "m",
                                "country": "RS",
                                "phone": "null",
                                "picture_url": "https://appsco.com/bundles/appscodashboardapproot/img/profile-avatar.png",
                                "info": "This account is managed by boutsourcing.com."
                            }'
                    info="Info related to account"
                    display-name>
            </appsco-account-info>
        </template>
    </demo-snippet>
</div>

</body>
</html>
