<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">

<dom-module id="appsco-role-save-client-data">
    <template>
        <style>
            :host {
                display: none;
                @apply(--appsco-role-save-client-data);
            }
        </style>

    </template>

    <script type="text/javascript" src="../../../bower_components/clientjs/dist/client.min.js"></script>

    <script>
        Polymer({

            is: 'appsco-role-save-client-data',

            properties: {

                account: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                saveApi: {
                    type: String,
                    value: ''
                },

                _headers: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _device: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                _requestReady: {
                    type: Boolean,
                    computed: '_computeRequestReadyState(account, saveApi, _headers)',
                    observer: '_readyStateChanged'
                }
            },

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                };
            },

            _computeRequestReadyState: function(account, saveApi, headers) {

                for (var key in account) {
                    return (saveApi && headers);
                }

                return false;
            },

            _readyStateChanged: function(state) {

                if (state) {
                    this._sendClientData();
                }
            },

            _sendClientData: function() {
                var client = new ClientJS(),
                    request = document.createElement('iron-request'),
                    options = {
                        url: this.saveApi,
                        method: 'POST',
                        handleAs: 'json',
                        headers: this._headers
                    },
                    accountName = this.account.name ? this.account.name : '',
                    unavailable = 'unavailable';

                options.body = ('byod[name]=' + encodeURIComponent(client.getFingerprint() ?
                    (accountName + ' ' + client.getFingerprint()) : accountName)) +
                    '&byod[device]=' + (client.getDevice() ? encodeURIComponent(client.getDevice()) : unavailable) +
                    '&byod[device_type]=' + encodeURIComponent(client.getDeviceType() ? client.getDeviceType() : 'desktop') +
                    '&byod[device_vendor]=' + (client.getDeviceVendor() ? encodeURIComponent(client.getDeviceVendor()) : unavailable) +
                    '&byod[user_agent]=' + (client.getUserAgent() ? encodeURIComponent(client.getUserAgent()) : unavailable) +
                    '&byod[browser]=' + (client.getBrowser() ? encodeURIComponent(client.getBrowser()) : unavailable) +
                    '&byod[browser_version]=' + (client.getBrowserVersion() ? encodeURIComponent(client.getBrowserVersion()) : unavailable) +
                    '&byod[browser_fingerprint]=' + (client.getFingerprint() ? encodeURIComponent(client.getFingerprint()) : unavailable) +
                    '&byod[operating_system]=' + (client.getOS() ? encodeURIComponent(client.getOS()) : unavailable) +
                    '&byod[operating_system_version]=' + (client.getOSVersion() ? encodeURIComponent(client.getOSVersion()) : unavailable);

                request.send(options).then(function() {

                    if (200 == request.status) {
                        this.set('_device', request.response);
                    }
                }.bind(this));
            }

        });
    </script>
</dom-module>
