<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-styles/shadow.html">

<!--
`appsco-account-actions`
Component that holds actions related to account page.

Example:
    <body>
        <appsco-account-actions advanced>
        </appsco-account-actions>

### Styling

`<appsco-account-actions>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-account-actions` | Mixin for the root element. | `{}`
`--appsco-account-advanced-settings-action` | Mixin for inner advanced settings action element. | `{}`

@demo demo/appsco-account-actions.html
-->

<dom-module id="appsco-account-actions">
    <template>
        <style>
            :host {
                display: block;
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--layout-end-justified);
                @apply(--appsco-account-actions);
            }
            :host .advanced-settings-button {
                @apply(--account-advanced-settings-action);
            }
            :host .advanced-settings-button[active] {
                @apply(--shadow-elevation-2dp);
                @apply(--account-advanced-settings-action-active);
            }
            :host .advanced-settings-button[disabled] {
                opacity: 0.5;
            }
        </style>

        <template is="dom-if" if="[[ advanced ]]">
            <paper-button
                    id="advancedSettingsAction"
                    class="advanced-settings-button"
                    toggles
                    on-tap="_onAdvancedSettingsAction">Advanced settings</paper-button>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-account-actions',

            properties: {

                /**
                 * Indicates if advanced action(s) should be visible or not.
                 */
                advanced: {
                    type: Boolean,
                    value: false
                }

            },

            /**
             * Called on account advanced settings action.
             *
             * @private
             */
            _onAdvancedSettingsAction: function() {

                /**
                 * Fired when advanced settings action is triggered.
                 *
                 * @event advanced-settings
                 */
                this.fire('advanced-settings');
            },

            /**
             * Disables advanced settings action.
             */
            disableAdvancedSettings: function() {
                this.$$('#advancedSettingsAction').disabled = true;
            },

            /**
             * Enables advanced settings action.
             */
            enableAdvancedSettings: function() {
                this.$$('#advancedSettingsAction').disabled = false;
            }

        });
    </script>
</dom-module>
