<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/transform-animation.html">

<link rel="import" href="appsco-contact-item.html">

<dom-module id="appsco-contacts">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                @apply(--layout-vertical);
                @apply(--layout-center);
                @apply(--appsco-contacts);
            }

            :host .contacts {
                @apply(--layout-vertical);
                @apply(--layout-start);
                @apply(--appsco-contacts);
            }
            :host appsco-contact-item {
                width: 100%;
                margin: 0 0 10px 0;
                @apply(--appsco-contact-item);
            }
            :host .contacts-container {
                width: 100%;
                position: relative;
            }
            :host appsco-loader {
                background-color: rgba(255, 255, 255, 0.4);
            }
            :host .load-more-box {
                margin-top: 10px;
                padding-top: 4px;
                position: relative;
            }
            :host .load-more-box paper-progress {
                width: 100%;
                position: absolute;
                top: 4px;
                left: 0;
            }
            :host .contacts-progress-bar {
                min-width: 100px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                @apply(--contacts-progress-bar);
            }
            :host paper-button {
                display: block;
                width: 120px;
                margin: 20px auto 0;
                text-align: center;
                @apply(--load-more-button);
            }
            :host .message {
                color: var(--secondary-text-color);
                font-style: italic;
                @apply(--paper-font-body2);
                @apply(--info-message);
            }
        </style>

        <div class="contacts-container">

            <iron-ajax
                    id="_getContactsApiRequest"
                    url="[[ _contactsApiUrl ]]"
                    on-error="_onError"
                    on-response="_onResponse"
                    headers="[[ _computedHeaders ]]"
                    debounce-duration="300"></iron-ajax>

            <paper-progress id="paperProgress"
                            class="contacts-progress-bar"
                            indeterminate></paper-progress>

            <template is="dom-if" if="[[ _message ]]">
                <p class="message">[[ _message ]]</p>
            </template>

            <template is="dom-if" if="[[ _hasContacts ]]">
                <div class="contacts">
                    <template is="dom-repeat"
                              items="{{ _contacts }}"
                              on-dom-change="_onItemsDomChange">

                        <appsco-contact-item
                                id="appscoContactItem_[[ index ]]"
                                contact="{{ item }}"
                                active="{{ item.selected }}"
                                authorization-token="[[ authorizationToken ]]"
                                on-contact="_onContactAction"
                        ></appsco-contact-item>

                    </template>
                </div>
            </template>
        </div>

        <template is="dom-if" if="[[ _hasContacts ]]">
            <div class="load-more-box" hidden$="[[ !_loadMore ]]">
                <paper-progress id="loadMoreProgress" indeterminate></paper-progress>
                <paper-button on-tap="_loadMoreContacts" id="loadMore">Load More</paper-button>
            </div>
        </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-contacts',

            properties: {

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String,
                    value: ''
                },

                /**
                 * Route to retrieve accounts for current user
                 */
                contactsApi: {
                    type: String,
                    value: ''
                },

                /**
                 * Number of account items to load and present
                 */
                size: {
                    type: Number,
                    value: 10
                },

                /**
                 * Show load more button
                 */
                loadMore: {
                    type: Boolean,
                    value: false
                },

                _loadMore: {
                    type: Boolean,
                    value: false
                },

                _computedHeaders: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _contacts: {
                    type: Array,
                    value: function () {
                        return [];
                    },
                    notify: true
                },

                _allContacts: {
                    type: Array,
                    value: function () {
                        return [];
                    }
                },

                _hasContacts: {
                    type: Boolean,
                    value: false
                },

                _message: {
                    type: String,
                    value: ''
                },

                _contactsApiUrl: {
                    type: String,
                    computed: '_computeContactsApiUrl(contactsApi, size)',
                    observer: '_onContactsApiUrlChanged'
                },

                _searchContactsApiUrl: {
                    type: String,
                    computed: '_computeSearchContactsApiUrl(contactsApi, _filterTerm)'
                },

                _next: {
                    type: String
                },

                _totalContacts: {
                    type: Number,
                    value: 0
                },

                _renderedIndex: {
                    type: Number,
                    value: -1
                },

                _filterTerm: {
                    type: String,
                    value: ''
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'cascaded-animation',
                                animation: 'slide-from-left-animation',
                                nodes: [],
                                nodeDelay: 50,
                                timing: {
                                    duration: 300
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            _computeContactsApiUrl: function(contactsApi, size) {
                return (contactsApi && size) ? (contactsApi + '?page=1&extended=1&limit=' + size) : '';
            },

            _computeSearchContactsApiUrl: function(contactsApi, term) {
                return (contactsApi && term) ? (contactsApi + '?page=1&extended=1&limit=100&term=' + term) : '';
            },

            _onContactsApiUrlChanged: function(url) {

                if (url && url.length > 0) {
                    this._loadContacts();
                }
            },

            _loadContacts: function () {
                this._showProgressBar();
                this._loadMore = false;
                this.set('_contacts', []);
                this.set('_allContacts', []);
                this.$._getContactsApiRequest.generateRequest();
            },

            _loadMoreContacts: function () {
                this._showLoadMoreProgressBar();
                this.$._getContactsApiRequest.url = this._next;
                this.$._getContactsApiRequest.generateRequest();
            },

            _onError: function() {
                this._message = 'We couldn\'t load contacts at the moment. Please try again in a minute.';
                this._handleEmptyLoad();
            },

            _handleEmptyLoad: function() {
                this._hasContacts = false;
                this._message = 'There are no contacts.';

                /**
                 * Fired when there are no contacts.
                 *
                 * @event empty-load
                 */
                this.fire('empty-load');

                this._hideProgressBar();
                this._hideLoadMoreProgressBar();
            },

            _onResponse: function(event) {
                var response = event.detail.response,
                    contacts = response.contacts,
                    meta = response.meta,
                    contactsCount = contacts.length - 1;

                this._totalContacts = meta.total;
                this._next = meta.next + "&limit=" + this.size;

                if (meta.total === 0) {
                    this._handleEmptyLoad();
                    return false;
                }

                this._hasContacts = true;
                this._message = '';

                contacts.forEach(function(el, index) {

                    setTimeout( function() {
                        el.selected = false;

                        this.push('_contacts', el);
                        this.push('_allContacts', el);

                        if (index === contactsCount) {

                            this._loadMore = this.loadMore;

                            if (this._contacts.length === meta.total) {
                                this._loadMore = false;
                            }

                            this._hideProgressBar();
                            this._hideLoadMoreProgressBar();
                            this._setLoadMoreAction();

                            /**
                             * Fired when contacts are loaded
                             *
                             * @event loaded
                             * @param {Object} contacts[]
                             */
                            this.fire('loaded', {
                                contacts: contacts
                            });
                        }

                    }.bind(this), (index + 1) * 30 );

                }.bind(this));
            },

            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                }
            },

            _setLoadMoreAction: function() {

                if (this.loadMore && this._allContacts.length < this._totalContacts) {
                    this._loadMore = true;
                }
                else {
                    this._loadMore = false;
                }

            },

            _hideLoadMoreAction: function() {
                this._loadMore = false;
            },

            addContacts: function(contacts) {
                var length = contacts.length;

                this._hasContacts = true;
                this._message = '';
                this._renderedIndex = length - 1;

                for (var i = 0; i < length; i++) {
                    contacts[i].selected = false;
                    this.unshift('_contacts', contacts[i]);
                    this.unshift('_allContacts', contacts[i]);

                    this._totalContacts++;
                }
            },

            modifyContacts: function(contacts) {
                var _contacts = JSON.parse(JSON.stringify(this._contacts)),
                    _length = _contacts.length,
                    allContacts = JSON.parse(JSON.stringify(this._allContacts)),
                    allLength = allContacts.length,
                    lengthModify = contacts.length;

                for (var i = 0; i < lengthModify; i++) {
                    var contact = contacts[i];

                    for (var j = 0; j < _length; j++) {
                        if (contact.self === _contacts[j].self) {
                            contact.selected = _contacts[j].selected;
                            _contacts[j] = contact;
                            break;
                        }
                    }

                    for (var k = 0; k < allLength; k++) {
                        if (contact.self === allContacts[k].self) {
                            contact.selected = allContacts[k].selected;
                            allContacts[k] = contact;
                            break;
                        }
                    }

                }

                this.set('_contacts', []);
                this.set('_contacts', _contacts);

                this.set('_allContacts', []);
                this.set('_allContacts', allContacts);
            },

            reloadContacts: function() {
                this._loadContacts();
            },

            removeContacts: function(contacts) {
                var length = contacts.length,
                    _contacts = this._contacts,
                    _length = _contacts.length,
                    allContacts = this._allContacts,
                    allLength = allContacts.length;

                for (var i = 0; i < length; i++) {
                    var contact = contacts[i];

                    for (var j = 0; j < _length; j++) {

                        if (contact.self === _contacts[j].self) {
                            this.splice('_contacts', j, 1);
                            break;
                        }
                    }

                    for (var k = 0; k < allLength; k++) {

                        if (contact.self === allContacts[k].self) {
                            this.splice('_allContacts', k, 1);
                            break;
                        }
                    }

                    this._totalContacts--;

                }

                if (0 === this._contacts.length) {
                    this._handleEmptyLoad();
                }
            },

            selectAll: function(selected) {
                var _allContacts = JSON.parse(JSON.stringify(this._allContacts)),
                        _contacts = JSON.parse(JSON.stringify(this._contacts)),
                        _length = _contacts.length,
                        _allLength = _allContacts.length;

                for (var i = 0; i < _length; i++) {
                    _contacts[i].selected = selected;
                }

                for (var j = 0; j < _allLength; j++) {
                    _allContacts[j].selected = selected;
                }
                this.set('_contacts', []);
                this.set('_contacts', _contacts);

                this.set('_allContacts', []);
                this.set('_allContacts', _allContacts);
            },

            getTotalCount: function() {
                return this._totalContacts;
            },

            getSelectedContacts: function() {
                var allContacts = this._allContacts,
                    allLength = allContacts.length,
                    selectedContacts = [];

                for (var i = 0; i < allLength; i++) {
                    if (allContacts[i].selected) {
                        selectedContacts.push(allContacts[i]);
                    }
                }

                return selectedContacts;
            },

            getSelectedContactsWithLabels: function(labels) {
                var selectedContacts = this.getSelectedContacts(),
                        contactsLength = selectedContacts.length,
                        labelsLength = labels.length,
                        result = [];

                for (var i = 0; i < labelsLength; i++) {
                    var label = labels[i];

                    for (var j = 0; j < contactsLength; j++) {
                        var roleLabels = selectedContacts[j].labels,
                                length = roleLabels.length;

                        for (var k = 0; k < length; k++) {

                            if (label.alias === roleLabels[k].alias) {
                                result.push(selectedContacts[j]);
                                break;
                            }
                        }

                    }
                }

                return result;
            },

            filterByTerm: function(term) {
                this._filterTerm = term;

                if (term.length < 3) {
                    this._message = '';
                    this.set('_contacts', JSON.parse(JSON.stringify(this._allContacts)));
                    this.fire('filter-done');
                    this._setLoadMoreAction();
                    return false;
                }

                this._searchContacts().then(function(contacts) {
                    this._hideLoadMoreAction();
                    this.set('_contacts', []);

                    if (contacts.length > 0) {
                        this._message = '';

                        contacts.forEach(function(contact, index) {
                            this.push('_contacts', contact);

                            if (index === (contacts.length - 1)) {

                                this._hideProgressBar();
                                this.fire('filter-done');
                            }

                        }.bind(this));

                    }
                    else {
                        this._message = 'There are no contacts with asked term.';
                        this.fire('filter-done');
                    }

                }.bind(this), function(message) {
                    this.set('_contacts', []);
                    this._hideLoadMoreAction();
                    this._message = message;
                    this.fire('filter-done');
                }.bind(this));
            },

            _searchContacts: function() {

                return new Promise(function(resolve, reject) {
                    var request = document.createElement('iron-request'),
                        options = {
                            url: this._searchContactsApiUrl,
                            method: 'GET',
                            handleAs: 'json',
                            headers: this._computedHeaders
                        };

                    request.send(options).then(function() {

                        if (request.response) {
                            resolve(request.response.contacts);
                        }

                    }, function() {

                        if (request.response) {
                            reject(request.response.message);
                        }
                        else {
                            reject('There was an error in searching contacts with given term. Please contact AppsCo support.');
                        }
                    });
                }.bind(this));
            },

            _showProgressBar: function() {
                this.$$('#paperProgress').hidden = false;
            },

            _showLoadMoreProgressBar: function() {
                this.$$('#loadMoreProgress').hidden = false;
            },

            _hideProgressBar: function() {

                setTimeout(function() {
                    this.$$('#paperProgress').hidden = true;
                }.bind(this), 300);

            },

            _hideLoadMoreProgressBar: function() {

                setTimeout(function() {

                    if (this.$$('#loadMoreProgress')) {
                        this.$$('#loadMoreProgress').hidden = true;
                    }
                }.bind(this), 300);

            },

            _onItemsDomChange: function() {
                var index = this._renderedIndex;

                if (-1 != index) {

                    this.animationConfig.entry.nodes = [];

                    for (var i = 0; i <= index; i++) {
                        var addedItem = this.$$('#appscoContactItem_' + i);
                        this.animationConfig.entry.nodes.push(addedItem);
                    }

                    this.playAnimation('entry');

                    this._renderedIndex = -1;
                }

            },

            _onContactAction: function(event) {
                var contact = event.detail.contact,
                _allContacts = this._allContacts,
                        _contacts = this._contacts,
                        _length = _contacts.length,
                        _allLength = _allContacts.length;

                for (var i = 0; i < _length; i++) {
                    if (contact.self === _contacts[i].self) {
                        _contacts[i].selected = contact.selected;
                    }
                }

                for (var j = 0; j < _allLength; j++) {
                    if (contact.self === _allContacts[j].self) {
                        _allContacts[j].selected = contact.selected;
                    }
                }
            }
        });
    </script>
</dom-module>
