<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">

<!--
`appsco-account-image`
Account image is used to present account in form of an image or initials if image is not present.

    <appsco-account-image account="{}">
    </appsco-account-image>
-->

<dom-module id="appsco-account-image">
    <template>
        <style>
            :host {
                display: block;
            }
            :host .account-image {
                @apply(--layout-vertical);
                @apply(--layout-center-justified);
                width: 52px;
                height: 52px;
                margin: 0;
                border-radius: 50%;
                @apply(--account-image);
            }
            :host .account-image::shadow #sizedImgDiv, :host .account-image::shadow #placeholder {
                border-radius: 50%;
            }
            :host .account-initials {
                background-color: var(--account-initials-background-color, #f5f8fa);
                color: var(--primary-text-color);
            }
            :host .account-initials .initials {
                text-align: center;
                text-transform: uppercase;
                font-size: var(--account-initials-font-size, 18px);
                line-height: var(--account-initials-font-size, 18px);
                color: var(--account-initials-font-color);
            }
        </style>

            <template is="dom-if" if="[[ account.picture_url ]]">
                <iron-image class="account-image"
                            sizing="cover"
                            preload fade
                            src="[[ account.picture_url ]]"></iron-image>
            </template>

            <template is="dom-if" if="[[ !account.picture_url ]]">
                <div class="account-image account-initials">
                    <span class="initials">[[ _accountInitials ]]</span>
                </div>
            </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-account-image',

            properties: {

                account: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                _accountInitials: {
                    type: String,
                    computed: '_computeAccountInitials(account)'
                }
            },

            _computeAccountInitials: function(account) {
                var initials = '';

                if (account && account.first_name && account.last_name) {
                    initials = account.first_name.substring(0, 1) + account.last_name.substring(0, 1);
                }
                else if (account && account.name) {
                    initials = account.name.substring(0, 2);
                }

                return initials;
            }
        });
    </script>
</dom-module>
