<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="appsco-account-image.html">
<link rel="import" href="../components/appsco-list-item-behavior.html">
<link rel="import" href="../components/appsco-list-item-styles.html">

<!--
`appsco-account-item`
Account item is used to present account in form of an item.

    <appsco-account-item item="[]"
                         type="company-role">
    </appsco-account-item>

### Styling

`<appsco-account-item>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-list-item` | Mixin for the list item | `{}`
`--background-color` | Background color applied to list item element | `#fff`
`--color` | Color applied to all the text | `#333`

@demo demo/appsco-account-item.html
-->

<dom-module id="appsco-account-item">
    <template>
        <style include="appsco-list-item-styles"></style>

        <div class="item" on-tap="_onItemAction">

            <div class="select-action"
                 on-tap="_onSelectItemAction">
                <appsco-account-image account="[[ item.account ]]"></appsco-account-image>

                <div class="icon-action">
                    <div class="iron-action-inner">
                        <iron-icon icon="icons:check"></iron-icon>
                    </div>
                </div>
            </div>

            <div class="item-info item-basic-info">
                <span class="info-label item-title">[[ item.account.display_name ]]</span>
                <span class="info-value">[[ item.account.email ]]</span>
            </div>

            <div class="item-info item-additional-info">

                <template is="dom-if" if="[[ !item.security.two_factor ]]">
                    <div class="info">
                        <span class="info-label">Security:&nbsp;</span>
                        <span class="info-value">
                            Two-factor authentication is disabled.
                        </span>
                    </div>
                </template>

                <template is="dom-if" if="[[ _orgUnits ]]">
                    <div class="info">
                        <span class="info-label">Organization units:&nbsp;</span>
                        <span class="info-value">[[ _orgUnits ]]</span>
                    </div>
                </template>

                <template is="dom-if" if="[[ _groups ]]">
                    <div class="info">
                        <span class="info-label">Groups:&nbsp;</span>
                        <span class="info-value">[[ _groups ]]</span>
                    </div>
                </template>
            </div>

            <div class="actions">
                <paper-button on-tap="_onEditItemAction">Edit</paper-button>
            </div>
        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-account-item',

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior,
                Polymer.AppscoListItemBehavior
            ]
        });
    </script>
</dom-module>
