<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">

<link rel="import" href="appsco-account-item.html">
<link rel="import" href="../components/appsco-list-behavior.html">
<link rel="import" href="../components/appsco-list-styles.html">

<!--
`appsco-accounts`
Contains account list and Load More action (if there are more accounts then presented).
Accounts are loaded inside component through iron-ajax.
Component listens for events which have influence on result and changes query in order to retrieve appropriate accounts.

    <appsco-accounts>
    </appsco-accounts>

### Styling

`<appsco-accounts>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-list` | Mixin for the root element | `{}`
`--appsco-account-item` | Mixin for item style | `{}`
`--list` | Mixin for the accounts container | `{}`
`--appsco-list-progress-bar` | Mixin applied to paper-progress for account list | `{}`
`--load-more-button` | Mixin applied to load more action button | `{}`
`--info-message` | Mixin applied to info message | `{}`

@demo demo/appsco-accounts.html
-->

<dom-module id="appsco-accounts">
    <template>
        <style include="appsco-list-styles"></style>

        <style>
            :host appsco-account-item {
                width: 100%;
                margin: 0 0 10px 0;
                @apply(--appsco-account-item);
            }
        </style>

        <iron-ajax id="getListApiRequest"
                   url="[[ _listApi ]]"
                   on-error="_onGetListError"
                   on-response="_onGetListResponse"
                   headers="[[ _headers ]]"
                   debounce-duration="300"></iron-ajax>

        <div class="list-container">

            <paper-progress id="paperProgress"
                            class="list-progress-bar"
                            indeterminate></paper-progress>

            <template is="dom-if" if="[[ _message ]]">
                <p class="message">[[ _message ]]</p>
            </template>

            <template is="dom-if" if="[[ !_listEmpty ]]">
                <div class="list">
                    <template is="dom-repeat"
                              items="[[ _listItems ]]"
                              on-dom-change="_onItemsDomChange">

                        <appsco-account-item id="appscoListItem_[[ index ]]"
                                             item="[[ item ]]"
                                             type="[[ type ]]"
                                             selectable="[[ selectable ]]"
                                             on-item="_onListItemAction"
                                             on-select-item="_onSelectListItemAction"></appsco-account-item>
                    </template>
                </div>
            </template>
        </div>

        <template is="dom-if" if="[[ !_listEmpty ]]">
            <div class="load-more-box" hidden$="[[ !_loadMore ]]">
                <paper-progress id="loadMoreProgress"
                                indeterminate></paper-progress>
                <paper-button class="load-more-action" on-tap="_onLoadMoreAction">Load More</paper-button>
            </div>
        </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-accounts',

            behaviors: [
                Polymer.AppscoListBehavior
            ],

            updateAccount: function(account) {
                var currentItems = JSON.parse(JSON.stringify(this._listItems)),
                    length = currentItems.length,
                    allListItems = JSON.parse(JSON.stringify(this._allListItems)),
                    allLength = allListItems.length;

                for (var j = 0; j < length; j++) {
                    if (account.self === currentItems[j].account.self) {
                        currentItems[j].account = account;
                        break;
                    }
                }

                for (var k = 0; k < allLength; k++) {
                    if (account.self === allListItems[k].account.self) {
                        allListItems[k].account = account;
                        break;
                    }
                }

                this.set('_listItems', []);
                this.set('_listItems', currentItems);

                this.set('_allListItems', []);
                this.set('_allListItems', allListItems);
            },

            filterByType: function(filter) {
                this._filterType = filter;
                this._filterByType();
            },

            _filterByType: function() {
                var filterApi = this.listApi + '?page=1&limit=100&extended=1',
                    filterTerm = this._filterTerm,
                    filterTermPresent = (filterTerm && 3 <= filterTerm.length),
                    filterType = this._filterType;

                this._hideMessage();
                this._showProgressBar();
                this._hideLoadMoreAction();
                this._clearListLoaders();
                this.set('_listItems', []);

                if ('all' !== filterType) {
                    filterApi += '&filter=' + filterType;
                }

                if (filterTermPresent) {
                    filterApi += '&term=' + filterTerm;
                }

                this._getItems(filterApi).then(function(items) {
                    var itemsLength = items.length,
                        allListItems = JSON.parse(JSON.stringify(this._allListItems)),
                        allLength = allListItems.length;

                    if (0 === itemsLength) {
                        var termMessage = filterTermPresent ? 'with asked term' : '';

                        filterType = ('all' === filterType) ? '' : filterType;
                        this._showMessage('There are no ' + filterType + ' ' + this.type + 's ' + termMessage + '.');
                        this._handleEmptyLoad();
                        this.fire('filter-done');
                        return false;
                    }

                    this._listEmpty = false;

                    items.forEach(function(elem, index) {


                        for (var i = 0; i < allLength; i++) {
                            var currentListItem = allListItems[i];

                            if (elem.self === currentListItem.self) {
                                this.push('_listItems', currentListItem);
                                break;
                            }
                            else {

                                if (i === allLength - 1) {
                                    this.push('_listItems', elem);
                                }
                            }
                        }

                        if (index === itemsLength - 1) {
                            this._hideProgressBar();
                            this.fire('filter-done');
                        }

                    }.bind(this));

                }.bind(this));
            }
        });
    </script>
</dom-module>
