<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<!--
`appsco-account-details`
Component holds details about appsco account.

Example:
    <body>
        <appsco-account-details account={}>
        </appsco-account-details>

### Styling

`<appsco-account-details>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-account-details` | Mixin for the root element. | `{}`
`--account-detail-container` | Mixin for the inner element that holds label and value. | `{}`
`--account-details-label` | Mixin applied to detail label. | `{}`
`--account-details-value` | Mixin applied to detail value. | `{}`

@demo demo/appsco-account-details.html
-->

<dom-module id="appsco-account-details">
    <template>
        <style>
            :host {
                display: none;
            }
            :host > div {
                margin: 6px 0;
            @apply(--account-detail-container);
            }
            :host div[label] {
                color: var(--secondary-text-color);
            @apply(--paper-font-body1);
            @apply(--account-details-label);
            }
            :host div[content] {
                color: var(--primary-text-color);
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--paper-font-subhead);
            @apply(--account-details-value);
            }
            :host .flex {
            @apply(--layout-flex);
            @apply(--paper-font-common-nowrap);
            }
        </style>

        <iron-ajax
                auto
                url="[[ _countryListUrl ]]"
                handle-as="json"
                on-response="_onCountryListResponse">
        </iron-ajax>

        <div hidden$="[[ !account.first_name ]]">
            <div label>First name</div>
            <div content>
                <div class="flex">
                    [[ account.first_name ]]
                </div>
            </div>
        </div>

        <div hidden$="[[ !account.last_name ]]">
            <div label>Last name</div>
            <div content>
                <div class="flex">
                    [[ account.last_name ]]
                </div>
            </div>
        </div>

        <div>
            <div label>Email</div>
            <div content>
                <div class="flex">
                    [[ account.email ]]
                </div>
            </div>
        </div>

        <div hidden$="[[ !account.country ]]">
            <div label>Country</div>
            <div content>
                <div class="flex">
                    [[ _accountCountry ]]
                </div>
            </div>
        </div>

        <div hidden$="[[ !account.phone ]]">
            <div label>Phone</div>
            <div content>
                <div class="flex">
                    [[ account.phone ]]
                </div>
            </div>
        </div>

        <div>
            <div label>Public profile</div>
            <div content>
                <div class="flex">
                    [[ _publicProfile ]]
                </div>
            </div>
        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-account-details',

            properties: {

                /**
                 * [Account](https://developers.appsco.com/api/me) that is to be rendered.
                 */
                account: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    observer: '_onAccountChanged'
                },

                /**
                 * Computed country name.
                 */
                _accountCountry: {
                    type: String,
                    computed: '_computeCountry(_countryList, account)'
                },

                /**
                 * Country list to get name of country from.
                 * Country code = account.country.
                 *
                 * This is loaded from local data/country-list.json.
                 */
                _countryList: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                _countryListUrl: {
                    type: String,
                    value: function() {
                        return this.resolveUrl('./data/country-list.json');
                    }
                },

                _publicProfile: {
                    type: String,
                    computed: '_computePublicProfileInfo(account)'
                },

                /**
                 * Animation config.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 500
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            _onCountryListResponse: function(event, ironRequest) {
                this._countryList = ironRequest.response;
            },

            _computeCountry: function(list, account) {
                var length = list.length - 1;

                for (var i = 0; i < length; i++) {
                    var country = list[i];

                    if (country.code == account.country) {
                        return country.name;
                    }

                }

                return '';
            },

            _computePublicProfileInfo: function(account) {
                return (account.profile_options && account.profile_options.public) ? 'On' : 'Off';
            },

            _onAccountChanged: function() {
                this._showDetails();
            },

            _showDetails: function() {
                this.style.display = 'block';
                this.playAnimation('entry');
            }
        });
    </script>
</dom-module>
