<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="appsco-account-image.html">
<link rel="import" href="../components/appsco-date-format.html">
<link rel="import" href="../components/appsco-list-item-behavior.html">
<link rel="import" href="../components/appsco-list-item-styles.html">

<dom-module id="appsco-contact-item">
    <template>
        <style include="appsco-list-item-styles"></style>
        <style>
            :host([tablet-screen]) .item-additional-info {
                display: none;
            }
        </style>

        <iron-media-query query="(max-width: 800px)" query-matches="{{ tabletScreen }}"></iron-media-query>

        <div class="item"
             on-tap="_onItemAction">

            <div class="select-action"
                 on-tap="_onSelectItemAction">
                <appsco-account-image account="[[ item.account ]]"></appsco-account-image>

                <div class="icon-action">
                    <div class="iron-action-inner">
                        <iron-icon icon="icons:check"></iron-icon>
                    </div>
                </div>
            </div>

            <div class="item-info item-basic-info">
                <span class="info-label item-title">[[ item.account.display_name ]]</span>
                <span class="info-value">[[ item.account.email ]]</span>
            </div>

            <div class="item-info item-additional-info">
                <div class="info">
                    <span class="info-label">Added:&nbsp;</span>
                    <appsco-date-format class="info-value"
                                        date="[[ item.createdAt.date ]]"
                                        options='{"year": "numeric", "month": "long", "day": "numeric", "hour": "2-digit", "minute": "2-digit"}'></appsco-date-format>
                </div>

                <template is="dom-if" if="[[ _groups ]]">
                    <div class="info">
                        <span class="info-label">Groups:&nbsp;</span>
                        <span class="info-value">[[ _groups ]]</span>
                    </div>
                </template>
            </div>

            <div class="actions">
                <paper-button on-tap="_onEditItemAction">Edit</paper-button>
            </div>
        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-contact-item',

            properties: {

                tabletScreen: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior,
                Polymer.AppscoListItemBehavior
            ]
        });
    </script>
</dom-module>
