<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/av-icons.html">

<!--
`appsco-account-log-item`
Is used to represent list item such as application log, account-log and account notification.

Example:

    <body>
      <appsco-account-log-item item="{}" short-view>
     </appsco-account-log-item>

 Custom property | Description | Default
----------------|-------------|----------
`--account-log-item` | Mixin applied to root element | `{}`
`--log-item` | Mixin applied to inner log item element | `{}`
`--log-item-image` | Mixin applied to item image | `{}`
`--log-item-image-contain` | Mixin applied to iron-image #sizedImgDiv | `{}`
`--log-item-icon` | Mixin applied to item image | `{}`
`--log-item-message` | Mixin applied to message | `{}`
`--log-item-date` | Mixin applied to date | `{}`
`--log-item-additional-info` | Mixin applied log item additional info | `{}`

@demo demo/appsco-account-log.html
-->

<dom-module id="appsco-account-log-item">
    <template>
        <style include="iron-flex iron-flex-alignment">
            :host {
                display: none;
                padding: 20px 16px 10px 6px;
                border-top: 1px solid var(--divider-color);
                line-height: 1.4;
                position: relative;

            @apply(--account-log-item);
            }
            :host .item {
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--log-item);
            }
            :host .item-container {
                overflow: hidden;
            @apply(--layout-vertical);
            @apply(--layout-flex);
            }
            :host .basic-info {
            @apply(--layout-horizontal);
            @apply(--layout-center);
            }
            :host .additional-info {
                margin-top: 10px;
                font-size: 12px;
                opacity: 0.8;
            @apply(--layout-vertical);
            @apply(--log-item-additional-info);
            }
            :host .item-image {
                width: 32px;
                height: 32px;
                margin-right: 10px;
            @apply(--layout-flex-none);
            @apply(--log-item-image);
            }
            :host .item-image::shadow #sizedImgDiv {
            @apply(--log-item-image-contain);
            }
            :host .item-icon {
                width: 28px;
                height: 28px;
                margin-left: 2px;
                margin-right: 12px;
            @apply(--layout-flex-none);
            @apply(--log-item-icon);
            }
            :host .item-date {
                font-size: 11px;
                position: absolute;
                top: 5px;
                right: 6px;
                opacity: 0.5;
            @apply(--log-item-date);
            }
            :host .item-message {
                @apply(--text-wrap-break);
            @apply(--log-item-message);
            }
            :host([short-view]) .additional-info {
                display: none;
            }
        </style>

        <div class="item">
            <div class="item-date">[[ _dateFormat(item.date) ]]</div>

            <div class="item-container">
                <div class="basic-info">

                    <template is="dom-if" if="[[ item.image ]]">
                        <iron-image
                                src="[[ item.image ]]"
                                sizing="contain"
                                class="item-image"></iron-image>
                    </template>

                    <template is="dom-if" if="[[ item.icon ]]">
                        <iron-icon icon="[[ item.icon ]]"
                                   class="item-icon"></iron-icon>
                    </template>

                    <template is="dom-if" if="[[ _useDefaultIcon ]]">
                        <iron-icon icon="list"
                                   class="item-icon"></iron-icon>
                    </template>

                    <div class="item-message">[[ item.message ]]</div>
                </div>

                <div class="additional-info">
                    IP address: [[ item.address ]]
                </div>
            </div>
        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-account-log-item',

            properties: {

                /**
                 * Item to display.
                 *
                 * @type {Object}
                 */
                item: {
                    type: Object
                },

                /**
                 * Indicates if short view should be displayed.
                 */
                shortView: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                _useDefaultIcon: {
                    type: Boolean,
                    computed: '_shouldUseDefaultIcon(item)'
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            attached: function() {
                this.style.display = 'block';
                this.playAnimation('entry');
            },

            /**
             * Formats date and returns formatted date as string.
             *
             * @param {String} value
             * @returns {string}
             * @private
             */
            _dateFormat: function(value) {

                if (value) {

                    var options = {
                        weekday: "long", year: "numeric", month: "short",
                        day: "numeric", hour: "2-digit", minute: "2-digit"
                    };

                    return (new Date(value)).toLocaleDateString('en', options);
                }

            },

            _shouldUseDefaultIcon: function(item) {
                return !item.image && !item.icon;
            }
        });
    </script>
</dom-module>
