<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">

<link rel="import" href="../components/appsco-date-format.html">
<link rel="import" href="appsco-account-image.html">

<dom-module id="appsco-contact-item">
    <template>
        <style>
            :host {
                display: none;
                color: var(--primary-text-color);
            }
            :host .item {
                text-align: center;
                width: 141px;
                height: 156px;
                overflow: hidden;
                @apply(--shadow-elevation-2dp);
                position: relative;
                background-color: var(--background-color, #fff);
                padding: 0 4px;
                cursor: pointer;
                @apply(--appsco-contact-item);
            }
            :host .item:hover {
                @apply(--shadow-elevation-4dp);
            }
            :host .contact-title {
                display: block;
                height: 32px;
                line-height: 16px;
                @apply(--paper-font-common-base);
                font-size: 14px;
                font-weight: 400;
                overflow: hidden;
            }
            :host .actions {
                @apply(--layout-horizontal);
                @apply(--layout-center);
                position: absolute;
                bottom: 2px;
            }
            :host paper-button {
                @apply(--paper-font-common-base);
                @apply(--paper-font-common-nowrap);

                padding: 4px;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.018em;
                line-height: 18px;
                text-transform: uppercase;
            }
            :host paper-button[disabled] {
                background: transparent;
            }
            :host([company][active]) .item {
                background: var(--brand-color);
                color: var(--brand-text-color);
                transition: all 0.2s ease-in;
            }
            :host .item {
                width: 100%;
                height: 70px;
                padding: 0 10px;
                box-sizing: border-box;
                border-radius: 3px;
                text-align: left;
                @apply(--layout-horizontal);
                @apply(--layout-center);
                transition: all 0.1s ease-out;
            }
            :host .contact-info {
                @apply(--layout-vertical);
                @apply(--layout-start);
                padding: 0 10px;
            }
            :host .contact-basic-info {
                width: 220px;
                @apply(--contact-basic-info);
            }
            :host .contact-additional-info {
                border-left: 1px solid var(--divider-color);
                @apply(--contact-additional-info);
            }
            :host .contact-basic-info .info-label, :host .contact-basic-info .info-value {
                width: 220px;
                @apply(--paper-font-common-nowrap);
                @apply(--contact-basic-info-values);
            }
            :host .contact-additional-info .info {
                @apply(--layout-horizontal);
                @apply(--layout-center);
            }
            :host .contact-additional-info .info-label {
                color: var(--secondary-text-color);
            }
            :host .contact-additional-info .info-label, :host .contact-additional-info .info-value {
                font-size: 13px;
                line-height: 18px;
                @apply(--paper-font-common-nowrap);
                @apply(--contact-additional-info-values);
            }
            :host .info-label {
                font-size: 16px;
                height: auto;
                line-height: normal;
            }
            :host .info-value {
                display: block;
                font-size: 12px;
            }
            :host .actions {
                right: 4px;
                bottom: 4px;
            }
        </style>

        <div class="item" on-tap="_onContactAction">

            <appsco-account-image account="[[ contact.account ]]"></appsco-account-image>

            <div class="contact-info contact-basic-info">
                <span class="info-label contact-title">[[ contact.account.display_name ]]</span>
                <span class="info-value">[[ contact.account.email ]]</span>
            </div>


            <div class="contact-info contact-additional-info">
                <div class="info">
                    <span class="info-label">Contact</span>
                </div>
                <div class="info">
                    <span class="info-label">Added:&nbsp;</span>
                    <appsco-date-format class="info-value"
                                        date="[[ contact.createdAt.date ]]"
                                        options='{"year": "numeric", "month": "long", "day": "numeric", "hour": "2-digit", "minute": "2-digit"}'></appsco-date-format>
                    <!--<span class="info-value"></span>-->
                </div>
            </div>

            <div class="actions">
                <paper-button on-tap="_onEdit">Edit</paper-button>
            </div>
        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-contact-item',

            properties: {

                /**
                 * Indicates if user manages company contacts or not.
                 */
                company: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                /**
                 * [contact](https://developers.appsco.com/api/dashboard/id/icons/id) that is to be rendered
                 */
                contact: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                active: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            attached: function() {
                this.style.display = 'inline-block';
                this.playAnimation('entry');
            },

            _onEdit: function (event) {
                event.stopPropagation();

                /**
                 * Fired when `edit` is tapped.
                 * @event edit
                 */
                this.fire('edit', {
                    contact: this.contact
                });
            },

            _onContactAction: function() {
                this.active = !this.active;

                /**
                 * Fired when whole item is tapped.
                 *
                 * @event contact
                 */
                this.fire('contact', {
                    contact: this.contact
                });
            },

            select: function() {
                this.active = true;
            },

            deselect: function() {
                this.active = false;
            }

        });
    </script>
</dom-module>
