<link rel="import" href="../../../bower_components/polymer/polymer.html">

<!--
`appsco-account`
Component that represents composition of components related to appsco account.

@demo demo/index.html 
-->

<dom-module id="appsco-account">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <p>
            Component that represents composition of components related to appsco account.
        </p>

    </template>

    <script>
        Polymer({

            is: 'appsco-account',

            properties: {}

        });
    </script>
</dom-module>
