<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">

<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../components/appsco-loader.html">

<dom-module id="appsco-account-remove-personal">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
            }
            :host paper-dialog {
                width: 670px;
            }
            :host paper-button {
                @apply(--paper-dialog-button)
            }
            :host paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
            :host paper-button[dialog-confirm] {
                @apply(--paper-dialog-confirm-button);
            }
        </style>

        <paper-dialog
                id="removeDialog"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation"
                on-iron-overlay-closed="_onDialogClosed">



            <div class="remove-container">

                <appsco-loader active="[[ _loader ]]" loader-alt="Appsco is removing your account" multi-color></appsco-loader>

                <h2>Delete account </h2>

                <p>If you delete your account all your data will be lost. Please confirm delete.</p>
            </div>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confir autofocus on-tap="_onAccountRemove">Remove</paper-button>
            </div>

        </paper-dialog>

    </template>
    <script>
        Polymer({
            is: 'appsco-account-remove-personal',

            properties: {
                authorizationToken: {
                    type: String,
                    value: ''
                },

                removeAccountApi: {
                    type: String
                },

                logoutApi: {
                    type: String
                },

                _loader: {
                    type: Boolean,
                    value: false
                }

            },
            open: function() {
                this.$.removeDialog.open();
            },
            _onDialogClosed: function() {
                this._loader = false;
            },
            _onAccountRemove: function() {
                var appRequest = document.createElement('iron-request');

                this._loader = true;

                appRequest.send({
                    url: this.removeAccountApi,
                    method: 'DELETE',
                    handleAs: 'json',
                    headers: {
                        "Authorization": "token " + this.authorizationToken
                    }
                }).then(function() {
                    this.$.removeDialog.close();
                    window.location.href = this.logoutApi;
                }.bind(this));
            }
        });
    </script>
</dom-module>
