<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../components/appsco-import-resource.html">

<dom-module id="appsco-import-contacts">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply(--appsco-import-contacts);
            }
            :host .info {
                margin: 0;
            }
            .download-action {
                color: var(--primary-text-color);
                display: inline;
                padding: 0;
                font-size: 12px;
            }
            .download-icon {
                width: 18px;
                height: 18px;
                margin-top: -4px;
            }
        </style>

        <appsco-import-resource id="appscoImportResource"
                                authorization-token="[[ authorizationToken ]]"
                                import-api="[[ importApi ]]">

            <h2 title>Importing contacts</h2>

            <div info>
                <p class="info">
                    To get started, prepare your contact data in the proper format for importing to AppsCo.
                    Allowed format is comma separated csv.

                <ul>
                    <li>
                        If you are importing more then 500 contacts at the time, split them into multiple
                        CSVs before you import them.
                    </li>
                    <li>
                        Make sure your symbols are ASCII or Unicode Latin-based.
                    </li>
                    <li>
                        Download example import for reference.
                        <paper-button class="download-action" on-tap="_onDownloadExampleImportFile">
                            <iron-icon class="download-icon" icon="icons:attachment"></iron-icon> Download
                        </paper-button>
                    </li>
                    <li>
                        If your list is in Excel or Google Sheet you must save it as CSV first.
                    </li>
                </ul>
                </p>
            </div>
        </appsco-import-resource>

    </template>
    <script>
        Polymer({

            is: 'appsco-import-contacts',

            properties: {

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String
                },

                /**
                 * Import API link.
                 */
                importApi: {
                    type: String,
                    value: ''
                },

                domain: {
                    type: String
                }
            },

            /**
             * Toggles import.
             */
            toggle: function() {
                this.$.appscoImportResource.toggle();
            },

            /**
             * Closes import.
             */
            close: function() {
                this.$.appscoImportResource.close();
            },

            _onDownloadExampleImportFile: function(event) {
                event.stopPropagation();
                window.location.href = this.domain + '/example_import.csv';
            }
        });
    </script>
</dom-module>
