<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/hero-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/cascaded-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="appsco-contact-applications.html">
<link rel="import" href="../account/appsco-account-log.html">

<dom-module id="appsco-manage-contact-components-page">
    <template>
        <style>
            :host {
                display: block;
                overflow-y: auto;
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
                font-size: 14px;
                color: var(--primary-text-color);

                --paper-button: {
                     padding: 6px 0;
                     margin: 0;
                     border-radius: 0;
                     width: 100%;
                     color: var(--primary-text-color);
                 };

                --iron-icon-height: 20px;
                --iron-icon-width: 20px;
                --iron-icon: {
                     margin-top: -3px;
                 };
            }
            :host > * {
                width: calc(100% / 3 - 10px);
                margin-bottom: 10px;
                @apply(--layout-self-start);
            }
            paper-card {
                 min-height: 150px;
                 box-sizing: border-box;

                --paper-card-content: {
                     min-height: 70px;
                     box-sizing: border-box;
                 };
                --paper-card-actions: {
                     padding: 0;
                     border-color: var(--divider-color);
                 };
                --paper-card-header-text: {
                     padding: 8px 16px;
                     font-size: 18px;
                     color: var(--primary-text-color);
                     border-bottom: 1px solid var(--divider-color);
                 };
            }
            appsco-account-log {
                --appsco-account-log-container: {
                     padding-top: 4px;
                 };
                --account-log-paper-progress: {
                     top: 4px;
                 };
                --appsco-account-log-item: {
                     padding: 16px 6px 8px 6px;
                 };
                --appsco-account-log-item-first: {
                     border-top: none;
                 };
                --log-item-date: {
                     top: 2px;
                 };
            }
            .shared-applications {
                @apply(--layout-vertical);
                margin-left: 10px;
                margin-top: 10px;
            }
            .activity-log {
                @apply(--layout-vertical);
                margin-left: 10px;
                margin-top: 10px;
            }

            :host([medium-screen]) > * {
                width: calc(100% / 2 - 10px);
            }

            :host([tablet-screen]) > * {
                width: 100%;
            }

        </style>

        <iron-media-query query="(max-width: 1200px)" query-matches="{{ mediumScreen }}"></iron-media-query>
        <iron-media-query query="(max-width: 800px)" query-matches="{{ tabletScreen }}"></iron-media-query>

        <div class="shared-applications">
            <paper-card heading="Shared resources">
                <div class="card-content">
                    <appsco-contact-applications
                            id="contactApplications"
                            contact="[[ contact ]]"
                            authorization-token="[[ authorizationToken ]]"
                            size="5"
                            preview></appsco-contact-applications>
                </div>

                <div class="card-actions">
                    <paper-button on-tap="_onAllApplications">ALL</paper-button>
                </div>
            </paper-card>
        </div>

        <div class="activity-log">
            <paper-card heading="Activity log">
                <div class="card-content">

                    <appsco-account-log
                            id="appscoAccountLog"
                            account="[[ contact.account ]]"
                            authorization-token="[[ authorizationToken ]]"
                            log-api="[[ logApi ]]"
                            size="5"
                            short-view>
                    </appsco-account-log>
                </div>

                <div class="card-actions">
                    <paper-button on-tap="_onManageActivityLog">ALL</paper-button>
                </div>
            </paper-card>
        </div>
    </template>

    <script>
        Polymer({

            is: 'appsco-manage-contact-components-page',

            properties: {

                contact: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                administrator: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                authorizationToken: {
                    type: String
                },

                /**
                 * Get account log link.
                 */
                logApi: {
                    type: String,
                    value: '',
                    observer: '_onLogApiChanged'
                },

                /**
                 * Indicates if it is medium screen size.
                 * It uses iron-media-query.
                 */
                mediumScreen: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                tabletScreen: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                /**
                 * Animation config with hero animation.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': [{
                                name: 'cascaded-animation',
                                animation: 'fade-in-animation',
                                nodes: Polymer.dom(this.root).querySelectorAll('paper-card'),
                                nodeDelay: 50,
                                timing: {
                                    delay: 200,
                                    duration: 100
                                }
                            }],
                            'exit': [{
                                name: 'hero-animation',
                                id: 'hero',
                                fromPage: this
                            }, {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 500
                                }
                            }]
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonSharedElementAnimatableBehavior
            ],

            observers: [
                '_updateScreen(tabletScreen, mediumScreen)'
            ],

            attached: function() {

                if (this.tabletScreen || this.mediumScreen) {
                    this.updateStyles();
                }
            },

            loadLog: function() {
                this.$.appscoAccountLog.loadLog();
            },

            _onLogApiChanged: function(logApi) {

                if (logApi) {
                    this.loadLog();
                }
            },

            _updateScreen: function(tablet, medium) {
                this.updateStyles();
            },

            _setSharedElement: function(target) {

                while (target.tagName.toLowerCase() !== 'paper-card' && !target._templateInstance) {
                    target = target.parentNode;
                }

                /**
                 * Set hero animation element that is to be shared between pages.
                 *
                 * @type {{hero: *}}
                 */
                this.sharedElements = {
                    'hero': target
                };
            },

            _onAllApplications: function(event) {
                this._setSharedElement(event.target);
                this.fire('manage-applications');
            },

            _onManageActivityLog: function(event) {
                this._setSharedElement(event.target);
                this.fire('manage-activity-log');
            },

            reloadApplications: function() {
                this.$.contactApplications.reload();
            }
        });
    </script>
</dom-module>

