<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../page/appsco-page-global.html">
<link rel="import" href="appsco-contacts-actions.html">

<dom-module id="appsco-contacts-page-actions">
    <template>
        <style>
            :host {
                --paper-input-container-color: var(--secondary-text-color);
                --paper-input-container-input-color: var(--primary-text-color);
                --paper-input-container-focus-color: var(--primary-text-color);
                --paper-input-container: {
                    padding: 0;
                };
                --paper-dropdown-menu: {
                    width: 130px;
                };
                --contacts-actions-paper-dropdown-menu-button: {
                    background-color: var(--body-background-color);
                    border-radius: var(--border-radius-base);
                };
                --contacts-actions-paper-dropdown-menu-input: {
                    color: var(--primary-text-color);
                    font-size: 14px;
                    line-height: 1.5;
                };
                --paper-dropdown-menu-icon: {
                    color: var(--primary-text-color);
                    width: 22px;
                    height: 22px;
                };
            }
            :host .page-actions {
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--layout-end-justified);
                height: 100%;
            }
            :host .page-actions * {
                height: 100%;
            }
            :host appsco-contacts-actions {
                @apply(--layout-flex);
            }
        </style>

        <div class="page-actions">
            <appsco-contacts-actions id="appscoContactsActions"
                                        on-search-icon="_onSearchIcon"
                                        on-close-search="_closeSearch"></appsco-contacts-actions>

            <appsco-page-global
                    id="appscoPageGlobal"
                    info
                    filters></appsco-page-global>
        </div>
    </template>

    <script>
        Polymer({

            is: 'appsco-contacts-page-actions',

            properties: {

                _searchActive: {
                    type: Boolean,
                    value: false
                },

                _displayActions: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Animation config with hero animation.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    delay: 200,
                                    duration: 300
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimatableBehavior
            ],

            _showSearch: function() {
                this.customStyle['--input-search-max-width'] = '100%';
                this.customStyle['--paper-input-search-container-tablet'] = 'width: 100%;';
                this.$$('#appscoDirectoryActions').focusSearch();

                this.updateStyles();
            },

            _closeSearch: function() {
                this._searchActive = false;

                this.customStyle['--input-search-max-width'] = '22px';

                // Wait for animation to finish.
                setTimeout(function() {
                    this.customStyle['--paper-input-search-container-tablet'] = 'width: auto';
                    this.updateStyles();
                }.bind(this), 200);

                this.updateStyles();
            },

            _onSearchIcon: function() {
                this._searchActive = !this._searchActive;
                this._searchActive ? this._showSearch() : this._closeSearch();
            },

            showBulkActions: function() {
                this.$$('#appscoContactsActions').showBulkActions();
            },

            hideBulkActions: function() {
                this.$$('#appscoContactsActions').hideBulkActions();
            },

            setupPage: function() {},

            resetPage: function() {
                this.$$('#appscoContactsActions').reset();
            },

            resetPageActions: function() {
                this.$$('#appscoContactsActions').resetActions();
            }
        });
    </script>
</dom-module>

