<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">


<link rel="import" href="appsco-contact-group-item.html">

<dom-module id="appsco-contact-groups">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply(--appsco-contact-groups);
            }
            :host .groups {
                @apply(--layout-vertical);
                @apply(--appsco-groups);
            }
            :host appsco-contact-groups-item:first-of-type {
                border-top: none;
            }
            :host .message {
                color: var(--secondary-text-color);
                font-style: italic;
                @apply(--paper-font-body2);
                @apply(--info-message);
            }
            :host paper-progress {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                @apply(--contact-groups-paper-progress);
            }
            .info-total {
                margin-top: 10px;
            }
            .total {
                @apply(--paper-font-caption);
                color: var(--secondary-text-color);
            }

        </style>

        <iron-ajax
                id="ironAjaxGetGroups"
                url="[[ groupsApi ]]"
                on-response="_onGroupResponse"
                on-error="_handleError"
                headers="{{ _computedHeaders }}"></iron-ajax>

        <paper-progress id="progress" indeterminate></paper-progress>

        <div class="groups">
            <template is="dom-repeat" items="[[ _groups ]]">
                <appsco-contact-group-item
                        group="[[ item ]]"
                        contact="[[ contact ]]"
                        preview = "[[ preview ]]">
                </appsco-contact-group-item>
            </template>
        </div>

        <template is="dom-if" if="{{ _message }}">
            <p class="message">
                [[ _message ]]
            </p>
        </template>

        <div class="info-total">
            <div class="total">
                Total groups: [[ _totalGroups ]]
            </div>
        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-contact-groups',

            properties: {

                /**
                 * Contact
                 */
                contact: {
                    type: Object,
                    value: function () {
                        return {};
                    }
                },

                /**
                 * Get role groups link.
                 */
                groupsApi: {
                    type: String
                },

                _groups: {
                    type: Array,
                    value: function () {
                        return [];
                    }
                },

                /**
                 * Number of groups to load.
                 */
                size: {
                    type: Number
                },

                /**
                 * Indicates if group should be in preview mode rather then full detailed view.
                 */
                preview: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                /**
                 * Message to display instead of group list.
                 */
                _message: {
                    type: String
                },

                _totalGroups: {
                    type: Number
                },

                /**
                 * Authorization token
                 */
                authorizationToken: {
                    type: String
                },

                /**
                 * Computed headers.
                 * It contains authorization token.
                 */
                _computedHeaders: {
                    type: Object,
                    computed: "_computeHeaders(authorizationToken)"
                }
            },

            /**
             * Triggers ajax request in order to get groups.
             */
            loadGroups: function() {
                this.$.progress.hidden = false;
                this.set('_groups', []);
                this._message = '';
                this._totalGroups = 0;

                this.$.ironAjaxGetGroups.url = this._computeUrl(this.groupsApi);
                this.$.ironAjaxGetGroups.generateRequest();
            },

            removeGroup: function(group) {
                var _groups = JSON.parse(JSON.stringify(this._groups)),
                        _length = _groups.length;

                for (var j = 0; j < _length; j++) {

                    if (group.alias === _groups[j].alias) {
                        this.splice('_groups', j, 1);
                        break;
                    }
                }

                this._totalGroups--;
            },

            _computeUrl: function(groupsApi) {
                return this.size ? groupsApi + '&limit=' + this.size : groupsApi;
            },

            /**
             * Handle response event
             *
             * @private
             */
            _onGroupResponse: function(event) {
                var response = event.detail.response;
                if (!response) {
                    return false;
                }
                this._groups = response ? response.company_groups : [];
                this._totalGroups = response.meta.total;

                if (!this._groups.length) {
                    this._message = "Contact doesn't belong to any group.";
                }
                this.$.progress.hidden = true;
            },

            /**
             * Handle response error
             *
             * @private
             */
            _handleError: function(event) {
                this._message = 'We couldn\'t load groups at the moment. Please try again in a minute. If error continues contact us.';
                this.$.progress.hidden = true;
            },

            /**
             * Computes authorization headers.
             *
             * @param {Object} authorizationToken
             * @returns {{ Authorization: string }}
             * @private
             */
            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                }
            }

        });
    </script>
</dom-module>
