<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/cascaded-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">

<link rel="import" href="../components/appsco-search.html">

<dom-module id="appsco-contacts-actions">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                margin-right: -10px;
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--layout-end-justified);
                @apply(--appsco-contacts-actions);

                --paper-dropdown-menu-button: {
                    display: block;
                    padding: 0 0 0 8px;
                    @apply(--contacts-actions-paper-dropdown-menu-button);
                };
            }
            paper-icon-button {
                color: var(--account-action-icon-color);
                --paper-icon-button-ink-color: var(--account-action-icon-color);
            }
            appsco-search {
                max-width: 200px;
            }
            :host .action {
                margin-right: 10px;
                position: relative;
                @apply(--layout-vertical);
                @apply(--layout-center);
                @apply(--application-action);
            }
            :host .bulk-action {
                display: none;
            }
            :host .flex-none {
                @apply(--layout-flex-none);
            }
            :host paper-icon-button::shadow paper-ripple {
                width: 150%;
                height: 150%;
                top: -25%;
                left: -25%;
            }
            :host paper-tooltip {
                top: 100% !important;
                font-weight: 500;
                min-width: 100px;
                text-align: center;
                @apply(--action-tooltip);
            }
            paper-dropdown-menu {
                --paper-input-container-underline: {
                    display: none;
                };
                --paper-input-container-underline-focus: {
                    display: none;
                };
                --paper-dropdown-menu-ripple: {
                    display: none;
                };
                --paper-input-container-input: {
                    vertical-align: middle;
                    cursor: pointer;
                    @apply(--contacts-actions-paper-dropdown-menu-input);
                };
            }
            :host paper-listbox {
                @apply(--paper-listbox);
                overflow: hidden;
            }
            :host paper-item:hover {
                @apply(--paper-item-hover);
            }
            :host .bulk-action[hidden] {
                display: none !important;
            }
        </style>

        <div class="action action-search flex-none">

            <appsco-search id="appscoSearch"
                           label="Search"></appsco-search>
        </div>

        <div class="action flex-none">
            <paper-dropdown-menu horizontal-align="right"
                                 no-label-float
                                 on-iron-activate="_onActivePageSelected">
                <paper-listbox id="pagesListbox"
                               class="dropdown-content"
                               selected="0">

                    <template is="dom-repeat" items="[[ _pages ]]">
                        <paper-item value$="[[ item.value ]]" name$="[[ item.name ]]">[[ item.name ]]</paper-item>
                    </template>
                </paper-listbox>
            </paper-dropdown-menu>
        </div>

        <div class="action bulk-action flex-none">
            <paper-icon-button id="selectAllAction"
                               icon="icons:done-all"
                               alt="Select all"
                               on-tap="_onSelectAllAction"></paper-icon-button>
            <paper-tooltip for="selectAllAction"
                           position="bottom">Select all</paper-tooltip>
        </div>

        <div class="action bulk-action flex-none">
            <paper-icon-button id="attachLabelsAction"
                               icon="icons:label"
                               alt="Attach labels"
                               on-tap="_onAttachLabelsAction"></paper-icon-button>
            <paper-tooltip for="attachLabelsAction"
                           position="bottom">Attach labels</paper-tooltip>
        </div>

        <div class="action bulk-action flex-none">
            <paper-icon-button id="deleteContactAction"
                               icon="icons:delete"
                               alt="Delete contact"
                               on-tap="_onDeleteContactsAction"></paper-icon-button>
            <paper-tooltip for="deleteContactAction"
                           position="bottom">Delete contacts</paper-tooltip>
        </div>

        <template is="dom-if" if="[[ _bulkActionsHidden ]]">
            <div class="action flex-none">
                <paper-icon-button id="addContactAction"
                                   icon="social:person-add"
                                   alt="Add contact"
                                   on-tap="_onAddContactAction"></paper-icon-button>
                <paper-tooltip for="addContactAction"
                               position="bottom">Add contact</paper-tooltip>
            </div>

            <div class="action flex-none">
                <paper-icon-button id="importContactsAction"
                                   icon="icons:folder-shared"
                                   alt="Import contacts"
                                   on-tap="_onImportContactsAction"></paper-icon-button>
                <paper-tooltip for="importContactsAction"
                               position="bottom">Import contacts</paper-tooltip>
            </div>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-contacts-actions',

            properties: {

                /**
                 * Indicates if bulk actions are visible or not.
                 * Used to show / hide bulk actions.
                 */
                _bulkActions: {
                    type: Boolean,
                    value: false,
                    observer: '_onBulkActionsChanged'
                },

                _bulkActionsHidden: {
                    type: Boolean,
                    value: true
                },

                _pages: {
                    type: Array,
                    value: function () {
                        return [
                            {
                                name: 'Contacts',
                                value: 0
                            },
                            {
                                name: 'Invitations',
                                value: 1
                            }];
                    }
                },

                /**
                 * Animation config for bulk actions.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'cascaded-animation',
                                animation: 'fade-in-animation',
                                nodes: [],
                                nodeDelay: 50,
                                timing: {
                                    duration: 300
                                }
                            },
                            'exit': {
                                name: 'cascaded-animation',
                                animation: 'fade-out-animation',
                                nodes: [],
                                nodeDelay: 0,
                                timing: {
                                    duration: 200
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            listeners: {
                'neon-animation-finish': '_onNeonAnimationFinish'
            },

            /**
             * Shows bulk actions.
             */
            showBulkActions: function() {
                this._bulkActions = true;
            },

            /**
             * Hides bulk actions.
             */
            hideBulkActions: function() {
                this._bulkActions = false;
            },

            /**
             * Sets focus on search input field.
             */
            focusSearch: function() {
                this.$.appscoSearch.setup();
            },

            reset: function() {
                this.resetActions();
                this.$$('#pagesListbox').selected = 0;
            },

            resetActions: function() {
                this.$.appscoSearch.reset();
                this.hideBulkActions();
            },

            /**
             * Called on add contact action.
             * It fires an event.
             *
             * @private
             */
            _onAddContactAction: function() {

                /**
                 * Fired when add contact action is called.
                 *
                 * @event add-contact
                 */
                this.fire('add-contact');
            },

            /**
             * Called on import contacts action.
             * It fires an event.
             *
             * @private
             */
            _onImportContactsAction: function() {

                /**
                 * Fired when import contacts action is called.
                 *
                 * @event import-contacts
                 */
                this.fire('import-contacts');
            },

            /**
             * Called on delete action.
             * It fires an event.
             *
             * @private
             */
            _onDeleteContactsAction: function() {

                /**
                 * Fired when delete action is called.
                 *
                 * @event delete-contacts
                 */
                this.fire('delete-contacts');
            },

            /**
             * Called on add to labels action.
             * It fires an event.
             *
             * @private
             */
            _onAttachLabelsAction: function() {

                /**
                 * Fired when add labels action is called.
                 *
                 * @event add-labels-to-contacts
                 */
                this.fire('add-labels-to-contacts');
            },

            /**
             * Called on select all action.
             * It fires an event.
             *
             * @private
             */
            _onSelectAllAction: function() {

                /**
                 * Fired when select all action is called.
                 *
                 * @event select-all-contacts
                 */
                this.fire('select-all-contacts');
            },

            _onActivePageSelected: function(event) {

                /**
                 * Fired when page is selected from list.
                 *
                 * @event page-selected
                 * @param {string} page Page to be displayed.
                 */
                this.fire('page-selected', {
                    page: event.detail.item.getAttribute('name')
                });
            },

            _onBulkActionsChanged: function() {
                var bulkActions = Polymer.dom(this.root).querySelectorAll('.bulk-action');

                if (this.animationConfig) {
                    this.animationConfig.entry.nodes = bulkActions;
                    this.animationConfig.exit.nodes = bulkActions;
                }

                if (this._bulkActions) {
                    var length = bulkActions.length;

                    this._bulkActionsHidden = false;

                    for (var i = 0; i < length; i++) {
                        bulkActions[i].style.display = 'flex';
                    }

                    this.playAnimation('entry');
                }
                else {
                    this.playAnimation('exit');
                }

            },

            _onNeonAnimationFinish: function() {

                if (!this._bulkActions) {
                    var bulkActions = Polymer.dom(this.root).querySelectorAll('.bulk-action'),
                        length = bulkActions.length;

                    for (var i = 0; i < length; i++) {
                        bulkActions[i].style.display = 'none';
                    }

                    this._bulkActionsHidden = true;
                }

            }
        });
    </script>
</dom-module>
