<!doctype html>
<html>
<head>
    <title>appsco-application demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-orgunit-modify.html">
    <link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="../../../../bower_components/iron-meta/iron-meta.html">
    <link rel="import" href="../../../../bower_components/paper-button/paper-button.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>appsco-orgunit-modify Demo</h3>


    <demo-snippet>
        <template>
            <paper-button id="modifyBtn">Modify</paper-button>
            <paper-button id="addBtn">Add</paper-button>
            <appsco-orgunit-modify
                    id="modifyComponent"
                    authorization-token="79119920630d0e118fe3da1f1321e519"
                    parent='{"name":"appsco.com","alias":1,"description":null,"parent":"","self":"https:\/\/my-dev.appsco.com\/api\/v2\/companies\/2\/org-units\/1"}'
            ></appsco-orgunit-modify>

            <script>
                var me = this;
                this.modifyBtn.addEventListener('tap', function() {
                    me.modifyComponent.orgUnit = {"name":"appsco.com","alias":1,"description":null,"parent":"","self":"https:\/\/my-dev.appsco.com\/api\/v2\/companies\/2\/org-units\/1"};
                    me.modifyComponent.open();
                })
                this.addBtn.addEventListener('tap', function() {
                    me.modifyComponent.orgUnit = {};
                    me.modifyComponent.open();
                })
            </script>
        </template>

    </demo-snippet>
</div>
</body>
</html>
