<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-icons/communication-icons.html">

<link rel="import" href="appsco-account-notifications-dropdown.html">

<!--
`appsco-header-account-actions`
Is used to present account related actions.

Example:

    <body>
      <appsco-header-account-actions
            intranet="url_to_website"
            chat>
     </appsco-header-account-actions>


### Styling

`<appsco-header-account-actions>` provides the following custom mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-account-action-color` | Color for icon-button actions | ``
`--appsco-header-account-actions` | Mixin applied to root appsco-header-account-actions element. | `{}`
@demo demo/appsco-header-account-actions.html
-->

<dom-module id="appsco-header-account-actions">
    <template>
        <style>
            :host {
                display: inline-block;

                --paper-icon-button-ink-color: var(--appsco-account-action-color);

            @apply(--appsco-header-account-actions);
            }
            :host a {
                text-decoration: none;
            }
            :host .action-icon,
            :host a .action-icon,
            :host a:active .action-icon,
            :host a:visited .action-icon {
                color: var(--appsco-account-action-color);
            }
            :host .new-notifications-icon {
                color: var(--appsco-account-new-notifications-color, --primary-color);
                --paper-icon-button-ink-color: var(--appsco-account-new-notifications-color, --primary-color);
            }
            :host paper-icon-button::shadow paper-ripple {
                width: 150%;
                height: 150%;
                top: -25%;
                left: -25%;
            }
        </style>

        <div class="account-actions">

            <template is="dom-if" if="[[ account.intranet ]]">
                <a href="[[ account.intranet ]]" target="_blank" tabindex="-1">
                    <paper-icon-button
                            class="action-icon"
                            icon="language"
                            title="Intranet"></paper-icon-button>
                </a>
            </template>

            <template is="dom-if" if="[[ chat ]]">
                <paper-icon-button
                        id="chatAction"
                        class="action-icon"
                        icon="communication:forum"
                        title="Chat"
                        on-tap="_onChatAction">
                </paper-icon-button>
            </template>

            <template is="dom-if" if="[[ _newNotifications ]]">
                <paper-icon-button
                        id="newNotificationsAction"
                        class="action-icon new-notifications-icon"
                        icon="social:notifications-active"
                        title="Notifications"
                        on-tap="_onNewNotificationsAction">
                </paper-icon-button>
            </template>

            <template is="dom-if" if="[[ !_newNotifications ]]">
                <paper-icon-button
                        id="notificationsAction"
                        class="action-icon"
                        icon="social:notifications"
                        title="Notifications"
                        on-tap="_onNotificationsAction">
                </paper-icon-button>
            </template>

            <appsco-account-notifications-dropdown
                    id="appscoAccountNotificationsDropdown"
                    authorization-token="[[ authorizationToken ]]"
                    notifications-api="[[ notificationsApi ]]"
                    notifications-size="[[ notificationsSize ]]"
                    on-new-notifications="_onNewNotifications">
            </appsco-account-notifications-dropdown>

        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-header-account-actions',

            properties: {

                /**
                 * Active account from AppsCo dashboard.
                 */
                account: {
                    type: Object
                },

                /** Indicates if chat exists or not. */
                chat: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Authorization token
                 */
                authorizationToken: {
                    type: String
                },

                /**
                 * Notifications API link.
                 */
                notificationsApi: {
                    type: String
                },

                /**
                 * Number of notifications to load.
                 */
                notificationsSize: {
                    type: Number,
                    value: 5
                },

                /**
                 * Indicates if there are new notifications.
                 */
                _newNotifications: {
                    type: Boolean,
                    value: false
                }
            },

            /**
             * Fires an event after chat action is tapped.
             *
             * @private
             */
            _onChatAction: function(event) {

                /**
                 * Fired after chat action is tapped.
                 *
                 * @event account-chat
                 */
                this.fire('account-chat');
            },

            _onNewNotifications: function() {
                this._newNotifications = true;
            },

            /**
             * Handles notifications action.
             *
             * @private
             */
            _onNotificationsAction: function(event) {
                this.$.appscoAccountNotificationsDropdown.toggleNotifications(event.target);
            },

            /**
             * Handles notifications action when there are new notifications.
             *
             * @private
             */
            _onNewNotificationsAction: function(event) {
                this._newNotifications = false;
                this.$.appscoAccountNotificationsDropdown.toggleNotifications(event.target);
            }

        });
    </script>
</dom-module>
