<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="appsco-dropdown.html">

<!--
`appsco-account-chat`
Is used to present account chat action.

Example:

    <body>
      <appsco-account-chat
            chat={}>
     </appsco-account-chat>

 Custom property | Description | Default
----------------|-------------|----------
`--divider-color` | Default color for divider | `#eaeaea`
`--appsco-account-chat-message-color` | Background color for message | `#eaeaea`
`--appsco-account-chat-incoming-message-color` | Background color for incoming message | `#eaeaea`
`--appsco-account-chat` | Mixin applied to root appsco-account-chat element | `{}`
`--appsco-account-chat-dropdown` | Mixin applied to inner appsco-dropdown within root element | `{}`
`--appsco-account-chat-message` | Mixin applied to message within chat | `{}`
`--appsco-account-chat-incoming-message` | Mixin applied to incoming message within chat | `{}`
`--appsco-account-chat-message-time` | Mixin applied to message time within chat | `{}`
`--appsco-account-chat-message-arrow-before` | Mixin applied to message arrow :before pseudo element | `{}`
`--appsco-account-chat-message-arrow-after` | Mixin applied to message arrow :after pseudo element | `{}`

@demo demo/appsco-account-chat.html
-->

<dom-module id="appsco-account-chat">
    <template>
        <style include="iron-flex iron-flex-alignment">
            :host {
                display: inline-block;
                position: relative;

            --paper-input-container-input: {
                 font-size: 14px;
             };

            --paper-input-container-focus-color: var(--primary-text-color);
            --paper-input-container-input-color: var(--primary-text-color);

            --paper-input-container-underline: {
                 background: #cde2f5;
             };

            --paper-input-container-underline-focus: {
                 height: 1px;
             };

            --paper-card-header: {
                 width: 100%;
                 height: 60px;
                 background: #ffffff;
                 position: absolute;
                 top: 0;
                 left: 0;
                 border-bottom: 1px solid var(--divider-color);
                 z-index: 5;
             };

            --paper-card-header-text: {
                 overflow: hidden;
                 text-overflow: ellipsis;
                 white-space: nowrap;
                 display: block;
                 padding-right: 40px;
             };

            --paper-card-content: {
                 width: 100%;
                 height: 100%;
                 padding: 0;
                 font-size: 14px;
                 position: absolute;
                 top: 0;
                 left: 0;
                 box-sizing: border-box;
                 z-index: 1;
             };

            --paper-card-actions: {
                 width: 100%;
                 height: 50px;
                 border-top-color: var(--divider-color);
                 box-sizing: border-box;
                 background: #ffffff;
                 position: absolute;
                 bottom: 0;
                 z-index: 5;
             };

            --appsco-dropdown-caret: {
                 display: none;
             };

            @apply(--appsco-account-chat);
            }
            :host iron-icon {
                color: var(--account-chat-iron-icon-color, --divider-color);
            }
            :host paper-card {
                width: 100%;
                height: 100%;
                position: relative;
            }
            :host .close-icon {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 5;
            }
            :host appsco-dropdown {
                height: 60vh;
                position: fixed;
                top: initial;
                bottom: 0;
                right: 100px;

            @apply(--appsco-account-chat-dropdown);
            }
            :host appsco-dropdown .messages-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                padding: 80px 16px 40px;
                overflow-x: hidden;
                overflow-y: auto;
            }
            :host .user-profile-img {
                width: 34px;
                height: 34px;
                margin-top: 0;
                margin-right: 0;
            }
            :host .message-container {
                width: 78%;
            }
            :host .message {
                background-color: var(--appsco-account-chat-message-color, #f5f8fa);
                min-height: 34px;
                padding: 5px 10px;
                margin-left: 10px;
            @apply(--appsco-account-chat-message);
            }
            :host .message.message-incoming {
                background-color: var(--appsco-account-chat-incoming-message-color, #cde2f5);
                margin-left: 0;
                margin-right: 10px;
            @apply(--appsco-account-chat-incoming-message);
            }
            :host .time{
                margin-top: 5px;
                margin-bottom: 20px;
                font-size: 11px;
                color: var(--appsco-account-chat-incoming-message-color, #cde2f5);
                text-align: center;
            @apply(--appsco-account-chat-message-time);
            }
            :host .arrow-box {
                position: relative;
            }
            :host .arrow-box:after,
            :host .arrow-box:before {
                right: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            :host .arrow-box:after {
                border-right-color: var(--appsco-account-chat-message-color, #f5f8fa);
                border-width: 6px;
                margin-top: -6px;
            }
            :host .arrow-box:before {
                border-right-color: var(--appsco-account-chat-message-color, rgba(0, 0, 0, 0.08));
                border-width: 7px;
                margin-top: -7px;
            }
            :host .arrow-box-right:after,
            :host .arrow-box-right:before {
                right: auto;
                left: 100%;
            }
            :host .arrow-box-right:after {
                border-right: none;
            }
            :host .arrow-box-right:before {
                border-right: none;
            }
            :host .message-incoming.arrow-box-right:after {
                border-left-color: var(--appsco-account-chat-incoming-message-color, #cde2f5);
            }
            :host .message-incoming.arrow-box-right:before {
                border-left-color: var(--appsco-account-chat-incoming-message-color, rgba(0, 0, 0, 0.08));
            }
            :host .message:after,
            :host .message:before {
                top: 17px;
            }
            :host .message:after {
            @apply(--appsco-account-chat-message-arrow-after);
            }
            :host .message:before {
            @apply(--appsco-account-chat-message-arrow-before);
            }
            :host([mobile]) appsco-dropdown {
                width: 100vw;
                height: 100vh;
                top: 0;
                right: 0;
                left: 0;
            }
        </style>

        <iron-media-query query="(max-width: 600px)" query-matches="{{ mobile }}"></iron-media-query>

        <appsco-dropdown
                id="chatDropdown"
                trigger="[[ _triggerDropdown ]]"
                dont-close-outside="[[ dontCloseOutside ]]">

            <paper-card heading="[[ _accountDisplay ]]">
                <paper-icon-button
                        class="close-icon"
                        icon="close"
                        title="Close"
                        on-tap="_toggleDropdown">
                </paper-icon-button>

                <div class="card-content layout vertical">

                    <div id="chatMessages" class="messages-container">
                        <div class="layout horizontal">
                            <iron-icon icon="icons:account-circle"
                                       class="user-profile-img">></iron-icon>

                            <div class="message-container flex">
                                <div class="message arrow-box">Message text 1....</div>
                                <div class="time">21/9/2016</div>
                            </div>
                        </div>

                        <div class="layout horizontal">
                            <div class="message-container flex">
                                <div class="message message-incoming arrow-box arrow-box-right">Message text 2....</div>
                                <div class="time text-center">21/9/2016</div>
                            </div>

                            <iron-icon icon="icons:account-circle"
                                       class="user-profile-img">></iron-icon>
                        </div>

                        <div class="layout horizontal">
                            <div class="message-container flex">
                                <div class="message message-incoming arrow-box arrow-box-right">New incoming message with really long text....</div>
                                <div class="time">21/9/2016</div>
                            </div>

                            <iron-icon icon="icons:account-circle"
                                       class="user-profile-img">></iron-icon>
                        </div>

                        <div class="layout horizontal justified">
                            <iron-icon icon="icons:account-circle"
                                       class="user-profile-img">></iron-icon>

                            <div class="message-container flex">
                                <div class="message arrow-box">Message text 1....</div>
                                <div class="time">21/9/2016</div>
                            </div>
                        </div>

                        <div class="layout horizontal justified">
                            <iron-icon icon="icons:account-circle"
                                       class="user-profile-img">></iron-icon>

                            <div class="message-container flex">
                                <div class="message arrow-box">Message text 1....</div>
                                <div class="time">21/9/2016</div>
                            </div>
                        </div>

                        <div class="layout horizontal">
                            <div class="message-container flex">
                                <div class="message message-incoming arrow-box arrow-box-right">Message text 2....</div>
                                <div class="time text-center">21/9/2016</div>
                            </div>

                            <iron-icon icon="icons:account-circle"
                                       class="user-profile-img">></iron-icon>
                        </div>

                        <div class="layout horizontal">
                            <div class="message-container flex">
                                <div class="message message-incoming arrow-box arrow-box-right">New incoming message with really long text....</div>
                                <div class="time">21/9/2016</div>
                            </div>

                            <iron-icon icon="icons:account-circle"
                                       class="user-profile-img">></iron-icon>
                        </div>
                    </div>

                </div>

                <div class="card-actions">

                    <form is="iron-form" action="/" method="post" id="sendMessageForm">
                        <paper-input
                                id="inputMessage"
                                name="chat-message"
                                placeholder="type message"
                                no-label-float>
                        </paper-input>
                    </form>
                </div>
            </paper-card>

        </appsco-dropdown>

        <iron-a11y-keys
                target="[[ _target ]]"
                keys="enter"
                on-keys-pressed="_onEnter">
        </iron-a11y-keys>

    </template>

    <script>
        Polymer({

            is: 'appsco-account-chat',

            properties: {

                /**
                 * Indicates if it is mobile view.
                 * It uses iron-media-query.
                 */
                mobile: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                /**
                 * Active account from AppsCo dashboard.
                 */
                account: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * Display for account.
                 */
                _accountDisplay: {
                    type: String,
                    computed: '_setAccountDisplay(account)'
                },

                /** Chat object with connect data. */
                chat: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * DOM element which triggers the dropdown.
                 */
                _triggerDropdown: {
                    type: Object,
                    notify: true
                },

                /**
                 * Target element for keyboard actions.
                 */
                _target: {
                    type: Object,
                    value: function() {
                        return this.$.inputMessage;
                    }
                },

                /**
                 * Indicates if chat should be closed on click outside.
                 */
                dontCloseOutside: {
                    type: Boolean,
                    value: false
                }
            },

            ready: function() {
                this.$.chatDropdown.animationConfig.entry.name = 'slide-from-bottom-animation';
                this.$.chatDropdown.animationConfig.exit.name = 'slide-down-animation';
            },

            attached: function() {
                this._scrollToLastMessage();
            },

            /**
             * Returns display name for account.
             * @param {Object} account.
             *
             * @private
             */
            _setAccountDisplay: function(account) {
                var displayName = '';

                if (account.first_name != '') {
                    displayName = account.first_name + ' ';
                }

                if (account.last_name != '') {
                    displayName += account.last_name;
                }

                if (account.first_name == '' && account.last_name == '') {
                    displayName = account.email;
                }

                return displayName;
            },

            /**
             * Toggles chat dropdown.
             *
             * @private
             */
            _toggleDropdown: function() {
                this.$.chatDropdown.toggle();
                this._focusInputMessage();
            },

            /**
             * Makes focus on message input field.
             *
             * @private
             */
            _focusInputMessage: function() {
                this.$.inputMessage.focus();
            },

            /**
             * Scrolles down to last message in list.
             *
             * @private
             */
            _scrollToLastMessage: function() {
                var chatMessages = this.$.chatMessages;
                chatMessages.scrollTop = chatMessages.scrollHeight;
            },

            /**
             * Submits send message form with message entered.
             *
             * @private
             */
            _sendMessage: function() {
                this.$.sendMessageForm.submit();
            },

            /**
             * Listens for ENTER key pressing.
             * Calls _sendMessage method.
             *
             * @private
             */
            _onEnter: function() {
                this._sendMessage();
            },

            toggleChat: function(target) {
                this._triggerDropdown = target;
                this._toggleDropdown();
            }

        });
    </script>
</dom-module>
