<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">

<link rel="import" href="../components/appsco-form-error.html">
<link rel="import" href="../components/appsco-search.html">
<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="appsco-folders-item.html">

<dom-module id="appsco-folders-application-add">
    <template>
        <style>
            :host {
                display: block;
                position: relative;

                --paper-dialog-scrollable: {
                    min-height: 220px;
                };
            }
            :host paper-dialog {
                width: 670px;
                top: 10vh;
                @apply(--appsco-paper-dialog);
            }

            :host paper-dialog-scrollable {
                height: 340px;
            }

            :host .buttons paper-button {
                @apply(--paper-dialog-button);
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
            .dialog-container {
                height: 420px;
            }
            appsco-search {
                margin-bottom: 15px;
                margin-left: 10px;
                width: 590px;
            }
            .folder-list {
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
                padding: 2px;
                margin-right: -8px;
                margin-left: -18px;
            }

            appsco-folders-item {
                width: 100%;

                --item-icon-width: 32px;
                --item-icon-height: 32px;

                --appsco-list-item: {
                    box-shadow: none;
                    padding: 5px 0;
                    height: auto;
                    border-bottom: 1px solid var(--border-color);
                };

                --appsco-list-item-activated: {
                    box-shadow: none;
                    background-color: var(--body-background-color);
                };

                --item-info-label: {
                    font-size: 14px;
                };

                --item-info-value: {
                    display: none;
                };
            }
        </style>

        <paper-dialog id="dialog"
                      with-backdrop
                      entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation">

            <h2>Move to folder</h2>

            <div class="dialog-container">

                <iron-ajax id="getFoldersListRequest"
                           method="GET"
                           url="[[ _foldersListApi ]]"
                           headers="[[ _headers ]]"
                           handle-as="json"
                           on-response="_onAvailableFoldersResponse"
                           on-error="_onErrorResponse"></iron-ajax>

                <appsco-search id="appscoSearch"
                               label="Search available folders"
                               float-label
                               on-search="_onSearch"
                               on-search-clear="_onClearSearch"></appsco-search>

                <paper-dialog-scrollable>
                    <div class="folder-list">

                        <appsco-loader active="[[ _searchLoader ]]"
                                       loader-alt="AppsCo is processing request"
                                       multi-color></appsco-loader>

                        <appsco-form-error message="[[ _error ]]"></appsco-form-error>

                        <template is="dom-repeat" items="[[ _foldersListDisplay ]]">
                            <appsco-folders-item id="appscoListItem_[[ index ]]"
                                                               item="[[ item ]]"
                                                               on-item="_onListItemSelectAction"></appsco-folders-item>
                        </template>

                        <template is="dom-if" if="[[ _message ]]">
                            <p class="message">
                                [[ _message ]]
                            </p>
                        </template>
                    </div>
                </paper-dialog-scrollable>

            </div>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({

            is: 'appsco-folders-application-add',

            properties: {

                authorizationToken: {
                    type: String,
                    value: ''
                },


                apiErrors: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                foldersApi: {
                    type: String,
                    value: ''
                },

                _applicationIcon: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                _company: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                _foldersListApi: {
                    type: String,
                    computed: '_computeFoldersListApi(foldersApi, _company)'
                },

                _headers: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _foldersListDisplay: {
                    type: Array,
                    value: function() {
                        return [1];
                    }
                },

                _foldersList: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                _message: {
                    type: String,
                    value: ''
                },

                _error: {
                    type: String
                },

                _searchLoader: {
                    type: Boolean,
                    value: false
                }
            },

            close: function() {
                this.$.dialog.close();
            },

            toggle: function() {
                this.$.dialog.toggle();
                this._showLoader();
                this.$.getFoldersListRequest.generateRequest();
            },

            setApplicationIcon: function(applicationIcon) {
                this._applicationIcon = applicationIcon;
            },

            setCompany: function(company) {
                this._company = company;
            },

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                }
            },

            _computeFoldersListApi: function(foldersApi, company) {
                var companyPart = company && company != undefined && company.company ? '&company=' + company.company.alias : '';
                return foldersApi ? foldersApi + '?extended=1' + companyPart : '';
            },

            _onSearch: function(event) {
                this._searchList(event.detail.term);
            },

            _onClearSearch: function() {
                this._searchList('');
            },

            _showMessage: function(message) {
                this._message = message;
            },

            _hideMessage: function() {
                this._message = '';
            },

            _showLoader: function() {
                this._searchLoader = true;
            },

            _hideLoader: function() {
                this._searchLoader = false;
            },

            _showError: function(message) {
                this._error = message;
            },

            _hideError: function() {
                this._error = '';
            },

            _searchList: function(searchTerm) {
                var term = decodeURIComponent(searchTerm.toLowerCase()).trim(),
                        termLength = term.length,
                        list = this._foldersList,
                        length = list.length;

                this._showLoader();

                this.set('_foldersListDisplay', []);

                if (length === 0) {
                    this._showMessage('There are no available folders.');
                    this._hideLoader();
                    return false;
                }

                if (1 === termLength) {
                    this._showMessage('Please type two or more letters.');
                    this._hideLoader();
                    return false;
                }

                this._hideMessage();

                for (var i = 0; i < length; i++) {
                    var item = list[i];

                    if (item && item.title.toLowerCase().indexOf(term.toLowerCase()) >= 0) {
                        this.push('_foldersListDisplay', item);
                    }
                }

                if (0 === this._foldersListDisplay.length && 2 <= termLength) {
                    this._showMessage('There are no available folders with asked term.');
                }

                this._hideLoader();
            },

            _onAvailableFoldersResponse: function(event) {
                var response = event.detail.response;

                if (response && response.groups) {
                    this.set('_foldersList', response.groups);
                    this.set('_foldersListDisplay', response.groups);

                    if (response.groups.length == 0 ) {
                        this._showMessage('There are no available folders.');
                    } else {
                        this._hideMessage();
                    }
                }
                this._hideLoader();
            },

            _onErrorResponse: function() {
                this._message = 'We couldn\'t load folders at the moment. Please try again in a minute.';
            },


            _onListItemSelectAction: function(event) {
                var selectedFolder = event.detail.item,
                        applicationIcon = this._applicationIcon;
                this._moveToFolder(selectedFolder, applicationIcon);
            },

            _moveToFolder: function(selectedFolder, applicationIcon) {

                var request = document.createElement('iron-request'),
                        options = {
                            url: selectedFolder.self + '/resource/' + applicationIcon.alias,
                            method: 'POST',
                            handleAs: 'json',
                            headers: this._headers
                        };

                this._hideError();
                this._showLoader();

                request.send(options).then(function() {

                    if (200 === request.status) {

                        this.fire('aplication-icon-moved-to-folder', {
                            icon: applicationIcon,
                            folder: selectedFolder
                        });

                        this._hideLoader();
                        this.close();
                    }
                }.bind(this), function() {
                    this._showError(this.apiErrors.getError(request.response.code));
                    this._hideLoader();
                }.bind(this));
            }

        });
    </script>
</dom-module>
