<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">

<link rel="import" href="../components/appsco-list-item-behavior.html">
<link rel="import" href="../components/appsco-list-item-styles.html">
<link rel="import" href="../components/appsco-drop-html-element-behavior.html">

<dom-module id="appsco-folders-item">
    <template>
        <style include="appsco-list-item-styles"></style>

        <style>
            :host {
                @apply(--folder-item-host);
                --icon-action-border-radius: 16px;
            }
            :host .item, :host .folder-icon {
                transition: background 0.2s linear;
            }
            :host .item.dropover {
                background: var(--secondary-text-color);
            }
            :host .item-basic-info, :host .item-basic-info .info-label, :host .item-basic-info .info-value {
                width: 200px;
            }
            :host .item-basic-info {
                width: calc(100% - 32px - 5px);
                @apply(--item-basic-info);
            }
            :host .item-basic-info .info-label, :host .item-basic-info .info-value {
                width: 100%;
            }
            :host .item-basic-info .info-label {
                @apply(--item-info-label);
            }
            :host .item-basic-info .info-value {
                @apply(--item-info-value);
            }
            :host .folder-icon {
                --iron-icon-height: 32px;
                --iron-icon-width: 32px;
                margin-right: 5px;
                @apply(--layout-flex-none);
            }
            :host([tablet-screen]) {
                display: none;
            }
        </style>

        <iron-media-query query="(max-width: 800px)" query-matches="{{ tabletScreen }}"></iron-media-query>

        <div class="item" on-tap="_onItemAction" data-drop-to-zone>
            <iron-icon icon="folder" class="folder-icon"></iron-icon>
            <div class="item-info item-basic-info">
                <span class="info-label item-title">[[ item.title ]] </span>
            </div>

        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-folders-item',

            properties: {

                requestHeaders: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                tabletScreen: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior,
                Polymer.AppscoListItemBehavior,
                Polymer.AppscoDropHTMLElementBehavior
            ],

            listeners: {
                'item-dropped': '_onItemDropped'
            },

            attached: function() {
                this.initializeDropBehavior();
            },

            _onItemDropped: function(event) {
                var item = event.detail.item;

                this._addResourceToFolder(item);
            },

            _getAddResourceToFolderApi: function(resource) {
                return (this.item.self && resource.alias) ? (this.item.self + '/resource/' + resource.alias) : '';
            },

            _addResourceToFolder: function(item) {
                var request = document.createElement('iron-request'),
                    options = {
                        url: this._getAddResourceToFolderApi(item),
                        method: 'POST',
                        handleAs: 'json',
                        headers: this.requestHeaders
                    };

                if (!options.url) {
                    return false;
                }

                request.send(options).then(function() {

                    if (200 === request.status) {

                        this.fire('resource-moved-to-folder', {
                            resource: request.response,
                            folder: this.item
                        });
                    }
                }.bind(this), function() {
                    this.fire('resource-moved-to-folder-failed', {
                        resource: request.response,
                        folder: this.item
                    });
                }.bind(this));
            }
        });
    </script>
</dom-module>
