<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/app-localize-behavior/app-localize-behavior.html">

<!--
`appsco-api-errors`
Handles API error translations.

Example:
      <appsco-api-errors language=""></appsco-api-errors>

-->

<dom-module id="appsco-api-errors">
    <template>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'appsco-api-errors',

        properties: {

            name: {
                type: Object,
                value: function() {
                    return {};
                },
                notify: true
            },

            language: {
                value: 'en',
                type: String
            },

            useKeyIfMissing: {
                type: Boolean,
                value: true
            },

            defaultError: {
                type: Number,
                value: 404
            }
        },

        behaviors: [
            Polymer.AppLocalizeBehavior
        ],

        attached: function () {
            this.set('name', this);
            this.loadResources(this.resolveUrl('data/appsco-api-errors.json'));
        },

        /**
         * Returns translation for error based on provided error code.
         *
         * @param {String} code The code for which to return error message.
         * @returns {string} Translated error message if exists. Otherwise, it returns given code.
         */
        getError: function(code) {
            var message = this.localize(code);

            return (code === message) ? this.localize(this.defaultError) : message;
        }
    });
</script>
