<link rel="import" href="../polymer/polymer.html">

<!--
`appsco-components`
Is used to hold all appsco independent elements.

@demo demo/index.html 
-->

<dom-module id="appsco-components">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <h2>Hello [[prop1]]</h2>
    </template>

    <script>
        Polymer({

            is: 'appsco-components',

            properties: {
                prop1: {
                    type: String,
                    value: 'appsco-components',
                },
            },

        });
    </script>
</dom-module>
