<link rel="import" href="../../../bower_components/polymer/polymer.html">

<script>

    /**
     * @polymerBehavior
     */
    Polymer.AppscoListItemBehavior = {

        properties: {

            item: {
                type: Object,
                value: function() {
                    return {};
                },
                observer: '_onItemChanged'
            },

            type: {
                type: String,
                value: ''
            },

            selectable: {
                type: Boolean,
                value: false
            },

            _orgUnits: {
                type: String,
                computed: '_computeOrganizationUnits(item, type)'
            },

            _groups: {
                type: String,
                computed: '_computeGroups(item, type)'
            },

            active: {
                type: Boolean,
                value: false,
                reflectToAttribute: true
            },

            selected: {
                type: Boolean,
                value: false,
                reflectToAttribute: true,
                observer: '_onSelectedChanged'
            },

            hoverDisabled: {
                type: Boolean,
                value: false,
                reflectToAttribute: true
            },

            /**
             * Animation for loader appearance.
             */
            animationConfig: {
                value: function() {
                    return {
                        'entry': {
                            name: 'fade-in-animation',
                            node: this,
                            timing: {
                                duration: 200
                            }
                        },
                        'exit': {
                            name: 'fade-out-animation',
                            node: this,
                            timing: {
                                duration: 100
                            }
                        }
                    }
                }
            }
        },

        attached: function() {
            this.style.display = 'inline-block';
            this.playAnimation('entry');
        },

        _onItemChanged: function(item) {
            this.active = item.active ? item.active : false;
            this.selected = item.selected ? item.selected : false;
        },

        _computeOrganizationUnits: function(item, type) {
            var result = '';

            if (item && type) {

                if ('account' === type) {
                    item = item.account;
                }

                if (item.org_units && 0 < item.org_units.length) {
                    var orgUnits = item.org_units,
                        length = orgUnits.length;

                    for (var i = 0; i < length; i++) {
                        result += orgUnits[i].name;
                        result += (i === length - 1) ? '' : ', ';
                    }
                }
                else {
                    result = '';
                }
            }

            return result;
        },

        _computeGroups: function(item, type) {
            var result = '';

            if (item && type) {

                if ('account' === type) {
                    item.groups = item.group;
                }

                if (item.groups && item.groups.length > 0) {
                    var groups = item.groups,
                        length = groups.length;

                    for (var i = 0; i < length; i++) {
                        result += groups[i].name;
                        result += (i === length - 1) ? '' : ', ';
                    }
                }
                else {
                    result = '';
                }
            }

            return result;
        },

        _enableSelectActionHover: function() {

            setTimeout(function() {
                this.hoverDisabled = false;
            }.bind(this), 1000);
        },

        _onSelectedChanged: function() {
            this.updateStyles();
        },

        _onItemAction: function() {
            this.active = !this.active;
            this.item.active = this.active;

            /**
             * Fired when whole item is tapped.
             *
             * @event item
             * @param {Object} item
             */
            this.fire('item', {
                item: this.item
            });
        },

        _onSelectItemAction: function(event) {
            event.stopPropagation();

            this.selected = !this.selected;
            this.item.selected = this.selected;

            if (!this.selected) {
                this.hoverDisabled = true;
                this._enableSelectActionHover();
            }

            /**
             * Fired when item icon is tapped.
             *
             * @event select
             * @param {Object} item
             */
            this.fire('select-item', {
                item: this.item
            });
        },

        _onEditItemAction: function (event) {
            event.stopPropagation();

            /**
             * Fired when `edit` is tapped.
             *
             * @event edit
             * @param {Object} item
             */
            this.fire('edit-item', {
                item: this.item
            });
        }
    }
</script>