<link rel="import" href="../polymer/polymer.html">

<!--
`appsco-date-format`

Date format

@demo demo/index.html 
-->

<dom-module id="appsco-date-format">
    <template>
        <style>
            :host {
                display: inline-block;
            }
        </style>
        [[ dateFormatted ]]
    </template>

    <script>
        Polymer({

            is: 'appsco-date-format',

            properties: {
                date: {
                    type: Object,
                    value: function() { return {}; },
                    notify: true
                },

                options: {
                    type: Object,
                    value: function () { return {year: "numeric", month: "short", day: "numeric"}; }
                },

                dateFormatted: {
                    type: String,
                    computed: '_dateFormat(date, options)'
                }
            },

            /**
             * Formats date and returns formatted date as string.
             *
             * @returns {string}
             * @private
             */
            _dateFormat: function(value, options) {
                if (value) {
                    return (new Date(value)).toLocaleDateString('en', options);
                }

            },
        });
    </script>
</dom-module>
