<link rel="import" href="../../../bower_components/polymer/polymer.html">

<script>

    /**
     * @polymerBehavior
     */
    Polymer.AppscoListObserverBehavior = {

        properties: {

            _observableItems: {
                type: Array,
                observer: '_itemsChanged'
            },

            _observableType: {
                type: String
            }
        },

        populateItems: function (items) {
            this._observableItems = items;
        },

        setObservableType: function(type){
            this._observableType = type;
        },

        _itemsChanged: function () {
            var event = this._observableItems.length === 0 ? 'observable-list-empty' : 'observable-list-filled';
            this.fire(event, {
                items: this._observableItems,
                type: this._observableType
            });
        }
    }
</script>