<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<!-- shared styles for appsco-list components -->
<dom-module id="appsco-list-styles">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                @apply(--layout-vertical);
                @apply(--layout-center);
                @apply(--appsco-list);

                --paper-progress-container-color: var(--body-background-color);
                --paper-progress-height: 2px;
            }
            :host .list-container {
                width: 100%;
                min-height: 160px;
                padding-top: 10px;
                position: relative;
                @apply(--list-container);
            }
            :host .list {
                @apply(--layout-vertical);
                @apply(--layout-start);
                @apply(--list);
            }
            :host .load-more-box {
                margin-top: 10px;
                padding-top: 4px;
                position: relative;
            }
            :host .load-more-box paper-progress {
                width: 100%;
                position: absolute;
                top: 4px;
                left: 0;
            }
            :host .list-progress-bar {
                min-width: 100px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                @apply(--appsco-list-progress-bar);
            }
            :host .load-more-action {
                display: block;
                width: 120px;
                margin: 10px auto 0;
                text-align: center;
                @apply(--load-more-button);
            }
            :host .message {
                color: var(--secondary-text-color);
                font-style: italic;
                @apply(--paper-font-body2);
                @apply(--info-message);
            }
        </style>
    </template>
</dom-module>
