<link rel="import" href="../../../bower_components/polymer/polymer.html">

<!--
`appsco-api`
appsco-api is element that holds overlay and loader.

Example:

      <appsco-api></appsco-api>

@demo demo/appsco-api.html
-->

<dom-module id="appsco-api">
    <template>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'appsco-api',

        properties: {

            domain: {
                type: String,
                value: "https://appsco.com",
                reflectToAttribute: true
            },

            index: {
                type: String,
                value: ''
            },

            me: {
                type: String,
                computed: '_me(index, domain)'
            },

            dashboards: {
                type: String,
                computed: '_dashboards(index, domain)'
            },

            applicationTemplates: {
                type: String,
                computed: '_applicationTemplates(index, domain)'
            },

            link: {
                type: String,
                computed: '_link(index, domain)'
            },

            item: {
                type: String,
                computed: '_item(index, domain)'
            },

            notifications: {
                type: String,
                computed: '_notifications(index, domain)'
            },

            accounts: {
                type: String,
                computed: '_accounts(index, domain)'
            },

            icons: {
                type: String,
                computed: '_icons(index, domain)'
            },

            personalItems: {
                type: String,
                computed: '_personalItems(index, domain)'
            },

            sharedWithMeItems: {
                type: String,
                computed: '_sharedWithMeItems(index, domain)'
            },

            logout: {
                type: String,
                computed: '_logout(index, domain)'
            },

            authorizedApps: {
                type: String,
                computed: '_authorizedApps(index, domain)'
            },

            twoFA: {
                type: String,
                computed: '_twoFA(index, domain)'
            },

            twoFAQr: {
                type: String,
                computed: '_twoFAQr(index, domain)'
            },

            twoFACodes: {
                type: String,
                computed: '_twoFACodes(index, domain)'
            },

            transferToken: {
                type: String,
                computed: '_transferToken(index, domain)'
            },

            changePassword: {
                type: String,
                computed: '_changePassword(index, domain)'
            },

            accountLog: {
                type: String,
                computed: '_accountLog(index, domain)'
            },

            partner: {
                type: String,
                computed: '_partner(index, domain)'
            },

            profileImage: {
                type: String,
                computed: '_profileImage(index, domain)'
            },

            vaultLogin: {
                type: String,
                computed: '_vaultLogin(index, domain)'
            },

            vaultCreditCard: {
                type: String,
                computed: '_vaultCreditCard(index, domain)'
            },

            vaultIdentity: {
                type: String,
                computed: '_vaultIdentity(index, domain)'
            },

            vaultSoftwareLicence: {
                type: String,
                computed: '_vaultSoftwareLicence(index, domain)'
            },

            vaultPassport: {
                type: String,
                computed: '_vaultPassport(index, domain)'
            },

            vaultSecureNote: {
                type: String,
                computed: '_vaultSecureNote(index, domain)'
            },

            companies: {
                type: String,
                computed: '_companies(index, domain)'
            },

            upgradeToBusiness: {
                type: String,
                computed: '_upgradeToBusiness(index, domain)'
            },

            companiesAccountIsContactInApi: {
                type: String,
                computed: '_computeCompaniesAccountIsContactInApi(me)'
            },

            isUserLoggedInApi: {
                type: String,
                computed: '_computeIsUserLoggedInApi(me)'
            },

            isUserPassing2FAVerificationApi: {
                type: String,
                computed: '_computeIsUserPassing2FAVerificationApi(me)'
            },

            loginURL: {
                type: String,
                computed: '_computeLoginURL(index, domain)'
            },

            setupTwoFAURL: {
                type: String,
                computed: '_computeSetupTwoFAURL(index, domain)'
            },

            saveClientDataApi: {
                type: String,
                computed: '_computeSaveClientDataApi(me)'
            },

            name: {
                type: Object,
                value: function () {
                    return {
                        me: this.me,
                        dashboards: this.dashboards,
                        applicationTemplates: this.applicationTemplates,
                        link: this.link,
                        item: this.item,
                        notifications: this.notifications,
                        accounts: this.accounts,
                        icons: this.icons,
                        personalItems: this.personalItems,
                        sharedWithMeItems: this.sharedWithMeItems,
                        logout: this.logout,
                        authorizedApps: this.authorizedApps,
                        twoFA: this.twoFA,
                        twoFAQr: this.twoFAQr,
                        twoFACodes: this.twoFACodes,
                        transferToken: this.transferToken,
                        changePassword: this.changePassword,
                        accountLog: this.accountLog,
                        partner: this.partner,
                        profileImage: this.profileImage,
                        vaultLogin: this.vaultLogin,
                        vaultCreditCard: this.vaultCreditCard,
                        vaultIdentity: this.vaultIdentity,
                        vaultSoftwareLicence: this.vaultSoftwareLicence,
                        vaultPassport: this.vaultPassport,
                        vaultSecureNote: this.vaultSecureNote,
                        companies: this.companies,
                        upgradeToBusiness: this.upgradeToBusiness,
                        companiesAccountIsContactInApi: this.companiesAccountIsContactInApi,
                        isUserLoggedInApi: this.isUserLoggedInApi,
                        isUserPassing2FAVerificationApi: this.isUserPassing2FAVerificationApi,
                        loginURL: this.loginURL,
                        setupTwoFAURL: this.setupTwoFAURL,
                        saveClientDataApi: this.saveClientDataApi
                    }
                },
                notify: true
            }
        },
        attached: function () {
            this.name = {
                me: this.me,
                dashboards: this.dashboards,
                applicationTemplates: this.applicationTemplates,
                link: this.link,
                item: this.item,
                notifications: this.notifications,
                accounts: this.accounts,
                icons: this.icons,
                personalItems: this.personalItems,
                sharedWithMeItems: this.sharedWithMeItems,
                logout: this.logout,
                authorizedApps: this.authorizedApps,
                twoFA: this.twoFA,
                twoFAQr: this.twoFAQr,
                twoFACodes: this.twoFACodes,
                transferToken: this.transferToken,
                changePassword: this.changePassword,
                accountLog: this.accountLog,
                partner: this.partner,
                profileImage: this.profileImage,
                vaultLogin: this.vaultLogin,
                vaultCreditCard: this.vaultCreditCard,
                vaultIdentity: this.vaultIdentity,
                vaultSoftwareLicence: this.vaultSoftwareLicence,
                vaultPassport: this.vaultPassport,
                vaultSecureNote: this.vaultSecureNote,
                companies: this.companies,
                upgradeToBusiness: this.upgradeToBusiness,
                companiesAccountIsContactInApi: this.companiesAccountIsContactInApi,
                isUserLoggedInApi: this.isUserLoggedInApi,
                isUserPassing2FAVerificationApi: this.isUserPassing2FAVerificationApi,
                loginURL: this.loginURL,
                setupTwoFAURL: this.setupTwoFAURL,
                saveClientDataApi: this.saveClientDataApi
            };
        },

        _computeOrigin: function (domain, index) {
            return domain+'/'+(index == '' ? '' : index + '/' )+'api/v2';
        },

        _me: function (index, domain) {
            return this._computeOrigin(domain, index)+'/me';
        },

        _dashboards: function (index, domain) {
            return this._computeOrigin(domain, index)+'/dashboards';
        },

        _applicationTemplates: function (index, domain) {
            return this._computeOrigin(domain, index)+'/applications';
        },

        _link: function (index, domain) {
            return this._computeOrigin(domain, index)+'/applications/link';
        },

        _item: function (index, domain) {
            return this._computeOrigin(domain, index)+'/applications/item';
        },

        _notifications: function (index, domain) {
            return this._computeOrigin(domain, index)+'/notifications';
        },
        _accounts: function (index, domain) {
            return this._computeOrigin(domain, index)+'/accounts';
        },

        _icons: function (index, domain) {
            return this._computeOrigin(domain, index)+'/me/icons';
        },

        _personalItems: function (index, domain) {
            return this._computeOrigin(domain, index) + '/me/icons/personal';
        },

        _sharedWithMeItems: function (index, domain) {
            return this._computeOrigin(domain, index) + '/me/icons/shared-with-me';
        },

        _logout: function (index, domain) {
            return domain + '/' + (index == '' ? '' : index + '/' ) + 'logout';
        },

        _authorizedApps: function(index, domain) {
            return this._computeOrigin(domain, index) + '/me/authorized-apps';
        },

        _twoFA: function(index, domain) {
            return this._computeOrigin(domain, index) + '/me/2fa';
        },

        _twoFAQr: function(index, domain) {
            return this._computeOrigin(domain, index) + '/me/2fa/qr';
        },

        _twoFACodes: function(index, domain) {
            return this._computeOrigin(domain, index) + '/me/2fa/codes';
        },

        _transferToken: function(index, domain) {
            return this._computeOrigin(domain, index) + '/me/transfer-token';
        },

        _changePassword: function(index, domain) {
            return this._computeOrigin(domain, index) + '/me/change-password';
        },

        _accountLog: function(index, domain) {
            return this._computeOrigin(domain, index) + '/me/log';
        },

        _partner: function(index, domain) {
            return this._computeOrigin(domain, index) + '/me/partner';
        },

        _profileImage: function(index, domain) {
            return this._computeOrigin(domain, index) + '/me/profile-image';
        },

        _vaultLogin: function(index, domain) {
            return this._computeOrigin(domain, index) + '/vault';
        },

        _vaultCreditCard: function(index, domain) {
            return this._computeOrigin(domain, index) + '/vault-cc';
        },

        _vaultIdentity: function(index, domain) {
            return this._computeOrigin(domain, index) + '/vault-identity';
        },

        _vaultSoftwareLicence: function(index, domain) {
            return this._computeOrigin(domain, index) + '/vault-software-licence';
        },

        _vaultPassport: function(index, domain) {
            return this._computeOrigin(domain, index) + '/vault-passport';
        },

        _vaultSecureNote: function(index, domain) {
            return this._computeOrigin(domain, index) + '/vault-secure-note';
        },

        _companies: function(index, domain) {
            return this._computeOrigin(domain, index) + '/companies';
        },

        _upgradeToBusiness: function(index, domain) {
            return this._computeOrigin(domain, index) + '/company';
        },

        _computeCompaniesAccountIsContactInApi: function(me) {
            return me ? (me + '/contact/companies?extended=1') : '';
        },

        _computeIsUserLoggedInApi: function(me) {
            return me ? (me + '/is-logged-in') : '';
        },

        _computeIsUserPassing2FAVerificationApi: function(me) {
            return me ? (me + '/is-passing-2fa-verification') : '';
        },

        _computeLoginURL: function (index, domain) {
            return domain ? (domain + '/' + (index == '' ? '' : index + '/' ) + 'login') : '';
        },

        _computeSetupTwoFAURL: function (index, domain) {
            return domain ? (domain + '/' + (index == '' ? '' : index + '/' ) + 'force/configure-2fa') : '';
        },

        _computeSaveClientDataApi: function (me) {
            return me ? (me + '/byod/register') : '';
        }
    });
</script>
