<!doctype html>
<html>
<head>
    <title>appsco-vault-items demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../../components/appsco-api.html">
    <link rel="import" href="../appsco-vault-items.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        .size {
            max-width: none;
        }
    </style>
</head>
<body>

<div class="vertical-section-container centered size">
    <h3>appsco-vault-items Demo</h3>
    <demo-snippet>
        <template is="dom-bind">
            <appsco-api id="api" domain="https://my-dev.appsco.com" index="" name="{{ api }}"></appsco-api>

            <appsco-vault-items
                    id="appscoVaultItems"
                    size="100"
                    load-more
                    auto-load
                    authorization-token="1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44"
                    vault-login-api="[[ api.vaultLogin ]]"
                    vault-credit-card-api="[[ api.vaultCreditCard ]]"
                    vault-identity-api="[[ api.vaultIdentity ]]"
                    vault-software-licence-api="[[ api.vaultSoftwareLicence ]]"
                    vault-passport-api="[[ api.vaultPassport ]]"
                    vault-secure-note-api="[[ api.vaultSecureNote ]]"></appsco-vault-items>

            <script>
                appscoVaultItems.addEventListener('loaded', function(event) {
                    console.log('Loaded....', event.detail.items);
                });

                appscoVaultItems.addEventListener('info', function(event) {
                    console.log('Show info....', event.detail.item);
                });

                appscoVaultItems.addEventListener('edit', function(event) {
                    console.log('Edit item....', event.detail.item);
                });
            </script>
        </template>
    </demo-snippet>
</div>

</body>
</html>
