<!doctype html>
<html>
<head>
    <title>appsco-application demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-vault-remove.html">
    <link rel="import" href="../../components/appsco-api.html">
    <link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="../../../../bower_components/iron-meta/iron-meta.html">
    <link rel="import" href="../../../../bower_components/paper-button/paper-button.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>appsco-vault-remove Demo</h3>


    <demo-snippet>
        <appsco-vault-remove-demo id="removeDemo"></appsco-vault-remove-demo>
        <template>
            <appsco-vault-remove></appsco-vault-remove>
        </template>

    </demo-snippet>
</div>
<dom-module id="appsco-vault-remove-demo">
    <template>
        <appsco-api id="api" domain="https://my-dev.appsco.com" index="" name="{{ api }}"></appsco-api>
        <iron-ajax
                id="vaultItemsRequest"
                url="[[ api.vaultLogin ]]?extended=1"
                last-response="{{ajaxResponse}}"
                headers="{{ _computedHeaders }}"
                debounce-duration="300">
        </iron-ajax>
        <template is="dom-repeat" items="{{ ajaxResponse.items }}" as="item">
            <div>
                {{ item.name }}
                <appsco-vault-remove
                    id="removeMe_{{ index}}"
                    authorization-token="[[ authorizationToken ]]"
                    item="[[ item ]]"
                ></appsco-vault-remove>
                <paper-button id="removeMeBtn_{{ index }}" on-tap="_remove">Remove</paper-button>
            </div>
        </template>
    </template>
    <script>
        Polymer({

            is: 'appsco-vault-remove-demo',

            properties: {
                authorizationToken: {
                    type: String,
                    value: '1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44'
                },
                _computedHeaders: {
                    type: Object,
                    computed: "_computeHeaders(authorizationToken)"
                }
            },
            attached: function () {
                this.$.vaultItemsRequest.generateRequest();
            },
            reset: function () {
                this.$.vaultItemsRequest.generateRequest();
            },
            _computeHeaders: function (authorizationToken) {
                return {
                    "Authorization": "token " + authorizationToken
                }
            },
            _remove: function (e) {
                var appRemove = this.$$("#removeMe_" + e.model.index);
                    appRemove.open();
            }
        });
    </script>
</dom-module>
</body>
</html>
