<!doctype html>
<html>
<head>
    <title>appsco-vault-info demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../../iron-ajax/iron-ajax.html">
    <link rel="import" href="../appsco-vault-info.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>appsco-vault-info Demo</h3>
    <demo-snippet>
        <template is="dom-bind">

            <iron-ajax id="ironAjax"
                       auto
                       url="https://my-dev.appsco.com/api/v2/vault-cc?extended=1"
                       handle-as="json"
                       headers='{
                            "Authorization": "token 1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44"
                        }'>
            </iron-ajax>

            <appsco-vault-info id="appscoVaultInfo"></appsco-vault-info>

            <script>
                ironAjax.addEventListener('response', function(event) {
                    var item = event.detail.response.items[0];

                    item.vaultType = 'credit-card';
                    item.displayTitle = item.title ? item.title : item.name;
                    item.icon = 'icons:credit-card';

                    appscoVaultInfo.item = item;
                });
            </script>
        </template>
    </demo-snippet>
</div>

</body>
</html>
