<!doctype html>
<html>
<head>
    <title>appsco-vault-info demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-vault-actions.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        :root {
            --vault-action-list: {
                 top: 30px;
                 z-index: 10;
             };
        }
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>appsco-vault-actions Demo</h3>
    <demo-snippet>
        <template>
            <appsco-vault-actions></appsco-vault-actions>
        </template>
    </demo-snippet>
</div>

</body>
</html>
