<link rel="import" href="../../../bower_components/polymer/polymer.html">

<!--
`appsco-vault`
Component that represents composition of components related to appsco vault.

@demo demo/index.html 
-->

<dom-module id="appsco-vault">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <p>
            Component that represents composition of components related to appsco vault.
        </p>

    </template>

    <script>
        Polymer({

            is: 'appsco-vault',

            properties: {}

        });
    </script>
</dom-module>
