<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/paper-styles/color.html">

<!--
`appsco-vault-info`
Contains app image, title.

    <appsco-vault-info item="{}">
    </appsco-vault-info>

### Styling

`<appsco-vault-info>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-vault-info` | Mixin for the root element | `{}`

@demo demo/appsco-vault-info.html
-->

<dom-module id="appsco-vault-info">
    <template>
        <style>
            :host {
                display: block;
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--appsco-vault-info);
            }
            :host .item-icon {
                width: 28px;
                height: 28px;
                margin-right: 4px;
            }
            :host .item-title {
            @apply(--paper-font-subhead);
            @apply(--paper-font-common-nowrap);
                line-height: 28px;
                display: block;
            }
            :host([login]) {
                color: var(--vault-login-color, --google-blue-700);
            }
            :host([credit-card]) {
                color: var(--vault-credit-card-color, --paper-purple-700);
            }
            :host([identity]) {
                color: var(--vault-identity-color, --paper-light-blue-500);
            }
            :host([software-licence]) {
                color: var(--vault-software-licence-color, --google-green-700);
            }
            :host([passport]) {
                color: var(--vault-passport-color, --google-red-700);
            }
            :host([secure-note]) {
                color: var(--vault-secure-note-color, --google-yellow-700);
            }
        </style>

        <iron-icon icon="[[ item.icon ]]" class="item-icon"></iron-icon>
        <span class="item-title">[[ item.displayTitle ]]</span>

    </template>

    <script>
        Polymer({

            is: 'appsco-vault-info',

            properties: {

                /**
                 * Vault item that is to be rendered.
                 */
                item: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * Indicates if item is has Login type.
                 */
                login: {
                    type: String,
                    computed: '_computeLoginType(item)',
                    reflectToAttribute: true
                },

                /**
                 * Indicates if item is has Credit Card type.
                 */
                creditCard: {
                    type: String,
                    computed: '_computeCreditCardType(item)',
                    reflectToAttribute: true
                },

                /**
                 * Indicates if item is has Identity type.
                 */
                identity: {
                    type: String,
                    computed: '_computeIdentityType(item)',
                    reflectToAttribute: true
                },

                /**
                 * Indicates if item is has Software Licence type.
                 */
                softwareLicence: {
                    type: String,
                    computed: '_computeSoftwareLicenceType(item)',
                    reflectToAttribute: true
                },

                /**
                 * Indicates if item is has Passport type.
                 */
                passport: {
                    type: String,
                    computed: '_computePassportType(item)',
                    reflectToAttribute: true
                },

                /**
                 * Indicates if item is has Secure Note type.
                 */
                secureNote: {
                    type: String,
                    computed: '_computeSecureNoteType(item)',
                    reflectToAttribute: true
                }
            },

            _computeLoginType: function(item) {
                return item && item.vaultType === 'login';
            },

            _computeCreditCardType: function(item) {
                return item && item.vaultType === 'credit-card';
            },

            _computeIdentityType: function(item) {
                return item && item.vaultType === 'identity';
            },

            _computeSoftwareLicenceType: function(item) {
                return item && item.vaultType === 'software-licence';
            },

            _computePassportType: function(item) {
                return item && item.vaultType === 'passport';
            },

            _computeSecureNoteType: function(item) {
                return item && item.vaultType === 'secure-note';
            }
        });
    </script>
</dom-module>
