<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../components/appsco-form-error.html">

<!--
`appsco-vault-login`

Contains form for new / edit vault item of type Login.

Form fields: name, url, username, password, note.

Upon success fire event vault-item-saved.

    <appsco-vault-login>
    </appsco-vault-login>

### Styling

`<appsco-vault-login>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-vault-login` | Mixin for the root element | `{}`

@demo demo/appsco-vault-login.html
-->

<dom-module id="appsco-vault-login">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply(--appsco-vault-login);

                --paper-dropdown-menu: {
                    display: block;
                };
            }
            :host .submit-button {
                margin: 20px 0 0 0;
            }
        </style>

        <appsco-loader active="[[ _loader ]]" loader-alt="Appsco is saving vault item" multi-color></appsco-loader>

        <appsco-form-error message="[[ _error ]]"></appsco-form-error>

        <form is="iron-form"
              id="vaultLoginForm"
              method="POST"
              action="[[ _computedAction ]]"
              headers="{{ _computedHeaders }}"
              on-iron-form-presubmit="_onFormPresubmit"
              on-iron-form-error="_onFormError"
              on-iron-form-response="_onFormResponse">

            <div class="input-container">
                <paper-input
                        id="name"
                        name="vault_login[name]"
                        label="Name"
                        required
                        value="[[ item.name ]]"
                ></paper-input>
            </div>

            <div class="input-container">
                <paper-input
                        id="url"
                        name="vault_login[url]"
                        pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                        error-message="Invalid Url"
                        auto-validate
                        label="Url"
                        value="[[ item.url ]]"
                ></paper-input>
            </div>

            <div class="input-container">
                <paper-input
                        id="username"
                        name="vault_login[username]"
                        label="Username"
                        required
                        value="[[ item.username ]]"
                ></paper-input>
            </div>

            <div class="input-container">
                <paper-input
                        id="password"
                        type="password"
                        name="vault_login[password]"
                        label="Password"
                        required
                        value="[[ item.password ]]"
                ></paper-input>
            </div>

            <div class="input-container">
                <paper-textarea
                        id="note"
                        label="Note"
                        value="[[ item.note ]]"
                        name="vault_login[note]"
                ></paper-textarea>
            </div>
        </form>

        <template is="dom-if" if="[[ !noSubmitAction ]]">
            <paper-button
                    id="submit"
                    class="submit-button"
                    on-tap="_submitForm">Save</paper-button>
        </template>

        <iron-a11y-keys
                target="[[ _target ]]"
                keys="enter"
                on-keys-pressed="_onEnter">
        </iron-a11y-keys>

    </template>
    <script>
        Polymer({

            is: 'appsco-vault-login',

            properties: {

                /**
                 * Item to update.
                 */
                item: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    observer: "_onItemChange"
                },

                /**
                 * Indicates if submit button should be present or not.
                 */
                noSubmitAction: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Authorization token for the account.
                 */
                authorizationToken: {
                    type: String,
                    value: function() { return ''; }
                },

                /**
                 * Computed headers.
                 * It contains authorization token.
                 */
                _computedHeaders: {
                    type: Object,
                    computed: "_computeHeaders(authorizationToken)"
                },

                _loader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Error message for settings form.
                 */
                _error: {
                    type: String
                },

                vaultLoginApi: {
                    type: String,
                    notify: true
                },

                /**
                 * Computed action.
                 */
                _computedAction: {
                    type: Object,
                    computed: "_computeAction(item, vaultLoginApi)"
                },

                /**
                 * Indicates if item should be updated or new one added.
                 */
                _updateAction: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Target for iron-a11y-keys component.
                 * Submit form on enter.
                 */
                _target: {
                    type: Object,
                    value: function() {
                        return this.$.vaultLoginForm
                    }
                }
            },

            _onItemChange: function() {

                for (key in this.item) {
                    return false;
                }

                this.item = {
                    name: '',
                    url: '',
                    username: '',
                    password: '',
                    note: ''
                };

            },

            /**
             * Computes authorization headers.
             *
             * @param {Object} authorizationToken
             * @returns {{Authorization: string}}
             * @private
             */
            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            },

            _computeAction: function(item, vaultApi) {

                if (item.self) {
                    this._updateAction = true;
                    return item.self;
                }

                this._updateAction = false;
                return vaultApi;

            },

            /**
             * Submits signup form on ENTER key using iron-a11y-keys component.
             *
             * @private
             */
            _onEnter: function() {
                this._submitForm();
            },

            save: function() {
                this._submitForm();
            },

            _submitForm: function() {
                this.$.vaultLoginForm.submit();
            },

            _onFormPresubmit: function() {
                this._loader = true;

                if (this._updateAction) {
                    this.$.vaultLoginForm.request.method = 'PATCH';
                }
            },

            /**
             * Called on form error when trying to save settings.
             *
             * @param {Object} event
             * @private
             */
            _onFormError: function(event) {
                this._error = event.detail.error.message;
                this._loader = false;
            },

            /**
             * Called after settings have been submited.
             *
             * @param {Object} event
             * @private
             */
            _onFormResponse: function(event) {
                var item = event.detail.response.item;

                item.displayTitle = item.title ? item.title : item.name;
                item.vaultType = 'login';

                /**
                 * Fired after vault item save success.
                 *
                 * @event vault-item-saved
                 */
                this.fire('vault-item-saved', {
                    item: item
                });

                this.reset();

                this._loader = false;
            },

            /**
             * Resets component.
             */
            reset: function() {
                this.$.name.invalid = false;
                this.$.username.invalid = false;
                this.$.password.invalid = false;
                this._error = '';
                this._loader = false;
            }
        });
    </script>
</dom-module>
