<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<!--
`appsco-vault-actions`
Actions related to applications page: New Application, Search, Filter, Edit (mode).
- New Application - adding new app <appsco-application-add>.
- Search: search added applications.
- Filter: filter added applications.
- Edit mode: make added applications in edit mode for reorder (drag and drop), select grouping.


    <appsco-vault-actions>
    </appsco-vault-actions>

### Styling

`<appsco-vault-actions>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--add-vault-icon-color` | Color for add-vault-button-icon | `{}`
`--appsco-vault-actions` | Mixin for the root element | `{}`
`--vault-action-list` | Mixin for the inner paper-listbox element | `{}`
`--vault-action-item-hover` | Mixin for the inner paper-item element in :hover state | `{}`
`--add-vault-button` | Mixin for add vault action button | `{}`

@demo demo/appsco-vault-actions.html
-->

<dom-module id="appsco-vault-actions">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-end-justified);
            @apply(--appsco-vault-actions);

            }
            :host paper-listbox {
                max-width: 230px;
                overflow: hidden;
            }
            :host paper-item:hover {
            @apply(--vault-action-item-hover);
            }
            :host .action {
                margin-right: 10px;
            }
            :host .add-vault-action {
                margin-right: 0;
            }
            :host .add-vault-button {
            @apply(--add-vault-button);
            }
            .add-vault-icon-button {
                display: none;
            @apply(--add-vault-icon-button);

                --iron-icon-fill-color: var(--add-vault-icon-color);
            }
            :host .vault-action-list {
                position: absolute;
                top: 50px;
                right: 0;
                width: 200px;
                @apply(--shadow-elevation-2dp);
                display: none;
                @apply(--vault-action-list);
            }
            :host .vault-item-icon {
                width: 18px;
                height: 18px;
                margin-right: 8px;
            }
            :host .flex-none {
            @apply(--layout-flex-none);
            }
        </style>

        <div action-item class="action add-vault-action flex-none">
            <paper-button id="addItemAction"
                          class="add-vault-button"
                          on-tap="_toggleActionList">Add item</paper-button>

            <paper-listbox id="actionList"
                           class="vault-action-list"
                           on-iron-select="_onActionSelect">

                <template is="dom-repeat" items="[[ _actionList ]]">
                    <paper-item value$="[[ item.value ]]">
                        <iron-icon icon="[[ item.icon ]]" class="vault-item-icon"></iron-icon>
                        [[ item.name ]]</paper-item>
                </template>
            </paper-listbox>
        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-vault-actions',

            properties: {

                _actionList: {
                    type: Array,
                    value: function() {
                        return [
                            {
                                value: 'login',
                                name: 'Login',
                                icon: 'icons:input'
                            },
                            {
                                value: 'credit-card',
                                name: 'Credit Card',
                                icon: 'icons:credit-card'
                            },
                            {
                                value: 'identity',
                                name: 'Identity',
                                icon: 'icons:perm-identity'
                            },
                            {
                                value: 'software-licence',
                                name: 'Software Licence',
                                icon: 'communication:vpn-key'
                            },
                            {
                                value: 'passport',
                                name: 'Passport',
                                icon: 'icons:flight-takeoff'
                            },
                            {
                                value: 'secure-note',
                                name: 'Secure Note',
                                icon: 'editor:insert-drive-file'
                            }
                        ]
                    },
                    notify: true
                },

                _actionsVisible: {
                    type: Boolean,
                    value: false,
                    notify: true
                },

                /**
                 * Animation config with hero animation.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry':{
                                name: 'scale-up-animation',
                                node: this.$$('#actionList'),
                                axis: 'y',
                                transformOrigin: '0 0',
                                timing: {
                                    duration: 300
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this.$$('#actionList'),
                                timing: {
                                    duration: 200
                                }
                            }
                        }
                    }
                }

            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            listeners: {
                '_actions-visible-changed': '_actionsVisibleChanged',
                'neon-animation-finish': '_onAnimationFinish'
            },

            ready: function () {
                Polymer.Gestures.add(document, 'tap', this._handleDocumentClick.bind(this));
            },

            /**
             * Evaluates if item is in given path.
             *
             * @param {HTMLElement} element The element to be evaluated.
             * @param {Array<HTMLElements>=} path Elements in path to be checked against item element.
             * @return {Boolean}
             *
             * @private
             */
            _isInPath: function(path, element) {
                path = path || [];

                for (var i = 0; i < path.length; i++) {

                    if (path[i] == element) {
                        return true;

                        break;
                    }
                }

                return false;
            },

            /**
             * Listens for click outside.
             * @private
             */
            _handleDocumentClick: function(event) {
                var path = Polymer.dom(event).path;

                if (!this._isInPath(path, this.$.addItemAction)) {
                    this._actionsVisible = false;
                }

            },

            _toggleActionList: function() {
                this._actionsVisible = !this._actionsVisible;
            },

            _actionsVisibleChanged: function() {

                if (this._actionsVisible) {
                    this.$$('#actionList').style.display = 'block';
                    this.playAnimation('entry');
                }
                else {
//                    this.$$('#paperListboxAddItem').style.display = 'none';
                    this.playAnimation('exit');
                }

            },

            _onActionSelect: function(event) {

                this.fire('add-vault-action', {
                    action: event.detail.item.value
                });

                this._actionsVisible = false;

                this.$$('#actionList').selected = -1;
            },

            /**
             * It is called after dropdown animation is finished.
             * @private
             */
            _onAnimationFinish: function() {

                if (!this._actionsVisible) {
                    this.$$('#actionList').style.display = 'none';
                }

            }
        });
    </script>
</dom-module>
