<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../components/appsco-copy.html">
<link rel="import" href="../components/appsco-date-format.html">

<!--
`appsco-vault-details`
It contains all fields that vault item has.

    <appsco-vault-details>
    </appsco-vault-details>

### Styling

`<appsco-vault-details>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-vault-details-label` | Mixin for labels | `{}`
`--appsco-vault-details-content` | Mixin for content | `{}`
`--appsco-vault-details` | Mixin for the root element | `{}`

@demo demo/appsco-vault-details.html
-->

<dom-module id="appsco-vault-details">
    <template>
        <style>
            :host {
            @apply(--appsco-vault-details);
            @apply(--layout-vertical);
                display: none;
            }
            :host paper-icon-button {
                padding: 4px;
                width: 24px;
                height: 24px;
            }

            :host div[label] {
                color: var(--secondary-text-color);
            @apply(--paper-font-body1);
            @apply(--appsco-vault-details-label);
            }

            :host div[content] {
                color: var(--primary-text-color);
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--paper-font-subhead);
            @apply(--appsco-vault-details-content);
            }

            :host .flex {
            @apply(--layout-flex);
            @apply(--paper-font-common-nowrap);
            }

            :host > div {
                margin: 6px 0;
            }
        </style>

        <iron-ajax auto
                   url="[[ _countryListUrl ]]"
                   handle-as="json"
                   on-response="_onCountryListResponse"></iron-ajax>

        <iron-ajax auto
                   url="[[ _ccUrl ]]"
                   handle-as="json"
                   on-response="_onCCTypesResponse"></iron-ajax>

        <template is="dom-if" if="[[ item.title ]]">
            <div>
                <div label>Title</div>
                <div content>
                    <div class="flex">
                        [[ item.title ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.name ]]">
            <div>
                <div label>Name</div>
                <div content>
                    <div class="flex">
                        [[ item.name ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.firstName ]]">
            <div>
                <div label>First Name</div>
                <div content>
                    <div class="flex">
                        [[ item.firstName ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.lastName ]]">
            <div>
                <div label>Last Name</div>
                <div content>
                    <div class="flex">
                        [[ item.lastName ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.sex ]]">
            <div>
                <div label>Gender</div>
                <div content>
                    <div class="flex">
                        [[ _gender ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.birthDate ]]">
            <div>
                <div label>Birth date</div>
                <div content>
                    <div class="flex">
                        <appsco-date-format date="[[ item.birthDate.date ]]"></appsco-date-format>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.dateOfBirth ]]">
            <div>
                <div label>Date of birth</div>
                <div content>
                    <div class="flex">
                        <appsco-date-format date="[[ item.dateOfBirth.date ]]"></appsco-date-format>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.country ]]">
            <div>
                <div label>Country</div>
                <div content>
                    <div class="flex">
                        [[ _passportCountry ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.nationality ]]">
            <div>
                <div label>Nationality</div>
                <div content>
                    <div class="flex">
                        [[ item.nationality ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.licenceKey ]]">
            <div>
                <div label>Licence key</div>
                <div content>
                    <div class="flex">
                        [[ item.licenceKey ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ item.licenceKey ]]"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.licence ]]">
            <div>
                <div label>Licence</div>
                <div content>
                    <div class="flex">
                        [[ item.licence ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ item.licence ]]"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.version ]]">
            <div>
                <div label>Version</div>
                <div content>
                    <div class="flex">
                        [[ item.version ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.publisher ]]">
            <div>
                <div label>Publisher</div>
                <div content>
                    <div class="flex">
                        [[ item.publisher ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.supportEmail ]]">
            <div>
                <div label>Support email</div>
                <div content>
                    <div class="flex">
                        [[ item.supportEmail ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.price ]]">
            <div>
                <div label>Price</div>
                <div content>
                    <div class="flex">
                        [[ item.price ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.purchaseDate ]]">
            <div>
                <div label>Purchase date</div>
                <div content>
                    <div class="flex">
                        <appsco-date-format date="[[ item.purchaseDate.date ]]"></appsco-date-format>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.orderNumber ]]">
            <div>
                <div label>Order number</div>
                <div content>
                    <div class="flex">
                        [[ item.orderNumber ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.numberOfLicences ]]">
            <div>
                <div label>Number of licences</div>
                <div content>
                    <div class="flex">
                        [[ item.numberOfLicences ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.orderTotal ]]">
            <div>
                <div label>Order total</div>
                <div content>
                    <div class="flex">
                        [[ item.orderTotal ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.number ]]">
            <div>
                <div label>Number</div>
                <div content>
                    <div class="flex">
                        [[ item.number ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ item.number ]]"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.issuingAuthority ]]">
            <div>
                <div label>Issuing authority</div>
                <div content>
                    <div class="flex">
                        [[ item.issuingAuthority ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.issuedDate ]]">
            <div>
                <div label>Issue date</div>
                <div content>
                    <div class="flex">
                        <appsco-date-format date="[[ item.issuedDate.date ]]"></appsco-date-format>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.expirationDate ]]">
            <div>
                <div label>Expiration date</div>
                <div content>
                    <div class="flex">
                        <appsco-date-format date="[[ item.expirationDate.date ]]"></appsco-date-format>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.company ]]">
            <div>
                <div label>Company</div>
                <div content>
                    <div class="flex">
                        [[ item.company ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.jobTitle ]]">
            <div>
                <div label>Position</div>
                <div content>
                    <div class="flex">
                        [[ item.jobTitle ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.department ]]">
            <div>
                <div label>Department</div>
                <div content>
                    <div class="flex">
                        [[ item.department ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.phoneHome ]]">
            <div>
                <div label>Home phone</div>
                <div content>
                    <div class="flex">
                        [[ item.phoneHome ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.phoneBusiness ]]">
            <div>
                <div label>Office phone</div>
                <div content>
                    <div class="flex">
                        [[ item.phoneBusiness ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.cell ]]">
            <div>
                <div label>Cellphone number</div>
                <div content>
                    <div class="flex">
                        [[ item.cell ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.email ]]">
            <div>
                <div label>Email</div>
                <div content>
                    <div class="flex">
                        [[ item.email ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.website ]]">
            <div>
                <div label>Website</div>
                <div content>
                    <div class="flex">
                        [[ item.website ]]
                    </div>
                    <div>
                        <a href="[[ item.website ]]" target="_blank" rel="noopener noreferrer">
                            <paper-icon-button icon="icons:open-in-new"></paper-icon-button>
                        </a>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.cardHolder ]]">
            <div>
                <div label>Card holder</div>
                <div content>
                    <div class="flex">
                        [[ item.cardHolder ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.type ]]">
            <div>
                <div label>Card type</div>
                <div content>
                    <div class="flex">
                        [[ _creditCardType ]]
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.cardNumber ]]">
            <div>
                <div label>Card number</div>
                <div content>
                    <div class="flex">
                        [[ _cardNumber ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ item.cardNumber ]]"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.verificationNumber ]]">
            <div>
                <div label>Card Verification Number</div>
                <div content>
                    <div class="flex">
                        [[ item.verificationNumber ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ item.verificationNumber ]]"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.expiryDate ]]">
            <div>
                <div label>Expiry date</div>
                <div content>
                    <div class="flex">
                        <appsco-date-format date="[[ item.expiryDate.date ]]"></appsco-date-format>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.validFrom ]]">
            <div>
                <div label>Valid from</div>
                <div content>
                    <div class="flex">
                        <appsco-date-format date="[[ item.validFrom.date ]]"></appsco-date-format>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.url ]]">
            <div>
                <div label>Url</div>
                <div content>
                    <div class="flex">
                        [[ item.url ]]
                    </div>
                    <div>
                        <a href="[[ item.url ]]" target="_blank" rel="noopener noreferrer">
                            <paper-icon-button icon="icons:open-in-new"></paper-icon-button>
                        </a>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.username ]]">
            <div hidden$="[[ !item.username ]]">
                <div label>Username</div>
                <div content>
                    <div class="flex">
                        [[ item.username ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ item.username ]]"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.password ]]">
            <div hidden$="[[ !item.password ]]">
                <div label>Password</div>
                <div content>
                    <div class="flex">
                        ********************
                    </div>
                    <div>
                        <appsco-copy value="[[ item.password ]]"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="[[ item.note ]]">
            <div hidden$="[[ !item.note ]]">
                <div label>Note</div>
                <div content>
                    <div class="flex">
                        [[ item.note ]]
                    </div>
                    <div>
                        <appsco-copy value="[[ item.note ]]"></appsco-copy>
                    </div>
                </div>
            </div>
        </template>

    </template>
    <script>
        Polymer({

            is: 'appsco-vault-details',

            properties: {
                /**
                 * Vault item
                 */
                item: {
                    type: Object,
                    value: {},
                    notify: true
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 500
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                },

                /**
                 * Country list to get name of country from.
                 *
                 * This is loaded from local data/country-list.json.
                 */
                _countryList: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                _countryListUrl: {
                    type: String,
                    value: function() {
                        return this.resolveUrl('./data/country-list.json');
                    }
                },

                _ccUrl: {
                    type: String,
                    value: function() {
                        return this.resolveUrl('./data/credit-card-types.json');
                    }
                },

                /**
                 * Credit Card type list.
                 *
                 * This is loaded from local data/credit-card-types.json.
                 */
                _creditCardTypes: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                _creditCardType: {
                    type: String,
                    computed: '_computeCreditCardType(item, _creditCardTypes)'
                },

                _passportCountry: {
                    type: String,
                    computed: '_computePassportCountry(item, _countryList)'
                },

                _gender: {
                    type: String,
                    computed: '_computeGender(item)'
                },

                _cardNumber: {
                    type: String,
                    computed: '_computeCardNumber(item)'
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            listeners: {
                'item-changed': '_onItemChanged'
            },

            _onCountryListResponse: function(event, ironRequest) {
                this._countryList = ironRequest.response;
            },

            _onCCTypesResponse: function(event, ironRequest) {
                this._creditCardTypes = ironRequest.response;
            },

            attached: function() {
                this._showVaultDetails();
            },

            _onItemChanged: function() {
                this._showVaultDetails();
            },

            _showVaultDetails: function() {
                this.style.display = 'block';
                this.playAnimation('entry');
            },

            _computeCreditCardType: function(item) {
                var list = this._creditCardTypes,
                        length = list.length - 1;

                if (item) {
                    for (var i = 0; i < length; i++) {
                        var type = list[i];

                        if (type.code == item.type) {
                            return type.title;

                            break;
                        }

                    }
                }

                return '';
            },

            _computePassportCountry: function(item) {
                var list = this._countryList,
                        length = list.length - 1;

                if (item) {
                    for (var i = 0; i < length; i++) {
                        var country = list[i];

                        if (country.code == item.country) {
                            return country.name;
                        }

                    }
                }

                return '';
            },

            _computeGender: function(item) {

                if (item && item.sex && item.sex == 'm') {
                    return 'Male';
                }
                else if (item && item.sex && item.sex == 'f') {
                    return 'Female';
                }

                return '';

            },

            _computeCardNumber: function(item) {
                if (item && item.cardNumber) {
                    return '**********' + item.cardNumber.substr(item.cardNumber.length - 4);
                }
                return "";
            }
        });
    </script>
</dom-module>
