<!doctype html>
<html>
<head>
    <title>appsco-list-item demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-list-item.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        :root {}
    </style>
</head>
<body>

    <div class="vertical-section-container centered">
        <h3>Basic appsco-list-item Demo</h3>
        <demo-snippet>
            <template>

                <appsco-list-item
                        item='{
                                "icon": "https://apps-dev.appsco.com/icon/1.png",
                                "date": "2016-09-26T14:04:30+02:00",
                                "message": "Example message for appsco-list-item component."
                              }'>
                </appsco-list-item>

            </template>
        </demo-snippet>
</div>

</body>
</html>
