<!doctype html>

<html>
  <head>
    <title>appsco-account test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../../../bower_components/web-component-tester/browser.js"></script>

    <link rel="import" href="../appsco-account.html">
  </head>
  <body>

    <test-fixture id="basic">
      <template>
        <appsco-account></appsco-account>
      </template>
    </test-fixture>

    <script>
      suite('appsco-account', function() {

        test('instantiating the element works', function() {
          var element = fixture('basic');
          assert.equal(element.is, 'appsco-account');
        });

      });
    </script>
  </body>
</html>
