<!doctype html>
<html>
<head>
    <title>appsco-account-settings demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-account-settings.html">
    <link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="../../../../bower_components/paper-toast/paper-toast.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        :root {
            --appsco-account-settings: {
                 width: 400px;
             };
            --paper-listbox: {
                 width: 400px;
                 padding: 0;
             };
        }
        :root .vertical-section-container {
            max-width: 500px;
        }
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>Basic appsco-account-settings Demo</h3>
    <demo-snippet>
        <template is="dom-bind">

            <paper-toast id="toast" text="Account successfully changed."></paper-toast>

            <iron-ajax
                    id="ironAjax"
                    auto
                    url="https://my-dev.appsco.com/api/v2/me"
                    handle-as="json"
                    headers='{
                        "Authorization": "token 1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44"
                    }'>
            </iron-ajax>

            <appsco-account-settings
                    id="appscoAccountSettings"
                    account
                    authorization-token="1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44"
                    account-settings-api="https://my-dev.appsco.com/api/v2/me"></appsco-account-settings>

            <script type="text/javascript">
                ironAjax.addEventListener('response', function(event) {
                    appscoAccountSettings.account = event.detail.response.account;
                });

                appscoAccountSettings.addEventListener('settings-saved', function() {
                    toast.open();
                });
            </script>
        </template>
    </demo-snippet>
</div>

</body>
</html>
