<!doctype html>
<html>
<head>
    <title>appsco-account-partner demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-account-partner.html">
    <link rel="import" href="../../iron-ajax/iron-ajax.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>Basic appsco-account-partner Demo</h3>
    <demo-snippet>
        <template is="dom-bind">

            <iron-ajax
                    id="ironAjax"
                    auto
                    url="https://my-dev.appsco.com/api/v2/me/partner"
                    handle-as="json"
                    headers='{
                        "Authorization": "token 1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44"
                    }'>
            </iron-ajax>

            <appsco-account-partner
                    id="appscoAccountPartner"
                    partner></appsco-account-partner>

            <script type="text/javascript">
                ironAjax.addEventListener('response', function(event) {
                    appscoAccountPartner.partner = event.detail.response;
                });
            </script>
        </template>
    </demo-snippet>
</div>

</body>
</html>
