<!doctype html>
<html>
<head>
    <title>appsco-account-2fa-enable demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-account-2fa-enable.html">

    <style is="custom-style" include="demo-pages-shared-styles">

    </style>
</head>
<body>

<div class="vertical-section-container centered" style="max-width:800px;">
    <h3>Basic appsco-account-2fa-enable Demo</h3>
    <demo-snippet>
        <template is="dom-bind">
            <appsco-account-2fa-enable
                    id="appscoAccountActions"
                    authorization-token="rtlXv2jBLh_nDsmYrHhAmT2GyfUt7PBslcBfe8Cwx0QDsHQlkV211SlnmKVxqtzvuJxSfDDvjVUQHkRKOIWRJ8"
                    account2fa-api="http://appsco.loc/app_dev.php/api/v2/me/2fa"
            ></appsco-account-2fa-enable>
        </template>
    </demo-snippet>
</div>

</body>
</html>
