<!doctype html>
<html>
<head>
    <title>appsco-account-authorized-app-revoke demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-account-authorized-app-revoke.html">
    <link rel="import" href="../../iron-ajax/iron-ajax.html">
    <link rel="import" href="../../paper-button/paper-button.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>appsco-account-authorized-app-revoke Demo</h3>

    <demo-snippet>
        <template is="dom-bind">
            TO DO
        </template>
    </demo-snippet>
</div>
</body>
</html>
