<!doctype html>
<html>
<head>
    <title>appsco-account-actions demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../../bower_components/iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../appsco-account-actions.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        .message {
            font-style: italic;
            font-size: 18px;
            margin-top: 20px;
            display: none;
        }
    </style>
</head>
<body>

<div class="vertical-section-container centered">
    <h3>Basic appsco-account-actions Demo</h3>
    <demo-snippet>
        <template is="dom-bind">
            <appsco-account-actions
                    id="appscoAccountActions"
                    advanced></appsco-account-actions>

            <p id="showAdvancedSettings"
               class="message">Show advanced settings.</p>

            <script type="text/javascript">
                appscoAccountActions.addEventListener('advanced-settings', function() {
                    showAdvancedSettings.style.display = 'block';
                });
            </script>
        </template>
    </demo-snippet>
</div>

</body>
</html>
