<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">

<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../components/appsco-form-error.html">
<link rel="import" href="../components/appsco-search.html">
<link rel="import" href="appsco-group-card.html">

<!--
`appsco-resource-add-groups`
Provides functionality of adding resource item to groups.

    <appsco-resource-add-groups items="[]"
                                authorization-token="" 
                                groups-api=""
                                size=""></appsco-resource-add-groups>

-->

<dom-module id="appsco-resource-add-groups">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply(--appsco-paper-dialog);
            }
            :host paper-dialog-scrollable > * {
                @apply(--paper-dialog-scrollable-child);
            }
            :host .dialog-loader {
                margin: 0 !important;
                padding: 0 !important;
            }
            appsco-search {
                margin-bottom: 10px;
            }
            .dialog-container {
                padding-bottom: 20px;
            }
            .group-list {
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
                padding: 2px;
                margin-right: -8px;
            }
            appsco-group-card {
                margin-right: 6px;
                margin-bottom: 6px;
            }
            .selected-group {
                --group-card: {
                    padding-right: 10px;
                    width: 136px;
                };
            }
            :host .message {
                margin: 0;
                color: var(--secondary-text-color);
                font-style: italic;
                @apply(--paper-font-body2);
                @apply(--info-message);
            }
            :host .buttons paper-button {
                @apply(--paper-dialog-button);
            }
            :host .buttons paper-button[dialog-confirm] {
                @apply(--paper-dialog-confirm-button);
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
            .link-button {
                padding: 0;
                margin: 0;
                min-width: initial;
                @apply(--link-button);
            }
        </style>

        <paper-dialog id="dialog"
                      with-backdrop
                      entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation"
                      on-iron-overlay-opened="_onDialogOpened"
                      on-iron-overlay-closed="_onDialogClosed">

            <h2>Share to group</h2>

            <appsco-loader class="dialog-loader"
                           active="[[ _dialogLoader ]]"
                           loader-alt="Appsco is processing request"
                           multi-color></appsco-loader>

            <paper-dialog-scrollable>
                <div class="dialog-container">

                    <div class="group-list">

                        <appsco-form-error message="[[ _error ]]"></appsco-form-error>

                        <template is="dom-repeat" items="[[ _selectedGroups ]]">
                            <appsco-group-card class="selected-group"
                                               group="[[ item ]]"
                                               remove-action
                                               on-selected="_onRemoveSelectedGroup"></appsco-group-card>
                        </template>
                    </div>

                    <appsco-search id="appscoSearch"
                                   label="Search groups"
                                   float-label
                                   on-search="_onSearch"
                                   on-search-clear="_onSearchClear"></appsco-search>

                    <div class="group-list">

                        <appsco-loader active="[[ _searchLoader ]]"
                                       loader-alt="Appsco is processing request"
                                       multi-color></appsco-loader>

                        <template is="dom-repeat" items="[[ _searchList ]]">
                            <appsco-group-card group="[[ item ]]"
                                                 on-selected="_onGroupSelected"></appsco-group-card>
                        </template>

                        <template is="dom-if" if="[[ _message ]]">
                            <p class="message">
                                [[ _message ]]

                                <template is="dom-if" if="[[ _showCreateNewGroupAction ]]">
                                    <paper-button class="link-button"
                                                  on-tap="_onCreateGroupAction">Create it</paper-button>
                                </template>
                            </p>
                        </template>
                    </div>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_onAddGroupsToResourcesAction">Share</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({

            is: 'appsco-resource-add-groups',

            properties: {

                /**
                 * Items to add groups to.
                 */
                items: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String,
                    value: ''
                },

                /**
                 * Groups API link
                 */
                groupsApi: {
                    type: String,
                    value: ''
                },

                /**
                 * Number of groups to load show in search result.
                 */
                size: {
                    type: Number,
                    value: 8
                },

                resourceType: {
                    type: String,
                    value: ''
                },

                _headers: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                /**
                 * Applications which are shared.
                 * This array is populated from sharing API response.
                 */
                _responseItems: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                /**
                 * Groups list from search.
                 */
                _searchList: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                /**
                 * Message to display if there is no search result.
                 */
                _message: {
                    type: String
                },

                /**
                 * Indicates if Create New Group action should be displayed.
                 */
                _showCreateNewGroupAction: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Selected groups from search list.
                 */
                _selectedGroups: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                /**
                 * Indicates if search loader should be displayed or not.
                 */
                _searchLoader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates if dialog loader should be displayed or not.
                 */
                _dialogLoader: {
                    type: Boolean,
                    value: false
                },

                _requests: {
                    type: Number,
                    value: 0
                }
            },

            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            },

            /**
             * Toggles dialog.
             */
            toggle: function() {
                this.$.dialog.toggle();
            },

            /**
             * Opens dialog.
             */
            open: function() {
                this.$.dialog.open();
            },

            /**
             * Closes dialog.
             */
            close: function() {
                this.$.dialog.close();
            },

            setItems: function(items) {
                this.items = items;
            },

            setType: function(type) {
                this.resourceType = type;
            },

            /**
             * Called after dialog has been opened.
             *
             * @private
             */
            _onDialogOpened: function() {
                this.$.appscoSearch.setup();
            },

            /**
             * Called after dialog has been closed.
             *
             * @private
             */
            _onDialogClosed: function() {
                this._reset();
                this.set('_selectedGroups', []);
            },
            
            _showDialogLoader: function() {
                this._dialogLoader = true;
            },
            
            _hideDialogLoader: function() {
                this._dialogLoader = false;
            },

            _showSearchLoader: function() {
                this._searchLoader = true;
            },

            _hideSearchLoader: function() {
                this._searchLoader = false;
            },

            _showError: function(message) {
                this._error = message;
            },

            _hideError: function() {
                this._error = '';
            },

            /**
             * Gets groups by term.
             *
             * @param {Object} event
             * @private
             */
            _onSearch: function(event) {
                var searchValue = event.detail.term,
                    searchLength = searchValue.length;

                this._showSearchLoader();
                this._message = '';
                this._hideError();
                this._showCreateNewGroupAction = false;

                if (searchLength === 0) {
                    this._message = '';
                    this._showCreateNewGroupAction = false;
                    this._hideSearchLoader();
                    this.set('_searchList', []);
                    return false;
                }

                if (searchLength < 3) {
                    this._message = 'Please type three or more letters.';
                    this._hideSearchLoader();
                    this.set('_searchList', []);
                    return false;
                }

                var request = document.createElement('iron-request'),
                    url = this.groupsApi + '?extended=1&limit=' + this.size + '&term=' + searchValue;

                this._message = '';

                var options = {
                    url: url,
                    method: 'GET',
                    handleAs: 'json',
                    headers: this._headers
                };

                request.send(options).then(function() {
                    var groups = request.response.company_groups;

                    if (groups && groups.length > 0) {
                        this.set('_searchList', groups);
                    }
                    else {
                        this.set('_searchList', []);
                        this._message = 'Group with name \'' + decodeURIComponent(searchValue) + '\' does not exist.';
                        this._showCreateNewGroupAction = true;
                    }

                    this._hideSearchLoader();
                }.bind(this));
            },

            _onSearchClear: function() {
                this._reset();
            },

            _onCreateGroupAction: function() {
                var name = this.$.appscoSearch.getValue(),
                    request = document.createElement('iron-request'),
                    url = this.groupsApi,
                    options = {
                        url: url,
                        method: 'POST',
                        handleAs: 'json',
                        headers: this._headers,
                        body: 'company_group[name]=' + encodeURIComponent(name)
                    };
                
                this._showDialogLoader();

                request.send(options).then(function() {
                    var group = request.response;

                    if (group && group.alias) {
                        this.push('_selectedGroups', group);
                        this._message = '';
                    }

                    this._showCreateNewGroupAction = false;
                    this._hideDialogLoader();

                    this.fire('group-added', {
                        group: group
                    });
                    
                }.bind(this), function() {
                    this._hideDialogLoader();
                    this._showError('Group with name \'' + name + '\' could not be created.');
                }.bind(this));
            },

            /**
             * Called after group has been selected from search list.
             *
             * @param {Object} event
             * @private
             */
            _onGroupSelected: function(event) {
                this._hideError();
                this.push('_selectedGroups', event.model.item);
                this.splice('_searchList', this._searchList.indexOf(event.model.item), 1);
            },

            _onRemoveSelectedGroup: function(event) {
                this.push('_searchList', event.model.item);
                this.splice('_selectedGroups', this._selectedGroups.indexOf(event.model.item), 1);
            },

            _addGroupsToResource: function(item) {

                return new Promise(function(resolve, reject) {
                    var groups = this._selectedGroups,
                        length = groups.length - 1,
                        request = document.createElement('iron-request'),
                        options = {
                            url: item.self + '/groups',
                            method: 'POST',
                            handleAs: 'json',
                            headers: this._headers
                        },
                        body = '';

                    for (var i = 0; i <= length; i++) {
                        var next = (i === length) ? '' : '&';
                        body += 'groups[]=' + encodeURIComponent(groups[i].meta.self) + next;
                    }

                    options.body = body;

                    request.send(options).then(function() {

                        if (200 === request.status) {

                            switch (this.resourceType) {
                                case 'resources':
                                    resolve(request.response.application);
                                    break;

                                case 'accounts':
                                    resolve(request.response);
                                    break;

                                case 'contacts':
                                    resolve(request.response);
                                    break;
                            }
                        }
                    }.bind(this), function() {

                        if (404 === request.status) {
                            reject('There was an error while sharing resources to groups. Not all ' + this.resourceType + ' were shared to groups.');
                        }
                    }.bind(this));
                }.bind(this));
            },

            _onAddActionFinished: function() {

                if (this._responseItems.length > 0) {

                    /**
                     * Fired when groups have been added to items.
                     *
                     * @event groups-added-to-resources
                     */
                    this.fire('groups-added-to-resources', {
                        groups: this._selectedGroups,
                        items: this._responseItems,
                        resourceType: this.resourceType
                    });

                    this.close();
                }
                else {
                    this._showError('There was an error while sharing ' + this.resourceType + ' to selected groups. Please close the dialog and try again.');
                }

                this.set('_selectedGroups', []);
                this.set('_responseItems', []);
                this._hideDialogLoader();
            },

            _onAddGroupsToResourcesAction: function() {

                if (0 === this._selectedGroups.length) {
                    this._showError('Please add at least one group to share ' + this.resourceType + ' to.');
                    return false;
                }

                var items = this.items,
                    length = items.length;

                this._requests = length;

                this._hideError();
                this._showDialogLoader();

                for (var i = 0; i < length; i++) {
                    var item = items[i];

                    (function(me) {

                        me._addGroupsToResource(item).then(function(item) {
                            me.push('_responseItems', item);
                            me._requests--;

                            if (me._requests === 0) {
                                me._onAddActionFinished();
                            }
                        }.bind(me), function(message) {
                            me._showError(message);
                            me._requests--;

                            if (me._requests === 0) {
                                me._onAddActionFinished();
                            }
                        }.bind(me));

                    })(this);
                }
            },

            _reset: function() {
                this.$.appscoSearch.reset();
                this.set('_searchList', []);
                this._hideSearchLoader();
                this._hideDialogLoader();
                this._hideError();
                this._message = '';
            }
        });
    </script>
</dom-module>
