<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="appsco-company-group-image.html">
<link rel="import" href="../components/appsco-list-item-behavior.html">
<link rel="import" href="../components/appsco-list-item-styles.html">

<!--
`appsco-company-group-item`
Presents group in form of an item.

    <appsco-company-group-item item="{}"
                               authorization-token=""
                               preview>
    </appsco-company-group-item>

### Styling

`<appsco-company-group-item>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--background-color` | Background color applied to the root element | `#fff`
`--color` | Color applied to all the text | `#33`
`--appsco-company-group-item` | Mixin applied to group item element | `{}`
`--group-basic-info` | Mixin applied to the basic info | `{}`
`--group-status-info` | Mixin applied to the status info | `{}`
`--group-basic-info-values` | Mixin applied to the basic info values | `{}`
`--group-status-info-values` | Mixin applied to the status info values | `{}`

-->

<dom-module id="appsco-company-group-item">
    <template>
        <style include="appsco-list-item-styles"></style>

        <style>
            :host([preview][activated]) {
                background-color: #e8e8e8;
            }
            :host([preview]) .item-title {
                font-size: 14px;
                cursor: pointer;
            }
        </style>

        <iron-ajax id="getGroupRolesApiRequest"
                   url="[[ _groupRolesApiUrl ]]"
                   headers="[[ _headers ]]"
                   auto
                   on-error="_onGroupRolesError"
                   on-response="_onGroupRolesResponse"></iron-ajax>

        <iron-ajax id="getGroupContactsApiRequest"
                   url="[[ _groupContactsApiUrl ]]"
                   headers="[[ _headers ]]"
                   auto
                   on-error="_onGroupContactsError"
                   on-response="_onGroupContactsResponse"></iron-ajax>

        <iron-ajax id="getGroupResourcesApiRequest"
                   url="[[ _groupResourcesApiUrl ]]"
                   headers="[[ _headers ]]"
                   auto
                   on-error="_onGroupResourcesError"
                   on-response="_onGroupResourcesResponse"></iron-ajax>

        <template is="dom-if" if="[[ preview ]]">
            <span class="info-label item-title">[[ item.name ]]</span>
        </template>

        <template is="dom-if" if="[[ !preview ]]">
            <div class="item">

                <template is="dom-if" if="[[ selectable ]]">
                    <div class="select-action"
                         on-tap="_onSelectItemAction">
                        <appsco-company-group-image group="[[ item ]]"></appsco-company-group-image>

                        <div class="icon-action">
                            <div class="iron-action-inner">
                                <iron-icon icon="icons:check"></iron-icon>
                            </div>
                        </div>
                    </div>
                </template>

                <template is="dom-if" if="[[ !selectable ]]">
                    <appsco-company-group-image group="[[ item ]]"></appsco-company-group-image>
                </template>

                <div class="item-info item-basic-info">
                    <span class="info-label group-title">[[ item.name ]]</span>
                    <span class="info-value">Group</span>
                </div>

                <div class="item-info item-additional-info">
                    <div class="info">
                        <span class="info-label">Total resources:&nbsp;</span>
                        <span class="info-value">[[ _groupResourcesCount ]]</span>
                    </div>
                    <div class="info">
                        <span class="info-label">Total users:&nbsp;</span>
                        <span class="info-value">[[ _groupRolesCount ]]</span>
                    </div>
                    <div class="info">
                        <span class="info-label">Total contacts:&nbsp;</span>
                        <span class="info-value">[[ _groupContactsCount ]]</span>
                    </div>
                </div>

                <div class="actions">
                    <paper-button on-tap="_onEditItemAction">Edit</paper-button>
                </div>
            </div>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-company-group-item',

            properties: {

                /**
                 * Indicates if group should be in preview mode rather then full detailed view.
                 */
                preview: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                _headers: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _groupRolesApiUrl: {
                    type: String,
                    computed: '_computeGroupRolesApiUrl(item)'
                },

                _groupResourcesApiUrl: {
                    type: String,
                    computed: '_computeGroupResourcesApiUrl(item)'
                },

                _groupContactsApiUrl: {
                    type: String,
                    computed: '_computeGroupContactsApiUrl(item)'
                },

                _groupRolesCount: {
                    type: Number,
                    value: 0
                },

                _groupRolesLoaded: {
                    type: Boolean,
                    value: false
                },

                _groupResourcesCount: {
                    type: Number,
                    value: 0
                },

                _groupResourcesLoaded: {
                    type: Boolean,
                    value: false
                },

                _groupContactsCount: {
                    type: Number,
                    value: 0
                },

                _groupContactsLoaded: {
                    type: Boolean,
                    value: false
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior,
                Polymer.AppscoListItemBehavior
            ],

            observers: [
                '_listenForItemInfoLoad(_groupRolesLoaded, _groupResourcesLoaded, _groupContactsLoaded)'
            ],

            listeners: {
                'tap': '_onItemAction'
            },

            recalculateTotals: function() {
                this.$.getGroupRolesApiRequest.generateRequest();
                this.$.getGroupContactsApiRequest.generateRequest();
                this.$.getGroupResourcesApiRequest.generateRequest();
            },

            increaseGroupRolesCount: function(count) {
                this._groupRolesCount += count;
            },

            decreaseGroupRolesCount: function(count) {
                this._groupRolesCount -= count;
            },

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                }
            },

            _computeGroupRolesApiUrl: function(group) {
                return group.meta ? group.meta.company_roles : '';
            },

            _computeGroupResourcesApiUrl: function (group) {
                return group.meta ? group.meta.applications : '';
            },

            _computeGroupContactsApiUrl: function(group) {
                return group.meta ? group.meta.contacts : '';
            },

            _onGroupRolesError: function() {
                this._groupRolesCount = 0;
                this._groupRolesLoaded = true;
            },

            _onGroupContactsError: function() {
                this._groupContactsCount = 0;
                this._groupContactsLoaded = true;
            },

            _onGroupResourcesError: function() {
                this._groupResourcesCount = 0;
                this._groupResourcesLoaded = true;
            },

            _onGroupRolesResponse: function(event) {
                var response = event.detail.response;

                this._groupRolesCount = (response && response.meta) ? response.meta.total : 0;
                this._groupRolesLoaded = true;
            },

            _onGroupResourcesResponse: function(event) {
                var response = event.detail.response;

                this._groupResourcesCount = (response && response.meta) ? response.meta.total : 0;
                this._groupResourcesLoaded = true;
            },

            _onGroupContactsResponse: function(event) {
                var response = event.detail.response;

                this._groupContactsCount = (response && response.meta) ? response.meta.total : 0;
                this._groupContactsLoaded = true;
            },

            _listenForItemInfoLoad: function(rolesLoaded, resourcesLoaded, contactsLoaded) {

                if (rolesLoaded && resourcesLoaded && contactsLoaded) {
                    this._showItem();
                }
            }
        });
    </script>
</dom-module>
