<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/slide-down-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/slide-from-bottom-animation.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="appsco-company-group-roles.html">

<dom-module id="appsco-company-group-info-page">
    <template>
        <style include="webkit-scrollbar-style">
            :host {
                @apply(--full-page);

                --paper-card-header: {
                     border-bottom: 1px solid var(--divider-color);
                 };

                --background-color: var(--body-background-color);
            }
            paper-card {
                @apply(--full-page-paper-card);

                --paper-card-header-text: {
                    color: var(--primary-text-color);
                };
            }
            .page-close-action {
                @apply(--page-close-action);
            }
        </style>

        <paper-card heading="[[ group.name ]]" id="card">
            <paper-icon-button
                    icon="close"
                    title="Close"
                    class="page-close-action"
                    on-tap="_onBack"></paper-icon-button>

            <div class="card-content">
                <appsco-company-group-roles
                        id="appscoCompanyGroupRoles"
                        authorization-token="[[ authorizationToken ]]"
                        list-api="[[ _groupRolesApi ]]"
                        size="10"
                        load-more
                        on-remove-group-from-company-role="_onRemoveGroupFromCompanyRole"></appsco-company-group-roles>
            </div>
        </paper-card>

    </template>

    <script>
        Polymer({

            is: 'appsco-company-group-info-page',

            properties: {

                group: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                authorizationToken: {
                    type: String
                },

                _groupRolesApi: {
                    type: String,
                    computed: '_computeGroupRolesApi(group)'
                },

                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'slide-from-bottom-animation',
                                node: this,
                                timing: {
                                    duration: 300
                                }
                            },
                            'exit': {
                                name: 'slide-down-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimatableBehavior
            ],

            _computeGroupRolesApi: function(group) {
                return group.meta ? group.meta.company_roles + '?extended=1' : '';
            },

            _onBack: function() {
                this.fire('back');
            },

            setGroup: function(group) {
                this.group = group;
            },

            /*searchLabels: function(term) {
                this.$.appscoCompanyGroups.search(term);
            },

            addLabel: function(group) {
                this.$.appscoCompanyGroups.addLabel(group);
            },

            modifyLabel: function(group) {
                this.$.appscoCompanyGroups.modifyLabel(group);
            },

            removeLabel: function(group) {
                this.$.appscoCompanyGroups.removeLabel(group);
            },*/

            addGroupsCompanyRoles: function(groups, items) {

                if (this.$.appscoCompanyGroupRoles.$) {
                    var length = groups.length;

                    for (var i = 0; i < length; i++) {

                        if (groups[i].alias === this.group.alias) {
                            this.$.appscoCompanyGroupRoles.addGroupRoles(items);
                        }
                    }
                }
            },

            removeGroupsCompanyRoles: function(group, items) {

                if (this.$.appscoCompanyGroupRoles.$ && (group.alias === this.group.alias)) {
                    this.$.appscoCompanyGroupRoles.removeGroupRoles(items);
                }
            },

            setupPage: function() {
                this.fire('show-groups-page-actions');
            },

            resetPage: function() {
                this.fire('hide-groups-page-actions');
            },

            _onRemoveGroupFromCompanyRole: function(event) {
                event.stopPropagation();

                this.fire('remove-group-from-company-role', {
                    group: this.group,
                    role: event.detail.role
                })
            }
        });
    </script>
</dom-module>

