<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">

<link rel="import" href="../../components/account/appsco-account-image.html">

<!--
`appsco-company-group-contact-item`
Account item is used to present account in form of an item.

    <appsco-company-group-contact-item>
    </appsco-company-group-contact-item>

### Styling

`<appsco-company-group-contact-item>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--background-color` | Background color applied to the root element | `#fff`
`--color` | Color applied to all the text | `#33`
`--appsco-company-group-contact-item` | Mixin applied to contact item | `{}`

-->

<dom-module id="appsco-company-group-contact-item">
    <template>
        <style>
            :host {
                display: none;
                color: var(--primary-text-color);
            }
            paper-button {
                @apply(--paper-font-common-base);
                @apply(--paper-font-common-nowrap);

                padding: 4px;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.018em;
                line-height: 18px;
                text-transform: uppercase;
            }
            .preview-account-image {
                --account-image: {
                    width: 28px;
                    height: 28px;
                };
                --account-initials-background-color: var(--body-background-color-darker);
                --account-initials-font-size: 12px;
            }
        </style>
        <div class="preview-item">
            <appsco-account-image account="[[ contact.account ]]"
                                  class="preview-account-image"></appsco-account-image>
            <paper-tooltip position="right">[[ contact.account.display_name ]]<br/>[[ contact.account.email ]]</paper-tooltip>
        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-company-group-contact-item',

            properties: {

                contact: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                preview: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            attached: function() {
                this.style.display = 'inline-block';
                this.playAnimation('entry');
            }

        });
    </script>
</dom-module>
