<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">

<!--
`appsco-group-image`
Account image is used to present group in form of an image or initials if image is not present.

    <appsco-group-image group="{}">
    </appsco-group-image>
-->

<dom-module id="appsco-company-group-image">
    <template>
        <style>
            :host {
                display: block;
                color: #ffffff;
            }
            .group-image {
                width: 52px;
                height: 52px;
                margin: 0;
                border-radius: 50%;
                background-color: var(--group-image-background-color, --account-initials-background-color);
                position: relative;
                @apply(--group-image);
            }
            .group-image::shadow #sizedImgDiv, :host .group-image::shadow #placeholder {
                border-radius: 50%;
            }
            .group-image.preview {
                width: 36px;
                height: 36px;
                @apply(--group-image-preview);
            }
            .group-image iron-icon {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;

                --iron-icon-fill-color: var(--primary-text-color, #ffffff);
            }
            .group-image.preview iron-icon {
                width: 18px;
                height: 18px;
            }
        </style>

            <template is="dom-if" if="[[ !preview ]]">
                <div class="group-image">
                    <iron-icon icon="social:people"></iron-icon>
                </div>
            </template>

            <template is="dom-if" if="[[ preview ]]">
                <div class="group-image preview">
                    <iron-icon icon="social:people"></iron-icon>
                </div>
            </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-company-group-image',

            properties: {

                group: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                preview: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                }
            }

        });
    </script>
</dom-module>
