<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/transform-animation.html">

<link rel="import" href="appsco-company-group-contact-item.html">

<!--
`appsco-company-group-contacts`
Contains group's contact list and Load More action.
Contacts are loaded inside component through iron-ajax.

    <appsco-company-group-contacts list-api=""
                           authorization-token=""
                           size=""
                           load-more
                           preview>
    </appsco-company-group-contacts>

### Styling

`<appsco-company-group-contacts>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-company-group-contacts` | Mixin for the root element | `{}`
`--appsco-company-group-contact-item` | Mixin for item style | `{}`
`--group-contacts-container` | Mixin for the contacts container | `{}`
`--group-contacts-progress-bar` | Mixin applied to paper-progress for contact list | `{}`

-->

<dom-module id="appsco-company-group-contacts">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                @apply(--layout-vertical);
                @apply(--layout-center);
                @apply(--appsco-company-group-contacts);
            }
            .contacts {
                @apply(--layout-vertical);
                @apply(--layout-start);
            }
            appsco-company-group-contact-item {
                width: 100%;
                margin: 0 0 10px 0;
                @apply(--appsco-company-group-contact-item);
            }
            .group-contacts-container {
                width: 100%;
                position: relative;
            }
            appsco-loader {
                background-color: rgba(255, 255, 255, 0.4);
            }
            .load-more-box {
                margin-top: 10px;
                padding-top: 4px;
                position: relative;
            }
            .load-more-box paper-progress {
                width: 100%;
                position: absolute;
                top: 4px;
                left: 0;
            }
            .progress-bar {
                min-width: 100px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                @apply(--group-contacts-progress-bar);
            }
            paper-button {
                display: block;
                width: 120px;
                margin: 20px auto 0;
                text-align: center;
                @apply(--load-more-button);
            }
            .info-total {
                margin-bottom: 10px;
            }
            .total {
                @apply(--paper-font-caption);
                color: var(--secondary-text-color);
            }
            .message {
                color: var(--secondary-text-color);
                font-style: italic;
                @apply(--paper-font-body2);
                @apply(--info-message);
            }
            :host([preview]) .contacts {
                @apply(--layout-flex-none);
                display: block;
            }
            :host([preview]) appsco-company-group-contact-item[preview] {
                width: auto;
                margin: 0 0 0px 5px;
                float:left;
                @apply(--appsco-company-group-contact-item-preview);
            }
        </style>

        <div class="group-contacts-container">

            <iron-ajax
                    id="getGroupContactsApiRequest"
                    url="[[ listApi ]]"
                    headers="[[ _computedHeaders ]]"
                    debounce-duration="300"
                    on-error="_onError"
                    on-response="_onResponse"></iron-ajax>

            <paper-progress id="paperProgress"
                            class="progress-bar"
                            indeterminate></paper-progress>

            <template is="dom-if" if="[[ _message ]]">
                <p class="message">[[ _message ]]</p>
            </template>

            <template is="dom-if" if="[[ !_contactsEmpty ]]">

                <div class="info-total">
                    <div class="total">
                        Total contacts: [[ _totalContacts ]]
                    </div>
                </div>

                <div class="contacts">
                    <template is="dom-repeat"
                              items="{{ _contacts }}"
                              on-dom-change="_onItemsDomChange">

                        <appsco-company-group-contact-item id="appscoGroupContactItem_[[ index ]]"
                                                    contact="{{ item }}"
                                                    preview="[[ preview ]]"></appsco-company-group-contact-item>

                    </template>
                </div>
            </template>
        </div>

        <template is="dom-if" if="[[ !_contactsEmpty ]]">
            <div class="load-more-box" hidden$="[[ !_loadMore ]]">
                <paper-progress id="loadMoreProgress" indeterminate></paper-progress>
                <paper-button on-tap="_loadMoreContacts" id="loadMore">Load More</paper-button>
            </div>
        </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-company-group-contacts',

            properties: {

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String,
                    value: ''
                },

                /**
                 * Route to retrieve list
                 */
                listApi: {
                    type: String,
                    value: '',
                    observer: '_onListApiChanged'
                },

                /**
                 * Number of items to load and present
                 */
                size: {
                    type: Number,
                    value: 10
                },

                /**
                 * Show load more button
                 */
                loadMore: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates if group should be in preview mode rather then full detailed view.
                 */
                preview: {
                    type: Boolean,
                    value: false
                },

                _loadMore: {
                    type: Boolean,
                    value: false
                },

                _computedHeaders: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _contacts: {
                    type: Array,
                    value: function() {
                        return [];
                    },
                    notify: true
                },

                _allContacts: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                _contactsEmpty: {
                    type: Boolean,
                    value: false
                },

                _message: {
                    type: String,
                    value: ''
                },

                _nextPageApiUrl: {
                    type: String
                },

                _totalContacts: {
                    type: Number,
                    value: 0
                },

                _renderedIndex: {
                    type: Number,
                    value: -1
                },

                _loaders: {
                    type: Array,
                    value: function() { return []; }
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'cascaded-animation',
                                animation: 'slide-from-left-animation',
                                nodes: [],
                                nodeDelay: 50,
                                timing: {
                                    duration: 300
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                }
            },

            _onListApiChanged: function(url) {

                if (url && url.length > 0) {
                    this._loadContacts();
                }
            },

            _setLoadMoreAction: function() {
                this._loadMore = (this.loadMore && this._allContacts.length < this._totalContacts);
            },

            _hideLoadMoreAction: function() {
                this._loadMore = false;
            },

            _loadContacts: function() {
                this._showProgressBar();
                this._loadMore = false;
                this._clearContacts();
                this.$.getGroupContactsApiRequest.generateRequest();
            },

            reloadContacts: function() {
                this._loadContacts();
            },

            _loadMoreContacts: function() {
                this._showLoadMoreProgressBar();
                this.$.getGroupContactsApiRequest.url = this._nextPageApiUrl;
                this.$.getGroupContactsApiRequest.generateRequest();
            },

            _onError: function() {
                this._message = 'We couldn\'t load contacts at the moment. Please try again in a minute.';
                this._handleEmptyLoad();
            },

            _handleEmptyLoad: function() {
                this._contactsEmpty = true;
                this._message = 'There are no contacts attached to this group.';

                /**
                 * Fired when there are no contacts.
                 *
                 * @event empty-load
                 */
                this.fire('empty-load');

                this._hideProgressBar();
                this._hideLoadMoreProgressBar();
            },

            _clearLoaders: function() {
                for (var idx in this._loaders) {
                    clearTimeout(this._loaders[idx]);
                }
                this.set('_loaders', []);
            },

            _clearContacts: function() {
                this._clearLoaders();
                this.set('_contacts', []);
                this.set('_allContacts', []);
            },

            _onResponse: function(event) {
                var response = event.detail.response;

                if (response && response.contacts) {
                    var contacts = response.contacts,
                        meta = response.meta,
                        contactsCount = contacts.length - 1;

                    this._totalContacts = meta.total;
                    this._nextPageApiUrl = meta.next + "&limit=" + this.size;

                    if (meta.total === 0) {
                        this._handleEmptyLoad();
                        return false;
                    }

                    this._contactsEmpty = false;
                    this._message = '';

                    this._clearContacts();
                    contacts.forEach(function(el, index) {

                        this._loaders.push(setTimeout(function() {

                            this.push('_contacts', el);
                            this.push('_allContacts', el);

                            if (index == contactsCount) {

                                this._loadMore = this.loadMore;

                                if (this._contacts.length === meta.total) {
                                    this._loadMore = false;
                                }

                                this._hideProgressBar();
                                this._hideLoadMoreProgressBar();
                                this._setLoadMoreAction();

                                /**
                                 * Fired when contacts are loaded
                                 *
                                 * @event loaded
                                 * @param {Object} companyContacts[]
                                 */
                                this.fire('loaded', {
                                    companyContacts: contacts
                                });
                            }

                        }.bind(this), (index + 1) * 30));

                    }.bind(this));
                }
            },

            _showProgressBar: function() {
                this.$$('#paperProgress').hidden = false;
            },

            _showLoadMoreProgressBar: function() {
                this.$$('#loadMoreProgress').hidden = false;
            },

            _hideProgressBar: function() {

                setTimeout(function() {
                    this.$$('#paperProgress').hidden = true;
                }.bind(this), 300);

            },

            _hideLoadMoreProgressBar: function() {

                setTimeout(function() {
                    this.$$('#loadMoreProgress').hidden = true;
                }.bind(this), 300);

            },

            _onItemsDomChange: function() {
                var index = this._renderedIndex;

                if (-1 != index) {

                    this.animationConfig.entry.nodes = [];

                    for (var i = 0; i <= index; i++) {
                        var addedItem = this.$$('#appscoGroupContactItem_' + i);
                        this.animationConfig.entry.nodes.push(addedItem);
                    }

                    this.playAnimation('entry');

                    this._renderedIndex = -1;
                }

            }
        });
    </script>
</dom-module>
