<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">

<link rel="import" href="../../components/account/appsco-account-image.html">

<!--
`appsco-company-group-contact-item`
Account item is used to present account in form of an item.

    <appsco-company-group-contact-item>
    </appsco-company-group-contact-item>

### Styling

`<appsco-company-group-contact-item>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--background-color` | Background color applied to the root element | `#fff`
`--color` | Color applied to all the text | `#33`
`--appsco-company-group-contact-item` | Mixin applied to contact item | `{}`

-->

<dom-module id="appsco-company-group-contact-item">
    <template>
        <style>
            :host {
                display: none;
                color: var(--primary-text-color);
            }
            .item {
                width: 100%;
                height: 70px;
                padding: 0 10px;
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                background-color: var(--background-color, #fff);
                border-radius: 3px;
                @apply(--shadow-elevation-2dp);
                @apply(--layout-horizontal);
                @apply(--layout-center);
                transition: all 0.1s ease-out;
                @apply(--appsco-company-group-contact-item);
            }
            .item:hover {
                @apply(--shadow-elevation-4dp);
            }
            .account-title {
                display: block;
                height: 32px;
                line-height: 16px;
                @apply(--paper-font-common-base);
                font-size: 14px;
                font-weight: 400;
                overflow: hidden;
            }
            .actions {
                @apply(--layout-horizontal);
                @apply(--layout-center);
                position: absolute;
                right: 4px;
                bottom: 4px;
            }
            paper-button {
                @apply(--paper-font-common-base);
                @apply(--paper-font-common-nowrap);

                padding: 4px;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.018em;
                line-height: 18px;
                text-transform: uppercase;
            }
            paper-button[disabled] {
                background: transparent;
            }
            .account-info {
                @apply(--layout-vertical);
                @apply(--layout-start);
                padding: 0 10px;
            }
            .account-basic-info {
                width: 220px;
                @apply(--account-basic-info);
            }
            .account-additional-info {
                border-left: 1px solid var(--divider-color);
                @apply(--account-additional-info);
            }
            .account-basic-info .info-label, .account-basic-info .info-value {
                width: 220px;
                @apply(--paper-font-common-nowrap);
                @apply(--account-basic-info-values);
            }
            .account-additional-info .info {
                @apply(--layout-horizontal);
                @apply(--layout-center);
            }
            .account-additional-info .info-label, .account-additional-info .info-value {
                font-size: 13px;
                line-height: 18px;
                @apply(--paper-font-common-nowrap);
                @apply(--account-additional-info-values);
            }
            .account-additional-info .info-label {
                color: var(--secondary-text-color);
            }
            .info-label {
                font-size: 16px;
                height: auto;
                line-height: normal;
            }
            .info-value {
                display: block;
                font-size: 12px;
            }
            .preview-account-image {
                --account-image: {
                    width: 28px;
                    height: 28px;
                };
                --account-initials-background-color: var(--body-background-color-darker);
                --account-initials-font-size: 12px;
            }
        </style>

        <template is="dom-if" if="[[ !preview ]]">
            <div class="item">

                <appsco-account-image account="[[ contact.account ]]"></appsco-account-image>

                <div class="account-info account-basic-info">
                    <span class="info-label account-title">[[ contact.account.display_name ]]</span>
                    <span class="info-value">[[ contact.account.email ]]</span>
                </div>

                <div class="actions">
                    <paper-button on-tap="_onRemoveContact">Remove contact</paper-button>
                </div>

            </div>
        </template>

        <template is="dom-if" if="[[ preview ]]">
            <div class="preview-item">
                <appsco-account-image account="[[ contact.account ]]"
                                      class="preview-account-image"></appsco-account-image>
                <paper-tooltip position="right">[[ contact.account.display_name ]]<br/>[[ contact.account.email ]]</paper-tooltip>
            </div>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-company-group-contact-item',

            properties: {

                contact: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                preview: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            attached: function() {
                this.style.display = 'inline-block';
                this.playAnimation('entry');
            },

            _onRemoveContact: function (event) {
                event.stopPropagation();

                /**
                 * Fired when `remove contact` action is tapped.
                 *
                 * @event remove-group-from-company-contact
                 * @param {Object} contact
                 */
                this.fire('remove-company-contact-from-group', {
                    contact: this.contact
                });
            }

        });
    </script>
</dom-module>
