<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../page/appsco-page-global.html">
<link rel="import" href="appsco-group-actions.html">


<dom-module id="appsco-groups-page-actions">
    <template>
        <style>
            :host {
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--layout-end-justified);
            }
            :host > * {
                height: 100%;
            }
            appsco-group-actions {
                @apply(--layout-flex);

                --add-item-action: {
                    @apply(--primary-button);
                };
            }
            appsco-page-global {
                padding-left: 10px;
                margin-left: 16px;
            }
            :host([tablet-screen]) {

                --appsco-group-actions: {
                     width: 100%;
                 };
            }
            :host([mobile-screen]) appsco-page-global {
                margin-left: 10px;
            }
        </style>

        <iron-media-query query="(max-width: 800px)" query-matches="{{ tabletScreen }}"></iron-media-query>
        <iron-media-query query="(max-width: 600px)" query-matches="{{ mobileScreen }}"></iron-media-query>

        <appsco-group-actions id="appscoGroupsActions"
                                    authorization-token="[[ authorizationToken ]]"
                                    company
                                    on-search-icon="_onSearchIcon"
                                    on-close-search="_closeSearch"></appsco-group-actions>

        <appsco-page-global
                id="appscoPageGlobal"
                info></appsco-page-global>
    </template>

    <script>
        Polymer({

            is: 'appsco-groups-page-actions',

            properties: {

                authorizationToken: {
                    type: String
                },

                mobileScreen: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                tabletScreen: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                _searchActive: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Animation config with hero animation.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    delay: 200,
                                    duration: 300
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimatableBehavior
            ],

            observers: [
                '_updateScreen(mobileScreen, tabletScreen)'
            ],

            attached: function() {

                if (this.mobileScreen || this.tabletScreen) {
                    this.updateStyles();
                }

            },

            _updateScreen: function(mobile, tablet) {
                this.updateStyles();
            },

            _showSearch: function() {
                this.customStyle['--input-search-max-width'] = '100%';
                this.customStyle['--paper-input-search-container-tablet'] = 'width: 100%;';
                this.$.appscoGroupsActions.focusSearch();

                this.updateStyles();
            },

            _closeSearch: function() {
                this._searchActive = false;

                this.customStyle['--input-search-max-width'] = '22px';

                // Wait for animation to finish.
                setTimeout(function() {
                    this.customStyle['--paper-input-search-container-tablet'] = 'width: auto';
                    this.updateStyles();
                }.bind(this), 200);

                this.updateStyles();
            },

            _onSearchIcon: function() {
                this._searchActive = !this._searchActive;
                this._searchActive ? this._showSearch() : this._closeSearch();
            },

            showBulkActions: function() {
                this.$$('#appscoGroupsActions').showBulkActions();
            },

            hideBulkActions: function() {
                this.$$('#appscoGroupsActions').hideBulkActions();
            },

            resetPage: function() {
                this.$.appscoGroupsActions.reset();
            },

            resetPageActions: function() {
                this.resetPage();
            }
        });
    </script>
</dom-module>

