<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">

<!--
`appsco-group-image`
Account image is used to present group in form of an image or initials if image is not present.

    <appsco-group-image group="{}">
    </appsco-group-image>
-->

<dom-module id="appsco-company-group-image">
    <template>
        <style>
            :host {
                display: block;
                color: #ffffff;
            }
            :host .group-image {
                width: 52px;
                height: 52px;
                margin: 0;
                border-radius: 50%;
                background-color: var(--header-background-color);
                color: var(--iron-icon-fill-color);
            }
            :host .group-image iron-icon {
                width: 26px;
                height: 26px;
                margin: 13px 0px 0px 13px;
            }
            :host .group-image-preview iron-icon {
                width: 26px;
                height: 26px;
                margin: 13px 0px 0px 13px;
            }
            :host .group-image.preview iron-icon {
                width: 22px;
                height: 22px;
                margin: 7px 0px 0px 7px;
            }
            :host .group-image.preview {
                width: 36px;
                height: 36px;
            }
        </style>

            <template is="dom-if" if="[[ !preview ]]">
                <div class="group-image">
                    <iron-icon icon="social:people"></iron-icon>
                </div>
            </template>

            <template is="dom-if" if="[[ preview ]]">
                <div class="group-image preview">
                    <iron-icon icon="social:people"></iron-icon>
                </div>
            </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-company-group-image',

            properties: {

                group: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                preview: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                }
            }

        });
    </script>
</dom-module>
