<link rel="import" href="../../../bower_components/polymer/polymer.html">

<script>

    /**
     * @polymerBehavior
     */
    Polymer.AppscoGroupItemsPageBehavior = {

        properties: {
            
            group: {
                type: Object,
                value: function() {
                    return {};
                }
            },

            authorizationToken: {
                type: String,
                value: ''
            }
        },

        loadPage: function() {
            this.$.appscoCompanyGroupItems.loadItems();
        },

        addGroupItems: function(items) {
            this.$.appscoCompanyGroupItems.addGroupItems(items);
        },

        removeGroupItems: function(items) {
            this.$.appscoCompanyGroupItems.removeGroupItems(items);
        },

        _onAddToGroupAction: function() {

            this.fire('add-item-to-group-event', {
                resourceType: this.resourceType
            });
        },

        _onClosePageAction: function() {
            this.fire('back');
        }
    }
</script>