<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">



<link rel="import" href="appsco-company-group-info.html">



<!--
`appsco-group-info`
Contains app image, title.

    <appsco-group-info>
    </appsco-group-info>

### Styling

`<appsco-group-info>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-group-info` | Mixin for the root element | `{}`

@demo demo/appsco-group-info.html
-->

<dom-module id="appsco-company-group-info">
    <template>
        <style>
            :host {
                display: block;
                border-bottom: 1px solid #dbdbdb;
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--appsco-application-info);
            }
            :host iron-image {
                width: 32px;
                height: 32px;
                margin-right: 5px;

            }

            :host span[caption] {
                @apply(--paper-font-caption);
            }
        </style>
        <appsco-company-group-image group="[[ group ]]"></appsco-company-group-image>
        <div>
            <span caption>[[ group.name ]]</span>
        </div>
    </template>

    <script>
        Polymer({

            is: 'appsco-company-group-info',

            properties: {

                /**
                 * Group that is to be rendered
                 */
                group: {
                    type: Object,
                    value: {}
                },

                _groupIcon: {
                    type: String,
                    computed: '_computeGroupIcon(group)'
                }
            },

            _computeGroupIcon: function(group) {
                return null;
            }
        });
    </script>
</dom-module>
