<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/transform-animation.html">

<link rel="import" href="appsco-company-group-role-item.html">

<!--
`appsco-company-group-roles`
Contains group's role list and Load More action.
Roles are loaded inside component through iron-ajax.

    <appsco-company-group-roles list-api=""
                           authorization-token=""
                           size=""
                           load-more
                           preview>
    </appsco-company-group-roles>

### Styling

`<appsco-company-group-roles>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-company-group-roles` | Mixin for the root element | `{}`
`--appsco-company-group-role-item` | Mixin for item style | `{}`
`--group-roles-container` | Mixin for the roles container | `{}`
`--group-roles-progress-bar` | Mixin applied to paper-progress for role list | `{}`

-->

<dom-module id="appsco-company-group-roles">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                @apply(--layout-vertical);
                @apply(--layout-center);
                @apply(--appsco-company-group-roles);
            }
            .roles {
                @apply(--layout-vertical);
                @apply(--layout-start);
            }
            appsco-company-group-role-item {
                width: 100%;
                margin: 0 0 10px 0;
                @apply(--appsco-company-group-role-item);
            }
            :host([preview]) {
                @apply(--layout-flex-none);
                display: block;
            }
            :host([preview]) appsco-company-group-role-item {
                width: auto;
                margin: 0 2px 0 0;
                @apply(--appsco-company-group-role-item-preview);
            }
            .group-roles-container {
                width: 100%;
                position: relative;
            }
            appsco-loader {
                background-color: rgba(255, 255, 255, 0.4);
            }
            .load-more-box {
                margin-top: 10px;
                padding-top: 4px;
                position: relative;
            }
            .load-more-box paper-progress {
                width: 100%;
                position: absolute;
                top: 4px;
                left: 0;
            }
            .progress-bar {
                min-width: 100px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                @apply(--group-roles-progress-bar);
            }
            .roles {
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
                width: 100%;
            }
            .info-total {
                margin-bottom: 10px;
            }
            .total {
                @apply(--paper-font-caption);
                color: var(--secondary-text-color);
            }
            paper-button {
                display: block;
                width: 120px;
                margin: 20px auto 0;
                text-align: center;
                @apply(--load-more-button);
            }
            .message {
                color: var(--secondary-text-color);
                font-style: italic;
                @apply(--paper-font-body2);
                @apply(--info-message);
            }
            :host([preview]) .roles {
                @apply(--layout-flex-none);
                display: block;
            }
            :host([preview]) appsco-company-group-role-item[preview] {
                width: auto;
                margin: 0 0 0px 5px;
                float:left;
                @apply(--appsco-company-group-role-item-preview);
            }
        </style>

        <div class="group-roles-container">

            <iron-ajax
                    id="getGroupRolesApiRequest"
                    url="[[ _listApi ]]"
                    headers="[[ _computedHeaders ]]"
                    debounce-duration="300"
                    on-error="_onError"
                    on-response="_onResponse"></iron-ajax>

            <paper-progress id="paperProgress"
                            class="progress-bar"
                            indeterminate></paper-progress>

            <template is="dom-if" if="[[ _message ]]">
                <p class="message">[[ _message ]]</p>
            </template>

            <template is="dom-if" if="[[ !_rolesEmpty ]]">

                <div class="info-total">
                    <div class="total">
                        Total users: [[ _totalRoles ]]
                    </div>
                </div>

                <div class="roles" preview="[[ preview ]]">
                    <template is="dom-repeat"
                              items="{{ _roles }}"
                              on-dom-change="_onItemsDomChange">

                        <appsco-company-group-role-item id="appscoGroupRoleItem_[[ index ]]"
                                                        group="[[ group ]]"
                                                    role="{{ item }}"
                                                    preview="[[ preview ]]"></appsco-company-group-role-item>

                    </template>
                </div>
            </template>
        </div>

        <template is="dom-if" if="[[ !_rolesEmpty ]]">
            <div class="load-more-box" hidden$="[[ !_loadMore ]]">
                <paper-progress id="loadMoreProgress" indeterminate></paper-progress>
                <paper-button on-tap="_loadMoreRoles" id="loadMore">Load More</paper-button>
            </div>
        </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-company-group-roles',

            properties: {

                group: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String,
                    value: ''
                },

                /**
                 * Route to retrieve list
                 */
                listApi: {
                    type: String,
                    value: '',
                    observer: '_onListApiChanged'
                },

                /**
                 * Number of items to load and present
                 */
                size: {
                    type: Number,
                    value: 10
                },

                /**
                 * Show load more button
                 */
                loadMore: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates if group should be in preview mode rather then full detailed view.
                 */
                preview: {
                    type: Boolean,
                    value: false
                },

                /**
                 * If true roles will load on listApi change.
                 */
                autoLoadActive: {
                    type: Boolean,
                    value: false
                },

                _listApi: {
                    type: String,
                    value: ''
                },

                _loadMore: {
                    type: Boolean,
                    value: false
                },

                _computedHeaders: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _roles: {
                    type: Array,
                    value: function() {
                        return [];
                    },
                    notify: true
                },

                _allRoles: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                _rolesEmpty: {
                    type: Boolean,
                    value: false
                },

                _message: {
                    type: String,
                    value: ''
                },

                _nextPageApiUrl: {
                    type: String
                },

                _totalRoles: {
                    type: Number,
                    value: 0
                },

                _renderedIndex: {
                    type: Number,
                    value: -1
                },

                _loaders: {
                    type: Array,
                    value: function() { return []; }
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'cascaded-animation',
                                animation: 'slide-from-left-animation',
                                nodes: [],
                                nodeDelay: 50,
                                timing: {
                                    duration: 300
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                }
            },

            _onListApiChanged: function(url) {

                this._listApi = ((url.indexOf('extended') != -1) ? url : (url + '?extended=1')) + '&page=1&limit=' + this.size;

                if (this.autoLoadActive && url && url.length > 0) {
                    this._loadRoles();
                }
            },

            _setLoadMoreAction: function() {
                this._loadMore = (this.loadMore && this._allRoles.length < this._totalRoles);
            },

            _hideLoadMoreAction: function() {
                this._loadMore = false;
            },

            _loadRoles: function() {
                this._showProgressBar();
                this._loadMore = false;
                this._clearRoles();
                this.$.getGroupRolesApiRequest.generateRequest();
            },

            loadRoles: function() {
                this._loadRoles();
            },

            reloadRoles: function() {
                this._loadRoles();
            },

            _loadMoreRoles: function() {
                this._showLoadMoreProgressBar();
                this.$.getGroupRolesApiRequest.url = this._nextPageApiUrl;
                this.$.getGroupRolesApiRequest.generateRequest();
            },

            _onError: function(event) {
                this._message = 'We couldn\'t load users at the moment. Please try again in a minute.';
                this._handleEmptyLoad();
            },

            _handleEmptyLoad: function() {
                this._rolesEmpty = true;
                this._message = 'There are no users in the group.';

                /**
                 * Fired when there are no roles.
                 *
                 * @event empty-load
                 */
                this.fire('empty-load');

                this._hideProgressBar();
                this._hideLoadMoreProgressBar();
            },

            _clearLoaders: function() {
                for (var idx in this._loaders) {
                    clearTimeout(this._loaders[idx]);
                }
                this.set('_loaders', []);
            },

            _clearRoles: function() {
                this._clearLoaders();
                this.set('_roles', []);
                this.set('_allRoles', []);
            },

            _onResponse: function(event) {
                var response = event.detail.response;

                if (response && response.company_roles) {
                    var roles = response.company_roles,
                        meta = response.meta,
                        rolesCount = roles.length - 1;

                    this._totalRoles = meta.total;
                    this._nextPageApiUrl = meta.next + '&limit=' + this.size;

                    if (meta.total === 0) {
                        this._handleEmptyLoad();
                        return false;
                    }

                    this._rolesEmpty = false;
                    this._message = '';

                    this._clearRoles();
                    roles.forEach(function(el, index) {

                        this._loaders.push(setTimeout(function() {

                            this.push('_roles', el);
                            this.push('_allRoles', el);

                            if (index == rolesCount) {

                                this._loadMore = this.loadMore;

                                if (this._roles.length === meta.total) {
                                    this._loadMore = false;
                                }

                                this._hideProgressBar();
                                this._hideLoadMoreProgressBar();
                                this._setLoadMoreAction();

                                /**
                                 * Fired when roles are loaded
                                 *
                                 * @event loaded
                                 * @param {Object} companyRoles[]
                                 */
                                this.fire('group-roles-loaded', {
                                    companyRoles: roles
                                });
                            }

                        }.bind(this), (index + 1) * 30));

                    }.bind(this));
                }
            },

            addGroupRoles: function(roles) {
                var length = roles.length,
                    allRoles = this._allRoles,
                    allLength = allRoles.length;

                this._rolesEmpty = false;
                this._message = '';
                this._renderedIndex = length - 1;

                for (var i = 0; i < length; i++) {

                    if (0 === allLength) {
                        this.push('_roles', roles[i]);
                        this.push('_allRoles', roles[i]);

                        this._totalRoles++;
                    }
                    else {

                        for (var j = 0; j < allLength; j++) {

                            if (allRoles[j].alias === roles[i].alias) {
                                break;
                            }
                            else if (j === allLength - 1) {
                                this.unshift('_roles', roles[i]);
                                this.unshift('_allRoles', roles[i]);

                                this._totalRoles++;
                            }

                        }
                    }
                }
            },

            removeGroupRoles: function(roles) {
                var length = roles.length,
                    _roles = this._roles,
                    _length = _roles.length,
                    allRoles = this._allRoles,
                    allLength = allRoles.length;

                for (var i = 0; i < length; i++) {
                    var role = roles[i];

                    for (var j = 0; j < _length; j++) {

                        if (role.self === _roles[j].self) {
                            this.splice('_roles', j, 1);
                            break;
                        }
                    }

                    for (var k = 0; k < allLength; k++) {

                        if (role.self === allRoles[k].self) {
                            this.splice('_allRoles', k, 1);
                            break;
                        }
                    }

                    this._totalRoles--;

                }

                if (0 === this._roles.length) {
                    this._handleEmptyLoad();
                }
            },

            _showProgressBar: function() {
                this.$$('#paperProgress').hidden = false;
            },

            _showLoadMoreProgressBar: function() {
                this.$$('#loadMoreProgress').hidden = false;
            },

            _hideProgressBar: function() {

                setTimeout(function() {
                    this.$$('#paperProgress').hidden = true;
                }.bind(this), 300);

            },

            _hideLoadMoreProgressBar: function() {

                setTimeout(function() {
                    this.$$('#loadMoreProgress').hidden = true;
                }.bind(this), 300);

            },

            _onItemsDomChange: function() {
                var index = this._renderedIndex;

                if (-1 != index) {

                    this.animationConfig.entry.nodes = [];

                    for (var i = 0; i <= index; i++) {
                        var addedItem = this.$$('#appscoGroupRoleItem_' + i);
                        this.animationConfig.entry.nodes.push(addedItem);
                    }

                    this.playAnimation('entry');

                    this._renderedIndex = -1;
                }

            }
        });
    </script>
</dom-module>
