<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/hero-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/slide-right-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="appsco-company-groups-page.html">
<link rel="import" href="appsco-company-group-info-page.html">

<dom-module id="appsco-company-manage-groups-page">
    <template>
        <style include="webkit-scrollbar-style">
            :host {
                overflow: hidden;
            }
            :host neon-animated-pages {
                height: 100%;
            }
        </style>

        <neon-animated-pages class="flex"
                             selected="[[ _selectedPage ]]"
                             attr-for-selected="name"
                             on-neon-animation-finish="_onPageAnimationFinish">

            <appsco-company-groups-page id="appscoCompanyGroupsPage"
                                        name="appsco-company-groups-page"
                                        authorization-token="[[ authorizationToken ]]"
                                        groups-api="[[ groupsApi ]]"
                                        on-info="_onGroupInfo"></appsco-company-groups-page>

            <appsco-company-group-info-page id="appscoCompanyGroupInfoPage"
                                            name="appsco-company-group-info-page"
                                            authorization-token="[[ authorizationToken ]]"
                                            on-back="_onBackGroupInfoPage"></appsco-company-group-info-page>

        </neon-animated-pages>
    </template>

    <script>
        Polymer({

            is: 'appsco-company-manage-groups-page',

            properties: {

                authorizationToken: {
                    type: String
                },

                /**
                 * Get groups link.
                 */
                groupsApi: {
                    type: String,
                    value: ''
                },

                _selectedPage: {
                    type: String,
                    value: 'appsco-company-groups-page'
                },

                /**
                 * Animation config with hero animation.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': [{
                                name: 'hero-animation',
                                id: 'hero',
                                toPage: this,
                                timing: {
                                    duration: 300
                                }
                            }, {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 500
                                }
                            }],
                            'exit': {
                                name: 'slide-right-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            }
                        }
                    }
                },

                /**
                 * Defines shared element of hero animation.
                 */
                sharedElements: {
                    value: function() {
                        return {
                            'hero': this
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonSharedElementAnimatableBehavior,
                Polymer.NeonAnimatableBehavior
            ],

            _onBack: function() {
                this.fire('back');
            },

            searchGroups: function(term) {
                this.$.appscoCompanyGroupsPage.searchGroups(term);
            },

            addGroup: function(group) {
                this.$.appscoCompanyGroupsPage.addGroup(group);
            },

            modifyGroup: function(group) {
                this.$.appscoCompanyGroupsPage.modifyGroup(group);
            },

            removeGroup: function(group) {
                this.$.appscoCompanyGroupsPage.removeGroup(group);
            },

            addGroupsCompanyRoles: function(groups, items) {

                if (this.$.appscoCompanyGroupsPage.$) {
                    this.$.appscoCompanyGroupsPage.addGroupsCompanyRoles(groups, items);
                }

                if (this.$.appscoCompanyGroupInfoPage.$) {
                    this.$.appscoCompanyGroupInfoPage.addGroupsCompanyRoles(groups, items);
                }
            },

            removeGroupsCompanyRoles: function(group, items) {

                if (this.$.appscoCompanyGroupsPage.$) {
                    this.$.appscoCompanyGroupsPage.removeGroupsCompanyRoles(group, items);
                }

                if (this.$.appscoCompanyGroupInfoPage.$) {
                    this.$.appscoCompanyGroupInfoPage.removeGroupsCompanyRoles(group, items);
                }
            },

            setupPage: function() {
                this.$.appscoCompanyGroupsPage.setupPage();
            },

            resetPage: function() {
                this.$.appscoCompanyGroupsPage.resetPage();
            },

            _onBackGroupInfoPage: function(event) {
                event.stopPropagation();

                this._showCompanyGroupsPage();
            },

            _showCompanyGroupsPage: function() {
                this._selectedPage = 'appsco-company-groups-page';
            },

            _showCompanyGroupInfoPage: function() {
                this._selectedPage = 'appsco-company-group-info-page';
            },

            _onGroupInfo: function(event) {
                this._showCompanyGroupInfoPage();
                this.$.appscoCompanyGroupInfoPage.setGroup(event.detail.group);
            },

            _onPageAnimationFinish: function(event) {
                var fromPage = event.detail.fromPage,
                    toPage = event.detail.toPage;

                switch(fromPage.getAttribute('name')) {
                    case 'appsco-company-groups-page':
                        fromPage.resetPage();
                        break;

                    default:
                        break;
                }

                switch(toPage.getAttribute('name')) {
                    case 'appsco-company-groups-page':
                        toPage.setupPage();
                        break;

                    default:
                        break;
                }

            }
        });
    </script>
</dom-module>

