<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">

<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../components/appsco-form-error.html">

<!--
`appsco-resource-remove-from-group`
Shows dialog screen with confirmation for removal company resource from group.

    <appsco-resource-remove-from-group group="{}"
                                       item="{}"
                                       resource-type=""
                                       authorization-token=""
                                       api-errors="{}">
    </appsco-resource-remove-from-group>

-->

<dom-module id="appsco-resource-remove-from-group">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply(--appsco-resource-remove-from-group);

                --form-error-box: {
                     margin-top: 0;
                 };
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply(--appsco-paper-dialog);
            }
            :host paper-dialog-scrollable > * {
                @apply(--paper-dialog-scrollable-child);
            }
            :host .buttons paper-button {
                @apply(--paper-dialog-button);
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply(--paper-dialog-dismiss-button);
            }
            :host appsco-loader {
                @apply(--paper-dialog-appsco-loader);
            }
        </style>
        <paper-dialog
                with-backdrop
                id="dialog"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation"
                on-iron-overlay-closed="_onDialogClosed">

            <h2>Remove from group</h2>

            <appsco-loader active="[[ _loader ]]"
                           loader-alt="Appsco is processing request"
                           multi-color></appsco-loader>

            <paper-dialog-scrollable>
                <div class="remove-container">
                    <appsco-form-error message="[[ _error ]]"></appsco-form-error>

                    <template is="dom-if" if="[[ _resourceType ]]">
                        <p>Removing resource from group also removes access for accounts which belongs to group.</p>
                    </template>

                    <template is="dom-if" if="[[ _accountType ]]">
                        <p>Removing account from group also removes access to applications shared to group.</p>
                    </template>

                    <template is="dom-if" if="[[ _contactType ]]">
                        <p>Removing contact from group also removes access to applications shared to group.</p>
                    </template>

                    <p>Please confirm remove action.</p>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_onRemoveAction">Remove</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({

            is: 'appsco-resource-remove-from-group',

            properties: {

                group: {
                    type: Array,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * Item to remove from group.
                 */
                item: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String,
                    value: ''
                },

                resourceType: {
                    type: String,
                    value: ''
                },

                apiErrors: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                _headers: {
                    type: String,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _removeFromGroupsApi: {
                    type: String,
                    computed: '_computeRemoveFromGroupApi(group, resourceType)'
                },

                _responseItems: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                _resourceType: {
                    type: Boolean,
                    computed: '_computeResourceType(resourceType)'
                },

                _accountType: {
                    type: Boolean,
                    computed: '_computeAccountType(resourceType)'
                },

                _contactType: {
                    type: Boolean,
                    computed: '_computeContactType(resourceType)'
                },

                _loader: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Error message.
                 */
                _error: {
                    type: String
                },

                _requests: {
                    type: Number,
                    value: 0
                }
            },

            setGroup: function(group) {
                this.group = group;
            },

            setItem: function(item) {
                this.item = item;
            },

            setType: function(type) {
                this.resourceType = type;
            },

            open: function () {
                this.$.dialog.open();
            },

            close: function () {
                this.$.dialog.close();
            },

            toggle: function () {
                this.$.dialog.toggle();
            },

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                };
            },

            _computeRemoveFromGroupApi: function(group, resourceType) {

                for (key in group) {
                    return ('resource' === resourceType)
                            ? group.meta.applications
                            : ('account' === resourceType)
                                    ? group.meta.company_roles
                                    : ('contact' === resourceType)
                                        ? group.meta.contacts
                                        : '';
                }

                return '';
            },

            _computeResourceType: function(resourceType) {
                return 'resource' === resourceType;
            },

            _computeAccountType: function(resourceType) {
                return 'account' === resourceType;
            },

            _computeContactType: function(resourceType) {
                return 'contact' === resourceType;
            },

            _showLoader: function() {
                this._loader = true;
            },

            _hideLoader: function() {
                this._loader = false;
            },

            _showError: function(message) {
                this._error = message;
            },

            _hideError: function() {
                this._error = '';
            },

            _onDialogClosed: function() {
                this._hideError();
                this._hideLoader();
            },

            _onRemoveAction: function() {
                var request = document.createElement('iron-request'),
                    options = {
                        url: this._removeFromGroupsApi + '/' + this.item.alias,
                        method: 'DELETE',
                        handleAs: 'json',
                        headers: this._headers
                    };

                if (!this._removeFromGroupsApi) {
                    this._showError(this.apiErrors.getError(404));
                    return false;
                }

                this._hideError();
                this._showLoader();

                request.send(options).then(function() {

                    if (200 === request.status) {

                        this.fire('resource-removed-from-group', {
                            group: this.group,
                            item: request.response,
                            resourceType: this.resourceType
                        });

                        this.close();
                    }
                }.bind(this), function() {
                    this._showError(this.apiErrors.getError(request.response.code));
                    this._hideLoader();
                }.bind(this));
            }
        });
    </script>
</dom-module>
