<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="appsco-company-group-image.html">

<!--
`appsco-company-group-item`
Presents group in form of an item.

    <appsco-company-group-item group="{}" preview>
    </appsco-company-group-item>

### Styling

`<appsco-company-group-item>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--background-color` | Background color applied to the root element | `#fff`
`--color` | Color applied to all the text | `#33`
`--appsco-company-group-item` | Mixin applied to group item element | `{}`
`--group-basic-info` | Mixin applied to the basic info | `{}`
`--group-status-info` | Mixin applied to the status info | `{}`
`--group-basic-info-values` | Mixin applied to the basic info values | `{}`
`--group-status-info-values` | Mixin applied to the status info values | `{}`

-->

<dom-module id="appsco-company-group-item">
    <template>
        <style>
            :host {
                display: none;
                color: var(--primary-text-color);
                font-size: 14px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            .item {
                width: 100%;
                height: 70px;
                padding: 0 10px;
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                background-color: var(--background-color, #ffffff);
                border-radius: 3px;
                @apply(--shadow-elevation-2dp);
                @apply(--layout-horizontal);
                @apply(--layout-center);
                transition: all 0.1s ease-out;
                @apply(--appsco-company-group-item);
            }
            :host([active]) .item {
                background: #279FBC;
                color: #ffffff;
                transition: all 0.2s ease-in;
            }
            .item:hover {
                @apply(--shadow-elevation-4dp);
            }
            :host([selectable]) {
                cursor: pointer;
            }
            :host([active]) {
                background-color: #e8e8e8;
            }
            .group-title {
                display: block;
                height: 32px;
                line-height: 16px;
            @apply(--paper-font-common-base);
                font-size: 14px;
                font-weight: 400;
                overflow: hidden;
            }
            .actions {
            @apply(--layout-horizontal);
            @apply(--layout-center);
                position: absolute;
                right: 4px;
                bottom: 4px;
            }
            paper-button {
            @apply(--paper-font-common-base);
            @apply(--paper-font-common-nowrap);

                padding: 4px;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.018em;
                line-height: 18px;
                text-transform: uppercase;
            }
            paper-button[disabled] {
                background: transparent;
            }
            .group-info {
                @apply(--layout-vertical);
                @apply(--layout-start);
                padding: 0 10px;
            }
            .group-basic-info {
                width: 220px;
                @apply(--group-basic-info);
            }
            .group-status-info {
                border-left: 1px solid var(--divider-color);
                @apply(--group-status-info);
            }
            .group-basic-info .info-group, .group-basic-info .info-value {
                width: 220px;
                @apply(--paper-font-common-nowrap);
                @apply(--group-basic-info-values);
            }
            .group-status-info .info-group, .group-status-info .info-value {
                width: 220px;
                @apply(--paper-font-common-nowrap);
                @apply(--group-status-info-values);
            }
            .info-group {
                font-size: 14px;
                height: auto;
                line-height: normal;
            }
            .info-group.group-title {
                font-size: 16px;
            }
            .info-group.preview {
                font-size: 12px;
            }
            .info-value {
                display: block;
                font-size: 12px;
            }
        </style>

        <iron-ajax id="getGroupRolesApiRequest"
                   url="[[ _groupRolesApiUrl ]]"
                   headers="[[ _headers ]]"
                   auto
                   on-error="_onGroupRolesError"
                   on-response="_onGroupRolesResponse"></iron-ajax>

        <iron-ajax id="getGroupContactsApiRequest"
                   url="[[ _groupContactsApiUrl ]]"
                   headers="[[ _headers ]]"
                   auto
                   on-error="_onGroupContactsError"
                   on-response="_onGroupContactsResponse"></iron-ajax>

        <iron-ajax id="getGroupResourcesApiRequest"
                   url="[[ _groupResourcesApiUrl ]]"
                   headers="[[ _headers ]]"
                   auto
                   on-error="_onGroupResourcesError"
                   on-response="_onGroupResourcesResponse"></iron-ajax>

        <template is="dom-if" if="[[ preview ]]">
            <span class="info-group group-title preview">[[ group.name ]]</span>
        </template>

        <template is="dom-if" if="[[ !preview ]]">
            <div class="item">

                <appsco-company-group-image group="[[ group ]]"></appsco-company-group-image>

                <div class="group-info group-basic-info">
                    <span class="info-group group-title">[[ group.name ]]</span>
                    <span class="info-group">Group</span>
                </div>

                <div class="group-info group-status-info">
                    <!--<span class="info-group"></span>-->
                    <span class="info-value">Total users: [[ _groupRolesCount ]]</span>
                    <span class="info-value">Total contacts: [[ _groupContactsCount ]]</span>
                    <span class="info-value">Total resources: [[ _groupResourcesCount ]]</span>
                </div>

                <div class="actions">
                    <paper-button on-tap="_onEditAction">Edit</paper-button>
                </div>
            </div>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-company-group-item',

            properties: {

                /**
                 * Group that is to be rendered
                 */
                group: {
                    type: Object,
                    value: function() {
                        return {};
                    },
                    observer: '_onGroupChanged'
                },

                /**
                 * Indicates if group should be in preview mode rather then full detailed view.
                 */
                preview: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates if groups should be selectable.
                 */
                selectable: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                active: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                _headers: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _groupRolesApiUrl: {
                    type: String,
                    computed: '_computeGroupRolesApiUrl(group, preview)'
                },

                _groupResourcesApiUrl: {
                    type: String,
                    computed: '_computeGroupResourcesApiUrl(group, preview)'
                },

                _groupContactsApiUrl: {
                    type: String,
                    computed: '_computeGroupContactsApiUrl(group, preview)'
                },

                _groupRolesCount: {
                    type: Number,
                    value: 0
                },

                _groupResourcesCount: {
                    type: Number,
                    value: 0
                },

                _groupContactsCount: {
                    type: Number,
                    value: 0
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            listeners: {
                'tap': '_onGroupAction'
            },

            attached: function() {
                this.style.display = 'inline-block';
                this.playAnimation('entry');
            },

            increaseGroupRolesCount: function(count) {
                this._groupRolesCount += count;
            },

            decreaseGroupRolesCount: function(count) {
                this._groupRolesCount -= count;
            },

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                }
            },

            _computeGroupRolesApiUrl: function(group, preview) {
                return (group.meta && !preview) ? group.meta.company_roles : '';
            },
            _computeGroupResourcesApiUrl: function (group, preview) {
                return (group.meta && !preview) ? group.meta.applications : '';
            },

            _computeGroupContactsApiUrl: function(group, preview) {
                return (group.meta && !preview) ? group.meta.contacts : '';
            },

            _onGroupChanged: function(group) {
                this.active = group.selected ? group.selected : false;
            },

            _onGroupRolesError: function() {
                this._groupRolesCount = 0;
            },

            _onGroupRolesResponse: function(event) {
                var response = event.detail.response;

                this._groupRolesCount = (response && response.meta) ? response.meta.total : 0;
            },

            _onGroupResourcesResponse: function(event) {
                var response = event.detail.response;

                this._groupResourcesCount = (response && response.meta) ? response.meta.total : 0;
            },

            _onGroupContactsResponse: function(event) {
                var response = event.detail.response;

                this._groupContactsCount = (response && response.meta) ? response.meta.total : 0;
            },

            _onGroupAction: function() {
                this.active = !this.active;
                this.group.selected = this.active;

                /**
                 * Fired when whole item is tapped.
                 *
                 * @event group
                 * @param {Object} group
                 */
                this.fire('group-selected', {
                    group: this.group
                });
            },

            _onInfoAction: function(event) {
                event.stopPropagation();

                /**
                 * Fired when `info` action is tapped.
                 *
                 * @event info
                 * @param {Object} group
                 */
                this.fire('info', {
                    group: this.group
                });
            },

            _onRemoveAction: function(event) {
                event.stopPropagation();

                /**
                 * Fired when `remove` action is tapped.
                 *
                 * @event remove
                 * @param {Object} group
                 */
                this.fire('remove', {
                    group: this.group
                });
            },

            _onEditAction: function(event) {
                /**
                 * Fired when `edit` is tapped.
                 * @event edit
                 */
                this.fire('edit-company-group', {
                    group: this.group
                });
            }

        });
    </script>
</dom-module>
