<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<dom-module id="appsco-manage-group-page-actions">
    <template>
        <style include="shared-styles">
            :host {
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--layout-end-justified);
            }
            :host > * {
                height: 100%;
            }
            :host paper-icon-button::shadow paper-ripple {
                width: 150%;
                height: 150%;
                top: -25%;
                left: -25%;
            }
            .global-page-actions {
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--layout-end-justified);
                padding-left: 10px;
                margin-left: 16px;
                border-left: 1px solid var(--divider-color);
            }
            :host .resource-action {
                display: none;
            }
            :host([tablet-screen]) .resource-action {
                display: block;
            }
        </style>

        <iron-media-query query="(max-width: 800px)" query-matches="{{ tabletScreen }}"></iron-media-query>

        <div class="global-page-actions">
            <paper-icon-button
                    class="back-action"
                    icon="arrow-back"
                    title="Back"
                    on-tap="_onBackToAction"></paper-icon-button>

            <paper-icon-button
                    class="resource-action"
                    icon="info-outline"
                    title="Resource section"
                    on-tap="_onResourceSectionAction"></paper-icon-button>
        </div>
    </template>

    <script>
        Polymer({

            is: 'appsco-manage-group-page-actions',

            properties: {

                tabletScreen: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                /**
                 * Animation config with hero animation.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    delay: 300,
                                    duration: 300
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimatableBehavior
            ],

            _onBackToAction: function() {
                this.fire('back');
            },

            _onResourceSectionAction: function() {
                this.fire('resource-section');
            }
        });
    </script>
</dom-module>

