<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/transform-animation.html">

<link rel="import" href="appsco-company-group-resource-item.html">

<!--
`appsco-company-group-resources`
Contains group's resource list and Load More action.
Resources are loaded inside component through iron-ajax.

    <appsco-company-group-resources list-api=""
                           authorization-token=""
                           size=""
                           load-more
                           preview>
    </appsco-company-group-resources>

### Styling

`<appsco-company-group-resources>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-company-group-resources` | Mixin for the root element | `{}`
`--appsco-company-group-resource-item` | Mixin for item style | `{}`
`--group-resources-container` | Mixin for the resources container | `{}`
`--group-resources-progress-bar` | Mixin applied to paper-progress for resource list | `{}`

-->

<dom-module id="appsco-company-group-resources">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                @apply(--layout-vertical);
                @apply(--layout-center);
                @apply(--appsco-company-group-resources);
            }
            .resources {
                @apply(--layout-vertical);
                @apply(--layout-start);
            }
            appsco-company-group-resource-item {
                width: 100%;
                margin: 0 0 10px 0;
                @apply(--appsco-company-group-resource-item);
            }
            .group-resources-container {
                width: 100%;
                position: relative;
            }
            appsco-loader {
                background-color: rgba(255, 255, 255, 0.4);
            }
            .load-more-box {
                margin-top: 10px;
                padding-top: 4px;
                position: relative;
            }
            .load-more-box paper-progress {
                width: 100%;
                position: absolute;
                top: 4px;
                left: 0;
            }
            .progress-bar {
                min-width: 100px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                @apply(--group-resources-progress-bar);
            }
            paper-button {
                display: block;
                width: 120px;
                margin: 20px auto 0;
                text-align: center;
                @apply(--load-more-button);
            }
            .info-total {
                margin-bottom: 10px;
            }
            .total {
                @apply(--paper-font-caption);
                color: var(--secondary-text-color);
            }
            .message {
                color: var(--secondary-text-color);
                font-style: italic;
                @apply(--paper-font-body2);
                @apply(--info-message);
            }
            :host([preview]) .resources {
                @apply(--layout-flex-none);
                display: block;
            }
            :host([preview]) appsco-company-group-resource-item[preview] {
                width: auto;
                margin: 0 0 0px 5px;
                float:left;
                @apply(--appsco-company-group-resource-item-preview);
            }
        </style>

        <div class="group-resources-container">

            <iron-ajax
                    id="getGroupResourcesApiRequest"
                    url="[[ listApi ]]"
                    headers="[[ _computedHeaders ]]"
                    debounce-duration="300"
                    on-error="_onError"
                    on-response="_onResponse"></iron-ajax>

            <paper-progress id="paperProgress"
                            class="progress-bar"
                            indeterminate></paper-progress>

            <template is="dom-if" if="[[ _message ]]">
                <p class="message">[[ _message ]]</p>
            </template>

            <template is="dom-if" if="[[ !_resourcesEmpty ]]">

                <div class="info-total">
                    <div class="total">
                        Total resources: [[ _totalResources ]]
                    </div>
                </div>

                <div class="resources">
                    <template is="dom-repeat"
                              items="{{ _resources }}"
                              on-dom-change="_onItemsDomChange">

                        <appsco-company-group-resource-item id="appscoGroupResourceItem_[[ index ]]"
                                                    resource="{{ item }}"
                                                    preview="[[ preview ]]"></appsco-company-group-resource-item>

                    </template>
                </div>
            </template>
        </div>

        <template is="dom-if" if="[[ !_resourcesEmpty ]]">
            <div class="load-more-box" hidden$="[[ !_loadMore ]]">
                <paper-progress id="loadMoreProgress" indeterminate></paper-progress>
                <paper-button on-tap="_loadMoreResources" id="loadMore">Load More</paper-button>
            </div>
        </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-company-group-resources',

            properties: {

                /**
                 * Authorization token.
                 */
                authorizationToken: {
                    type: String,
                    value: ''
                },

                /**
                 * Route to retrieve list
                 */
                listApi: {
                    type: String,
                    value: '',
                    observer: '_onListApiChanged'
                },

                /**
                 * Number of items to load and present
                 */
                size: {
                    type: Number,
                    value: 10
                },

                /**
                 * Show load more button
                 */
                loadMore: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates if group should be in preview mode rather then full detailed view.
                 */
                preview: {
                    type: Boolean,
                    value: false
                },

                _loadMore: {
                    type: Boolean,
                    value: false
                },

                _computedHeaders: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _resources: {
                    type: Array,
                    value: function() {
                        return [];
                    },
                    notify: true
                },

                _allResources: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                _resourcesEmpty: {
                    type: Boolean,
                    value: false
                },

                _message: {
                    type: String,
                    value: ''
                },

                _nextPageApiUrl: {
                    type: String
                },

                _totalResources: {
                    type: Number,
                    value: 0
                },

                _renderedIndex: {
                    type: Number,
                    value: -1
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'cascaded-animation',
                                animation: 'slide-from-left-animation',
                                nodes: [],
                                nodeDelay: 50,
                                timing: {
                                    duration: 300
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                }
            },

            _onListApiChanged: function(url) {

                if (url && url.length > 0) {
                    this._loadResources();
                }
            },

            _setLoadMoreAction: function() {
                this._loadMore = (this.loadMore && this._allResources.length < this._totalResources);
            },

            _hideLoadMoreAction: function() {
                this._loadMore = false;
            },

            _loadResources: function() {
                this._showProgressBar();
                this._loadMore = false;
                this.set('_resources', []);
                this.set('_allResources', []);
                this.$.getGroupResourcesApiRequest.generateRequest();
            },

            reloadResources: function() {
                this._loadResources();
            },

            _loadMoreResources: function() {
                this._showLoadMoreProgressBar();
                this.$.getGroupResourcesApiRequest.url = this._nextPageApiUrl;
                this.$.getGroupResourcesApiRequest.generateRequest();
            },

            _onError: function() {
                this._message = 'We couldn\'t load accounts at the moment. Please try again in a minute.';
                this._handleEmptyLoad();
            },

            _handleEmptyLoad: function() {
                this._resourcesEmpty = true;
                this._message = 'There are no resources attached to this group.';

                /**
                 * Fired when there are no resources.
                 *
                 * @event empty-load
                 */
                this.fire('empty-load');

                this._hideProgressBar();
                this._hideLoadMoreProgressBar();
            },

            _onResponse: function(event) {
                var response = event.detail.response;

                if (response && response.applications) {
                    var resources = response.applications,
                        meta = response.meta,
                        resourcesCount = resources.length - 1;

                    this._totalResources = meta.total;
                    this._nextPageApiUrl = meta.next + "&limit=" + this.size;

                    if (meta.total === 0) {
                        this._handleEmptyLoad();
                        return false;
                    }

                    this._resourcesEmpty = false;
                    this._message = '';

                    resources.forEach(function(el, index) {

                        setTimeout(function() {

                            this.push('_resources', el);
                            this.push('_allResources', el);

                            if (index == resourcesCount) {

                                this._loadMore = this.loadMore;

                                if (this._resources.length === meta.total) {
                                    this._loadMore = false;
                                }

                                this._hideProgressBar();
                                this._hideLoadMoreProgressBar();
                                this._setLoadMoreAction();

                                /**
                                 * Fired when resources are loaded
                                 *
                                 * @event loaded
                                 * @param {Object} companyResources[]
                                 */
                                this.fire('loaded', {
                                    companyResources: resources
                                });
                            }

                        }.bind(this), (index + 1) * 30);

                    }.bind(this));
                }
            },

            addGroupResources: function(resources) {
                var length = resources.length,
                    allResources = this._allResources,
                    allLength = allResources.length;

                this._resourcesEmpty = false;
                this._message = '';
                this._renderedIndex = length - 1;

                for (var i = 0; i < length; i++) {

                    if (0 === allLength) {
                        this.push('_resources', resources[i]);
                        this.push('_allResources', resources[i]);

                        this._totalResources++;
                    }
                    else {

                        for (var j = 0; j < allLength; j++) {

                            if (allResources[j].alias === resources[i].alias) {
                                break;
                            }
                            else if (j === allLength - 1) {
                                this.unshift('_resources', resources[i]);
                                this.unshift('_allResources', resources[i]);

                                this._totalResources++;
                            }

                        }
                    }
                }
            },

            removeGroupResources: function(resources) {
                var length = resources.length,
                    _resources = this._resources,
                    _length = _resources.length,
                    allResources = this._allResources,
                    allLength = allResources.length;

                for (var i = 0; i < length; i++) {
                    var resource = resources[i];

                    for (var j = 0; j < _length; j++) {

                        if (resource.self === _resources[j].self) {
                            this.splice('_resources', j, 1);
                            break;
                        }
                    }

                    for (var k = 0; k < allLength; k++) {

                        if (resource.self === allResources[k].self) {
                            this.splice('_allResources', k, 1);
                            break;
                        }
                    }

                    this._totalResources--;

                }

                if (0 === this._resources.length) {
                    this._handleEmptyLoad();
                }
            },

            _showProgressBar: function() {
                this.$$('#paperProgress').hidden = false;
            },

            _showLoadMoreProgressBar: function() {
                this.$$('#loadMoreProgress').hidden = false;
            },

            _hideProgressBar: function() {

                setTimeout(function() {
                    this.$$('#paperProgress').hidden = true;
                }.bind(this), 300);

            },

            _hideLoadMoreProgressBar: function() {

                setTimeout(function() {
                    this.$$('#loadMoreProgress').hidden = true;
                }.bind(this), 300);

            },

            _onItemsDomChange: function() {
                var index = this._renderedIndex;

                if (-1 != index) {

                    this.animationConfig.entry.nodes = [];

                    for (var i = 0; i <= index; i++) {
                        var addedItem = this.$$('#appscoGroupResourceItem_' + i);
                        this.animationConfig.entry.nodes.push(addedItem);
                    }

                    this.playAnimation('entry');

                    this._renderedIndex = -1;
                }

            }
        });
    </script>
</dom-module>
