<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/hero-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/slide-right-animation.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="appsco-company-group-contacts.html">

<dom-module id="appsco-group-contacts-page">
    <template>
        <style include="webkit-scrollbar-style">
            :host {
                @apply(--full-page);

                --paper-card-header: {
                    border-bottom: 1px solid var(--divider-color);
                };

                --appsco-company-group-contact-item: {
                    background-color: var(--body-background-color);
                };
                --group-contact-initials-background-color: var(--body-background-color-darker);
            }
            :host paper-card {
                @apply(--full-page-paper-card);
            }
            .page-close-action {
                @apply(--page-close-action);
            }
            .info p {
                margin-top: 5px;
                margin-bottom: 0;
            }
            .info {
                margin-bottom: 20px;
            }
        </style>

        <paper-card heading="Contacts" id="card">
            <paper-icon-button
                    icon="close"
                    title="Close"
                    class="page-close-action"
                    on-tap="_onClosePageAction"></paper-icon-button>

            <div class="card-content layout vertical">

                <template is="dom-if" if="[[ !_applicationsEmpty ]]">
                    <div class="info">
                        <p>List of all contacts added to this group. </p>
                    </div>
                </template>

                <appsco-company-group-contacts
                        id="appscoCompanyGroupContacts"
                        group="[[ group ]]"
                        list-api="[[ groupContactsApi ]]"
                        authorization-token="[[ authorizationToken ]]"
                        size="10"
                        load-more></appsco-company-group-contacts>

            </div>
        </paper-card>

    </template>

    <script>
        Polymer({

            is: 'appsco-group-contacts-page',

            properties: {

                group: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                groupContactsApi: {
                    type: String,
                    value: ''
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                /**
                 * Animation config with hero animation.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': [{
                                name: 'hero-animation',
                                id: 'hero',
                                toPage: this
                            }, {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 600
                                }
                            }],
                            'exit': {
                                name: 'slide-right-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            }
                        }
                    }
                },

                /**
                 * Defines shared element of hero animation.
                 */
                sharedElements: {
                    value: function() {
                        return {
                            'hero': this.$.card
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonSharedElementAnimatableBehavior
            ],

            loadPage: function() {
                this.$.appscoCompanyGroupContacts.loadContacts();
            },

            addGroupContacts: function(contacts) {
                this.$.appscoCompanyGroupContacts.addGroupContacts(contacts);
            },

            removeGroupContacts: function(contacts) {
                this.$.appscoCompanyGroupContacts.removeGroupContacts(contacts);
            },

            _onClosePageAction: function() {
                this.fire('back');
            }
        });
    </script>
</dom-module>

