<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">

<link rel="import" href="appsco-company-group-item.html">
<link rel="import" href="../components/appsco-list-behavior.html">
<link rel="import" href="../components/appsco-list-observer-behavior.html">
<link rel="import" href="../components/appsco-list-styles.html">

<dom-module id="appsco-company-groups">
    <template>
        <style include="appsco-list-styles"></style>

        <style>
            :host appsco-company-group-item {
                width: 100%;
                margin: 0 0 10px 0;
                @apply(--appsco-company-group-item);
            }
        </style>

        <iron-ajax id="getListApiRequest"
                   url="[[ _listApi ]]"
                   on-error="_onGetListError"
                   on-response="_onGetListResponse"
                   headers="[[ _headers ]]"
                   debounce-duration="300"></iron-ajax>

        <div class="list-container">

            <paper-progress id="paperProgress"
                            class="list-progress-bar"
                            indeterminate></paper-progress>

            <template is="dom-if" if="[[ _message ]]">
                <p class="message">[[ _message ]]</p>
            </template>

            <template is="dom-if" if="[[ !_listEmpty ]]">
                <div class="list">
                    <template is="dom-repeat"
                              items="[[ _listItems ]]"
                              on-dom-change="_onItemsDomChange">

                        <appsco-company-group-item id="appscoListItem_[[ index ]]"
                                                   item="[[ item ]]"
                                                   type="[[ type ]]"
                                                   authorization-token="[[ authorizationToken ]]"
                                                   preview="[[ preview ]]"
                                                   selectable="[[ selectable ]]"
                                                   on-item="_onListItemAction"
                                                   on-select-item="_onSelectListItemAction"></appsco-company-group-item>

                    </template>
                </div>
            </template>
        </div>

        <template is="dom-if" if="[[ !_listEmpty ]]">
            <div class="load-more-box" hidden$="[[ !_loadMore ]]">
                <paper-progress id="loadMoreProgress"
                                indeterminate></paper-progress>
                <paper-button class="load-more-action" on-tap="_onLoadMoreAction">Load More</paper-button>
            </div>
        </template>
    </template>

    <script>
        Polymer({

            is: 'appsco-company-groups',

            properties: {

                /**
                 * Indicates if group should be in preview mode rather then full detailed view.
                 */
                preview: {
                    type: Boolean,
                    value: false
                },

                selectable: {
                    type: Boolean,
                    value: true
                }
            },

            behaviors: [
                Polymer.AppscoListBehavior,
                Polymer.AppscoListObserverBehavior
            ],

            observers: [
                '_observeItems(_listItems)'
            ],

            recalculateTotals: function(group) {
                var groups = JSON.parse(JSON.stringify(this._listItems));

                for (var idx in groups) {
                    if (group.self === groups[idx].self) {
                        this.$$('#appscoListItem_' + idx).recalculateTotals(group);
                    }
                }
            },

            addGroupsCompanyRoles: function(groups, roles) {
                var length = groups.length;

                this.modifyItems(groups);

                for (var i = 0; i < length; i++) {
                    this._increaseGroupRoleCount(groups[i], roles.length);
                }
            },

            removeGroupCompanyRoles: function(group, roles) {
                this._decreaseGroupRoleCount(group, roles.length);
            },

            _observeItems: function(items) {
                this.setObservableType('groups');
                this.populateItems(items);
            },

            _increaseGroupRoleCount: function(group, count) {
                var groups = JSON.parse(JSON.stringify(this._listItems)),
                    length = groups.length;

                for (var i = 0; i < length; i++) {

                    if (group.self === groups[i].alias) {
                        this.$$('#appscoListItem_' + i).increaseGroupRolesCount(count);
                        break;
                    }
                }
            },

            _decreaseGroupRoleCount: function(group, count) {
                var groups = JSON.parse(JSON.stringify(this._listItems)),
                    length = groups.length;

                for (var i = 0; i < length; i++) {

                    if (group.self === groups[i].self) {
                        this.$$('#appscoListItem_' + i).decreaseGroupRolesCount(count);
                        break;
                    }
                }
            }
        });
    </script>
</dom-module>
