<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/hero-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/cascaded-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="appsco-company-group-roles.html">
<link rel="import" href="appsco-company-group-contacts.html">
<link rel="import" href="appsco-company-group-resources.html">

<dom-module id="appsco-manage-group-components-page">
    <template>
        <style>
            :host {
                display: block;
                overflow-y: auto;
                font-size: 14px;
                color: var(--primary-text-color);

                --paper-button: {
                     padding: 6px 0;
                     margin: 0;
                     border-radius: 0;
                     width: 100%;
                     color: var(--primary-text-color);
                 };

                --group-resources-progress-bar: {
                    top: -6px;
                };

                --group-roles-progress-bar: {
                    top: -6px;
                };

                --group-contacts-progress-bar: {
                    top: -6px;
                };
            }
            :host > * {
                width: calc(100% / 3 - 7px);
                margin-bottom: 10px;
                float: left;
            }
            paper-card {
                 min-height: 170px;
                 box-sizing: border-box;

                --paper-card-content: {
                     min-height: 90px;
                     box-sizing: border-box;
                 };
                --paper-card-actions: {
                     padding: 0;
                     border-color: var(--divider-color);
                 };
                --paper-card-header-text: {
                     padding: 8px 16px;
                     font-size: 18px;
                     color: var(--primary-text-color);
                     border-bottom: 1px solid var(--divider-color);
                 };
            }
            .card {
                @apply(--layout-vertical);
            }
            .resources-roles-container .card {
                margin-right: 10px;
                margin-bottom: 10px;
            }
            .resources-container, .roles-container {
                margin-right: 10px;
                margin-bottom: 10px;
            }
            :host([medium-screen]) {
                @apply(--layout-flex-none);
            }
            :host([medium-screen]) > * {
                width: calc(100% / 2 - 5px);
            }
            :host([medium-screen]) > .roles-container {
                margin-right: 0;
            }
            :host([tablet-screen]) > * {
                width: 100%;
                margin-right: 0;
            }
        </style>

        <iron-media-query query="(max-width: 1200px)" query-matches="{{ mediumScreen }}"></iron-media-query>
        <iron-media-query query="(max-width: 800px)" query-matches="{{ tabletScreen }}"></iron-media-query>

        <div class="resources-container">
            <paper-card heading="Resources" class="card group-resources">
                <div class="card-content">
                    <appsco-company-group-resources
                            id="appscoCompanyGroupResources"
                            group="[[ group ]]"
                            list-api="[[ groupResourcesApi ]]"
                            authorization-token="[[ authorizationToken ]]"
                            size="5"
                            preview></appsco-company-group-resources>
                </div>

                <div class="card-actions">
                    <paper-button on-tap="_onManageGroupResources">Manage</paper-button>
                </div>
            </paper-card>
        </div>

        <div class="roles-container">
            <paper-card heading="Users" class="card group-roles">
                <div class="card-content">
                    <appsco-company-group-roles
                            id="appscoCompanyGroupRoles"
                            group="[[ group ]]"
                            list-api="[[ groupRolesApi ]]"
                            authorization-token="[[ authorizationToken ]]"
                            size="5"
                            preview></appsco-company-group-roles>
                </div>

                <div class="card-actions">
                    <paper-button on-tap="_onManageGroupRoles">Manage</paper-button>
                </div>
            </paper-card>
        </div>

        <div class="contacts-container">
            <paper-card heading="Contacts" class="card group-contacts">
                <div class="card-content">
                    <appsco-company-group-contacts
                            id="appscoCompanyGroupContacts"
                            group="[[ group ]]"
                            list-api="[[ groupContactsApi ]]"
                            authorization-token="[[ authorizationToken ]]"
                            size="5"
                            preview></appsco-company-group-contacts>
                </div>

                <div class="card-actions">
                    <paper-button on-tap="_onManageGroupContacts">Manage</paper-button>
                </div>
            </paper-card>
        </div>


    </template>

    <script>
        Polymer({

            is: 'appsco-manage-group-components-page',

            properties: {

                group: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                groupRolesApi: {
                    type: String,
                    value: ''
                },

                groupContactsApi: {
                    type: String,
                    value: ''
                },

                groupResourcesApi: {
                    type: String,
                    value: ''
                },

                mediumScreen: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                tabletScreen: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                /**
                 * Animation config with hero animation.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': [{
                                name: 'cascaded-animation',
                                animation: 'fade-in-animation',
                                nodes: Polymer.dom(this.root).querySelectorAll('paper-card'),
                                nodeDelay: 50,
                                timing: {
                                    delay: 200,
                                    duration: 100
                                }
                            }],
                            'exit': [{
                                name: 'hero-animation',
                                id: 'hero',
                                fromPage: this
                            }, {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 500
                                }
                            }]
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonSharedElementAnimatableBehavior
            ],

            observers: [
                '_updateScreen(tabletScreen, mediumScreen)'
            ],

            attached: function() {

                if (this.tabletScreen || this.mediumScreen) {
                    this.updateStyles();
                }
            },

            loadPage: function() {
                this._loadRoles();
                this._loadContacts();
                this._loadResources();
            },

            addGroupRoles: function(roles) {
                this.$.appscoCompanyGroupRoles.addGroupRoles(roles);
            },

            addGroupContacts: function(contacts) {
                this.$.appscoCompanyGroupContacts.addGroupContacts(contacts);
            },

            addGroupResources: function(resources) {
                this.$.appscoCompanyGroupResources.addGroupResources(resources);
            },

            removeGroupRoles: function(roles) {
                this.$.appscoCompanyGroupRoles.removeGroupRoles(roles);
            },

            removeGroupContacts: function(contacts) {
                this.$.appscoCompanyGroupContacts.removeGroupContacts(contacts);
            },

            removeGroupResources: function(resources) {
                this.$.appscoCompanyGroupResources.removeGroupResources(resources);
            },

            _loadRoles: function() {
                this.$.appscoCompanyGroupRoles.loadRoles();
            },

            _loadContacts: function() {
                this.$.appscoCompanyGroupContacts.loadContacts();
            },

            _loadResources: function() {
                this.$.appscoCompanyGroupResources.loadResources();
            },

            _updateScreen: function(tablet, medium) {
                this.updateStyles();
            },

            _setSharedElement: function(target) {

                while (target.tagName.toLowerCase() !== 'paper-card' && !target._templateInstance) {
                    target = target.parentNode;
                }

                /**
                 * Set hero animation element that is to be shared between pages.
                 *
                 * @type {{hero: *}}
                 */
                this.sharedElements = {
                    'hero': target
                };
            },

            _onManageGroupRoles: function(event) {
                this._setSharedElement(event.target);
                this.fire('manage-group-roles');
            },

            _onManageGroupContacts: function(event) {
                this._setSharedElement(event.target);
                this.fire('manage-group-contacts');
            },

            _onManageGroupResources: function(event) {
                this._setSharedElement(event.target);
                this.fire('manage-group-resources');
            }
        });
    </script>
</dom-module>

