<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../components/appsco-search.html">

<dom-module id="appsco-group-actions">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                margin-right: -10px;
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--layout-end-justified);
                @apply(--appsco-group-actions);
            }
            appsco-search {
                max-width: 200px;
            }
            :host .action {
                margin-right: 10px;
                position: relative;
                @apply(--layout-vertical);
                @apply(--layout-center);
                @apply(--group-action);
            }
            :host .flex-none {
                @apply(--layout-flex-none);
            }
            :host .add-group-button {
                @apply(--add-item-action);
            }
        </style>

        <div class="action action-search flex-none">

            <appsco-search id="appscoSearch"
                           label="Search groups"></appsco-search>
        </div>

        <div class="action flex-none">
            <paper-button
                    id="addGroupAction"
                    class="add-group-button"
                    toggles
                    on-tap="_onAddGroupAction">Create group</paper-button>
        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-group-actions',

            _selected: function (e) {
                /**
                 * Fired when filter is selected
                 *
                 * @event filtered
                 * @param {Object} filter {id: filter_id, name: filter_name}
                 */
                this.fire('group-selected', {
                    id: e.detail.item.getAttribute('value'),
                    name: e.detail.item.getAttribute('name')
                })
            },

            /**
             * Called on add account button tap.
             * It fires an event.
             *
             * @private
             */
            _onAddGroupAction: function() {

                /**
                 * Fired when add group action is tapped.
                 *
                 * @event add-company-group
                 */
                this.fire('add-company-group');
            },

            _onSearchIcon: function() {
                this.fire('search-icon');
            },

            /**
             * Sets focus on search input field.
             */
            focusSearch: function() {
                this.$.appscoSearch.setup();
            },

            reset: function() {
                this.$.appscoSearch.reset();
                this.hideBulkActions();
            }
        });
    </script>
</dom-module>
