<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../../components/account/appsco-account-image.html">
<link rel="import" href="../../components/application/appsco-application-image.html">

<!--
`appsco-company-group-resource-item`
Account item is used to present account in form of an item.

    <appsco-company-group-resource-item>
    </appsco-company-group-resource-item>

### Styling

`<appsco-company-group-resource-item>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--background-color` | Background color applied to the root element | `#fff`
`--color` | Color applied to all the text | `#33`
`--appsco-company-group-resource-item` | Mixin applied to resource item | `{}`

-->

<dom-module id="appsco-company-group-resource-item">
    <template>
        <style>
            :host {
                display: none;
                color: var(--primary-text-color);
            }
            .item {
                width: 100%;
                height: 70px;
                padding: 0 10px;
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                background-color: var(--background-color, #fff);
                border-radius: 3px;
                @apply(--shadow-elevation-2dp);
                @apply(--layout-horizontal);
                @apply(--layout-center);
                transition: all 0.1s ease-out;
                @apply(--appsco-company-group-resource-item);
            }
            .item:hover {
                @apply(--shadow-elevation-4dp);
            }
            .account-title {
                display: block;
                height: 32px;
                line-height: 16px;
                @apply(--paper-font-common-base);
                font-size: 14px;
                font-weight: 400;
                overflow: hidden;
            }
            .actions {
                @apply(--layout-horizontal);
                @apply(--layout-center);
                position: absolute;
                right: 4px;
                bottom: 4px;
            }
            paper-button {
                @apply(--paper-font-common-base);
                @apply(--paper-font-common-nowrap);

                padding: 4px;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.018em;
                line-height: 18px;
                text-transform: uppercase;
            }
            paper-button[disabled] {
                background: transparent;
            }
            .preview-application-image {
                --application-image: {
                    width: 28px;
                    height: 28px;
                };
                --application-initials-background-color: var(--body-background-color-darker);
                --application-initials-font-size: 12px;
            }
            :host .application-title {
                display: block;
                line-height: 16px;
                @apply(--paper-font-common-base);
                font-size: 14px;
                font-weight: 400;
                @apply(--text-wrap-break);
            }
            :host .application-info {
                @apply(--layout-vertical);
                @apply(--layout-start);
                padding: 0 10px;
            }
            :host .application-basic-info {
                width: 220px;
            }
            :host .info-value {
                display: block;
                font-size: 12px;
            }
        </style>

        <template is="dom-if" if="[[ !preview ]]">
            <div class="item">

                <appsco-application-image
                        application="[[ resource ]]"
                ></appsco-application-image>

                <div class="application-info application-basic-info">
                    <span class="info-label application-title">[[ resource.title ]]</span>
                    <span class="info-value">[[ _resourceType ]]</span>
                </div>

                <div class="actions">
                    <paper-button on-tap="_onRemove">Revoke</paper-button>
                </div>

            </div>
        </template>

        <template is="dom-if" if="[[ preview ]]">
            <div class="preview-item">
                <appsco-application-image application="[[ resource ]]"
                                          class="preview-application-image"></appsco-application-image>
                <paper-tooltip position="right">[[ resource.title ]]</paper-tooltip>
            </div>
        </template>



    </template>

    <script>
        Polymer({

            is: 'appsco-company-group-resource-item',

            properties: {

                resource: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                preview: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                group: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                _resourceType: {
                    type: String,
                    computed: '_computeApplicationType(resource)'
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            attached: function() {
                this.style.display = 'inline-block';
                this.playAnimation('entry');
            },

            _computeApplicationType: function(resource) {

                switch (resource.auth_type) {
                    case 'login':
                        return 'Login';

                    case 'cc':
                        return 'Credit Card';

                    case 'softwarelicence':
                        return 'Software Licence';

                    case 'passport':
                        return 'Passport';

                    case 'securenote':
                        return 'Secure Note';

                    case 'none':
                        return 'Link';

                    default:
                        return 'Application';
                }
            },

            _onRemove: function (event) {
                event.stopPropagation();

                /**
                 * Fired when `remove role` action is tapped.
                 *
                 * @event remove-group-from-company-role
                 * @param {Object} role
                 */
                this.fire('remove-company-resource-from-group', {
                    resource: this.resource,
                    group: this.group
                });
            }

        });
    </script>
</dom-module>
