<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<!--
`appsco-group-card`
Presents group in form of a card which contains group name and close action if needed.

    <appsco-group-card group="{}"
                       remove-action>
    </appsco-group-card>

### Styling

`<appsco-group-card>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--appsco-group-card` | Mixin applied to the root element | `{}`
`--group-card` | Mixin applied to group card | `{}`
`--group-name` | Mixin applied to group name | `{}`

-->

<dom-module id="appsco-group-card">
    <template>
        <style>
            :host {
                display: none;
                @apply(--appsco-group-card);
            }
            .group-card {
                @apply(--shadow-elevation-2dp);
                @apply(--layout-horizontal);
                @apply(--layout-center);
                width: 142px;
                height: 24px;
                line-height: 24px;
                padding: 4px;
                font-size: 13px;
                cursor: pointer;
                position: relative;
                border-radius: 3px;
                @apply(--group-card);
            }
            .group-name {
                @apply(--layout-flex);
                @apply(--paper-font-common-nowrap);
                text-align: center;
                @apply(--group-name);
            }
            .clear-icon {
                width: 14px;
                height: 14px;
                position: absolute;
                top: 2px;
                right: 0;
            }
        </style>

        <div class="group-card">
            <span class="group-name">[[ group.name ]]</span>

            <template is="dom-if" if="[[ removeAction ]]">
                <iron-icon icon="icons:clear" class="clear-icon"></iron-icon>
            </template>

        </div>

    </template>

    <script>
        Polymer({

            is: 'appsco-group-card',

            properties: {

                /**
                 * Item that is to be rendered.
                 */
                group: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                removeAction: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Animation for loader appearance.
                 */
                animationConfig: {
                    value: function() {
                        return {
                            'entry': {
                                name: 'fade-in-animation',
                                node: this,
                                timing: {
                                    duration: 100
                                }
                            },
                            'exit': {
                                name: 'fade-out-animation',
                                node: this,
                                timing: {
                                    duration: 200
                                }
                            }
                        }
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior
            ],

            listeners: {
                'tap': '_onTap',
                'neon-animation-finish': '_onAnimationFinish'
            },

            attached: function() {
                this.style.display = 'flex';
                this.playAnimation('entry');
            },

            _onTap: function() {

                this.playAnimation('exit', {
                    exit: true
                });
            },

            _onAnimationFinish: function(event) {

                if (event.detail.exit) {
                    this.fire('selected', {
                        group: this.group
                    });
                }
            }

        });
    </script>
</dom-module>
